@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.widgetBoxContainer{ position:relative;}

.widgetBox{ position:relative; *zoom:1; }
.widgetBox:after{content:""; display:block; clear:both; }
.widgetBox .widgetBoxHeader{ font-size:16px; font-family:Tahoma; margin:0; z-index:10;}
.widgetBox .widgetContainer{ position:relative; z-index:10;}
.widgetBox .widgetMore{ position:absolute; display:block; text-decoration:none; font-size:11px !important; white-space:nowrap; font-family:Tahoma; color:#000; text-align:center; z-index:20;}
.widgetBox .widgetMore img{ border:0;}
.widgetBox .rcContainer{ display:block; width:100%; font-size:0; line-height:0; z-index:1; *zoom:1; }
.widgetBox .rc{ position:absolute; display:block; font-size:0; line-height:0; overflow:hidden;}
.widgetBox .rcTop .tl{ top:0;}
.widgetBox .rcTop .tr{ top:0;}
.widgetBox .rcBottom .bl{ top:0;}
.widgetBox .rcBottom .br{ top:0;}

.widgetBoxC{ padding:3px 0;}
.widgetBoxC .widgetBox{ border-left:1px solid #ccc; border-right:1px solid #ccc;}
.widgetBoxC .widgetBoxHeader{ position:relative; padding:4px 0; margin:1px; text-indent:15px; border-bottom:1px solid #ddd; background:url(../img/headerBgC.gif) repeat-x;}
.widgetBoxC .widgetMore{ top:5px; right:15px;}
.widgetBoxC .rcTop,
.widgetBoxC .rcBottom{ height:3px;} 
.widgetBoxC .rcTop{ position:absolute; top:-3px; left:0; }
.widgetBoxC .rcBottom{ position:relative; bottom:-3px;}
.widgetBoxC .rc { width:50%; height:3px; background-image:url(../img/roundedCornerC.gif); background-repeat:no-repeat;}
.widgetBoxC .rcTop .tl{ background-position:0 0; left:0px;}
.widgetBoxC .rcTop .tr{ background-position:right 0; left:50%;}
.widgetBoxC .rcBottom .bl{ background-position:0 bottom; left:0px;}
.widgetBoxC .rcBottom .br{ background-position:right bottom; left:50%;}
