.newest_trackback_normal {
}

.newest_trackback_normal .newest_trackback_box {
    margin-bottom:5px;
}

.newest_trackback_normal .newest_trackback_box .title_box {
    padding:5px;
    height:14px;
    overflow:hidden;
    color:#888888;
}

.newest_trackback_normal .newest_trackback_box .title_box .title {
    font-weight:bold; 
    height:14px;
    float:left;
}

.newest_trackback_normal .newest_trackback_box .trackback_box {
    padding:5px 3px 3px 1px;
    clear:both;
    border:3px solid #EEEEEE;
    overflow:hidden;
}

.newest_trackback_normal .newest_trackback_box .trackback {
    padding:0px 0px 5px 5px;
    color:#AAAAAA;
}

.newest_trackback_normal .newest_trackback_box .trackback A {
    text-decoration:none;
    color:#555555;
}

.newest_trackback_normal .newest_trackback_box .trackback A:hover {
    text-decoration:underline;
    color:#000000;
}

.newest_trackback_normal .newest_trackback_box .trackback A:visited {
    color:#AAAAAA;
}
