@charset "utf-8";

.commentBody.myPlanet .comment .tongue{ margin:0 !important;}
.commentBody.myPlanet .comment .tongue .post,
.commentBody.myPlanet .comment .tongue .postScript,
.commentBody.myPlanet .comment .tongue .postExtra{ *zoom:1;}

/* Comment Body */
.commentBody{ margin:0 0 10px 0; *zoom:1; clear:both; overflow:hidden; width:100%; }

.commentBody .comment{ margin:0 1px 0 0; padding:0; clear:both; *zoom:1; overflow:hidden;}

.commentBody .comment .identity{ width:98px; height:98px; padding:0; float:left; margin:0 -98px 0 0; background:none; *zoom:1;}
.commentBody .comment .identity a{ position:relative; display:block; text-align:center; color:#fff !important; font-weight:bold; text-decoration:none; }
.commentBody .comment .identity a img{ display:block; border:1px solid #000;}
.commentBody .comment .identity a em{ position:absolute; width:96px; text-align:center; left:1px; bottom:1px; display:block; padding:5px 0; font-style:normal; background:#000; opacity:.6; filter:alpha(opacity=60); line-height:normal;}

.commentBody .comment .tongue{ position:relative; margin-left:113px; *zoom:1;}
.commentBody .comment .tongue .post{ margin:0 0 7px 0; }
.commentBody .comment .tongue .post a { color:#06C;}
.commentBody .comment .tongue .post strong{ background:#f7b100; color:#000;}

.commentBody .comment .tongue .postScript{ margin:0 0 5px 0; color:#999;}
.commentBody .comment .tongue .postScript strong{ letter-spacing:-1px; margin-right:5px;}

.commentBody .comment .tongue .postExtra{ overflow:hidden; padding-top:5px; border-top:1px dotted #ccc; *zoom:1;}
.commentBody .comment .tongue .postExtra *{ margin:0; padding:0;}
.commentBody .comment .tongue .postExtra .tag { float:left;}
.commentBody .comment .tongue .postExtra .tag .time{ display:inline; margin-right:5px; color:#999; }
.commentBody .comment .tongue .postExtra .tag dl{ display:inline;}
.commentBody .comment .tongue .postExtra .tag dt{ text-align:center; padding:0 7px; margin-right:5px; display:inline; background:url(../images/bgTag.gif) no-repeat center; font:bold 8pt Tahoma; color:#fff;}
.commentBody .comment .tongue .postExtra .tag dd{ display:inline; position:relative;}
.commentBody .comment .tongue .postExtra .tag dd.tagRead a{ position:relative; margin-right:2px; color:#999; text-decoration:none;}
.commentBody .comment .tongue .postExtra .tag dd.tagRead a strong{ background:#f7b100; color:#fff;}
