<table name="menu">
    <column name="menu_srl" type="number" size="12" notnull="notnull" primary_key="primary_key" />
    <column name="site_srl" type="number" size="11" notnull="notnull" default="0" index="menu_site_srl" />
    <column name="title" type="varchar" size="250" />
    <column name="listorder" type="number" size="11" default="0" index="idx_listorder" />
    <column name="regdate" type="date" index="idx_regdate" />
</table>
