<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<actions>
		<action name="dispSpamfilterAdminDeniedIPList" type="view" admin_index="true" menu_name="spamFilter" menu_index="true" />
		<action name="dispSpamfilterAdminDeniedWordList" type="view" menu_name="spamFilter" />
		<action name="dispSpamfilterAdminConfigBlock" type="view" menu_name="spamFilter" />
		<action name="dispSpamfilterAdminConfigCaptcha" type="view" menu_name="spamFilter" />
		
		<action name="procSpamfilterAdminInsertDeniedIP" type="controller" />
		<action name="procSpamfilterAdminDeleteDeniedIP" type="controller" />
		<action name="procSpamfilterAdminInsertDeniedWord" type="controller" />
		<action name="procSpamfilterAdminDeleteDeniedWord" type="controller" />
		<action name="procSpamfilterAdminInsertConfig" type="controller" />
		<action name="procSpamfilterAdminInsertConfigCaptcha" type="controller" />
	</actions>
	<menus>
		<menu name="spamFilter" tyle="super">
			<title xml:lang="en">Spam Filter</title>
			<title xml:lang="ko">스팸필터</title>
			<title xml:lang="zh-CN">Spam Filter</title>
			<title xml:lang="jp">スパムフィルター</title>
			<title xml:lang="es">Spam Filter</title>
			<title xml:lang="ru">Spam Filter</title>
			<title xml:lang="fr">Spam Filter</title>
			<title xml:lang="zh-TW">Spam Filter</title>
			<title xml:lang="vi">Spam Filter</title>
			<title xml:lang="mn">Spam Filter</title>
			<title xml:lang="tr">Spam Filter</title>
		</menu>
	</menus>
</module>
