/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Anchor Button */
a.button,
a.button span { position:relative; display:inline-block; text-decoration:none !important; background:url(../tpl/images/buttonWhite.gif) no-repeat; cursor:pointer; white-space:nowrap; vertical-align:middle;}
a.button { padding:0; background-position:left top; overflow:visible;}
a.button span { left:2px; padding:6px 10px 5px 8px; color:#000; font:12px/12px Sans-serif; background-position:right top; *vertical-align:top;}
/* Large Size */
a.button.large { background-position:left -30px; }
a.button.large span { padding:7px 10px 6px 8px; font:16px/16px Sans-serif; background-position:right -30px;}
/* xLarge Size */
a.button.xLarge { background-position:left -65px; }
a.button.xLarge span { padding:8px 10px 7px 8px; font:20px/20px Sans-serif; background-position:right -65px;}
/* Small Size */
a.button.small { background-position:left -107px; }
a.button.small span { padding:4px 6px 3px 4px; font:11px/11px Sans-serif; background-position:right -107px;}

/* Control Button + Submit Button */
span.button,
span.button button,
span.button input { position:relative; margin:0; display:inline-block; border:0; font:12px Sans-serif; white-space:nowrap; background:url(../tpl/images/buttonWhite.gif) no-repeat; vertical-align:middle;}
span.button { padding:0; background-position:left top;}
span.button button,
span.button input { height:23px; left:2px; *vertical-align:top; padding:0 10px 0 8px; line-height:24px; background-position:right top; cursor:pointer; *overflow:visible;}
/* Large Size */
span.button.large { background-position:left -30px;}
span.button.large button,
span.button.large input { height:30px; padding:0 10px 0 8px; font:16px/30px Sans-serif; background-position:right -30px;}
/* xLarge Size */
span.button.xLarge { background-position:left -65px;}
span.button.xLarge button,
span.button.xLarge input { height:35px; padding:0 10px 0 8px; font:20px/36px Sans-serif; background-position:right -65px;}
/* Small Size */
span.button.small { background-position:left -107px;}
span.button.small button,
span.button.small input { height:18px; padding:0 6px 0 4px; font:11px/18px Sans-serif; background-position:right -107px;}

/* Strong Button */
a.button.strong *,
span.button.strong * { font-weight:bold !important;}

/* Icon Add */
a.button .icon { position:relative; border:0; vertical-align:middle;}
span.button .icon { position:relative; left:10px; margin-right:8px; vertical-align:middle;}

/* Color Preset */
a.button.green,
a.button.green span,
span.button.green,
span.button.green button,
span.button.green input { background-image:url(../tpl/images/buttonGreen.gif); color:#fff;}
a.button.black,
a.button.black span,
span.button.black,
span.button.black button,
span.button.black input { background-image:url(../tpl/images/buttonBlack.gif); color:#fff;}
a.button.red,
a.button.red span,
span.button.red,
span.button.red button,
span.button.red input { background-image:url(../tpl/images/buttonRed.gif); color:#fff;}
a.button.blue,
a.button.blue span,
span.button.blue,
span.button.blue button,
span.button.blue input { background-image:url(../tpl/images/buttonBlue.gif); color:#fff;}

/* Offset Debug */
a.button,
span.button{ margin-right:2px;}

/* Button Set */
.buttonSet{ width:16px; height:16px; background-image:url(../tpl/images/buttonSet.gif); background-repeat:no-repeat; border:0; background-color:transparent; vertical-align:middle; display:inline-block; text-decoration:none;}
.buttonSet span{ z-index:-1; font-size:0; line-height:0; visibility:hidden;}
.buttonSet.buttonUp{ background-position:0 0;}
.buttonSet.buttonDown{ background-position:0 -16px;}
.buttonSet.buttonLeft{ background-position:0 -32px;}
.buttonSet.buttonRight{ background-position:0 -48px;}
.buttonSet.buttonInfo{ background-position:0 -64px;}
.buttonSet.buttonCopy{ background-position:0 -80px;}
.buttonSet.buttonSetting{ background-position:0 -96px;}
.buttonSet.buttonActive{ background-position:0 -112px;}
.buttonSet.buttonDisable{ background-position:0 -128px;}
.buttonSet.buttonDelete{ background-position:0 -144px;}
.buttonSet.buttonHomepage{ background-position:0 -160px;}
.buttonSet.buttonBlog{ background-position:0 -176px;}
.buttonSet.buttonCalendar{ background-position:0 -192px;}
.buttonSet.buttonLayoutEditor{ background-position:0 -208px;}
.buttonSet.buttonAddWidget{ background-position:0 -224px;}
.buttonSet.buttonAddContent{ background-position:0 -240px;}

