@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team
Jeong, Chan Myeong 070529~070529
*/

/* default.css - Type Selector Definition */
* { margin:0; padding:0; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
html, body { height:100%;}
html { width:100%; position:relative;}
body { font-size:.75em; margin:2em;}
img { border:none;}
label { cursor:pointer;}
select { height:1.6em;}
select:hover,
select:focus { background:#eeeeee;}
option { padding-right:.5em;}
li { list-style:none;}
a { text-decoration:none;}
a:hover { text-decoration:underline;}
address { font-style:normal;}

/* Input Style Definition */
.inputTypeText { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; height:1em; line-height:1em; background:#fbfbfb;}
.inputTypeText:hover,
.inputTypeText:focus { background:#eeeeee;}

a.bold {
    font-weight:bold;
}

FORM {
    display:inline;
}

.editor_blue_text { color: #145ff9; text-decoration:none; border-bottom:2px solid #4a7fec;}
.editor_red_text { color: #f42126; text-decoration:none; border-bottom:2px solid #e54347;}
.editor_yellow_text { color: #c9bd00; text-decoration:none; border-bottom:2px solid #ece460;}
.editor_green_text { color: #08830B; text-decoration:none; border-bottom:2px solid #08830B;}

.folder_opener { display: block; }
.folder_closer { display: none; }
.folder_area { display: none; }

.zbxe_plugin_output {
    background:url(../tpl/images/plugin.gif) no-repeat center;
    background-color:#FFFFFF;
    border:3px dotted #039311;
    display:block;
}

h1 {
    font-size:25px;
    font-weight:bold;
    background-color:#efefef;
    color:#0f217c;
    padding:0px 5px 0px 5px;
    border-bottom:1px solid #445bcd;
}

h2 {
    font-size:20px;
    font-weight:bold;
    background-color:#efefef;
    color:#0f217c;
    padding:0px 5px 0px 5px;
    border-bottom:1px solid #445bcd;
}

h3 {
    color:#0f217c;
    font-size:20px;
    font-weight:bold;
    background-color:#efefef;
    border-bottom:1px solid #445bcd;
    padding:0px 5px 0px 5px;
}

h4 {
    color:#0f217c;
    font-size:15px;
    font-weight:normal;
    background-color:#efefef;
    border-bottom:1px solid #445bcd;
    padding:0px 5px 0px 5px;
}

h5 {
    font-size:12px;
    font-weight:normal;
    line-height:0px;
}

h6 {
    font-size:11px;
    font-weight:normal;
    line-height:0px;
}

.member_signature {
    margin-top:10px;
    border:1px solid #DDDDDD;
    padding:10px;
}

#waitingforserverresponse {
    display:inline;
    border:2px solid #444444;
    background-color:#FFFFFF;
    padding:15px 20px 13px 20px;
    font-weight:bold;
    font-size:9pt;
    color:#444444;
    top:40px;
    left:40px;
    position:absolute;
    z-index:100;
    visibility:hidden;
}

#fororiginalimageareabg {
    z-index:1001;
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:relative;
    padding:20px 10px 10px 10px;
    border:8px solid #DDDDDD;
}

#fororiginalimagearea {
    visibility:hidden;
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:absolute;
    z-index:1000;
    text-align:left;
    overflow:hidden;
}

#fororiginalimage {
    z-index:1002;
}

#closeOriginalImageBtn {
    position:absolute;
    right:8px;
    top:5px;
    cursor:pointer;
    width:50px;
    height:12px;
    z-index:1003;
}

#membermenuarea {
    position:absolute;
    left:0px;
    top:0px;
    z-index:1003;
    visibility:hidden;
    border:1px solid #555555;
    background-color:#FFFFFF;
    padding:2px;
    width:110px;
}

#membermenuarea .item {
    color:#353249;
    cursor:pointer;
    padding:3px 2px 1px 18px;
    height:17px;
    margin-left:2px;
}

#membermenuarea .item_on {
    color:#2911B8;
    font-weight:bold;
    letter-spacing:-1px;
    cursor:pointer;
    padding:3px 2px 1px 18px;
    height:17px;
    margin-left:2px;
}
