@charset "utf-8";

/* 
Used Hack 
IE6 & Below 
{ property:value; _property:value;}
IE7 Only
*:first-child+html #selector
IE7 & IE6 & Below
*:first-child+html #selector,
* html #selector {}
*/

/* Special Class Selector */
.fr { float:right;}
.fl { float:left;}

/* default.css - Type Selector Definition */
* { margin:0; padding:0; font-family:"돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;}
html, body { height:100%;}
html { width:100%; position:relative;}
body { font-size:.75em; margin:2em;}
img { border:none;}
label { cursor:pointer;}
/*select { height:1.6em;}*/
option { padding-right:.5em;}
li { list-style:none;}
a { text-decoration:none;}
a:hover { text-decoration:underline;}
address { font-style:normal;}

/* Input Style Definition */
.inputTypeText { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; height:1em; line-height:1em; background:#ffffff;}
.inputTypeText:hover,
.inputTypeText:focus { background:#f4f4f4;}
.inputTypeTextArea { border:1px solid !important; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6 !important; padding:3px; background:#ffffff;}

a.bold { font-weight:bold; }

.editor_blue_text { color: #145ff9; text-decoration:none; border-bottom:2px solid #4a7fec;}
.editor_red_text { color: #f42126; text-decoration:none; border-bottom:2px solid #e54347;}
.editor_yellow_text { color: #c9bd00; text-decoration:none; border-bottom:2px solid #ece460;}
.editor_green_text { color: #08830B; text-decoration:none; border-bottom:2px solid #08830B;}

.folder_opener { display: block; }
.folder_closer { display: none; }
.folder_area { display: none; }

.zbxe_widget_output { background:url(../tpl/images/widget.gif) no-repeat center; background-color:#FFFFFF; border:3px dotted #039311; display:block; }

.member_signature { margin-top:10px; border:1px solid #DDDDDD; padding:10px; }

#waitingforserverresponse { display:inline; border:2px solid #444444; background-color:#FFFFFF; padding:15px 20px 13px 20px; font-weight:bold; font-size:9pt; color:#444444; top:40px; left:40px; position:absolute; z-index:100; visibility:hidden; }

#fororiginalimageareabg { z-index:1001; background-color:#FFFFFF; width:100%; height:100%; top:0px; left:0px; position:relative; padding:20px 10px 10px 10px; border:8px solid #DDDDDD; } 

#fororiginalimagearea { visibility:hidden; padding:0px; margin:0px; width:100%; height:100%; top:0px; left:0px; position:absolute; z-index:1000; text-align:left; overflow:hidden; }

#fororiginalimage { z-index:1002; }

#closeOriginalImageBtn { position:absolute; right:8px; top:5px; cursor:pointer; width:50px; height:12px; z-index:1003; }

#membermenuarea { position:absolute; left:0px; top:0px; z-index:1003; visibility:hidden; border:1px solid #555555; background-color:#FFFFFF; padding:2px; width:110px; }

#membermenuarea .item { color:#353249; cursor:pointer; padding:3px 2px 1px 18px; height:17px; margin-left:2px; }

#membermenuarea .item_on { color:#2911B8; font-weight:bold; letter-spacing:-1px; cursor:pointer; padding:3px 2px 1px 18px; height:17px; margin-left:2px; }
