@charset "utf-8";
/* NHN (developers@xpressengine.com) */
/* Popup Menu Area */
#popup_menu_area{position:absolute;background:#fff;border:1px solid #e9e9e9;border-radius:5px;padding:10px;line-height:1.3;box-shadow:0 0 6px #666;-moz-box-shadow:0 0 6px #666;-webkit-box-shadow:0 0 6px #666;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135, strength=5)}
#popup_menu_area ul{list-style:none;margin:0;padding:0}
#popup_menu_area li{margin:0;padding:0}
#popup_menu_area a{text-decoration:none;color:#333}
#popup_menu_area a:hover,
#popup_menu_area a:avtive,
#popup_menu_area a:focus{text-decoration:underline}
/* Legacy Code (It will be deprecated as soon as possible) */
.admin h3.xeAdmin,
.admin h4.xeAdmin{position:relative;border-bottom-style:solid;border-bottom-color:#ccc;zoom:1}
.admin h3.xeAdmin{border-bottom-width:4px;font-size:24px}
.admin h4.xeAdmin{border-bottom-width:3px;font-size:20px}
.admin h5.xeAdmin{border-bottom-width:2px;font-size:16px}
.admin h6.xeAdmin{border-bottom-width:1px;font-size:12px}
.admin .adminSearch{margin:1em 0}
.admin .adminSearch fieldset{border:1px solid #ccc}
.admin .localNavigation{padding:0;list-style:none}
.admin .localNavigation li{display:inline}
.admin .localNavigation li.on a{font-weight:bold;color:#333;text-decoration:none}
.admin .localNavigation li:before{content:"| "}
.admin .localNavigation li:first-child:before{content:""}
.admin .summary{margin:1em 0}
.admin .rowTable,
.admin .colTable,
.admin .crossTable{margin:1em 0;border:0;border-collapse:collapse;border-top:2px solid #ccc;width:100%}
.admin .rowTable caption,
.admin .colTable caption,
.admin .crossTable caption{font-weight:bold;text-align:left;line-height:22px;padding:5px 0}
.admin .rowTable caption:after,
.admin .colTable caption:after,
.admin .crossTable caption:after{content:"";display:block;clear:both}
.admin .rowTable caption a,
.admin .colTable caption a,
.admin .crossTable caption a{font-weight:normal}
.admin .rowTable caption em,
.admin .colTable caption em,
.admin .crossTable caption em{float:right;font-style:normal;font-weight:normal;color:#e00;margin-left:1em}
.admin .rowTable caption strong,
.admin .colTable caption strong,
.admin .crossTable caption strong{color:#e00}
.admin .rowTable caption .side,
.admin .colTable caption .side,
.admin .crossTable caption .side{float:right;font-weight:normal;margin-left:1em}
.admin .rowTable th,.rowTable td,
.admin .colTable th,.rowTable td,
.admin .crossTable th,.rowTable td{border:0;padding:8px;vertical-align:top;text-align:left;border-bottom:1px solid #ddd;white-space:nowrap}
.admin .rowTable th,
.admin .colTable th,
.admin .crossTable th{background:#f8f8f8}
.admin .rowTable thead th,
.admin .colTable thead th,
.admin .crossTable thead th{border-bottom:1px solid #999}
.admin .rowTable tfoot td,
.admin .colTable tfoot td,
.admin .crossTable tfoot td{font-weight:bold;background:#f8f8f8}
.admin .rowTable.even tbody tr:nth-of-type(even) td,
.admin .colTable.even tbody tr:nth-of-type(even) td,
.admin .crossTable.even tbody tr:nth-of-type(even) td{background-color:#fafafa}
.admin .rowTable td>input[type=text],
.admin .colTable td>input[type=text],
.admin .crossTable td>input[type=text]{margin:-1px 0 -3px 0 !important;vertical-align:middle}
.admin .rowTable img,
.admin .colTable img,
.admin .crossTable img{vertical-align:middle}
.admin .rowTable .title,
.admin .colTable .title,
.admin .crossTable .title,
.admin .rowTable .text,
.admin .colTable .text,
.admin .crossTable .text{white-space:normal}
.admin .rowTable input[type=text],
.admin .colTable input[type=text],
.admin .crossTable input[type=text],
.admin .rowTable input[type=password],
.admin .colTable input[type=password],
.admin .crossTable input[type=password],
.admin .rowTable input[type=file],
.admin .colTable input[type=file],
.admin .crossTable input[type=file],
.admin .rowTable textarea,
.admin .colTable textarea,
.admin .crossTable textarea{position:relative;width:280px;margin:2px 0;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.admin .rowTable input[type=text],
.admin .colTable input[type=text],
.admin .crossTable input[type=text],
.admin .rowTable input[type=password],
.admin .colTable input[type=password],
.admin .crossTable input[type=password],
.admin .rowTable input[type=file],
.admin .colTable input[type=file],
.admin .crossTable input[type=file]{height:22px;line-height:22px;vertical-align:middle;padding:0 4px}
.admin .clear:after{content:"";display:block;clear:both}
.admin .fl{float:left}
.admin .fr{float:right}
