<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="procFileAdminInsertModuleConfig" target="manager" />
    </permissions>
    <actions>
        <action name="dispFileAdminList" type="view" admin_index="true" menu_name="file" menu_index="true" />
        <action name="dispFileAdminConfig" type="view" menu_name="fileUpload" menu_index="true" />
        <action name="getFileList" type="model" />
        <action name="procFileUpload" type="controller" />
        <action name="procFileIframeUpload" type="controller" />
        <action name="procFileImageResize" type="controller" ruleset="imageResize" />
        <action name="procFileDelete" type="controller" />
        <action name="procFileDownload" type="controller" method="GET|POST" />
        <action name="procFileOutput" type="controller" method="GET|POST" />
        <action name="procFileAdminDeleteChecked" type="controller" ruleset="deleteChecked" />
        <action name="procFileAdminInsertConfig" type="controller" ruleset="insertConfig" />
        <action name="procFileAdminInsertModuleConfig" type="controller" ruleset="fileModuleConfig" />
        <action name="procFileAdminAddCart" type="controller" />
        <action name="procFileGetList" type="controller" />
        <action name="procFileSetCoverImage" type="controller" />
    </actions>
	<menus>
		<menu name="file">
			<title xml:lang="en">File</title>
			<title xml:lang="ko">파일</title>
			<title xml:lang="zh-CN">File</title>
			<title xml:lang="jp">ファイル</title>
			<title xml:lang="es">File</title>
			<title xml:lang="ru">File</title>
			<title xml:lang="fr">File</title>
			<title xml:lang="zh-TW">附加檔案</title>
			<title xml:lang="vi">File</title>
			<title xml:lang="mn">File</title>
			<title xml:lang="tr">File</title>
		</menu>
		<menu name="fileUpload">
			<title xml:lang="en">File Upload</title>
			<title xml:lang="ko">파일 업로드</title>
			<title xml:lang="zh-CN">File Upload</title>
			<title xml:lang="jp">ファイル添付</title>
			<title xml:lang="es">File Upload</title>
			<title xml:lang="ru">File Upload</title>
			<title xml:lang="fr">File Upload</title>
			<title xml:lang="zh-TW">檔案上傳</title>
			<title xml:lang="vi">File Upload</title>
			<title xml:lang="mn">File Upload</title>
			<title xml:lang="tr">File Upload</title>
		</menu>
	</menus>
</module>
