@charset "utf-8";
/* NAVER (developers@xpressengine.com) */
.xe_content.editable img{border:0;max-width:100%;}
.xe_content.editable blockquote.q1,
.xe_content.editable blockquote.q2,
.xe_content.editable blockquote.q3,
.xe_content.editable blockquote.q4,
.xe_content.editable blockquote.q5,
.xe_content.editable blockquote.q6,
.xe_content.editable blockquote.q7{padding:10px;margin:0 15px;border:0;}
.xe_content.editable blockquote.q1{padding:0 10px;border-left:2px solid #ccc}
.xe_content.editable blockquote.q2{padding:0 10px;background:url(./img/bg_qmark.gif) no-repeat left top}
.xe_content.editable blockquote.q3{border:1px solid #d9d9d9}
.xe_content.editable blockquote.q4{border:1px solid #d9d9d9;background:#fbfbfb}
.xe_content.editable blockquote.q5{border:2px solid #707070}
.xe_content.editable blockquote.q6{border:1px dashed #707070}
.xe_content.editable blockquote.q7{border:1px dashed #707070;background:#fbfbfb}
.xe_content.editable table .xe_selected_cell{background-color:#d6e9ff}
.xe_content.editable img.cke_iframe{background-color:#444}
.xe_content.editable blockquote
{
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.xe_content.editable.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.xe_content.editable.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}