<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispCommunicationMessages" type="view" standalone="true" />
		<action name="dispCommunicationSendMessage" type="view" standalone="true" />
		<action name="dispCommunicationNewMessage" type="view" standalone="true" />

		<action name="dispCommunicationFriend" type="view" standalone="true" />
		<action name="dispCommunicationAddFriend" type="view" standalone="true" />
		<action name="dispCommunicationAddFriendGroup" type="view" standalone="true" />
		<action name="dispCommunicationMessageBoxList" type="mobile" standalone="true" />

		<action name="procCommunicationUpdateAllowMessage" type="controller" standalone="true" />
		<action name="procCommunicationSendMessage" type="controller" ruleset="sendMessage" standalone="true" />
		<action name="procCommunicationStoreMessage" type="controller" standalone="true" />
		<action name="procCommunicationDeleteMessage" type="controller" standalone="true" />
		<action name="procCommunicationDeleteMessages" type="controller" method="GET|POST" standalone="true" />

		<action name="procCommunicationAddFriend" type="controller" ruleset="addFriend" standalone="true" />
		<action name="procCommunicationMoveFriend" type="controller" ruleset="deleteCheckedFriend" standalone="true" />
		<action name="procCommunicationDeleteFriend" type="controller" ruleset="deleteCheckedFriend" standalone="true" />

		<action name="procCommunicationAddFriendGroup" type="controller" ruleset="addFriendGroup" standalone="true" />
		<action name="procCommunicationRenameFriendGroup" type="controller" standalone="true" />
		<action name="procCommunicationDeleteFriendGroup" type="controller" standalone="true" />

		<action name="getCommunicationAdminColorset" type="model" />
		<action name="procCommunicationAdminInsertConfig" type="controller" ruleset="insertConfig" />
		<action name="dispCommunicationAdminConfig" type="view" admin_index="true" />
	</actions>
</module>
