@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.widgetBoxContainer{ position:relative;}

.widgetBox{ position:relative; *zoom:1; }
.widgetBox:after{content:""; display:block; clear:both; }
.widgetBox .widgetBoxHeader{ font-size:16px; font-family:Tahoma; margin:0; z-index:10;}
.widgetBox .widgetContainer{ position:relative; z-index:10;}
.widgetBox .widgetMore{ position:absolute; display:block; text-decoration:none; font-size:11px !important; white-space:nowrap; font-family:Tahoma; color:#000; text-align:center; z-index:20;}
.widgetBox .widgetMore img{ border:0;}
.widgetBox .rcContainer{ display:block; width:100%; font-size:0; line-height:0; z-index:1; *zoom:1;}
.widgetBox .rc{ position:absolute; display:block; font-size:0; line-height:0; overflow:hidden;}
.widgetBox .rcTop .tl{ top:0;}
.widgetBox .rcTop .tr{ top:0;}
.widgetBox .rcBottom .bl{ top:0;}
.widgetBox .rcBottom .br{ top:0;}

.widgetBoxHgray{ padding-top:50px; padding-bottom:4px;} 
.widgetBoxHgray .widgetBox{ background:#fff; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; padding-top:10px; padding-bottom:5px;}
.widgetBoxHgray .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxHgray .widgetContainer{ margin-top:-50px;}
.widgetBoxHgray .widgetMore{ top:-31px; right:50px;}
.widgetBoxHgray .rcContainer{ position:absolute;}
.widgetBoxHgray .rcTop{ top:-50px; height:50px;}
.widgetBoxHgray .rcBottom{ bottom:-4px; height:4px;} 
.widgetBoxHgray .rc { width:50%; background-image:url(../img/widgetBoxHgray.png); _background-image:url(../img/widgetBoxHgray.gif); background-repeat:no-repeat;}
.widgetBoxHgray .rcTop .rc{ height:50px;}
.widgetBoxHgray .rcBottom .rc{ height:4px;}
.widgetBoxHgray .rcTop .tl{ background-position:0 0; left:-1px !important; padding-right:1px;}
.widgetBoxHgray .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto;  *right:-1px; _right:auto; padding-left:1px;}
.widgetBoxHgray .rcBottom .bl{ background-position:0 bottom; left:-1px; padding-right:1px;}
.widgetBoxHgray .rcBottom .br{ background-position:right bottom; left:50%; *left:auto; right:auto;  *right:-1px; _right:auto; _left:50%; padding-left:1px;}

.widgetBoxHred{ padding-top:50px; padding-bottom:4px;} 
.widgetBoxHred .widgetBox{ background:#fff; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; padding-top:10px; padding-bottom:5px;}
.widgetBoxHred .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxHred .widgetContainer{ margin-top:-50px;}
.widgetBoxHred .widgetMore{ top:-31px; right:50px;}
.widgetBoxHred .rcContainer{ position:absolute;}
.widgetBoxHred .rcTop{ top:-50px; height:50px;}
.widgetBoxHred .rcBottom{ bottom:-4px; height:4px;} 
.widgetBoxHred .rc { width:50%; background-image:url(../img/widgetBoxHred.png); _background-image:url(../img/widgetBoxHred.gif); background-repeat:no-repeat;}
.widgetBoxHred .rcTop .rc{ height:50px;}
.widgetBoxHred .rcBottom .rc{ height:4px;}
.widgetBoxHred .rcTop .tl{ background-position:0 0; left:-1px !important; padding-right:1px;}
.widgetBoxHred .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto;  *right:-1px; _right:auto; padding-left:1px;}
.widgetBoxHred .rcBottom .bl{ background-position:0 bottom; left:-1px; padding-right:1px;}
.widgetBoxHred .rcBottom .br{ background-position:right bottom; left:50%; *left:auto; right:auto;  *right:-1px; _right:auto; _left:50%; padding-left:1px;}

.widgetBoxHgreen{ padding-top:50px; padding-bottom:4px;} 
.widgetBoxHgreen .widgetBox{ background:#fff; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; padding-top:10px; padding-bottom:5px;}
.widgetBoxHgreen .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxHgreen .widgetContainer{ margin-top:-50px;}
.widgetBoxHgreen .widgetMore{ top:-31px; right:50px;}
.widgetBoxHgreen .rcContainer{ position:absolute;}
.widgetBoxHgreen .rcTop{ top:-50px; height:50px;}
.widgetBoxHgreen .rcBottom{ bottom:-4px; height:4px;} 
.widgetBoxHgreen .rc { width:50%; background-image:url(../img/widgetBoxHgreen.png); _background-image:url(../img/widgetBoxHgreen.gif); background-repeat:no-repeat;}
.widgetBoxHgreen .rcTop .rc{ height:50px;}
.widgetBoxHgreen .rcBottom .rc{ height:4px;}
.widgetBoxHgreen .rcTop .tl{ background-position:0 0; left:-1px !important; padding-right:1px;}
.widgetBoxHgreen .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto;  *right:-1px; _right:auto; padding-left:1px;}
.widgetBoxHgreen .rcBottom .bl{ background-position:0 bottom; left:-1px; padding-right:1px;}
.widgetBoxHgreen .rcBottom .br{ background-position:right bottom; left:50%; *left:auto; right:auto;  *right:-1px; _right:auto; _left:50%; padding-left:1px;}

.widgetBoxHblue{ padding-top:50px; padding-bottom:4px;} 
.widgetBoxHblue .widgetBox{ background:#fff; border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9; padding-top:10px; padding-bottom:5px;}
.widgetBoxHblue .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxHblue .widgetContainer{ margin-top:-50px;}
.widgetBoxHblue .widgetMore{ top:-31px; right:50px;}
.widgetBoxHblue .rcContainer{ position:absolute;}
.widgetBoxHblue .rcTop{ top:-50px; height:50px;}
.widgetBoxHblue .rcBottom{ bottom:-4px; height:4px;} 
.widgetBoxHblue .rc { width:50%; background-image:url(../img/widgetBoxHblue.png); _background-image:url(../img/widgetBoxHblue.gif); background-repeat:no-repeat;}
.widgetBoxHblue .rcTop .rc{ height:50px;}
.widgetBoxHblue .rcBottom .rc{ height:4px;}
.widgetBoxHblue .rcTop .tl{ background-position:0 0; left:-1px !important; padding-right:1px;}
.widgetBoxHblue .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto;  *right:-1px; _right:auto; padding-left:1px;}
.widgetBoxHblue .rcBottom .bl{ background-position:0 bottom; left:-1px; padding-right:1px;}
.widgetBoxHblue .rcBottom .br{ background-position:right bottom; left:50%; *left:auto; right:auto;  *right:-1px; _right:auto; _left:50%; padding-left:1px;}
