<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispAdminIndex" type="view" index="true" />
        <action name="dispAdminConfigGeneral" type="view" menu_name="adminConfigurationGeneral" menu_index="true" />
        <action name="dispAdminConfigFtp" type="view" menu_name="adminConfigurationFtp" menu_index="true" />
        <action name="dispAdminSetup" type="view" menu_name="adminMenuSetup" menu_index="true" />
        <action name="dispAdminViewServerEnv" type="view" />

        <action name="procAdminRemoveIcons" type="controller" />
		<action name="procAdminRecompileCacheFile" type="controller" />
        <action name="procAdminLogout" type="controller" method="GET|POST" />
        <action name="procAdminInsertDefaultDesignInfo" type="controller" />
		<action name="procAdminToggleFavorite" type="controller" ruleset="toggleFavorite" />
		<action name="procAdminEnviromentGatheringAgreement" type="controller" />
		<action name="procAdminUpdateConfig" type="controller" />
		<action name="procAdminDeleteLogo" type="controller" />
		<action name="procAdminMenuReset" type="controller" />
		<action name="procAdminUpdateSitelock" type="controller" />
		<action name="procAdminUpdateEmbedWhitelist" type="controller" />

        <action name="getAdminFTPList" type="model" />
        <action name="getAdminFTPPath" type="model" />
        <action name="getSiteAllList" type="model" />
    </actions>
	<menus>
		<menu name="adminConfigurationGeneral" type="all">
			<title xml:lang="en">General</title>
			<title xml:lang="ko">일반</title>
			<title xml:lang="zh-CN">总览</title>
			<title xml:lang="jp">一般</title>
			<title xml:lang="es">General</title>
			<title xml:lang="ru">General</title>
			<title xml:lang="fr">General</title>
			<title xml:lang="zh-TW">General</title>
			<title xml:lang="vi">General</title>
			<title xml:lang="mn">General</title>
			<title xml:lang="tr">General</title>
		</menu>
		<menu name="adminMenuSetup" type="all">
			<title xml:lang="en">Admin Setup</title>
			<title xml:lang="ko">관리자 설정</title>
			<title xml:lang="zh-CN">后台设置</title>
			<title xml:lang="jp">管理者設定</title>
			<title xml:lang="es">Admin Setup</title>
			<title xml:lang="ru">Admin Setup</title>
			<title xml:lang="fr">Admin Setup</title>
			<title xml:lang="zh-TW">Admin Setup</title>
			<title xml:lang="vi">Admin Setup</title>
			<title xml:lang="mn">Admin Setup</title>
			<title xml:lang="tr">Admin Setup</title>
		</menu>
		<menu name="adminConfigurationFtp" type="all">
			<title xml:lang="en">FTP Configuration</title>
			<title xml:lang="ko">FTP 설정</title>
			<title xml:lang="zh-CN">FTP 配置</title>
			<title xml:lang="jp">FTP設定</title>
			<title xml:lang="es">FTP Configuration</title>
			<title xml:lang="ru">FTP Configuration</title>
			<title xml:lang="fr">FTP Configuration</title>
			<title xml:lang="zh-TW">FTP Configuration</title>
			<title xml:lang="vi">FTP Configuration</title>
			<title xml:lang="mn">FTP Configuration</title>
			<title xml:lang="tr">FTP Configuration</title>
		</menu>
	</menus>
</module>
