<!--#include("./common/tpl/common_header.html")-->
<script type="text/javascript">
  loadTreeMenu("{$main_menu->xml_file}", "main_menu", "menu", "{$layout_info->main_menu_name}");
</script>
<div style="height:50px;border:1px solid;margin-bottom:10px;">
  {$layout_info->top_title}

  <div style="float:right">
    <div>
    <!-- 1차 메뉴 -->
    <!--@foreach($main_menu->list as $key => $val)-->

      <!--@if($zbfe_url==$val['url'])-->
        {@ $selected_style = 'style="font-weight:bold;"'}
        {@ $second_menu_list = $val['list']; }
      <!--@else-->
        {@ $selected_style = ''; }
      <!--@end-->

      <span {$selected_style}>
        <a href="#" onclick="location.href='{$val['href']}';return false;">{$val['text']}</a>
      </span>
    <!--@end-->
    </div>
    <div>

    <!-- 2차 메뉴 -->
    <!--@foreach($second_menu_list as $key => $val)-->

      <!--@if($zbfe_url==$val['url'])-->
        {@ $selected_style = 'style="font-weight:bold;"'}
      <!--@else-->
        {@ $selected_style = ''; }
      <!--@end-->

      <span {$selected_style}>
        <a href="#" onclick="location.href='{$val['href']}';return false;">{$val['text']}</a>
      </span>
    <!--@end-->
    </div>
  </div>
</div>

<div>
  <table border="0" width="100%" style="table-layout:fixed">
  <col width="150" />
  <col width="*" />
  <tr valign="top">
    <td><div id="menu"></div></td>
    <td>
      <div id="content">
        {$content}
        <div style="margin-top:20px;">
          <!--@foreach($bottom_menu->list as $key => $val)-->
            <span <!--@if($zbfe_url==$val['url'])-->style="font-weight:bold;"<!--@end-->>
              <a href="#" onclick="location.href='{$val['href']}';return false;">{$val['text']}</a>
            </span>
          <!--@end-->
        </div>
      </div>
    </td>
  </tr>
  </table>
</div>


<!--#include("./common/tpl/common_footer.html")-->
