@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Kim, Ji Min 070809-20070903
*/

#blog {margin:0 auto; width:970px;}

#content { width:100%; }

/* Global Navigation */
.blogNavigation {overflow:hidden; width:780px;}

ul.blogGlobal {padding:0; margin:0; list-style:none; overflow:hidden; float:right; margin:10px 0 10px 0; }
ul.blogGlobal li {float:left; margin-left:-1px; padding:0 .6em;}
ul.blogGlobal li a {text-decoration:none; font-size:.9em; letter-spacing:-1px;}

ul.blogMenu {padding:0; list-style:none; overflow:hidden; float:right; margin:0 0 10px 0; }
ul.blogMenu li {float:left; margin-left:-1px; padding:0 .8em;}
ul.blogMenu li a {text-decoration:none; font:bold .9em tahoma;}
ul.blogMenu li a.on {}

/* Content Box */
.contentBox { float:left; width:780px; }
.contentBox .centerBg {padding-top:1em;}
.contentBox .topBg {width:100%; height:10px; font-size:0;}
.contentBox .bottomBg {width:100%; height:10px; font-size:0;}
.contentArea {width:740px; margin:0 auto;}

.blogWidgetAreaBox { width:190px; padding:0; margin:0; float:left; overflow:hidden;}

/* Profile */
.blogProfile {width:170px; margin:0 0 10px 10px; }
.blogProfile h1 {padding:0; margin:10px 0 8px 2px; font-size:1em; line-height:1.2em;}
.blogProfile ul.profileMenu {float:left; margin-left:-4px; overflow:hidden;}
.blogProfile ul.profileMenu li {float:left; margin-left:-1px; padding:0 .7em;}
.blogProfile ul.profileMenu li a {text-decoration:none; font-size:.9em;}

/* title bg box */
.blogTitleBox {width:170px; height:25px; margin:0 0 5px 10px;}
.blogTitleBox h2 {margin:0; padding:5px 0 0 12px; font:bold .9em tahoma;} 
.blogTitleBox h2 a { text-decoration:none; }

/* category */

/* widget Box */
.widgetBox {width:170px; margin:0 0 10px 10px;}

/* search box */
.blogSearch { margin:0 auto; width:170px; }
.blogSearch fieldset {padding:0; margin:0; border:none;}
.blogSearch legend {display:none;}
.blogSearch input {float:left; vertical-align:middle;}
.blogSearch img {float:left; margin-left:2px; vertical-align:middle;}

/* Widget */
.blog_widget_ h2 {margin:0 0 15px 0; padding:5px 0 0 12px; font:bold .9em tahoma;} 
.blog_widget_ .items {list-style:none; padding:0; margin:0; margin-top:10px; overflow-x:hidden; width:170px;}
.blog_widget_ .items li { padding:0 10px 0 14px; margin-bottom:5px; }
.blog_widget_ .items li a { text-decoration:none; font-size:1em; }

/* Calender */
.widget_calendar {position:relative; float:left; width:170px; }
.widget_calendar caption {width:170px; height:25px; padding-top:.3em; font:bold 1.1em tahoma;}
.widget_calendar caption em {font:bold 1em tahoma; font-style:normal;}
.widget_calendar caption .back {position:absolute; left:.6em; top:.6em;}
.widget_calendar caption .next {position:absolute; right:.6em; top:.6em;}
.widget_calendar table {padding:0; margin:0; width:170px; }

.widget_calendar th {padding:1.3em 0 .5em 0; font-size:.9em; font-weight:normal;}
.widget_calendar th.sun {color:#00afcf;}

.widget_calendar td {height:1.5em; padding-right:.7em; text-align:right; font:.9em tahoma;}

.widget_calendar td a {text-decoration:none; font:.9em tahoma;}
.widget_calendar td {text-decoration:none; font:.9em tahoma;}

.widget_calendar td.sun a {text-decoration:none; }
.widget_calendar td.sun {text-decoration:none; }

.widget_calendar td.today a {text-decoration:none; font-weight:bold;}
.widget_calendar td.today {text-decoration:none; font-weight:bold; }

.widget_calendar td.posted a {text-decoration:underline;}
.widget_calendar td.posted {text-decoration:underline;}


.zbXE { width:960px; text-align:center; margin:20px auto 20px auto;}
