@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Kim, Ji Min 070809-20070903
*/

body {color:#444444; background:#ffffff url(../images/green/bg_blog.jpg) no-repeat center top;}

/* Input Style Definition */
.inputTypeText {border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; background:#ffffff;}
.inputTypeText:hover,
.inputTypeText:focus { background:#f4f4f4;}
.inputTypeTextArea {border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6 !important; background:#ffffff;}

/* Global Navigation */
ul.blogMenu li {background:url(../images/green/division_f2.gif) no-repeat left .2em;}
ul.blogMenu li a {color:#666666;}
ul.blogMenu li a.on {color:#00afcf;}

ul.blogGlobal li {background:url(../images/green/division_f2.gif) no-repeat left .2em;}
ul.blogGlobal li a {color:#3f4040;}

/* Profile */
.blogProfile h1 {color:#333333;}
.blogProfile ul.profileMenu li {background:url(../images/green/division_cc.gif) no-repeat left top;}
.blogProfile ul.profileMenu li a {color:#3f4040;;}

/* title bg box */
.blogTitleBox {background:url(../images/green/box_blog_title.gif) no-repeat left top;}
.blogTitleBox h2 {color:#31c100;}

/* Content Box */
.contentBox .centerBg {background:url(../images/green/box_blog_bg.gif) repeat-y left top;}
.contentBox .topBg {background:url(../images/green/box_blog_top.gif) no-repeat left top;}
.contentBox .bottomBg {background:url(../images/green/box_blog_bot.gif) no-repeat left top;}

/* Widget */
.blog_widget_ {background:url(../images/green/box_blog_title.gif) no-repeat left top;}
.blog_widget_ h2 {color:#31c100;}
.blog_widget_ .items li {background:url(../images/green/bullet_3x3_1.gif) no-repeat 5px 5px; }
.blog_widget_ .items li a {color:#3f4040;}

/* Calender */
.widget_calendar caption {color:#31c100; background:url(../images/green/box_blog_title.gif) no-repeat left top;}
.widget_calendar caption em {color:#00afcf;}
.widget_calendar caption .back {background:url("../images/green/btn_back.gif") no-repeat left top; width:13px; height:13px;}
.widget_calendar caption .next {background:url("../images/green/btn_next.gif") no-repeat left top; width:13px; height:13px;}
.widget_calendar th {color:#6a6a6a;}
.widget_calendar th.sun {color:#31c100;}
.widget_calendar td {color:#6a6a6a;}
.widget_calendar td a {color:#6a6a6a;}
.widget_calendar td {color:#6a6a6a;}
.widget_calendar td.sun a {color:#31c100;}
.widget_calendar td.sun {color:#31c100;}
.widget_calendar td.today a {color:#00afcf;}
.widget_calendar td.today {color:#00afcf;}

