#blog_category { position:relative; border:1px solid #e0e1db; background:url(../images/white/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em; }

#blog_category .title_box { position:relative; border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:7px 0 0 12px; height:21px; _height:20px; }

#blog_category .category_list { padding:.8em 0 .8em 0; }

#blog_category .node_item a { color:#6b6b6b; }

#blog_category .selected { font-weight:bold; cursor:default; font-size:1em; color:#54564b; }

#blog_category .unselected { cursor:pointer; font-size:1em; color:#54564b;  }

#blog_category .document_count {
    margin-left:5px;
    color:#AAAAAA;
    font-size:.8em;
}

#blog_category .page {
    cursor:pointer;
    background:url(../images/white/iconList.gif) no-repeat left;
}

#blog_category .folder_open {
    cursor:pointer;
    background:url(../images/white/iconFolderClose.gif) no-repeat left;
}

#blog_category .folder_close {
    cursor:pointer;
    background:url(../images/white/iconFolderClose.gif) no-repeat left;
}

#blog_category .item_open {
    display:block;
    padding-left:18px;
}

#blog_category .item_close {
    display:none;
    padding-left:18px;
}

#blog_category .line_null {
    padding-left:13px;
}

#blog_category .line_open {
    display:block;
    padding-left:18px;
    background:url(../images/tree_menu/line.gif) repeat-y left;
}

#blog_category .line_close {
    display:none;
    padding-left:18px;
    background:url(../images/tree_menu/line.gif) repeat-y left;
}

#blog_category .plus {
    padding-left:18px;
    background:url(../images/tree_menu/plus.gif) repeat-y left;
}

#blog_category .plus_bottom {
    padding-left:18px;
    background:url(../images/tree_menu/plusbottom.gif) no-repeat left;
}

#blog_category .minus {
    padding-left:18px;
    background:url(../images/tree_menu/minus.gif) repeat-y left;
}

#blog_category .minus_bottom {
    padding-left:18px;
    background:url(../images/tree_menu/minusbottom.gif) no-repeat left;
}

#blog_category .join {
    padding-left:18px;
    background:url(../images/tree_menu/join.gif) repeat-y left;
}

#blog_category .join_bottom {
    padding-left:18px;
    background:url(../images/tree_menu/joinbottom.gif) no-repeat left;
}

