@charset "utf-8";

/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Jeong, Chan Myeong 070601~070630
*/

/**
 * Header
 **/

/* blog Title */
.blogHeader { border:1px solid #e1e1dd; border-bottom:none; background:#ffffff url(../images/common/bgH3.gif) repeat-x left bottom; overflow:hidden; _width:100%;}
.blogHeader h3 { float:left; font-size:1.2em; padding:1em 2em .7em 1.2em; background:#ffffff url(../images/common/lineH3.gif) no-repeat right bottom;}

/* blog Description */
.blogDescription { color:#AEAEAE; border:1px solid #DDDDDD; overflow:hidden; padding:1em; margin-top:1em;}

/* blog Information */
.blogInformation { width:100%; clear:both; margin:1em 0 .5em 0; overflow:hidden; color:#666666;}
.articleNum { float:left; padding:0 0 0 15px; }

/* gallery sub menu */
.blogSubMenu { margin:0 0 .5em 0; padding:1em 0 .5em .5em; border-bottom:1px solid #e0e1db;}
.blogSubMenu a { text-decoration:none; color:#666666; vertical-align:bottom; background:url(../images/common/line_1x10_e0e0e0.gif) no-repeat right 5px; padding-left:10px; padding-right:10px; _padding-top:5px; position:relative; top:5px; }
.blogSubMenu img.sort { vertical-align:middle; }

/* list */
.blogList { width:100%; border:1px solid #e0e1db; border-top:none;}
.blogListNoTopBorder { border:none; }
.blogList th { color:#3e3f3e; font-weight:normal; border-top:1px solid #e0e1db; border-bottom:1px solid #ffffff; padding-top:5px; white-space:nowrap; height:33px; overflow:hidden;}
.blogList th.no_line { background-position:-3px bottom; }
.blogList th a { color:#3e3f3e; text-decoration:none; }
.blogList th.num { border-left:1px solid #ffffff; }
.blogList th.checkbox { text-align:center; }
.blogList th.title { text-align:center; padding-left:1em; }
.blogList th.topic { text-align:left; padding-left:1em; }
.blogList th.category { text-align:left; padding-left:1em; }
.blogList th.category select { vertical-align:middle; width:200px; height:20px;}
.blogList th.reading, th.recommend , th.date { white-space:nowrap;}
.blogList th .sort { padding:0 .2em; vertical-align:middle;}

.blogList tr.notice { background:#f8f8f8; }
.blogList tr.notice .num { font-weight:bold;}
.blogList tr.bg1 { background:#ffffff}
.blogList tr.bg2 { background:#fbfbfb;}
.blogList td { border-top:1px solid #eff0ed; padding:.5em;}
.blogList td.num { font:.8em tahoma; color:#999999; padding:.5em 1em; text-align:center;}
.blogList td.checkbox { font:.8em tahoma; color:#999999; text-align:center;}
.blogList tr.notice td.num { padding:.5em; white-space:nowrap;}
.blogList tr.notice td.notice { font-size:.9em; color:#999999; font-weight:bold; text-align:center;}
.blogList td.thumb img { border:1px solid #E0E1DB; padding:3px; }

.blogList td.title {padding-left:1em; }
.blogList td.title strong.category { font-size:1em; background:url(../images/common/line_1x10_e0e0e0.gif) no-repeat right 3px; padding-right:.5em; margin-right:.5em;}
.blogList td.title.bold { font-size:1.2em; font-weight:bold;}
.blogList td.title.bold a { position:relative; top:.3em;}
.blogList td.title * { vertical-align:middle;} 
.blogList td.title,
.blogList td.title a { color:#444444; text-decoration:none;}
.blogList td.title a:visited { color:#777777;}

.blogList td.topic { padding-left:1em; color:#888888; }
.blogList td.topic strong a { font-size:1.2em; font-weight:bold; text-decoration:none; color:#444444; }
.blogList td.topic strong a:visited { color:#777777; }
.blogList td.topic .category { background:url(../images/common/line_1x10_e0e0e0.gif) no-repeat left 3px; padding-left:.5em; margin-left:.5em; color:#AAAAAA; }
.blogList td.topic div.author { margin-top:.5em; color:#BBBBBB; font-size:0.8em; }
.blogList td.topic div.author strong { font-size:1.2em; font-weight:normal; color:#666666; }
.blogList td.commentCount { font:bold .8em Tahoma; color:#888888; text-align:center; }

.blogList td.latestPost { color:#888888; }
.blogList td.latestPost div.author { margin-top:.5em; color:#BBBBBB; font-size:0.8em; }
.blogList td.latestPost div.author strong { font-size:1.2em; font-weight:normal; color:#666666; }
.blogList td.latestPost div.date { font-size:0.8em; margin-top:.5em; }
.blogList td.latestPost div.date strong { font-family:Tahoma; font-weight:normal; color:#666666; }

.blogListNoTopBorder td { border-top:none; border-bottom:1px solid #eff0ed; padding:.5em;}

.blogList td.webzineTitle { padding-left:1em; color:#777777;}
.blogList td.webzineTitle strong.category { font-size:1em; background:url(../images/common/line_1x10_e0e0e0.gif) no-repeat right 3px; padding-right:.5em; margin-right:.5em;}
.blogList td.webzineTitle.bold { font-size:1.2em; font-weight:bold;}
.blogList td.webzineTitle * { vertical-align:middle;} 
.blogList td.webzineTitle,
.blogList td.webzineTitle a { color:#444444; text-decoration:none;}
.blogList td.webzineTitle a:visited { color:#777777;}

.blogList td.summary { border-top:none; vertical-align:top; color:#666666; line-height:1.25em; padding-left:1em;}
.blogList td.summary a { color:#666666; text-decoration:none; line-height:inherit;}
.blogList td.summary a:visited { color:#999999;}

.blogList td .replyAndTrackback img.trackback { margin-bottom:-.1em;}
.blogList td .replyAndTrackback strong { font:bold 1em Tahoma;}
.blogList td .replyAndTrackback { font:.8em Tahoma; }
.blogList td.author { color:#333333; font-size:.95em; padding-left:1em;}
.blogList td.author a { font-size:1em; color:#333333;}
.blogList td.reading { font:.8em Tahoma; color:#999999; text-align:center;}
.blogList td.recommend { font:bold .8em Tahoma; text-align:center;}
.blogList td.date { font:.8em Tahoma; color:#999999; text-align:center; white-space:nowrap;}
.blogList td input { _margin:-3px;}

.buttonTypeGo { border:none; cursor:pointer; width:24px; height:20px; _position:relative; _top:3px; font:.75em Tahoma; text-align:center;}
*:first-child+html .buttonTypeGo { position:relative; top:3px; }

.thumbnailBox { margin-top:1em; clear:both; overflow:hidden; border-bottom:1px solid #e0e1db; }
.thumbnailBox div.cell { display:block; float:left; overflow:hidden; margin-bottom:1em; margin-right:1em;}
.thumbnailBox div.cell img.thumb { padding:2px; border:1px solid #e0e1db; display:block; margin-bottom:1em; margin-left:auto;margin-right:auto;}
.thumbnailBox div.title { color:#3B96C0; margin-bottom:.2em; overflow:hidden; white-space:nowrap; text-align:center;}
.thumbnailBox div.title a { color:#3B96C0; text-decoration:none;}
.thumbnailBox div.nameAndDate { font-size:.9em; color:#999999; margin-bottom:.2em; text-align:center;}
.thumbnailBox div.nameAndDate a { color:#999999;}
.thumbnailBox div.nameAndDate .author { margin-left:auto; margin-right:right; }
.thumbnailBox div.nameAndDate .author div { display:inline; vertical-align:middle;}
.thumbnailBox div.nameAndDate .date { font:.8em Tahoma; color:#999999;}
.thumbnailBox div.readAndRecommend { font-size:.9em; color:#666666; text-align:center;}
.thumbnailBox div.readAndRecommend .num { font:.8em Tahoma;}
.thumbnailBox div.readAndRecommend .vr { color:#dddddd;}
.thumbnailBox div.readAndRecommend strong.num { font:bold .8em Tahoma; color:#ff6600;}

/* list button */
.leftButtonBox { float: left; margin-top:1em;}
.rightButtonBox { float: right; margin-top:1em;}

/* pageNavigation */
.pageNavigation { display:block; margin-top:1em; text-align:center; font:bold 11px Tahoma; margin-top:1.5em;}
.pageNavigation a { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#666666; display:inline-block; padding:1px 7px 2px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }
.pageNavigation .current { position:relative; margin-left:-4px; font:bold 11px Tahoma; display:inline-block; padding:1px 7px 1px 6px; border-left:1px solid #dedfde; text-decoration:none; line-height:1em; }
.pageNavigation a:hover { background:#F7F7F7; text-decoration:none; }
.pageNavigation a:visited { color:#999999; }
.pageNavigation a.goToFirst, .pageNavigation a.goToLast { border:none; border-right:1px solid #ffffff; border-left:1px solid #ffffff; z-index:99; vertical-align:top; padding:0px 7px 4px 6px;}
.pageNavigation a.goToFirst img, .pageNavigation a.goToLast img { display:inline-block; padding:2px 0; position:relative; top:2px; _top:1px;}

/* Search Form */
.blogSearch { margin-left:auto; margin-right:auto; clear:both; text-align:center;}
.blogSearch select { height:20px; }
.blogSearch input { height:18px; }

/* blogRead */
.blogRead { padding:0; margin:0; }
.blogRead .originalContent { padding:1.5em .5em .5em .5em;}
.blogRead .readHeader { padding:0 0 .5em 0; margin-bottom:1em; overflow:hidden;}

.blogRead .blogTitle{ clear:both; }
.blogRead .blogTitle h4 { font-size:1.4em; display:inline; }

.blogRead .dateAndCategory { float:left; overflow:hidden; white-space:nowrap; font-size:.9em; color:#888888; padding-top:1em; padding-left:.2em; }
.blogRead .dateAndCategory a { text-decoration:underline; color:#666666; }

.blogRead .userInfo { white-space:nowrap; float:left; color:#3074a5; padding-top:1em; padding-left:.2em; font-size:.9em; margin-left:1em; }
.blogRead .userInfo a { font-size:.9em; color:#3074a5; text-decoration:none; }
.blogRead .userInfo .ipaddress { font-size:.9em; color:#AAAAAA; }

.blogRead .readedAndVoted { float:right; overflow:hidden; white-space:nowrap; font-size:.9em; color:#888888; padding-top:1em; padding-left:.2em; }

.blogRead ul.uri { overflow:hidden; margin:0 0 2em .3em; }
.blogRead ul.uri li { font-size:8pt; color:#c5c7c0; }

.blogRead .contentBody { width:100%; overflow:hidden; }
.blogRead .readBody { padding:0 .3em; color:#555555; overflow:hidden; margin-bottom:2em; clear:both; margin-top:2em;}
.blogRead .readBody p { margin:1em 0; line-height:1.5em;}
.blogRead .readBody .alignLeft { float:left; margin:0 1em 1em 0; }
.blogRead .readBody .alignRight { float:right; margin:0 0 1em 1em; }
.blogRead .readBody .valignCenter { vertical-align:middle;}
.blogRead .readBody .clearBoth { display:block; margin:0 0 1em 0;}
.blogRead .readFooter { padding:0 .3em;}
.blogRead .readFooter .tag { margin-bottom:1em;}
.blogRead .readFooter .tag h5 { display:inline; font-size:1em; margin-right:.5em;}
.blogRead .readFooter .tag ul,
.blogRead .readFooter .tag li { display:inline;}
.blogRead .readFooter .tag a { color:#444444;}
.blogRead .readFooter .tag .tagIcon { vertical-align:middle;}
.blogRead .readFooter .fileAttached { border:1px solid #eaeae7; overflow:hidden; background:#fbfbfb;}
.blogRead .readFooter .fileAttached h5 { font-weight:normal; color:#999999; float:left; font-size:1em; margin:.5em .5em 0 .5em; line-height:1.5em;}
.blogRead .readFooter .fileAttached ul { float:left; margin-top:.5em; padding-bottom:1em; }
.blogRead .readFooter .fileAttached li { display:inline; margin-right:.75em; line-height:1.5em;}
.blogRead .readFooter .fileAttached li a { text-decoration:none; font-size:.9em; padding:.1em 0 .1em 1.5em; white-space:nowrap; color:#444444; }
.blogRead .readFooter .fileAttached li a:visited { color:#777777;}
.blogRead .buttonBox { float:right; height:40px; margin-right:1em;}

.blogRead .replyAndTrackbackBox { overflow:hidden; height:40px; float:left;}
.blogRead .replyAndTrackback li { margin-top:10px; _margin-top:8px; margin-left:1em; padding-left:1.4em; float:left; list-style:none;}
.blogRead .replyAndTrackback li.reply { background:url(../images/common/iconReply.gif) no-repeat left top;}
.blogRead .replyAndTrackback li.reply a { _position:relative; _top:-.6em;}
.blogRead .replyAndTrackback li.trackback { background:url(../images/common/iconTrackback.gif) no-repeat left top;}
.blogRead .replyAndTrackback li.trackback a { _position:relative; _top:0em;}
.blogRead .replyAndTrackback a { color:#333333; white-space:nowrap; text-decoration:none;}
.blogRead .replyAndTrackback a#toggleReply { background:url(../images/common/buttonToggleReply.gif) no-repeat right top;}
.blogRead .replyAndTrackback a#toggleTrackback { background:url(../images/common/buttonToggleReply.gif) no-repeat right -13px;}
.blogRead .replyAndTrackback .listButton { position:relative; right: 10px; top:-7px; _top:-6px; float:right;}

/* extraVars list */
.extraVarsList { width:100%; border:1px solid #e0e1db; clear:both; margin-bottom:1em; margin-top:1em; border-bottom:none;}
.extraVarsList tr.notice { background:#f8f8f8;}
.extraVarsList tr.notice .num { font-size:.9em; font-weight:bold;}
.extraVarsList tr.bg1 { background:#ffffff}
.extraVarsList tr.bg2 { background:#fbfbfb;}
.extraVarsList th { color:#3e3f3e; font-weight:bold; padding:.8em .5em .5em .5em; border-bottom:1px solid #e0e1db; border-right:1px solid #e0e1db;}
.extraVarsList td { border-bottom:1px solid #e0e1db; padding:.5em .5em .5em 1em; white-space:nowrap; overflow:hidden;}

.trackbackBox { padding:.6em .6em; color:#666666; border-top:1px dotted #e0e1db;;margin-top:.5em;}
.trackbackBox .trackbackItem { padding:.6em .8em .6em .6em; line-height:1.25em; border-bottom:1px dotted #EEEEEE; list-style:none;}
.trackbackBox p { display:inline; margin-bottom:1em;}
.trackbackBox a { color:#666666; text-decoration:none;}
.trackbackBox div  { clear:both; }
.trackbackBox address { display:block; padding:0 .3em 0 0; }
.trackbackBox address a { font-size:.9em; color:#3074a5; margin-right:.3em; float:left;}
.trackbackBox address .date { font:.8em Tahoma; color:#cccccc; float:right;}

.replyBox { padding:.6em .6em; color:#666666; border-top:1px dotted #e0e1db; margin-top:.5em;}
.replyBox .replyItem { padding:.6em .8em .6em .6em; line-height:1.25em; clear:both; border-bottom:1px dotted #EEEEEE; list-style:none;}
.replyBox p { display:inline; margin-bottom:1em;}
.replyBox .author { float:left; padding:0 .3em 0 0; font-size:.9em; color:#3074a5; margin:0 .3em .5em 0;}
.replyBox .author a { color:#3074a5; margin-right:.3em; text-decoration:none; }
.replyBox .voted { float:left; font-size:.9em; color:#AAAAAA; margin:0 .3em .5em 1em;}
.replyBox .date { float:right; font:.8em Tahoma; color:#cccccc; margin:.3em 0 .5em 0;}

.replyBox .replyOption { float:right; white-space:nowrap; margin-left:.2em;}
.replyBox .replyOption img { vertical-align:middle;}

.replyBox .replyContent { clear:left; }
.replyBox .replyContent p { display:block; }
.replyBox .replyContent ul li { padding:0; border:none; line-height:1.25em; list-style:disc;}
.replyBox .replyContent ol li { padding:0; border:none; line-height:1.25em; list-style:decimal;}
.replyBox .reply { background-color:#FAFAFA;}
.replyBox .replyIndent { background:url(../images/common/iconReplyArrow.gif) no-repeat .0em .3em; padding-left:1.3em;}

.replyBox .fileAttached { _width:99%; border:1px solid #eaeae7; overflow:hidden; background:#fbfbfb; margin-top:.3em; list-style:none;}
.replyBox .fileAttached ul { float:left; padding:.3em 1em .2em 0; margin-left:.5em; _margin-left:.25em;}
.replyBox .fileAttached li a { font-size:.9em; white-space:nowrap; position:relative; color:#444444; }
.replyBox .fileAttached li a:visited { color:#777777;}

.commentButton { margin-top:.5em; }

/* blogEditor */
.blogEditor { padding:.5em 0 1em 0; width:100%; overflow:hidden;}
.blogEditor.reply { padding:.5em 1em 1em 1em; width:auto; overflow:hidden;}
.blogEditor legend { position:absolute; overflow:hidden; width:1px; height:1px; font-size:.001em;}
.blogEditor fieldset { _width:100%; border:1px solid #eaeae7; border-top:none;}
.blogEditor .userNameAndPw { position:relative; background:#fbfbfb; border-top:1px solid #eaeae7; border-bottom:1px solid #e1e1e1; padding:.5em 1em; white-space:nowrap;}
.blogEditor .userNameAndPw * { vertical-align:middle;}
.blogEditor .userNameAndPw label { margin-right:.2em; color:#666760;}
.blogEditor .userNameAndPw input { color:#aaaaaa;}
.blogEditor .userNameAndPw .userName { width:6em; margin-right:.8em;}
.blogEditor .userNameAndPw .userPw { width:5em;}
.blogEditor .userNameAndPw .emailAddress { width:6em;}
.blogEditor .userNameAndPw .homePage { width:6em;}
.blogEditor .userNameAndPw .checkSecret { position:absolute; right:2em; top:.7em;}
.blogEditor .borderTop { border-top:1px solid #eaeae7; }

/* blogWrite */
.blogWrite { width:100%; position:relative;}
.blogWrite .userNameAndPw { margin-bottom:-1px;}
.blogWrite .blogEditor fieldset { width:auto; position:relative;}
.blogWrite div.title { border-bottom:1px solid #eff0ed; border-top:1px solid #eff0ed; padding:.5em 0 .5em 1em; white-space:nowrap;}
.blogWrite div.title label.title { display:block; float:left; font-weight:bold; padding:.4em 0 0 1.5em; width:8em; white-space:nowrap;}
.blogWrite div.title input#title { width:60%;}
.blogWrite .option { border-bottom:1px solid #e1e1e1; padding:.5em 0 .5em 1em; overflow:hidden; _height:20px; }
.blogWrite .option dt { display:block; float:left; font-weight:bold; padding:.3em 0 0 1.5em; width:8em; white-space:nowrap;}
.blogWrite .option dd { float:left; margin-right:1em; padding-top:.2em; _padding-top:.1em;}
.blogWrite .option dd * { vertical-align:middle;}
.blogWrite .option dd select { width:7em; font-size:.95em;height:20px;}
.blogWrite .inputTypeText { background:#fbfbfb;}
.blogWrite .trackbackURI { clear:both; border-top:1px solid #eff0ed; padding:4px 0 .8em 0;}
.blogWrite .trackbackURI label { display:block; float:left; color:#333333; font-weight:bold; padding:.4em 0 0 1.5em; width:11em;}
.blogWrite .trackbackURI .inputTypeText { width:50%;}
.blogWrite .tag { clear:both; border-top:1px solid #eff0ed; padding:.8em 0;}
.blogWrite .tag label { display:block; float:left; color:#333333; font-weight:bold; padding:.4em 0 0 1.5em; width:11em;}
.blogWrite .tag .inputTypeText { width:50%;}
.blogWrite .tag .help { vertical-align:middle;}
.blogWrite .tag .info { padding:.5em 0 0 .6em; margin-left:14em; font-size:.9em; color:#999999; background:url(../images/common/iconArrowD8.gif) no-repeat left center;}
.blogWrite .extra_vars { clear:both; border-top:1px solid #eff0ed; padding:.8em 0;}
.blogWrite .extra_vars label { display:block; float:left; color:#333333; font-weight:bold; padding:.4em 0 0 1.5em; width:11em;}
.blogWrite .extra_vars .info { clear:both; padding:.5em 0 0 .6em; margin-left:14em; font-size:.9em; color:#999999; background:url(../images/common/iconArrowD8.gif) no-repeat left center;}
.blogWrite .extra_vars ul li { float:left; margin-right:1em; }

.smallBox { border:1px solid #e0e1db; margin-left:auto; margin-right:auto; }
.smallBox.w268 { width:268px;}
.smallBox .header { position:relative; _width:100%; background:#ffffff url(../images/normal/bgH3.gif) no-repeat left bottom; overflow:hidden;}
.smallBox .header h3 { clear:both; font-size:1.2em; padding:.8em 2em .6em 1.2em; border-bottom:3px solid #fe3614; }
.smallBox .complex { padding:1.5em 2em 2em 2em;}
.smallBox .inputPassword { position:relative; border:none; padding:2em 2em 1.5em 2em;}
.smallBox .inputPassword .inputTypeText { float:left; margin-right:.5em; width:8em;}
.smallBox .inputPassword legend { position:absolute; overflow:hidden; width:1px; height:1px; font-size:.001em; text-indent:-100em;}


/* 게시물의 팝업 메뉴 */
.comment_popup_menu, .document_popup_menu { text-align:right; margin-top:3em; clear:both; display:block;  background:url(../images/common/document_menu.gif) no-repeat right top; padding-right:16px;  height:18px; }
.comment_popup_menu span, .document_popup_menu span { cursor:pointer; display:inline; background:none; padding:0 0 0 0; margin:0 0 0 0; }

/* widget common css */
.blog_widget_ h2 { border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:7px 0 0 12px; height:21px; _height:20px; font-size:1em; color:#54564b; }
.blog_widget_ .items { padding:10px; overflow:hidden;}
.blog_widget_ .items li { font-size:.9em; display:block; color:#a4a4a4; margin-right:.1em; line-height:150%; overflow:hidden; white-space:nowrap; list-style:none; width:100%;}
.blog_widget_ .items li a { color:#a4a4a4; margin-right:1em; }
