@charset "utf-8";

/* blog Title */
.blogHeader { position:relative; _width:100%; border-top:1px solid #d1d9db; border-bottom:none; background:#ffffff url(../images/common/bgH3.gif) no-repeat right bottom; overflow:hidden;}
.blogHeader h3 { float:left; clear:both; font-size:1.2em; padding:1em 2em .7em 1.2em; border-left:1px solid #d1d9db; border-bottom:3px solid #ac19a9; background:url(../images/common/lineH3.gif) no-repeat right bottom;}

#blog_category { position:relative; border:1px solid #e0e1db; background:url(../images/purple/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em; }
.boxTypeB { position:relative; border:1px solid #e0e1db; background:url(../images/purple/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em;}
#bodyWrap #header #globalNavigation li.on a { color:#b1ae00;}

#bodyWrap #accountNavigation li { float:left; margin-right:-1px; background:url(../images/purple/blogHeaderVr.gif) no-repeat right center;}
#bodyWrap #header { clear:both; height:9.5em; margin:10px 10px .5em 10px; border:1px solid #e0e1dc; border-bottom:none; background:#fbfbfb url(../images/purple/blogHeaderLine.gif) no-repeat left bottom; overflow:hidden;}

/* account Navigation */
#blogAccountNavigation li.join a { background:url(../images/purple/iconMyInfo.gif) no-repeat left top; padding-left:14px; }
#blogAccountNavigation li.myInfo a { background:url(../images/purple/iconMyInfo.gif) no-repeat left top; padding-left:14px; }

/* blog Information */
.articleNum { float:left; background:url(../images/purple/iconArticle.gif) no-repeat left top; }
.articleNum strong { font:bold 11px Tahoma; color:#b1ae00;}

/* style.list */
.blogList th { background:#ffffff url(../images/purple/lineBlogListTh.gif) no-repeat left bottom; }
.blogList td.recommend { color:#b1ae00; }
.blogList td .replyAndTrackback { color:#b1ae00; }
.buttonTypeGo { background:url(../images/purple/buttonTypeInput24.gif) no-repeat; }

/* pageNavigation */
.pageNavigation .current { color:#b1ae00; border-right:1px solid #CCCCCC; }

/* blogRead */
.blogRead .readFooter .fileAttached li a { background:url(../images/purple/iconFile.gif) no-repeat left top;}

/* replyAndTrackback */
.replyAndTrackback { background:url(../images/purple/bgBlogListTh.gif) repeat-x left 0px; }
.replyAndTrackback a strong { color:#b1ae00;}
.replyBox .fileAttached li { border:0px; display:inline; margin-right:.75em; line-height:1.5em; padding:.1em 0 .1em 1.5em; background:url(../images/purple/iconFile.gif) no-repeat left;}

/* widget common css */
.blog_widget_ { position:relative; border:1px solid #e0e1db; background:url(../images/purple/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em; }
