@charset "utf-8";
/* Widget Counter */
.wgCounter{font-size:12px;margin:0;line-height:1.4;color:#333}
.wgCounter:after{content:"";display:block;clear:both}
.wgCounter dt{float:left;clear:left;margin:0 4px 0 0}
.wgCounter dd{margin:0}
