#blog_category .title_box {
    cursor:pointer;
    padding-left:18px;
    background:url(../images/tree_menu/folder.gif) no-repeat left;
    margin-bottom:3px;
}

#blog_category .node_item A {
    text-decoration:none;
}

#blog_category .selected {
    background-color:#0E078F;
    font-weight:bold;
    color:#FFFFFF;
    font-size:9pt;
    cursor:pointer;
    padding:1px 2px 1px 2px;
}

#blog_category .unselected {
    background-color:#FFFFFF;
    font-weight:normal;
    color:#000000;
    font-size:9pt;
    cursor:pointer;
    padding:1px 2px 1px 2px;
}

#blog_category .document_count {
    margin-left:5px;
    color:#AAAAAA;
    font-size:8px;
}

#blog_category .page {
    cursor:pointer;
    background:url(../images/tree_menu/page.gif) no-repeat left;
}

#blog_category .folder_open {
    cursor:pointer;
    background:url(../images/tree_menu/page_folder.gif) no-repeat left;
}

#blog_category .folder_close {
    cursor:pointer;
    background:url(../images/tree_menu/folder.gif) no-repeat left;
}

#blog_category .item_open {
    display:block;
    padding-left:18px;
}

#blog_category .item_close {
    display:none;
    padding-left:18px;
}

#blog_category .line_open {
    display:block;
    padding-left:18px;
    background:url(../images/tree_menu/line.gif) repeat-y left;
}

#blog_category .line_close {
    display:none;
    padding-left:18px;
    background:url(../images/tree_menu/line.gif) repeat-y left;
}

#blog_category .plus {
    padding-left:18px;
    background:url(../images/tree_menu/plus.gif) repeat-y left;
}

#blog_category .plus_bottom {
    padding-left:18px;
    background:url(../images/tree_menu/plusbottom.gif) no-repeat left;
}

#blog_category .minus {
    padding-left:18px;
    background:url(../images/tree_menu/minus.gif) repeat-y left;
}

#blog_category .minus_bottom {
    padding-left:18px;
    background:url(../images/tree_menu/minusbottom.gif) no-repeat left;
}

#blog_category .join {
    padding-left:18px;
    background:url(../images/tree_menu/join.gif) repeat-y left;
}

#blog_category .join_bottom {
    padding-left:18px;
    background:url(../images/tree_menu/joinbottom.gif) no-repeat left;
}

