@charset "UTF-8";
/* Layout */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.layout_content {
	position: relative;
}
.layout-drawer-members {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 16px;
	height: 151px;
}
.layout-user-menu {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.layout-drawer-members .layout-user-img {
	width: 48px;
	height: 48px;
	font-size:48px;
	border-radius: 24px;
}
.layout-hidden {
	display:none;
}

.top-nav .brand-logo {
	font-size: 29px;
	margin: 0.5em 0;
}
.page-footer .container h2 {
	font-size: 15px;
	font-weight: 400;
	margin: 0.3em 0;
}
.page-footer .container .collection h2.collection-header {
	margin: 0;
}
.page-footer .footer-links {
	padding-left: 10px;
	margin-left:10px;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}