<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<actions>
		<action name="rss" type="view" />
		<action name="atom" type="view" />
		
		<action name="dispRssAdminIndex" type="view" admin_index="true" menu_name="rss" menu_index="true" />
		<action name="procRssAdminInsertConfig" type="controller" ruleset="insertRssConfig" />
		<action name="procRssAdminInsertModuleConfig" type="controller" permission="manager" check_var="target_module_srl" />
		<action name="procRssAdminDeleteFeedImage" type="controller" />
	</actions>
	<menus>
		<menu name="rss">
		<title xml:lang="en">RSS</title>
		<title xml:lang="ko">RSS</title>
		<title xml:lang="zh-CN">RSS</title>
		<title xml:lang="jp">RSS</title>
		<title xml:lang="es">RSS</title>
		<title xml:lang="ru">RSS</title>
		<title xml:lang="fr">RSS</title>
		<title xml:lang="zh-TW">RSS</title>
		<title xml:lang="vi">RSS</title>
		<title xml:lang="mn">RSS</title>
		<title xml:lang="tr">RSS</title>
		</menu>
	</menus>
</module>
