<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispRssAdminIndex" type="view" index="true" standalone="true" admin_index="true" />
        <action name="rss" type="view" standalone="true" />
        <action name="procRssAdminInsertConfig" type="controller" standalone="true" />
        <action name="procRssAdminInsertModuleConfig" type="controller" standalone="true" />
    </actions>
</module>
