.fvOff, .fvOn {
	display: inline-block;
	position: relative;
	top: 8px;
	width: 18px;
	height: 18px;
	background-color: transparent;
	background-size: 18px 18px;
	overflow: hidden;
	text-indent: -1000px;
	border: 0;
	.nodescription > & {
		top: -1px;
	}
	.__simpleView & {
		top: -1px;
	}
}

.fvOff{
	background-image: url('images/star-empty.svg');
}

.fvOn{
	background-image: url('images/star-fill.svg');
}

.x_table.x_table-striped.x_table-hover.dsTg tr {
	th:first-child, td:first-child {
		text-align: center;
	}
}
