<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<form action="./" method="get" onSubmit="return false" id="fo">
  <input type="hidden" name="upload_target_srl" value="{$upload_target_srl}" />
  <div class="editor_window">

    <div class="editor_title">{$lang->slide_show}</div>

    <div class="header">{$lang->width}</div>
    <div class="body"><input type="text" class="editor_input" name="width" value="600" />px</div>

    <div class="header">{$lang->height}</div>
    <div class="body"><input type="text" class="editor_input" name="height" value="600" />px</div>

    <div class="header">{$lang->cmd_make_thumbnail}</div>
    <div class="body"><input type="checkbox" name="make_thumbnail" value="Y" checked="true" /></div>

    <div class="header">{$lang->image_list}</div>
    <div class="body">
      <div>
        <select id="image_list" size="10" class="image_list" multiple="true">
        </select>
      </div>
      <div class="about_image_list">{$lang->about_image_list}</div>
    </div>

    <div class="editor_button_area">
      <input type="button" value="{$lang->cmd_insert}" class="editor_button" onclick="insertImage()" />
      <input type="button" value="{$lang->cmd_close}" class="editor_button" onclick="window.close();" />
    </div>
  </div>
</form>
