<!--%import("slide_show.js")-->
<!--%import("slide_show.css")-->
<script type='text/javascript'>
  // 슬라이드쇼에 보여줄 이미지 등록
  <!--@foreach($slide_show_images as $image)-->
  slide_show_add_image({$slide_show_srl},'{$image}','{$image}');
  <!--@end-->

  // window.onLoad 이벤트 후에 슬라이드 쇼 시작 
  xAddEventListener(window,'load',start_slide_show);
</script>

<div id='zone_slide_show_{$slide_show_srl}' style="width:{$slide_show_width}px;height:{$slide_show_height}px;" class="slide_main_image_box">
  <div id="slide_loading_text" class="slide_loading_text">loading images...</div>
  <img id="slide_main_image_{$slide_show_srl}" border="0" style="display:none" alt="slide" />
</div>
<div id='zone_thumbnail_{$slide_show_srl}' class="slide_thumbnail_image_box" style="width:{$slide_show_width}px;"></div>

