<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<form action="./" method="get" onSubmit="return false" id="fo">
  <input type="hidden" name="upload_target_srl" value="{$upload_target_srl}" />
  <div class="editor_window">

    <div class="editor_title">{$lang->image_gallery}</div>

    <div class="short_header">{$lang->width}</div>
    <div class="short_body"><input type="text" class="editor_input" id="width" value="600" />px</div>

    <div class="header">{$lang->gallery_style}</div>
    <div class="body">
      <select id="gallery_style">
        <option value="slide">{$lang->gallery_slide_style}</option>
        <option value="list">{$lang->gallery_list_style}</option>
      </select>
    </div>

    <div class="header">{$lang->gallery_border_thickness}</div>
    <div class="body"><input type="text" class="editor_input" id="border_thickness" value="1" />px</div>

    <div class="header">{$lang->gallery_border_color}</div>
    <div class="body">
      <div class="editor_color_box">
        <script type="text/javascript">
          printColor("border", "{$tpl_path}/images/blank.gif");
        </script>
      </div>
      <div class="editor_color_input">
        <table border="0" cellspacing="0">
        <tr>
          <td><img src="./images/border_solid.gif" alt="blank" class="border_preview_color" id="border_preview_color" /></td>
          <td>#</td>
          <td><input type="text" id="border_color_input" size="6" maxlength="6" class="table_input" value="000000" onkeyup="manual_select_color('border',this)"/></td>
        </tr>
        </table>
      </div>
    </div>

    <div class="header">{$lang->gallery_bg_color}</div>
    <div class="body">
      <div class="editor_color_box">
        <script type="text/javascript">
          printColor("bg", "{$tpl_path}/images/blank.gif");
        </script>
      </div>
      <div class="editor_color_input">
        <table border="0" cellspacing="0">
        <tr>
          <td><img src="./images/blank.gif" alt="blank" class="bg_preview_color" id="bg_preview_color" /></td>
          <td>#</td>
          <td><input type="text" id="bg_color_input" size="6" maxlength="6" class="table_input" value="FFFFFF" onkeyup="manual_select_color('bg',this)"/></td>
        </tr>
        </table>
      </div>
    </div>

    <div class="header">{$lang->image_list}</div>
    <div class="body">
      <div>
        <select id="image_list" size="10" class="image_list" multiple="true">
        </select>
      </div>
      <div class="about_image_list">{$lang->about_image_list}</div>
    </div>

    <div class="editor_button_area">
      <input type="button" value="{$lang->cmd_insert}" class="editor_button" onclick="insertSlideShow()" />
      <input type="button" value="{$lang->cmd_close}" class="editor_button" onclick="window.close();" />
    </div>
  </div>
</form>
