<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->
<section class="section">
	<h1>{$component_info->title} ver. {$component_info->version}</h1>
	<form action="./" method="get" onSubmit="return false" id="fo" class="x_form-horizontal">
	<input type="hidden" name="editor_sequence" value="{$editor_sequence}" />
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->width}</label>
			<div class="x_controls">
				<input type="text" size="3" id="width" value="400" />px
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->gallery_style}</label>
			<div class="x_controls">
				<select id="gallery_style">
					<option value="slide">{$lang->gallery_slide_style}</option>
					<option value="list">{$lang->gallery_list_style}</option>
				</select>
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->gallery_slide_align}</label>
			<div class="x_controls">
			<select id="gallery_align">
				<option value="center">{$lang->gallery_slide_center}</option>
				<option value="left">{$lang->gallery_slide_left}</option>
				<option value="right">{$lang->gallery_slide_right}</option>
			</select>
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->gallery_border_thickness}</label>
			<div class="x_controls">
				<input type="text" size="1" id="border_thickness" value="0" />px
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->gallery_border_color}</label>
			<div class="x_controls">
				<input type="text" id="border_color_input" class="color-indicator" size="7" maxlength="6"  value="#000000" />
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->gallery_bg_color}</label>
			<div class="x_controls">
				<input type="text" id="bg_color_input" class="color-indicator"  size="7" maxlength="6"  value="#FFFFFF" />
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->image_list}</label>
			<div class="x_controls">
				<select id="image_list" size="6" multiple="true" class="image_list">
				</select>
				<p>{$lang->about_image_list}</p>
			</div>
		</div>
		<div class="x_clearfix btnArea">
			<div class="x_pull-right">
				<button type="button" class="x_btn x_btn-primary" onclick="insertSlideShow()">{$lang->cmd_insert}</button>
				<a class="x_btn" href="{getUrl('','module','editor','act','dispEditorComponentInfo','component_name',$component_info->component_name)}" target="_blank" onclick="window.open(this.href,'ComponentInfo','width=10,height=10');return false;">{$lang->about_component}</a>
			</div>
		</div>
	</form>
</section>
<!--%load_js_plugin("ui.colorpicker")-->

