.editor_window {
  width:550px;
  text-align:center;
}

.editor_title {
  font-size:10pt;
  font-weight:bold;
  clear:both;
  height:20px;
  background-color:#555555;
  color:#EFEFEF;
  vertical-align:middle;
  padding-top:5px;
  border-bottom:1px solid #000000;
  text-align:center;
}

.short_header {
  float:left;
  width:80px;
  text-align:left;
  font-weight:bold;
  margin:5px;
  font-size:9pt;
}

.short_body {
  float:left;
  width:90px;
  text-align:left;
  margin:5px;
  font-size:9pt;
}

.header {
  float:left;
  width:80px;
  clear:left;
  text-align:left;
  font-weight:bold;
  margin:5px;
  font-size:9pt;
}

.body {
  float:left;
  width:350px;
  text-align:left;
  margin:5px;
  font-size:9pt;
}

.image_list {
  width:380px;
}

.about_image_list {
  margin-top:10px;
  font-size:9pt;
  color:#AAAAAA;
}

.editor_input {
  width:40px;
  height:13px;
  font-size:9pt;
  border:1px solid #AAAAAA;
}

.editor_button_area {
  border-top:1px solid #AAAAAA;
  text-align:center;
  background-color:#EEEEEE;
  padding:2px 0px 2px 0px;
  clear:both;
}

.editor_button {
  margin-top:4px;
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  height:16px;
  font-size:9pt;
}

.editor_color_box {
  clear:both;
  height:65px;
  width:400px;
  border:1px solid #DDDDDD;
  padding:2px;
  margin-bottom:3px;
}

.editor_color_input {
  clear:both;
}

img.bg_preview_color {
  width:30px;
  height:16px;
  border:1px solid #000000;
  background-color:#FFFFFF;
}

img.border_preview_color {
  width:30px;
  height:16px;
  border:1px solid #EEEEEE;
  background-color:#88EE22;
}

img.color_icon {
  width:14px;
  height:14px;
  border:1px solid #FFFFFF;
}

img.color_icon_over {
  width:14px;
  height:14px;
  border:1px solid #000000;
  cursor:pointer;
}

.table_input {
  width:40px;
  height:13px;
  font-size:9pt;
  border:1px solid #AAAAAA;
}
