@charset "utf-8";

.autoinstall_list {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin-bottom: 16px;
}
.autoinstall_list .list_item {
	width: calc(50% - 8px);
	position: relative;
}
.autoinstall_list .list_item .x_thumbnail {
	box-shadow: 1px 1px 3px #eee;
	padding: 12px;
	display: flex;
	gap: 12px;
	overflow: hidden;
}
.autoinstall_list .list_item .x_thumbnail:hover {
	background: #f5f5f5;
}
.autoinstall_list .list_item .thumb {
	flex-shrink: 0;
	width: 135px;
	height: 90px;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.autoinstall_list .list_item .info {
	flex-grow: 1;
}
.autoinstall_list .list_item .info .package_type {
	font-size: 12px;
	color: #3a87ad;
	margin-bottom: 4px;
}
.autoinstall_list .list_item .info h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 4px 0;
}
.autoinstall_list .list_item .info h3 a {
	color: #333;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.autoinstall_list .list_item .info h3 a:after {
	display: none;
}
.autoinstall_list .list_item .info .description {
	margin: 0 0 4px 0;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.autoinstall_list .list_item .info .meta {
	color: #666;
	display: flex;
	gap: 12px;
}
.autoinstall_list .list_item .info .meta i {
	transform: translateY(1px);
}
.autoinstall_list .list_item .info .meta .author {
	flex: 1;
}
.autoinstall_list .list_item .info .meta .download_count {
	color: #3a87ad;
}
.autoinstall_list .list_item .info .meta .like_count {
	color: #d9534f;
}
.autoinstall_list .list_item .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.autoinstall_list .list_item .cover:after {
	display: none;
}

@media screen and (max-width: 960px) {
	.autoinstall_list .list_item {
		width: 100%;
	}
	.autoinstall_list .list_item .thumb {
		width: 90px;
		height: 60px;
	}
	.autoinstall_list .list_item .info .description {
		-webkit-line-clamp: 2;
	}
	.autoinstall_list .list_item .info .meta {
		flex-wrap: wrap;
		gap: 4px 12px;
	}
	.autoinstall_list .list_item .info .meta .author {
		flex: 0 0 100%;
		width: 100%;
	}
}
