@font-face {
	font-family: 'xeicon';
	src: url('fonts/xeicon.eot') format('embedded-opentype'),
		 url('fonts/xeicon.woff') format('woff'),
		 url('fonts/xeicon.ttf') format('truetype'),
		 url('fonts/xeicon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'xeicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.xe-plus:before {
	content: "\e600";
}

.xe-plus-circle:before {
	content: "\e601";
}

.xe-plus-square:before {
	content: "\e602";
}

.xe-minus:before {
	content: "\e603";
}

.xe-minus-circle:before {
	content: "\e604";
}

.xe-minus-square:before {
	content: "\e605";
}

.xe-check:before {
	content: "\e606";
}

.xe-check-circle:before {
	content: "\e607";
}

.xe-check-square:before {
	content: "\e608";
}

.xe-close:before {
	content: "\e609";
}

.xe-close-circle:before {
	content: "\e60a";
}

.xe-close-square:before {
	content: "\e60b";
}

.xe-angle-left:before {
	content: "\e60c";
}

.xe-left-circle:before {
	content: "\e60d";
}

.xe-left-square:before {
	content: "\e60e";
}

.xe-angle-right:before {
	content: "\e60f";
}

.xe-right-circle:before {
	content: "\e610";
}

.xe-right-square:before {
	content: "\e611";
}

.xe-angle-up:before {
	content: "\e612";
}

.xe-up-circle:before {
	content: "\e613";
}

.xe-up-square:before {
	content: "\e614";
}

.xe-angle-down:before {
	content: "\e615";
}

.xe-down-circle:before {
	content: "\e616";
}

.xe-down-square:before {
	content: "\e617";
}

.xe-arrow-left:before {
	content: "\e618";
}

.xe-arrow-right:before {
	content: "\e619";
}

.xe-arrow-up:before {
	content: "\e61a";
}

.xe-arrow-down:before {
	content: "\e61b";
}

.xe-angle-double-left:before {
	content: "\e61c";
}

.xe-angle-double-right:before {
	content: "\e61d";
}

.xe-angle-double-up:before {
	content: "\e61e";
}

.xe-angle-double-down:before {
	content: "\e61f";
}

.xe-caret-left:before {
	content: "\e620";
}

.xe-caret-left-circle:before {
	content: "\e621";
}

.xe-caret-left-square:before {
	content: "\e622";
}

.xe-caret-right:before {
	content: "\e623";
}

.xe-caret-right-circle:before {
	content: "\e624";
}

.xe-caret-right-square:before {
	content: "\e625";
}

.xe-caret-up:before {
	content: "\e626";
}

.xe-caret-up-circle:before {
	content: "\e627";
}

.xe-caret-up-square:before {
	content: "\e628";
}

.xe-caret-down:before {
	content: "\e629";
}

.xe-caret-down-circle:before {
	content: "\e62a";
}

.xe-caret-down-square:before {
	content: "\e62b";
}

.xe-arrows:before {
	content: "\e62c";
}

.xe-arrows-alt:before {
	content: "\e62d";
}

.xe-expand-square:before {
	content: "\e62e";
}

.xe-compress-square:before {
	content: "\e62f";
}

.xe-arrows-h:before {
	content: "\e630";
}

.xe-arrows-v:before {
	content: "\e631";
}

.xe-expand:before {
	content: "\e632";
}

.xe-compress:before {
	content: "\e633";
}

.xe-refresh:before {
	content: "\e634";
}

.xe-power-off:before {
	content: "\e635";
}

.xe-alt:before {
	content: "\e636";
}

.xe-command:before {
	content: "\e637";
}

.xe-esc:before {
	content: "\e638";
}

.xe-eye:before {
	content: "\e639";
}

.xe-toggle:before {
	content: "\e63a";
}

.xe-toggle-off:before {
	content: "\e63b";
}

.xe-toggle-on:before {
	content: "\e63c";
}

.xe-spinner:before {
	content: "\e63d";
}

.xe-ellipsis-h:before {
	content: "\e63e";
}

.xe-download-circle:before {
	content: "\e63f";
}

.xe-upload-circle:before {
	content: "\e640";
}

.xe-download:before {
	content: "\e641";
}

.xe-upload:before {
	content: "\e642";
}

.xe-download-disk:before {
	content: "\e643";
}

.xe-upload-disk:before {
	content: "\e644";
}

.xe-archive:before {
	content: "\e645";
}

.xe-download-my:before {
	content: "\e646";
}

.xe-download-bottom:before {
	content: "\e647";
}

.xe-download-caret:before {
	content: "\e648";
}

.xe-cloud:before {
	content: "\e649";
}

.xe-cloud-upload:before {
	content: "\e64a";
}

.xe-cloud-download:before {
	content: "\e64b";
}

.xe-upload-square:before {
	content: "\e64c";
}

.xe-download-square:before {
	content: "\e64d";
}

.xe-share:before {
	content: "\e64e";
}

.xe-share-l:before {
	content: "\e64f";
}

.xe-share-alt:before {
	content: "\e650";
}

.xe-share-arrow-alt:before {
	content: "\e651";
}

.xe-cloud-plus:before {
	content: "\e652";
}

.xe-cloud-minus:before {
	content: "\e653";
}

.xe-external-share:before {
	content: "\e654";
}

.xe-external-link:before {
	content: "\e655";
}

.xe-flag:before {
	content: "\e656";
}

.xe-flag-line:before {
	content: "\e657";
}

.xe-notice:before {
	content: "\e658";
}

.xe-announce:before {
	content: "\e659";
}

.xe-rss-square:before {
	content: "\e65a";
}

.xe-code-fork:before {
	content: "\e65b";
}

.xe-Sitemap:before {
	content: "\e65c";
}

.xe-wifi-tower:before {
	content: "\e65d";
}

.xe-wifi:before {
	content: "\e65e";
}

.xe-signal-circle:before {
	content: "\e65f";
}

.xe-Antenna:before {
	content: "\e660";
}

.xe-marquee-add:before {
	content: "\e661";
}

.xe-marquee-remove:before {
	content: "\e662";
}

.xe-exchange:before {
	content: "\e663";
}

.xe-repeat:before {
	content: "\e664";
}

.xe-share-arrow-alt2:before {
	content: "\e665";
}

.xe-scissors:before {
	content: "\e666";
}

.xe-pen:before {
	content: "\e667";
}

.xe-pencil:before {
	content: "\e668";
}

.xe-circle:before {
	content: "\e669";
}

.xe-slash-circle:before {
	content: "\e66a";
}

.xe-magnifier-expand:before {
	content: "\e66b";
}

.xe-magnifier-reduce:before {
	content: "\e66c";
}

.xe-magnifier:before {
	content: "\e66d";
}

.xe-pin:before {
	content: "\e66e";
}

.xe-clip:before {
	content: "\e66f";
}

.xe-key:before {
	content: "\e670";
}

.xe-key-classic:before {
	content: "\e671";
}

.xe-wastebasket:before {
	content: "\e672";
}

.xe-eyes:before {
	content: "\e673";
}

.xe-eye-slash:before {
	content: "\e674";
}

.xe-slip-tongs:before {
	content: "\e675";
}

.xe-lock:before {
	content: "\e676";
}

.xe-unlock:before {
	content: "\e677";
}

.xe-calculator:before {
	content: "\e678";
}

.xe-target:before {
	content: "\e679";
}

.xe-pen-point:before {
	content: "\e67a";
}

.xe-pencil-point:before {
	content: "\e67b";
}

.xe-brush-point:before {
	content: "\e67c";
}

.xe-magnet:before {
	content: "\e67d";
}

.xe-cube:before {
	content: "\e67e";
}

.xe-brush:before {
	content: "\e67f";
}

.xe-type:before {
	content: "\e680";
}

.xe-paint-bucket:before {
	content: "\e681";
}

.xe-crop:before {
	content: "\e682";
}

.xe-marquee:before {
	content: "\e683";
}

.xe-color:before {
	content: "\e684";
}

.xe-ruler:before {
	content: "\e685";
}

.xe-ruler-triangle:before {
	content: "\e686";
}

.xe-magic:before {
	content: "\e687";
}

.xe-eyedropper:before {
	content: "\e688";
}

.xe-canvas:before {
	content: "\e689";
}

.xe-tool:before {
	content: "\e68a";
}

.xe-repair:before {
	content: "\e68b";
}

.xe-align-justify:before {
	content: "\e68c";
}

.xe-align-left:before {
	content: "\e68d";
}

.xe-align-center:before {
	content: "\e68e";
}

.xe-align-right:before {
	content: "\e68f";
}

.xe-layout-full:before {
	content: "\e690";
}

.xe-layout-side-left:before {
	content: "\e691";
}

.xe-layout-side-right:before {
	content: "\e692";
}

.xe-layout-left-two:before {
	content: "\e693";
}

.xe-layout-side-center:before {
	content: "\e694";
}

.xe-layout-side-three:before {
	content: "\e695";
}

.xe-layout-grid:before {
	content: "\e696";
}

.xe-layout-top:before {
	content: "\e697";
}

.xe-layout-top-left:before {
	content: "\e698";
}

.xe-layout-top-grid:before {
	content: "\e699";
}

.xe-layout-top-colum:before {
	content: "\e69a";
}

.xe-layout-top-center:before {
	content: "\e69b";
}

.xe-layout-top-left-mid:before {
	content: "\e69c";
}

.xe-layout-top-right:before {
	content: "\e69d";
}

.xe-bold:before {
	content: "\e69e";
}

.xe-underline:before {
	content: "\e69f";
}

.xe-italic:before {
	content: "\e6a0";
}

.xe-Caps:before {
	content: "\e6a1";
}

.xe-strikethrough:before {
	content: "\e6a2";
}

.xe-paragraph:before {
	content: "\e6a3";
}

.xe-list-ul:before {
	content: "\e6a4";
}

.xe-list-ul-square:before {
	content: "\e6a5";
}

.xe-list-ol:before {
	content: "\e6a6";
}

.xe-list-ul-l:before {
	content: "\e6a7";
}

.xe-indent:before {
	content: "\e6a8";
}

.xe-indent-arrow:before {
	content: "\e6a9";
}

.xe-dedent:before {
	content: "\e6aa";
}

.xe-dedent-arrow:before {
	content: "\e6ab";
}

.xe-link:before {
	content: "\e6ac";
}

.xe-link-l:before {
	content: "\e6ad";
}

.xe-unlink:before {
	content: "\e6ae";
}

.xe-link-clip:before {
	content: "\e6af";
}

.xe-content-right:before {
	content: "\e6b0";
}

.xe-content-left:before {
	content: "\e6b1";
}

.xe-content-grid:before {
	content: "\e6b2";
}

.xe-eraser:before {
	content: "\e6b3";
}

.xe-lineheight-plus:before {
	content: "\e6b4";
}

.xe-lineheight-minus:before {
	content: "\e6b5";
}

.xe-lineheight:before {
	content: "\e6b6";
}

.xe-code:before {
	content: "\e6b7";
}

.xe-rotate-right:before {
	content: "\e6b8";
}

.xe-rotate-left:before {
	content: "\e6b9";
}

.xe-stack-paper:before {
	content: "\e6ba";
}

.xe-paper:before {
	content: "\e6bb";
}

.xe-user:before {
	content: "\e6bc";
}

.xe-user-plus:before {
	content: "\e6bd";
}

.xe-user-minus:before {
	content: "\e6be";
}

.xe-user-check:before {
	content: "\e6bf";
}

.xe-users:before {
	content: "\e6c0";
}

.xe-user-info:before {
	content: "\e6c1";
}

.xe-user-add:before {
	content: "\e6c2";
}

.xe-user-circle:before {
	content: "\e6c3";
}

.xe-user-folder:before {
	content: "\e6c4";
}

.xe-user-address:before {
	content: "\e6c5";
}

.xe-user-lock:before {
	content: "\e6c6";
}

.xe-female:before {
	content: "\e6c7";
}

.xe-male:before {
	content: "\e6c8";
}

.xe-gender:before {
	content: "\e6c9";
}

.xe-man:before {
	content: "\e6ca";
}

.xe-community:before {
	content: "\e6cb";
}

.xe-email:before {
	content: "\e6cc";
}

.xe-mail-envelope:before {
	content: "\e6cd";
}

.xe-mail-card:before {
	content: "\e6ce";
}

.xe-mail-postcard:before {
	content: "\e6cf";
}

.xe-mail-open:before {
	content: "\e6d0";
}

.xe-mail-open-letter:before {
	content: "\e6d1";
}

.xe-mail-at:before {
	content: "\e6d2";
}

.xe-postbox:before {
	content: "\e6d3";
}

.xe-mail-reply:before {
	content: "\e6d4";
}

.xe-send:before {
	content: "\e6d5";
}

.xe-attach:before {
	content: "\e6d6";
}

.xe-mail-refresh:before {
	content: "\e6d7";
}

.xe-message-bubble:before {
	content: "\e6d8";
}

.xe-message-left:before {
	content: "\e6d9";
}

.xe-message-right:before {
	content: "\e6da";
}

.xe-message-left-list:before {
	content: "\e6db";
}

.xe-message-left-ellipsis:before {
	content: "\e6dc";
}

.xe-comment-list:before {
	content: "\e6dd";
}

.xe-comment-bubble:before {
	content: "\e6de";
}

.xe-comment-double:before {
	content: "\e6df";
}

.xe-status-check:before {
	content: "\e6e0";
}

.xe-status-check-box:before {
	content: "\e6e1";
}

.xe-status-check-boxout:before {
	content: "\e6e2";
}

.xe-status-check-circle:before {
	content: "\e6e3";
}

.xe-status-check-circleout:before {
	content: "\e6e4";
}

.xe-status-check-shield:before {
	content: "\e6e5";
}

.xe-status-check-shieldout:before {
	content: "\e6e6";
}

.xe-status-check-commentout:before {
	content: "\e6e7";
}

.xe-status-check-comment:before {
	content: "\e6e8";
}

.xe-status-check-home:before {
	content: "\e6e9";
}

.xe-status-check-homeout:before {
	content: "\e6ea";
}

.xe-ban:before {
	content: "\e6eb";
}

.xe-ban-square:before {
	content: "\e6ec";
}

.xe-ban-circle:before {
	content: "\e6ed";
}

.xe-ban-octagonal:before {
	content: "\e6ee";
}

.xe-ban-briefcase:before {
	content: "\e6ef";
}

.xe-unknown-square:before {
	content: "\e6f0";
}

.xe-unknown-circle:before {
	content: "\e6f1";
}

.xe-ok-square:before {
	content: "\e6f2";
}

.xe-ok-circle:before {
	content: "\e6f3";
}

.xe-ban-l:before {
	content: "\e6f4";
}

.xe-rollback:before {
	content: "\e6f5";
}

.xe-rollback-circle:before {
	content: "\e6f6";
}

.xe-exclamation-circle:before {
	content: "\e6f7";
}

.xe-exclamation-triangle:before {
	content: "\e6f8";
}

.xe-exclamation-octagon:before {
	content: "\e6f9";
}

.xe-information-circle:before {
	content: "\e6fa";
}

.xe-help-circle:before {
	content: "\e6fb";
}

.xe-skull:before {
	content: "\e6fc";
}

.xe-image:before {
	content: "\e6fd";
}

.xe-images:before {
	content: "\e6fe";
}

.xe-photo:before {
	content: "\e6ff";
}

.xe-photo-camera-a:before {
	content: "\e700";
}

.xe-photo-camera-b:before {
	content: "\e701";
}

.xe-photo-camera-c:before {
	content: "\e702";
}

.xe-photo-camera-retro:before {
	content: "\e703";
}

.xe-photo-cameracorder:before {
	content: "\e704";
}

.xe-backward-arrow:before {
	content: "\e705";
}

.xe-forward-arrow:before {
	content: "\e706";
}

.xe-backward-double-arrow:before {
	content: "\e707";
}

.xe-forward-double-arrow:before {
	content: "\e708";
}

.xe-stop:before {
	content: "\e709";
}

.xe-backward-double-circle:before {
	content: "\e70a";
}

.xe-forward-double-circle:before {
	content: "\e70b";
}

.xe-forward-double-circle2:before {
	content: "\e70c";
}

.xe-backward-double-circle2:before {
	content: "\e70d";
}

.xe-backward-end-circle:before {
	content: "\e70e";
}

.xe-forward-end-circle:before {
	content: "\e70f";
}

.xe-backward-end-double-circle:before {
	content: "\e710";
}

.xe-forward-end-double-circle:before {
	content: "\e711";
}

.xe-stop-circle:before {
	content: "\e712";
}

.xe-play-circle:before {
	content: "\e713";
}

.xe-backward-double-square:before {
	content: "\e714";
}

.xe-forward-double-square:before {
	content: "\e715";
}

.xe-backward-end-square:before {
	content: "\e716";
}

.xe-forward-end-square:before {
	content: "\e717";
}

.xe-backward-end-double-square:before {
	content: "\e718";
}

.xe-forward-end-double-square:before {
	content: "\e719";
}

.xe-stop-square:before {
	content: "\e71a";
}

.xe-play-square:before {
	content: "\e71b";
}

.xe-record:before {
	content: "\e71c";
}

.xe-play:before {
	content: "\e71d";
}

.xe-forward-double-angle:before {
	content: "\e71f";
}

.xe-backward-double-angle:before {
	content: "\e720";
}

.xe-pause:before {
	content: "\e721";
}

.xe-forward-end-angle:before {
	content: "\e722";
}

.xe-backward-end-angle:before {
	content: "\e723";
}

.xe-h-41:before {
	content: "\e724";
}

.xe-record-circle:before {
	content: "\e725";
}

.xe-forward-double-circle-o:before {
	content: "\e726";
}

.xe-backward-double-circle-o:before {
	content: "\e727";
}

.xe-pause-circle-o:before {
	content: "\e728";
}

.xe-pausenow-circle-o:before {
	content: "\e729";
}

.xe-video:before {
	content: "\e72a";
}

.xe-play-movie:before {
	content: "\e72b";
}

.xe-play-tv:before {
	content: "\e72c";
}

.xe-play-tv-wide:before {
	content: "\e72d";
}

.xe-video-recoder:before {
	content: "\e72e";
}

.xe-play-film:before {
	content: "\e72f";
}

.xe-film:before {
	content: "\e730";
}

.xe-sound-max:before {
	content: "\e731";
}

.xe-sound-mid:before {
	content: "\e732";
}

.xe-sound-min:before {
	content: "\e733";
}

.xe-sound-plus:before {
	content: "\e734";
}

.xe-sound-minus:before {
	content: "\e735";
}

.xe-sound-off:before {
	content: "\e736";
}

.xe-sound-close:before {
	content: "\e737";
}

.xe-volume-circle:before {
	content: "\e738";
}

.xe-volume-off-circle:before {
	content: "\e739";
}

.xe-volume-max:before {
	content: "\e73a";
}

.xe-volume-mid:before {
	content: "\e73b";
}

.xe-volume-min:before {
	content: "\e73c";
}

.xe-volume-plus:before {
	content: "\e73d";
}

.xe-volume-minus:before {
	content: "\e73e";
}

.xe-volume-off:before {
	content: "\e73f";
}

.xe-volume-close:before {
	content: "\e740";
}

.xe-headset:before {
	content: "\e741";
}

.xe-mic:before {
	content: "\e742";
}

.xe-mic-off:before {
	content: "\e743";
}

.xe-microphone:before {
	content: "\e744";
}

.xe-mic-new:before {
	content: "\e745";
}

.xe-volume-bar:before {
	content: "\e746";
}

.xe-record-play:before {
	content: "\e747";
}

.xe-mix-machine:before {
	content: "\e748";
}

.xe-music-note-a:before {
	content: "\e749";
}

.xe-music-note-b:before {
	content: "\e74a";
}

.xe-music-note-c:before {
	content: "\e74b";
}

.xe-speaker:before {
	content: "\e74c";
}

.xe-keyboard:before {
	content: "\e74d";
}

.xe-saxophone:before {
	content: "\e74e";
}

.xe-music-scale:before {
	content: "\e74f";
}

.xe-star:before {
	content: "\e750";
}

.xe-medal:before {
	content: "\e751";
}

.xe-medal-l:before {
	content: "\e752";
}

.xe-trophy:before {
	content: "\e753";
}

.xe-love-o:before {
	content: "\e754";
}

.xe-present:before {
	content: "\e755";
}

.xe-flag-triangle:before {
	content: "\e756";
}

.xe-tag-a:before {
	content: "\e757";
}

.xe-tag-left:before {
	content: "\e758";
}

.xe-tags:before {
	content: "\e759";
}

.xe-tag-thin:before {
	content: "\e75a";
}

.xe-tag-lefts:before {
	content: "\e75b";
}

.xe-heart:before {
	content: "\e75c";
}

.xe-marker-pin:before {
	content: "\e75d";
}

.xe-marker-point:before {
	content: "\e75e";
}

.xe-tag-plus:before {
	content: "\e75f";
}

.xe-bookmark:before {
	content: "\e760";
}

.xe-bookmark-left:before {
	content: "\e761";
}

.xe-bookmark-spread:before {
	content: "\e762";
}

.xe-marker-circle:before {
	content: "\e763";
}

.xe-marker-plus:before {
	content: "\e764";
}

.xe-marker-minus:before {
	content: "\e765";
}

.xe-marker-multiply:before {
	content: "\e766";
}

.xe-marker-circle-round:before {
	content: "\e767";
}

.xe-marker-plus-round:before {
	content: "\e768";
}

.xe-marker-minus-round:before {
	content: "\e769";
}

.xe-marker-multiply-round:before {
	content: "\e76a";
}

.xe-marker-circle-fat:before {
	content: "\e76b";
}

.xe-marker-plus-fat:before {
	content: "\e76c";
}

.xe-marker-minus-fat:before {
	content: "\e76d";
}

.xe-marker-multiply-fat:before {
	content: "\e76e";
}

.xe-map-marker:before {
	content: "\e76f";
}

.xe-map-folding:before {
	content: "\e770";
}

.xe-location-arrow:before {
	content: "\e771";
}

.xe-compass-a:before {
	content: "\e772";
}

.xe-compass-b:before {
	content: "\e773";
}

.xe-crosshairs:before {
	content: "\e774";
}

.xe-flag-wind:before {
	content: "\e775";
}

.xe-car:before {
	content: "\e776";
}

.xe-taxi:before {
	content: "\e777";
}

.xe-plane:before {
	content: "\e778";
}

.xe-monitor-mac:before {
	content: "\e779";
}

.xe-monitor:before {
	content: "\e77a";
}

.xe-laptop:before {
	content: "\e77b";
}

.xe-mouse:before {
	content: "\e77c";
}

.xe-mouse-wheel:before {
	content: "\e77d";
}

.xe-print-paper:before {
	content: "\e71e";
}

.xe-mobile:before {
	content: "\e77f";
}

.xe-mobile-phone:before {
	content: "\e780";
}

.xe-tablet:before {
	content: "\e781";
}

.xe-battery-full:before {
	content: "\e782";
}

.xe-battery-mid:before {
	content: "\e783";
}

.xe-battery-min:before {
	content: "\e784";
}

.xe-battery-non:before {
	content: "\e785";
}

.xe-disk-old:before {
	content: "\e786";
}

.xe-usb:before {
	content: "\e787";
}

.xe-memorycard:before {
	content: "\e788";
}

.xe-cd-r:before {
	content: "\e789";
}

.xe-hdd:before {
	content: "\e78a";
}

.xe-hardware-wifi:before {
	content: "\e78b";
}

.xe-calculators:before {
	content: "\e78c";
}

.xe-plug:before {
	content: "\e78d";
}

.xe-gamepad:before {
	content: "\e78e";
}

.xe-gamepad-simple:before {
	content: "\e78f";
}

.xe-time-o:before {
	content: "\e790";
}

.xe-time-point:before {
	content: "\e791";
}

.xe-clock:before {
	content: "\e792";
}

.xe-timer:before {
	content: "\e793";
}

.xe-time-forward:before {
	content: "\e794";
}

.xe-time-back:before {
	content: "\e795";
}

.xe-time-hour:before {
	content: "\e796";
}

.xe-alarm-clock:before {
	content: "\e797";
}

.xe-bell:before {
	content: "\e798";
}

.xe-bell-ring:before {
	content: "\e799";
}

.xe-bell-mute:before {
	content: "\e79a";
}

.xe-sandwatch:before {
	content: "\e79b";
}

.xe-sandwatch-forward:before {
	content: "\e79c";
}

.xe-watch:before {
	content: "\e79d";
}

.xe-time-day:before {
	content: "\e79e";
}

.xe-time-night:before {
	content: "\e79f";
}

.xe-calendars:before {
	content: "\e7a0";
}

.xe-calendars-month:before {
	content: "\e7a1";
}

.xe-calendars-week:before {
	content: "\e7a2";
}

.xe-calendars-time:before {
	content: "\e7a3";
}

.xe-calendars-add:before {
	content: "\e7a4";
}

.xe-calendars-remove:before {
	content: "\e7a5";
}

.xe-calendars-delete:before {
	content: "\e7a6";
}

.xe-calendars-check:before {
	content: "\e7a7";
}

.xe-file:before {
	content: "\e7a8";
}

.xe-file-add:before {
	content: "\e7a9";
}

.xe-file-remove:before {
	content: "\e7aa";
}

.xe-file-text:before {
	content: "\e7ab";
}

.xe-documents:before {
	content: "\e7ac";
}

.xe-documents-twin:before {
	content: "\e7ad";
}

.xe-file-image:before {
	content: "\e7ae";
}

.xe-file-movie:before {
	content: "\e7af";
}

.xe-file-check:before {
	content: "\e7b0";
}

.xe-file-music:before {
	content: "\e7b1";
}

.xe-file-code:before {
	content: "\e7b2";
}

.xe-file-zip:before {
	content: "\e7b3";
}

.xe-file-excel:before {
	content: "\e7b4";
}

.xe-file-word:before {
	content: "\e7b5";
}

.xe-file-powerpoint:before {
	content: "\e7b6";
}

.xe-file-time:before {
	content: "\e7b7";
}

.xe-file-check-o:before {
	content: "\e7b8";
}

.xe-file-add-o:before {
	content: "\e7b9";
}

.xe-file-remove-o:before {
	content: "\e7ba";
}

.xe-file-upload-o:before {
	content: "\e7bb";
}

.xe-file-download-o:before {
	content: "\e7bc";
}

.xe-file-bookmark:before {
	content: "\e7bd";
}

.xe-file-lock:before {
	content: "\e7be";
}

.xe-folder:before {
	content: "\e7bf";
}

.xe-folder-open:before {
	content: "\e7c0";
}

.xe-folder-add:before {
	content: "\e7c1";
}

.xe-folder-check:before {
	content: "\e7c2";
}

.xe-folder-remove:before {
	content: "\e7c3";
}

.xe-folder-delete:before {
	content: "\e7c4";
}

.xe-folder-upload:before {
	content: "\e7c5";
}

.xe-folder-download:before {
	content: "\e7c6";
}

.xe-folder-bookmark:before {
	content: "\e7c7";
}

.xe-folder-lock:before {
	content: "\e7c8";
}

.xe-folder-time:before {
	content: "\e7c9";
}

.xe-folder-music:before {
	content: "\e7ca";
}

.xe-folder-image:before {
	content: "\e7cb";
}

.xe-folder-movie:before {
	content: "\e7cc";
}

.xe-folder-code:before {
	content: "\e7cd";
}

.xe-folder-zip:before {
	content: "\e7ce";
}

.xe-windows:before {
	content: "\e7cf";
}

.xe-windows-text:before {
	content: "\e7d0";
}

.xe-windows-forbidden:before {
	content: "\e7d1";
}

.xe-windows-time:before {
	content: "\e7d2";
}

.xe-windows-add:before {
	content: "\e7d3";
}

.xe-windows-remove:before {
	content: "\e7d4";
}

.xe-windows-delete:before {
	content: "\e7d5";
}

.xe-windows-check:before {
	content: "\e7d6";
}

.xe-windows-download:before {
	content: "\e7d7";
}

.xe-windows-upload:before {
	content: "\e7d8";
}

.xe-windows-lock:before {
	content: "\e7d9";
}

.xe-windows-forward:before {
	content: "\e7da";
}

.xe-windows-refresh:before {
	content: "\e7db";
}

.xe-windows-home:before {
	content: "\e7dc";
}

.xe-windows-favorite:before {
	content: "\e7dd";
}

.xe-windows-look:before {
	content: "\e7de";
}

.xe-server:before {
	content: "\e7df";
}

.xe-server-folder:before {
	content: "\e7e0";
}

.xe-server-hardware:before {
	content: "\e7e1";
}

.xe-server-forbidden:before {
	content: "\e7e2";
}

.xe-server-time:before {
	content: "\e7e3";
}

.xe-server-add:before {
	content: "\e7e4";
}

.xe-server-remove:before {
	content: "\e7e5";
}

.xe-server-delete:before {
	content: "\e7e6";
}

.xe-server-check:before {
	content: "\e7e7";
}

.xe-server-download:before {
	content: "\e7e8";
}

.xe-server-upload:before {
	content: "\e7e9";
}

.xe-server-lock:before {
	content: "\e7ea";
}

.xe-server-forward:before {
	content: "\e7eb";
}

.xe-server-refresh:before {
	content: "\e7ec";
}

.xe-server-look:before {
	content: "\e7ed";
}

.xe-html5:before {
	content: "\e7ee";
}

.xe-css3:before {
	content: "\e7ef";
}

.xe-ruby:before {
	content: "\e7f0";
}

.xe-radiation:before {
	content: "\e7f1";
}

.xe-rocket:before {
	content: "\e7f2";
}

.xe-atom:before {
	content: "\e7f3";
}

.xe-shield-o:before {
	content: "\e7f4";
}

.xe-saturn:before {
	content: "\e7f5";
}

.xe-globus:before {
	content: "\e7f6";
}

.xe-funnel:before {
	content: "\e7f7";
}

.xe-chart-line:before {
	content: "\e7f8";
}

.xe-chart-bar:before {
	content: "\e7f9";
}

.xe-chart-area:before {
	content: "\e7fa";
}

.xe-chart-wave:before {
	content: "\e7fb";
}

.xe-cocktail:before {
	content: "\e7fc";
}

.xe-icecream:before {
	content: "\e7fd";
}

.xe-fork:before {
	content: "\e7fe";
}

.xe-spoon:before {
	content: "\e7ff";
}

.xe-knife:before {
	content: "\e800";
}

.xe-burger:before {
	content: "\e801";
}

.xe-rice:before {
	content: "\e802";
}

.xe-cup:before {
	content: "\e803";
}

.xe-lemon:before {
	content: "\e804";
}

.xe-orange:before {
	content: "\e805";
}

.xe-watermelon:before {
	content: "\e806";
}

.xe-cake:before {
	content: "\e807";
}

.xe-pill:before {
	content: "\e808";
}

.xe-glasses:before {
	content: "\e809";
}

.xe-umbrella:before {
	content: "\e80a";
}

.xe-bomb:before {
	content: "\e80b";
}

.xe-bonfire:before {
	content: "\e80c";
}

.xe-tent:before {
	content: "\e80d";
}

.xe-handbag:before {
	content: "\e80e";
}

.xe-briefcase-l:before {
	content: "\e80f";
}

.xe-credit-card:before {
	content: "\e810";
}

.xe-taxi-square:before {
	content: "\e811";
}

.xe-idea:before {
	content: "\e812";
}

.xe-telephone:before {
	content: "\e813";
}

.xe-book-spread:before {
	content: "\e814";
}

.xe-evergreens:before {
	content: "\e815";
}

.xe-carts:before {
	content: "\e816";
}

.xe-tree:before {
	content: "\e817";
}

.xe-leaf:before {
	content: "\e818";
}

.xe-facebook:before {
	content: "\e819";
}

.xe-google-plus:before {
	content: "\e81a";
}

.xe-twitter:before {
	content: "\e81b";
}

.xe-vk:before {
	content: "\e81c";
}

.xe-blogger:before {
	content: "\e81d";
}

.xe-hubpages:before {
	content: "\e81e";
}

.xe-medium:before {
	content: "\e81f";
}

.xe-naver:before {
	content: "\e820";
}

.xe-tumblr:before {
	content: "\e821";
}

.xe-xing:before {
	content: "\e822";
}

.xe-bloglovin:before {
	content: "\e823";
}

.xe-stumbleupon:before {
	content: "\e824";
}

.xe-delicious:before {
	content: "\e825";
}

.xe-linkedin:before {
	content: "\e826";
}

.xe-pocket:before {
	content: "\e827";
}

.xe-feedly:before {
	content: "\e828";
}

.xe-social-rssfeed:before {
	content: "\e829";
}

.xe-digg:before {
	content: "\e82a";
}

.xe-reddit:before {
	content: "\e82b";
}

.xe-social-email:before {
	content: "\e82c";
}

.xe-social-print:before {
	content: "\e82d";
}

.xe-github:before {
	content: "\e82e";
}

.xe-git:before {
	content: "\e82f";
}

.xe-hunie:before {
	content: "\e830";
}

.xe-trello:before {
	content: "\e831";
}

.xe-yobi:before {
	content: "\e832";
}

.xe-skillshare:before {
	content: "\e833";
}

.xe-slideshare:before {
	content: "\e834";
}

.xe-stackoverflow:before {
	content: "\e835";
}

.xe-flickr:before {
	content: "\e836";
}

.xe-instagram:before {
	content: "\e837";
}

.xe-kakaostory:before {
	content: "\e838";
}

.xe-path:before {
	content: "\e839";
}

.xe-behance:before {
	content: "\e83a";
}

.xe-deviantart:before {
	content: "\e83b";
}

.xe-dribbble:before {
	content: "\e83c";
}

.xe-pinterest:before {
	content: "\e83d";
}

.xe-evernote:before {
	content: "\e83e";
}

.xe-onenote:before {
	content: "\e83f";
}

.xe-goodreads:before {
	content: "\e840";
}

.xe-kickstarter:before {
	content: "\e841";
}

.xe-senscritique:before {
	content: "\e842";
}

.xe-myplace:before {
	content: "\e843";
}

.xe-soundcloud:before {
	content: "\e844";
}

.xe-vimeo:before {
	content: "\e845";
}

.xe-youtube:before {
	content: "\e846";
}

.xe-foursquare:before {
	content: "\e847";
}

.xe-trover:before {
	content: "\e848";
}

.xe-facebook-messenger:before {
	content: "\e849";
}

.xe-kakaotalk:before {
	content: "\e84a";
}

.xe-line-messenger:before {
	content: "\e84b";
}

.xe-skype:before {
	content: "\e84c";
}

.xe-telegram:before {
	content: "\e84d";
}

.xe-wechat:before {
	content: "\e84e";
}

.xe-whatsapp:before {
	content: "\e84f";
}

.xe-bitrix:before {
	content: "\e850";
}

.xe-concrete5:before {
	content: "\e851";
}

.xe-dot-cms:before {
	content: "\e852";
}

.xe-drupal:before {
	content: "\e853";
}

.xe-expressionengine:before {
	content: "\e854";
}

.xe-ghost:before {
	content: "\e855";
}

.xe-joomla:before {
	content: "\e856";
}

.xe-kimsq:before {
	content: "\e857";
}

.xe-magento:before {
	content: "\e858";
}

.xe-opencart:before {
	content: "\e859";
}

.xe-oscommerce:before {
	content: "\e85a";
}

.xe-prestashop:before {
	content: "\e85b";
}

.xe-silverstripe:before {
	content: "\e85c";
}

.xe-typo3:before {
	content: "\e85d";
}

.xe-ubercart:before {
	content: "\e85e";
}

.xe-vbulletin:before {
	content: "\e85f";
}

.xe-wix:before {
	content: "\e860";
}

.xe-virtuemart:before {
	content: "\e861";
}

.xe-wordpress:before {
	content: "\e862";
}

.xe-xpressengine:before {
	content: "\e863";
}

.xe-zencart:before {
	content: "\e864";
}

