.editor_window {
  width:550px;
  text-align:center;
}

.editor_title {
  font-size:10pt;
  font-weight:bold;
  clear:both;
  height:20px;
  background-color:#555555;
  color:#EFEFEF;
  vertical-align:middle;
  padding-top:5px;
  border-bottom:1px solid #000000;
  text-align:center;
}

.header {
  float:left;
  width:100px;
  clear:left;
  text-align:left;
  font-weight:bold;
  margin:5px;
  font-size:9pt;
  font-size:9pt;
}

.body {
  float:left;
  width:405px;
  text-align:left;
  margin:5px;
  font-size:9pt;
}

.body label {
  cursor:pointer;
  font-size:9pt;
}

.editor_input {
  width:50px;
  height:13px;
  font-size:9pt;
  border:1px solid #AAAAAA;
}

.editor_input_long {
  width:350px;
  height:13px;
  font-size:9pt;
  border:1px solid #AAAAAA;
}

.editor_select {
  width:80px;
  height:14px;
  font-size:9pt;
}

.editor_button_area {
  clear:both;
  text-align:center;
  height:25px;
  padding-top:3px;
  background-color:#EEEEEE;
}

.editor_button {
  margin-top:4px;
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  height:16px;
  font-size:8pt;
}

img.color_icon {
  width:14px;
  height:14px;
  border:1px solid #FFFFFF;
}

img.color_icon_over {
  width:14px;
  height:14px;
  border:1px solid #000000;
  cursor:pointer;
}

img.border_preview_color {
  width:30px;
  height:16px;
  border:1px solid #000000;
  background-color:#88EE22;
}

img.bg_preview_color {
  width:30px;
  height:16px;
  border:1px solid #000000;
  background-color:#FFFFFF;
}
