.DS_Store
Thumbs.db

/config/config.user.inc.php
/config/install.config.php
/files/
/build/
/libs/

codeception.yml
/tests/_output/
/tests/*.suite.yml
/tests/_support/InstallTester.php
/tests/_support/UnitTester.php
/tests/_support/_generated/

/node_modules/
/bower_components/
composer.phar
codecept.phar
phpstan.phar

.idea
*.sublime-workspace
*.sublime-project
.codeintel
.vscode
error_log
phpstan.neon
