.DS_Store
Thumbs.db

config.user.inc.php
/files/
/build/

codeception.yml
/tests/_output/
/tests/*.suite.yml

/node_modules/
/bower_components/
/vendor/
composer.phar
composer.lock

.idea
*.sublime-workspace
*.sublime-project
.codeintel

