<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispNcenterliteAdminConfig" type="view" admin_index="true" menu_name="ncenterlite" menu_index="true" />
		<action name="dispNcenterliteNotifyList" type="view" />
		<action name="dispNcenterliteAdminList" type="view" />
		<action name="dispNcenterliteUserConfig" type="view" />
		<action name="procNcenterliteUserConfig" type="controller" />
		<action name="procNcenterliteAdminInsertConfig" type="controller" ruleset="insertConfig" />
		<action name="procNcenterliteAdminDeleteNofity" type="controller" />
		<action name="procNcenterliteAdminInsertDummyData" type="controller" />
		<action name="procNcenterliteAdminInsertPushData" type="controller" />
		<action name="procNcenterliteAdminEnviromentGatheringAgreement" type="controller" />
		<action name="procNcenterliteNotifyRead" type="controller" />
		<action name="procNcenterliteNotifyReadAll" type="controller" />
		<action name="procNcenterliteRedirect" type="controller" method="GET|POST" />

		<action name="getColorsetList" type="model" />
		<action name="getMyNotifyListTpl" type="model" />
	</actions>
	<menus>
		<menu name="ncenterlite" type="all">
			<title xml:lang="ko">XE 알림센터 Lite</title>
			<title xml:lang="en">XE Notification Center Lite</title>
			<title xml:lang="jp">XE 通知センター Lite</title>
		</menu>
	</menus>
</module>
