<!--%import("slide_show.js")-->
<script type='text/javascript'>
  var _tmp_srl = {$srl};
  z_gallery_opacity[_tmp_srl] = 0.3;
  z_gallery_highlight_speed[_tmp_srl] = 50; // ms
  z_gallery_highlight_opacity[_tmp_srl] = 0.1;

  {foreach from=$file_list item=obj}
  {if $obj->thumbnail_url}
  z_add_gallery(_tmp_srl,'{$obj->thumbnail_url}','{$obj->download_url}');
  {/if}
  {/foreach}
</script>

<div style="border:1px solid #DDDDDD;">
<div id='zone_gallery_{$srl}' style='width:auto;background-Color:#FFFFFF;padding:10px 10px 10px 10px;text-align:center;'>
  <span style="color:#000000;font-size:8pt;">loading...</span>
</div>

<div id='zone_thumbnail_{$srl}' style='width:auto;background-Color:#FFFFFF;padding:10px 10px 10px 10px;text-align:center;'></div>
</div>

<script type='text/javascript'>
  _gallery_srl_list[_gallery_srl_list.length] = _tmp_srl;
  xAddEventListener(window,'load',z_start_gallery);
</script>

