<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="procPointAdminInsertPointModuleConfig" target="manager" />
    </permissions>
    <actions>
        <action name="dispPointAdminConfig" type="view" admin_index="true" menu_name="point" menu_index="true" />
        <action name="dispPointAdminModuleConfig" type="view" menu_name="point" />
        <action name="dispPointAdminPointList" type="view" menu_name="point" />

        <action name="procPointAdminInsertConfig" type="controller" ruleset="insertConfig" />
        <action name="procPointAdminInsertModuleConfig" type="controller" />
        <action name="procPointAdminUpdatePoint" type="controller" ruleset="updatePoint" />
        <action name="procPointAdminInsertPointModuleConfig" type="controller" />
        <action name="procPointAdminApplyPoint" type="controller" />
        <action name="procPointAdminReset" type="controller" />

        <action name="procPointAdminReCal" type="controller" />
        <action name="getMembersPointInfo" type="model" />
    </actions>
	<menus>
		<menu name="point">
			<title xml:lang="en">Point</title>
			<title xml:lang="ko">포인트</title>
			<title xml:lang="zh-CN">Point</title>
			<title xml:lang="jp">ポイント</title>
			<title xml:lang="es">Point</title>
			<title xml:lang="ru">Point</title>
			<title xml:lang="fr">Point</title>
			<title xml:lang="zh-TW">點數系統</title>
			<title xml:lang="vi">Point</title>
			<title xml:lang="mn">Point</title>
			<title xml:lang="tr">Point</title>
		</menu>
	</menus>
</module>
