.archive_list_normal {
}

.archive_list_normal .archive_list_box {
    margin-bottom:5px;
}

.archive_list_normal .archive_list_box .title_box {
    padding:5px;
    overflow:hidden;
    color:#888888;
}

.archive_list_normal .archive_list_box .title_box .title {
    font-weight:bold; 
}

.archive_list_normal .archive_list_box .archive_box {
    padding:5px;
    clear:both;
    border:3px solid #EEEEEE;
    overflow:hidden;
}

.archive_list_normal .archive_list_box .archive {
    margin-right:5px;
    color:#AAAAAA;
}

.archive_list_normal .archive_list_box .archive A {
    text-decoration:none;
    color:#555555;
}

.archive_list_normal .archive_list_box .archive A:hover {
    text-decoration:underline;
    color:#000000;
}

.archive_list_normal .archive_list_box .archive A:visited {
    color:#AAAAAA;
}

.archive_list_normal .archive_list_box .archive .archive A {
    font-size:7pt;
    font-family:tahoma;
    color:#AAAAAA;
    letter-spacing:-1px;
}
