div.archiveBox { padding-bottom:1em;}
div.archiveBox .header { padding:7px 0 0 12px; height:21px; _height:20px; background:#f5f5f5; }
*:first-child+html div.archiveBox .header { height:20px; color:#ef2121;}

div.archiveBox .header h2 { margin:0; padding:0; } 
div.archiveBox ul { margin:0; padding:.5em; overflow:hidden;}
div.archiveBox ul li { list-style:none;color:#a4a4a4; margin-right:.1em; line-height:1.5em; font-size:.9em;}
div.archiveBox ul li a { font-size:.9em; color:#a4a4a4;}
div.archiveBox ul li.typeA a { color:#717171; font-weight:bold;}
div.archiveBox ul li.typeB a { color:#3d3d3d;}
div.archiveBox ul li.typeC a { font-weight:bold;}
div.archiveBox .tag_sort { width:100%; border-top:1px dashed #ababab; border-bottom:1px dashed #ababab; text-align:center; overflow:hidden;}
