@charset "utf-8";
@import url(../../../../../../modules/admin/tpl/css/admin.css);

.image_align {
    margin:0px 0px 5px 0px;
    float:left;
    width:200px;
}

li {list-style:none; float:left; margin-right:.5em;}
