@charset "utf-8";

div.smsxe .container {
    position:relative;
    border:0 none;
    margin:0;
    padding:0;
    width:214px;
    height:500px;
    font-size:8pt;
    background:url('../images/phone_body.jpg') no-repeat;
}
div.smsxe .container input {
    font-size:8pt;
}

div.smsxe .content {
    position:absolute;
    font-family:돋움체;
    font-size:10pt;
    top:72px;
    left:37px;
    border:0 none;
    padding:4px;
    width:133px;
    height:158px;
    background:#F3F2F2;
}

div.smsxe .bth_addressbook {
    position:absolute;
    top:259px;
    left:48px;
    width:122px;
    height:26px;
    overflow:hidden;
    text-align:center;
    background:url('../images/btn_addressbook.gif') no-repeat;
}
div.smsxe .bth_addressbook a {
    display:block;
    font-weight:bold;
    padding:7px 0;
    color:#FFF;
    text-decoration:none;
}
div.smsxe .bth_addressbook span {
    color:#ED3C90;
}
div.smsxe .search_area {
    position:relative;
    top:297px;
    left:32px;
    width:149px;
    height:20px;
}
div.smsxe .search_area .input_box {
    position:absolute;
    top:0;
    margin:0;
    padding:0;
    width:125px;
    height:18px;
    border:1px solid #ABABA1;
    font-size:10pt;
    color:#3C3C3C;
    background:#DDDCC7;
}
div.smsxe .search_area .btn_search {
    position:absolute;
    top:0;
    right:0;
    border:0 none;
    margin:0;
    padding:0;
    width:21px;
    height:20px;
    text-indent:-1000em;
    background:url('../images/btn_search.gif') no-repeat;
}
div.smsxe .send_pcs_list {
    position:absolute;
    top:325px;
    left:32px;
    width:149px;
    height:60px;
    color:#CD6194;
    overflow:scroll;
    overflow-x:hidden;
}
div.smsxe .send_pcs_list span {
    padding:0;
    color:#3C3C3C;
}
div.smsxe .send_pcs_list ul {
    list-style:none;
    margin:0;
    padding:0;
}
div.smsxe .send_pcs_list li {
    padding:3px 0;
    background:url('../images/line_dot.gif') repeat-x bottom left;
}
div.smsxe .send_pcs_list input {
    border:0 none;
    margin:0 3px;
    padding:0;
    width:100px;
    color:#FFF;
    background:transparent;
}
div.smsxe .send_pcs_list .btn_delete {
    width:9px;
    height:9px;
    cursor:pointer;
}
div.smsxe .return_pcs {
    position:absolute;
    width:149px;
    height:20px;
    top:394px;
    left:32px;
    color:#FFF;
}
div.smsxe .return_pcs input {
    margin:0 0 0 4px;
    padding:0;
    border:1px solid #C2C2C2;
    width:84px;
    background:#ECECEC;
}
div.smsxe .submit_area {
    position:absolute;
    top:422px;
    left:32px;
    width:148px;
    height:26px;
}
div.smsxe .submit_area input {
    margin:0;
    padding:0;
    height:26px;
    border:0 none;
    color:#FFF;
    font-size:9pt;
    font-weight:bold;
    background:transparent;
}
div.smsxe .submit_area .btn_appoint {
    width:75px;
}
div.smsxe .submit_area .btn_submit {
    width:72px;
}
div.smsxe .status {
    position:absolute;
    top:242px;
    left:37px;
    width:141px;
    height:20px;
    text-align:center;
}
div.smsxe .status .status_byte,
div.smsxe .status .status_count {
    font-weight:bold;
}
