<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<actions>
		<action name="dispModuleSelectList" type="view" permission="all-managers" meta-noindex="true" />
		<action name="dispModuleSkinInfo" type="view" permission="all-managers" meta-noindex="true" />
		<action name="dispModuleFileBox" type="view" permission="root" meta-noindex="true" />
		<action name="dispModuleFileBoxAdd" type="view" permission="root" meta-noindex="true" />
		<action name="dispModuleChangeLang" type="mobile" />
		
		<action name="getModuleSkinInfoList" type="model" permission="root" />
		<action name="getFileBoxListHtml" type="model" permission="root" />
		<action name="getModuleInfoByMenuItemSrl" type="model" permission="root" />
		<action name="getLangListByLangcodeForAutoComplete" type="model" permission="manager" />
		<action name="getLangByLangcode" type="model" />
		
		<action name="procModuleFileBoxAdd" type="controller" permission="root" />
		<action name="procModuleFileBoxDelete" type="controller" permission="root" />
		
		<action name="dispModuleAdminContent" type="view" menu_name="installedModule" menu_index="true" admin_index="true" />
		<action name="dispModuleAdminCategory" type="view" menu_name="installedModule" />
		<action name="dispModuleAdminInfo" type="view" />
		<action name="dispModuleAdminModuleSetup" type="view" />
		<action name="dispModuleAdminModuleAdditionSetup" type="view" />
		<action name="dispModuleAdminModuleGrantSetup" type="view" />
		<action name="dispModuleAdminCopyModule" type="view" />
		<action name="dispModuleAdminFileBox" type="view" menu_name="filebox" menu_index="true" />
		<action name="dispModuleAdminLangcode" type="view" menu_name="multilingual" menu_index="true" />
		
		<action name="getModuleAdminModuleList" type="model" />
		<action name="getModuleAdminModuleInfo" type="model" />
		<action name="getModuleAdminGrant" type="model" />
		<action name="getModuleAdminLangCode" type="model" permission="manager" />
		<action name="getModuleAdminLangListByName" type="model" permission="manager" />
		<action name="getModuleAdminLangListByValue" type="model" permission="manager" />
		<action name="getModuleAdminModuleSearcherHtml" type="model" />
		<action name="getModuleAdminMultilingualHtml" type="model" permission="manager" />
		<action name="getModuleAdminLangListHtml" type="model" permission="manager" />
		
		<action name="procModuleAdminInsertCategory" type="controller" ruleset="insertCategory" />
		<action name="procModuleAdminUpdateCategory" type="controller" ruleset="updateCategory" />
		<action name="procModuleAdminDeleteCategory" type="controller" ruleset="deleteCategory" />
		<action name="procModuleAdminModuleSetup" type="controller" ruleset="insertModuleSetup" />
		<action name="procModuleAdminModuleGrantSetup" type="controller" ruleset="insertModulesGrant" />		
		<action name="procModuleAdminCopyModule" type="controller" ruleset="copyModule" />
		<action name="procModuleAdminInsertGrant" type="controller" permission="manager" check_var="module_srl" />
		<action name="procModuleAdminUpdateSkinInfo" type="controller" permission="manager" check_var="module_srl" />
		<action name="procModuleAdminInsertLang" type="controller" permission="manager" />
		<action name="procModuleAdminDeleteLang" type="controller" />
		<action name="procModuleAdminGetList" type="controller" />
		<action name="procModuleAdminSetDesignInfo" type="controller" />
		<action name="procModuleAdminUpdateUseMobile" type="controller" />
	</actions>
	<menus>
		<menu name="installedModule">
			<title xml:lang="en">Modules</title>
			<title xml:lang="ko">설치된 모듈</title>
			<title xml:lang="zh-CN">Modules</title>
			<title xml:lang="jp">モジュール</title>
			<title xml:lang="es">Modules</title>
			<title xml:lang="ru">Modules</title>
			<title xml:lang="fr">Modules</title>
			<title xml:lang="zh-TW">Modules</title>
			<title xml:lang="vi">Modules</title>
			<title xml:lang="mn">Modules</title>
			<title xml:lang="tr">Modules</title>
		</menu>
		<menu name="multilingual">
			<title xml:lang="en">Multilingual</title>
			<title xml:lang="ko">다국어</title>
			<title xml:lang="zh-CN">Multilingual</title>
			<title xml:lang="jp">多言語</title>
			<title xml:lang="es">Multilingual</title>
			<title xml:lang="ru">Multilingual</title>
			<title xml:lang="fr">Multilingual</title>
			<title xml:lang="zh-TW">多國語言</title>
			<title xml:lang="vi">Multilingual</title>
			<title xml:lang="mn">Multilingual</title>
			<title xml:lang="tr">Multilingual</title>
		</menu>
		<menu name="filebox">
			<title xml:lang="en">FileBox</title>
			<title xml:lang="ko">파일박스</title>
			<title xml:lang="zh-CN">FileBox</title>
			<title xml:lang="jp">ファイルボックス</title>
			<title xml:lang="es">FileBox</title>
			<title xml:lang="ru">FileBox</title>
			<title xml:lang="fr">FileBox</title>
			<title xml:lang="zh-TW">檔案盒</title>
			<title xml:lang="vi">FileBox</title>
			<title xml:lang="mn">FileBox</title>
			<title xml:lang="tr">FileBox</title>
		</menu>
	</menus>
</module>
