<?xml version="1.0" encoding="utf-8"?>
<module>
    <actions>
        <action name="dispContent" type="view" standalone="true" admin_index="true" />
        <action name="dispModuleList" type="view" standalone="true" />
        <action name="dispCategory" type="view" standalone="true" />

        <action name="procInsertCategory" type="controller" standalone="true" />
        <action name="procUpdateCategory" type="controller" standalone="true" />
    </actions>
</module>
