<!--%import("popup.css")-->
<!--%import("popup.js")-->
<!--%import("../lang")-->

<form action='./' method='post' id='fo' onSubmit="return false" style="display:inline">
  <div class="editor_area">
    <div class="editor_title">{$lang->html_editor}</div>
    <div class="editor_window">
      <div><textarea name="text" id='editor' class="editor_textarea"></textarea></div>
      <div class="editor_button">
        <input type='button' value='{$lang->cmd_insert}' onclick='insertHtml()' />
        <input type='button' value='{$lang->cmd_close}' onclick='window.close();' />
      </div>
    </div>
  </div>
</form>
