<!--%import("popup.css")-->
<!--%import("popup.js")-->

<div id="popHeadder">
    <h1>{$component_info->title} ver. {$component_info->version}</h1>
</div>

<form action='./' method='post' id='fo' onSubmit="return false" style="display:inline">

    <div id="popBody">

        <div><textarea name="text" id='editor' class="inputTypeText"></textarea></div>

    </div>

    <div id="popFooter">
        <ul class="buttonRight nospace">
            <li><a href="#" onclick="insertHtml()" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_insert}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
            <li><a href="#" onclick="window.close(); return false;" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_close}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
            <li><a href="#" onclick="winopen('./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}','ComponentInfo','left=10,top=10,width=10,height=10,resizable=no,scrollbars=no,toolbars=no');return false;" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->about_component}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
        </ul>
    </div>

</form>
