.editor_area {
  width:400px;
  background-color:#F3F3F3;
  text-align:center;
}

.editor_title {
  font-size:10pt;
  font-weight:bold;
  clear:both;
  height:20px;
  background-color:#555555;
  color:#EFEFEF;
  vertical-align:middle;
  padding-top:5px;
  border-bottom:1px solid #000000;
  text-align:center;
}

.editor_window {
  padding:4px;
}

.editor_textarea {
  width:385px;
  height:400px;
  border:1px solid #888888;
  clear:both;
  font-size:9pt;
}

.editor_button {
  text-align:center;
  height:16px;
  font-size:9pt;
}

.editor_button input {
  margin-top:4px;
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  height:16px;
  font-size:9pt;
}
