.editor_window {
  width:400px;
  background-color:#F3F3F3;
  text-align:center;
}

.editor_title {
  font-size:10pt;
  font-weight:bold;
  clear:both;
  height:20px;
  background-color:#555555;
  color:#EFEFEF;
  vertical-align:middle;
  padding-top:5px;
  border-bottom:1px solid #000000;
  text-align:center;
}

.editor_textarea {
  width:385px;
  height:400px;
  border:1px solid #888888;
  clear:both;
  font-size:9pt;
  margin:10px 0px 10px 0px;
}

.editor_button_area {
  border-top:1px solid #AAAAAA;
  text-align:center;
  background-color:#EEEEEE;
  padding:2px 0px 2px 0px;
  clear:both;
  height:25px;
}

.editor_button {
  margin-top:4px;
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  height:18px;
  font-size:9pt;
}
