<!--%import("popup.css")-->
<!--%import("popup.js")-->

<div id="popHeadder">
    <h1>{$component_info->title} ver. {$component_info->version}</h1>
</div>

<form action='./' method='post' id='fo' onSubmit="return false" style="display:inline">

    <div id="popBody">

        <div><textarea name="text" id='editor' class="inputTypeText"></textarea></div>

    </div>

    <div id="popFooter" class="tCenter">
        <a href="#" onclick="insertHtml()" class="button"><span>{$lang->cmd_insert}</span></a>
        <a href="#" onclick="window.close(); return false;" class="button"><span>{$lang->cmd_close}</span></a>
        <a href="#" onclick="winopen('./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}','ComponentInfo','left=10,top=10,width=10,height=10,resizable=no,scrollbars=no,toolbars=no');return false;" class="button"><span>{$lang->about_component}</span></a>
    </div>

</form>
