<?xml version="1.0" encoding="utf-8"?>
<module>
    <actions>
        <action name="dispLayoutAdminContent" type="view" admin_index="true" standalone="true" />
        <action name="dispLayoutAdminInsert" type="view" standalone="true" />
        <action name="dispLayoutAdminMenu" type="view" standalone="true" />
        <action name="dispLayoutAdminDownloadedList" type="view" standalone="true" />
        <action name="dispLayoutAdminInfo" type="view" standalone="true" />

        <action name="getLayoutAdminMenuTplInfo" type="model" standalone="true" />

        <action name="procLayoutAdminInsert" type="controller" standalone="true" />
        <action name="procLayoutAdminUpdate" type="controller" standalone="true" />
        <action name="procLayoutAdminDelete" type="controller" standalone="true" />
        <action name="procLayoutAdminInsertMenu" type="controller" standalone="true" />
        <action name="procLayoutAdminDeleteMenu" type="controller" standalone="true" />
        <action name="procLayoutAdminMakeXmlFile" type="controller" standalone="true" />
        <action name="procLayoutAdminMoveMenu" type="controller" standalone="true" />
    </actions>
</module>
