<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispLayoutInfo" type="view" />
        <action name="dispLayoutAdminContent" type="view" />
        <action name="dispLayoutAdminInfo" type="view" />
        <action name="dispLayoutAdminLayoutModify" type="view" />
        <action name="dispLayoutAdminLayoutImageList" type="view" />
		<action name="dispLayoutAdminMobileContent" type="view" />

		<action name="dispLayoutAdminInstalledList" type="view" admin_index="true" menu_name="installedLayout" menu_index="true" />
		<action name="dispLayoutAdminInstanceList" type="view" menu_name="installedLayout" />
		<action name="dispLayoutAdminAllInstanceList" type="view" menu_name="installedLayout" />
		<action name="dispLayoutAdminInsert" type="view" menu_name="installedLayout" />
		<action name="dispLayoutAdminModify" type="view" menu_name="installedLayout" />
		<action name="dispLayoutAdminEdit" type="view" menu_name="installedLayout" />
		<action name="dispLayoutAdminCopyLayout" type="view" />

		<action name="getLayoutAdminSetInfoView" type="model" />
		<action name="getLayoutAdminSetHTMLCSS" type="model" />
		<action name="getLayoutAdminSiteDefaultLayout" type="model" />

		<action name="dispLayoutPreview" type="view" />
		<action name="dispLayoutPreviewWithModule" type="view" />

		<action name="procLayoutAdminUpdate" type="controller" ruleset="updateLayout" />
		<action name="procLayoutAdminCodeUpdate" type="controller" ruleset="codeUpdate" />
		<action name="procLayoutAdminUserImageUpload" type="controller" ruleset="imageUpload" />
		<action name="procLayoutAdminUserImageDelete" type="controller" />
		<action name="procLayoutAdminConfigImageUpload" type="controller" />
		<action name="procLayoutAdminConfigImageDelete" type="controller" />
		<action name="procLayoutAdminDelete" type="controller" ruleset="deleteLayout" />

        <action name="procLayoutAdminInsert" type="controller" ruleset="insertLayout" />

        <action name="procLayoutAdminCodeReset" type="controller" />

        <action name="procLayoutAdminUserValueInsert" type="controller" />
        <action name="procLayoutAdminUserLayoutExport" type="controller" />
        <action name="procLayoutAdminUserLayoutImport" type="controller" ruleset="userLayoutImport" />
        <action name="procLayoutAdminCopyLayout" type="controller" />

		<action name="getLayoutInstanceListForJSONP" type="model" />

    </actions>
	<menus>
		<menu name="installedLayout">
			<title xml:lang="en">Layouts</title>
			<title xml:lang="ko">설치된 레이아웃</title>
			<title xml:lang="zh-CN">Layouts</title>
			<title xml:lang="jp">レイアウト</title>
			<title xml:lang="es">Layouts</title>
			<title xml:lang="ru">Layouts</title>
			<title xml:lang="fr">Layouts</title>
			<title xml:lang="zh-TW">Layouts</title>
			<title xml:lang="vi">Layouts</title>
			<title xml:lang="mn">Layouts</title>
			<title xml:lang="tr">Layouts</title>
		</menu>
	</menus>
</module>
