@charset "UTF-8";
div.xe_mobile {
	display:none!important;
}
section.declare_document{
	display:block;
}
section.declare_document label{
	font-weight: bold;
}
section.declare_document select,section.declare_document textarea{
	box-sizing:border-box;
	height:auto;
	width: 100%;
	padding:7px;
	font-size: 11pt;
	line-height: normal;
	display:block;
}