@charset "utf-8";

.editor_window {
    width:500px;
    clear:both;
}

.editor_title {
    font-size:10pt;
    font-weight:bold;
    clear:both;
    height:20px;
    background-color:#555555;
    color:#EFEFEF;
    vertical-align:middle;
    padding-top:5px;
    border-bottom:1px solid #000000;
    text-align:center;
}

.survey_header {
    border:1px solid #888888;
    background-color:#EFEFEF;
    margin:5px;
    padding:5px;
    font-weight:bold;
}

.survey_box {
    border:1px solid #888888;
    height:140px;
    margin:5px;
    padding:5px;
}

.title_box {
    background-color:#EFEFEF;
    border:1px solid #DDDDDD;
    padding-top:4px;
    height:22px;
    clear:both;
}

.item_box {
    height:22px;
    clear:both;
    padding-top:3px;
    margin-bottom:3px;
    border-bottom:1px solid #DDDDDD;
}

.header {
    float:left;
    width:60px;
    clear:left;
    text-align:left;
    font-weight:bold;
    font-size:9pt;
    padding:2px 0px 0px 20px;
    height:20px;
}

.sub_header {
    float:left;
    width:60px;
    clear:left;
    text-align:left;
    font-size:9pt;
    padding:2px 0px 0px 20px;
    height:20px;
}

.body {
    float:left;
    text-align:left;
    font-size:9pt;
    height:20px;
}

.sub_button_area {
    padding:3px 20px 3px 0px;
    clear:both;
    height:25px;
}

.sub_button_area div {
    float:left;
    padding-right:10px;
    margin-right:10px;
    height:20px;
}

.editor_input {
    width:335px;
    border:1px solid #AAAAAA;
    font-size:9pt;
    height:13px;
}

.editor_small_input {
    width:50px;
    border:1px solid #AAAAAA;
    font-size:9pt;
    height:13px;
}


.editor_button_area {
    border-top:1px solid #AAAAAA;
    text-align:center;
    background-color:#EEEEEE;
    padding:10px 0px 2px 0px;
    clear:both;
    height:25px;
}

.editor_button {
    background-color:#FFFFFF;
    border:1px solid #AAAAAA;
    height:17px;
    font-size:9pt;
}
