<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispLifepodContent" type="view" index="true" />

        <action name="dispLifepodAdminContent" type="view" standalone="true" admin_index="true" />
        <action name="dispLifepodAdminLifepodInfo" type="view" standalone="true" />
        <action name="dispLifepodAdminInsertLifepod" type="view" standalone="true" />
        <action name="dispLifepodAdminDeleteLifepod" type="view" standalone="true" />
        <action name="dispLifepodAdminGrantInfo" type="view" standalone="true" />
        <action name="dispLifepodAdminSkinInfo" type="view" standalone="true" />

        <action name="procLifepodAdminInsertLifepod" type="controller" standalone="true" />
        <action name="procLifepodAdminDeleteLifepod" type="controller" standalone="true" />
    </actions>
</module>
