@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Jeong, Chan Myeong 070601~070630
*/

.gap1 { margin-top:.8em; }
.commentButton { margin:.8em 0 .8em 0; }

/* pathNavigation */
.pathNavigation { background:url(../images/white/bullet_3x3_d8d8d8.gif) no-repeat left .4em; padding:0 0 0 .5em; color:#999999; margin:0 0 1.5em 0;}
.pathNavigation * { font-size:.9em;}
.pathNavigation a { color:#999999;}
.pathNavigation strong { color:#666666;}

/* boardHeader */
.boardHeader { position:relative; _width:100%; border:1px solid #e1e1dd; border-bottom:none; background:#ffffff url(../images/white/bgH3.gif) repeat-x left bottom; overflow:hidden;}
.boardHeader h3 { float:left; clear:both; font-size:1.2em; padding:1em 2em .7em 1.2em; border-bottom:3px solid #fe3614; background:#ffffff url(../images/white/lineH3.gif) no-repeat right bottom;}

/* boardComment */
.boardComment { color:#AEAEAE; position:relative; _width:100%; border:1px solid #DDDDDD; overflow:hidden;padding:.8em; margin-top:.4em;}
.boardComment a { color:#f38d2a; text-decoration:none; border-bottom:1px dotted #f38d2a;}

/* boardInformation */
.boardInformation { width:100%; clear:both; margin:1em 0 .5em 0; overflow:hidden; color:#666666;}
.articleNum { float:left; background:url(../images/white/iconArticle.gif) no-repeat left top; padding:0 0 0 1.5em; margin:.5em 0 0 0;}
.articleNum strong { font:bold 11px Tahoma; color:#ff6600;}

.accountNavigation { float:right; overflow:hidden;}
.accountNavigation li { float:left; padding:0 .5em 0 .6em; background:url(../images/white/line_1x10_e0e0e0.gif) no-repeat left .4em; list-style:none;}
.accountNavigation li a { font-size:11px; white-space:nowrap; color:#666666; text-decoration:none;}
.accountNavigation li.rss { background:none; padding-top:.4em;}
.accountNavigation li.join { background:none; padding-top:.4em;}
.accountNavigation li.join a { display:block; background:url(../images/white/iconMyInfo.gif) no-repeat left .1em; padding:0 0 0 1.2em;}
.accountNavigation li.myInfo { padding-top:.4em; background:none;}
.accountNavigation li.myInfo a { display:block; background:url(../images/white/iconMyInfo.gif) no-repeat left .1em; padding:0 0 0 1.2em;}
.accountNavigation li.admin { padding-top:.4em;}
.accountNavigation li.admin a { display:block; background:url(../images/white/iconAdmin.gif) no-repeat left .1em; padding:0 0 0 1.2em;}
.accountNavigation li.setup { padding-top:.4em;}
.accountNavigation li.setup a { display:block; background:url(../images/white/iconSetup.gif) no-repeat left .1em; padding:0 0 0 1.2em;}
.accountNavigation li.loginAndLogout { background:none; padding-left:0;}

/* boardList */
.boardList { width:100%; position:relative; border:1px solid #e0e1db;}
.boardList tr.notice { background:#f8f8f8;}
.boardList tr.notice .num { font-size:.9em; font-weight:bold;}
.boardList tr.bg1 { background:#ffffff}
.boardList tr.bg2 { background:#fbfbfb;}
.boardList th { color:#3e3f3e; font-weight:normal; border-bottom:1px solid #ffffff;  padding:.8em .5em .5em .5em; background:#ffffff url(../images/white/lineBoardListTh.gif) no-repeat left bottom;}
.boardList th a { color:#3e3f3e; text-decoration:none; }
.boardList th.num { background-position:-3px bottom; border-left:1px solid #ffffff; padding:0;}
.boardList th.category { padding:0 .2em 0 .5em; white-space:nowrap;}
.boardList th.category.thumbStyle { background-position:-3px bottom !important; border-left:1px solid #ffffff; text-align:left;}
.boardList th.title select { vertical-align:middle; margin-left:1em; }
.boardList th.reading { white-space:nowrap;}
.boardList th.recommend { white-space:nowrap;}
.boardList th.date { border-right:1px solid #ffffff;}
.boardList th .sort { padding:0 .2em; vertical-align:middle;}
.boardList td { border-top:1px solid #eff0ed; padding:.5em;}
.boardList td.num { font:.8em Tahoma; color:#999999; padding:.5em 1em; text-align:center;}
.boardList tr.notice td.num { padding:.5em; white-space:nowrap;}
.boardList td.thumb { padding:.5em 0 .5em .5em; width:145px; table-layout:fixed; white-space:nowrap;}
.boardList td.thumb * { vertical-align:middle;}
.boardList td.title {padding-left:1em; }
.boardList td.title strong.category { font-size:1em; background:url(../images/white/line_1x10_e0e0e0.gif) no-repeat right 3px; padding-right:.5em; margin-right:.5em;}
.boardList td.title.bold { font-size:1.2em; font-weight:bold;}
.boardList td.title.bold a { position:relative; top:.3em;}
.boardList td.title * { vertical-align:middle;} 
.boardList td.title,
.boardList td.title a { color:#444444; text-decoration:none;}
.boardList td.title a:visited { color:#777777;}
.boardList td.author { color:#333333; font-size:.95em; padding-left:1em;}
.boardList td.author a { font-size:1em; color:#333333;}
.boardList td.reading { font:.8em Tahoma; color:#999999; text-align:center;}
.boardList td.recommend { font:bold .8em Tahoma; color:#ff6600; text-align:center;}
.boardList td.date { font:.8em Tahoma; color:#999999; text-align:center;}
.boardList td.summary { border-top:none; vertical-align:top; color:#666666; line-height:1.25em; padding-left:2em;}
.boardList td.summary a { color:#666666; text-decoration:none; line-height:inherit;}
.boardList td.summary a:visited { color:#999999;}
.boardList td input { _margin:-3px;}
.boardList td .replyAndTrackback { font:.8em Tahoma; color:#ff6600; position:relative; top:-.2em;}
.boardList td .replyAndTrackback img.trackback { margin-bottom:-.1em;}
.boardList td.title.bold .replyAndTrackback { font:.6em Tahoma; color:#ff6600; position:relative; top:.3em;}
.boardList td .replyAndTrackback strong { font:bold 1em Tahoma;}

.boardList td .thumbnailSmall { margin:0 .3em 0 .3em;}
.boardList td .thumbnailSmall img { border:1px solid #bcbdb6;}
.boardList td .thumbnailMedium { margin:0 .3em 0 .3em;}
.boardList td .thumbnailMedium img { border:1px solid #e0e1db; padding:3px;}

.boardList.thumbnail { margin-top:-1px; border-bottom:none;}
.boardList.thumbnail td { border-top:none; border-bottom:1px solid #eff0ed; padding:1.5em 0 0 1.5em; overflow:hidden;}
.boardList.thumbnail div.cell { float:left; width:130px; margin:0 1.5em 0 0; padding-bottom:1.5em;}
.boardList.thumbnail div.cell img.thumb { padding:2px; border:1px solid #e0e1db; display:block; margin-bottom:1em;}
.boardList.thumbnail div.title { color:#444444; margin-bottom:.2em; padding-left:3px;}
.boardList.thumbnail div.title a { color:#444444;}
.boardList.thumbnail div.nameAndDate { font-size:.9em; color:#999999; margin-bottom:.2em; padding-left:3px;}
.boardList.thumbnail div.nameAndDate a { color:#999999;}
.boardList.thumbnail div.nameAndDate .date { font:.8em Tahoma; color:#999999;}
.boardList.thumbnail div.readAndRecommend { font-size:.9em; color:#666666; padding-left:3px;}
.boardList.thumbnail div.readAndRecommend .num { font:.8em Tahoma;}
.boardList.thumbnail div.readAndRecommend .vr { color:#dddddd;}
.boardList.thumbnail div.readAndRecommend strong.num { font:bold .8em Tahoma; color:#ff6600;}

/* pageNavigation */
.pageNavigation { display:block; padding:1.5em 0 2em 0; text-align:center; font:bold .8em Tahoma; }
.pageNavigation a { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#666666; display:inline-block; padding:1px 7px 2px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }
.pageNavigation a:hover { background:#F7F7F7; text-decoration:none; }
.pageNavigation a:visited { color:#999999;}
.pageNavigation a.goToFirst,
.pageNavigation a.goToLast { border:none; border-right:1px solid #ffffff; border-left:1px solid #ffffff; z-index:99; vertical-align:top; padding:0px 7px 4px 6px;}
.pageNavigation a.goToFirst img,
.pageNavigation a.goToLast img { display:inline-block; padding:2px 0; position:relative; top:2px; _top:1px;}
.pageNavigation .current { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#ff6600; display:inline-block; padding:1px 7px 1px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }

.boardRead .dateAndModify { float:right; white-space:nowrap;}
.boardRead .dateAndModify { font-size:.8em; color:#999999; float:left; position:relative; top:.3em;}
.boardRead .dateAndModify strong { font-size:1em; font-family:Tahoma;}
.boardRead .dateAndModify ul { display:inline;}
.boardRead .dateAndModify ul li { float:left; margin-left:.3em; list-style:none;}

/* boardSearch */
.boardSearch { text-align:center; clear:both; width:100%;}
.boardSearch fieldset { border:none; display:inline; overflow:visible; position:relative;}
.boardSearch fieldset legend { position:absolute; overflow:hidden; width:1px; height:1px; font-size:.001em;}
.boardSearch * { vertical-align:middle;} 
.boardSearch select { float:left;}
.boardSearch input { float:left; margin:0 .3em; background:#fbfbfb;}
.searchButton ul { overflow:hidden;}
.searchButton li { float:left; margin-right:.3em; list-style:none;}

/* boardRead */
.boardRead { position:relative; _width:100%; margin:1em 0 0 0; border:1px solid #e0e1db;}
.boardRead .originalContent { padding:2em 1.2em 2em 1.2em;}
.boardRead .readHeader { width:100%; padding-bottom:.5em; margin-bottom:1em; border-bottom:1px solid #eff0ed; overflow:hidden;}

.boardRead .titleAndCategory { float:left;}
.boardRead .titleAndCategory h4 { font-size:1.4em; display:inline; padding-left:.2em;}
.boardRead .titleAndCategory .vr { font-size:.9em; margin:0 .3em; color:#c5c7c0;}
.boardRead .titleAndCategory .cotegory { font-size:.9em; color:#999999; white-space:nowrap;}

.boardRead .dateAndModify { float:right; white-space:nowrap;}
.boardRead .dateAndModify .num { font-size:.9em; font-family:Tahoma; color:#999999; margin-right:.5em; float:left; position:relative; top:.3em;}
.boardRead .dateAndModify .num strong { font-size:1em; font-family:Tahoma;}
.boardRead .dateAndModify ul { display:inline;}
.boardRead .dateAndModify ul li { float:left; margin-left:.3em;}

.boardRead ul.uri { overflow:hidden; margin:0 0 2em .3em; float:right; clear:left;}
.boardRead ul.uri li { font-size:8pt; color:#c5c7c0; }

.boardRead .userInfo { float:left; white-space:nowrap;}
.boardRead .userInfo .author { padding:0 .3em 0 0; color:#3074a5; margin-right:.3em;}
.boardRead .userInfo .ipaddress { font-size:.9em; font-family:Tahoma; color:#888888; margin-right:.5em; }

.boardRead .readBody { padding:0 .3em; color:#555555; overflow:hidden; margin-bottom:2em; clear:both;}
.boardRead .readBody p { margin:1em 0; line-height:1.5em;}
.boardRead .readBody .alignLeft { float:left; margin:0 1em 1em 0; }
.boardRead .readBody .alignRight { float:right; margin:0 0 1em 1em; }
.boardRead .readBody .valignCenter { vertical-align:middle;}
.boardRead .readBody .clearBoth { display:block; margin:0 0 1em 0;}
.boardRead .readFooter { padding:0 .3em;}
.boardRead .readFooter .tag { margin-bottom:1em;}
.boardRead .readFooter .tag h5 { display:inline; font-size:1em; margin-right:.5em;}
.boardRead .readFooter .tag ul,
.boardRead .readFooter .tag li { display:inline;}
.boardRead .readFooter .tag a { color:#444444;}
.boardRead .readFooter .tag .tagIcon { vertical-align:middle;}
.boardRead .readFooter .fileAttached { position:relative; _width:100%; border:1px solid #eaeae7; overflow:hidden; background:#fbfbfb;}
.boardRead .readFooter .fileAttached h5 { position:absolute; top:1em; left:1.5em; font-weight:normal; color:#999999; float:left; font-size:1em; margin-right:.5em; line-height:1.5em;}
.boardRead .readFooter .fileAttached ul { float:left; padding:1em 1em .8em 0; margin-left:5em; _margin-left:2.5em;}
.boardRead .readFooter .fileAttached li { display:inline; margin-right:.75em; line-height:1.5em;}
.boardRead .readFooter .fileAttached li a { font-size:.9em; padding:.1em 0 .1em 1.5em; white-space:nowrap; position:relative; color:#444444; background:url(../images/white/iconFile.gif) no-repeat left top;}
.boardRead .readFooter .fileAttached li a:visited { color:#777777;}

.boardRead .replyAndTrackback { overflow:hidden; _width:100%; padding:.8em 0em; height:1.2em; background:url(../images/white/bgBoardListTh.gif) repeat-x left bottom; border-top:1px solid #e0e1db; border-bottom:2px solid #666760;}
.boardRead .replyAndTrackback li { margin-left:1em; padding-left:1.4em; float:left; list-style:none;}

.boardRead .replyAndTrackback li.reply { background:url(../images/white/iconReply.gif) no-repeat left top;}
.boardRead .replyAndTrackback li.reply a { position:relative; top:-.3em; _top:-.6em;}

.boardRead .replyAndTrackback li.trackback { background:url(../images/white/iconTrackback.gif) no-repeat left top;}
.boardRead .replyAndTrackback li.trackback a { position:relative; top:-.3em; _top:0em;}

.boardRead .replyAndTrackback a { color:#333333; white-space:nowrap; text-decoration:none;}
.boardRead .replyAndTrackback a strong { color:#ff6600;}
.boardRead .replyAndTrackback a#toggleReply { background:url(../images/white/buttonToggleReply.gif) no-repeat right top;}
.boardRead .replyAndTrackback a#toggleTrackback { background:url(../images/white/buttonToggleReply.gif) no-repeat right -13px;}

.boardRead .replyAndTrackback .listButton { float:right; margin:0 1em 0 0; position:relative; top:-5px; _top:-7px;}

#trackbacks { padding:.6em .6em; color:#666666; border:1px solid #e0e1db;;margin-top:.5em;}
#trackbacks li { padding:.6em .8em .6em .6em; line-height:1.25em; border-bottom:1px dotted #EEEEEE; list-style:none;}
#trackbacks p { display:inline; margin-bottom:1em;}
#trackbacks a { color:#666666; text-decoration:none;}
#trackbacks div  { clear:both; }
#trackbacks address { display:block; padding:0 .3em 0 0; }
#trackbacks address a { font-size:.9em; color:#3074a5; margin-right:.3em; float:left;}
#trackbacks address .date { font:.8em Tahoma; color:#cccccc; float:right;}

#reply { padding:.6em .6em; color:#666666; border:1px solid #e0e1db; margin-top:.5em;}
#reply li { padding:.6em .8em .6em .6em; line-height:1.25em; clear:both; border-bottom:1px dotted #EEEEEE; list-style:none;}
#reply p { display:inline; margin-bottom:1em;}
#reply .author { float:left; padding:0 .3em 0 0; font-size:.9em; color:#3074a5; margin:0 .3em .5em 0;}
#reply .author a { font-size:.9em; color:#3074a5; margin-right:.3em;}
#reply .date { float:right; font:.8em Tahoma; color:#cccccc; margin:.3em 0 .5em 0;}

#reply .replyOption { float:right; white-space:nowrap; margin-left:.2em;}
#reply .replyOption img { vertical-align:middle;}

#reply .replyContent { clear:left; }
#reply .reply { background-color:#FAFAFA;}
#reply .replyIndent { background:url(../images/white/iconReplyArrow.gif) no-repeat .0em .3em; padding-left:1.3em;}

#reply li .fileAttached { _width:100%; border:1px solid #eaeae7; overflow:hidden; background:#fbfbfb; margin-top:.3em; list-style:none;}
#reply li .fileAttached ul { float:left; padding:.3em 1em .2em 0; margin-left:.5em; _margin-left:.25em;}
#reply li .fileAttached li { border:0px; display:inline; margin-right:.75em; line-height:1.5em; padding:.1em 0 .1em 1.5em; background:url(../images/white/iconFile.gif) no-repeat left;}
#reply li .fileAttached li a { font-size:.9em; white-space:nowrap; position:relative; color:#444444; }
#reply li .fileAttached li a:visited { color:#777777;}

/* boardEditor */
.boardEditor { padding:.5em 0 1em 0; width:100%; overflow:hidden;}
.boardEditor.reply { padding:.5em 1em 1em 1em; width:auto; overflow:hidden;}
.boardEditor legend { position:absolute; overflow:hidden; width:1px; height:1px; font-size:.001em;}
.boardEditor fieldset { _width:100%; border:1px solid #eaeae7; border-top:none;}
.boardEditor .userNameAndPw { position:relative; background:#fbfbfb; border-top:1px solid #eaeae7; border-bottom:1px solid #e1e1e1; padding:.5em 1em; white-space:nowrap;}
.boardEditor .userNameAndPw * { vertical-align:middle;}
.boardEditor .userNameAndPw label { margin-right:.2em; color:#666760;}
.boardEditor .userNameAndPw input { color:#aaaaaa;}
.boardEditor .userNameAndPw .userName { width:6em; margin-right:.8em;}
.boardEditor .userNameAndPw .userPw { width:5em;}
.boardEditor .userNameAndPw .emailAddress { width:6em;}
.boardEditor .userNameAndPw .homePage { width:6em;}
.boardEditor .userNameAndPw .checkSecret { position:absolute; right:2em; top:.7em;}

/* boardWrite */
.boardWrite { width:100%; position:relative;}
.boardWrite .userNameAndPw { margin-bottom:-1px;}
.boardWrite .boardEditor fieldset { width:auto; position:relative;}
.boardWrite div.title { border-bottom:1px solid #eff0ed; border-top:1px solid #eff0ed; padding:.5em 0; white-space:nowrap;}
.boardWrite div.title label.title { display:block; float:left; font-weight:bold; padding:.4em 0 0 1.5em; width:8em; white-space:nowrap;}
.boardWrite div.title input#title { width:60%;}
.boardWrite .option { border-bottom:1px solid #e1e1e1; padding:.5em 0; overflow:hidden; width:100%;}
.boardWrite .option dt { display:block; float:left; font-weight:bold; padding:.3em 0 0 1.5em; width:8em; white-space:nowrap;}
.boardWrite .option dd { float:left; margin-right:1em; padding-top:.2em; _padding-top:.1em;}
.boardWrite .option dd * { vertical-align:middle;}
.boardWrite .inputTypeText { background:#fbfbfb;}
.boardWrite .trackbackURI { clear:both; border-top:1px solid #eff0ed; padding:4px 0 .8em 0;}
.boardWrite .trackbackURI label { display:block; float:left; color:#333333; font-weight:bold; padding:.4em 0 0 1.5em; width:11em;}
.boardWrite .trackbackURI .inputTypeText { width:50%;}
.boardWrite .tag { clear:both; border-top:1px solid #eff0ed; padding:.8em 0;}
.boardWrite .tag label { display:block; float:left; color:#333333; font-weight:bold; padding:.4em 0 0 1.5em; width:11em;}
.boardWrite .tag .inputTypeText { width:50%;}
.boardWrite .tag .help { vertical-align:middle;}
.boardWrite .tag .info { padding:.5em 0 0 .6em; margin-left:8.5em; font-size:.9em; color:#999999; background:url(../images/white/iconArrowD8.gif) no-repeat left center;}

.smallBox { border:1px solid #e0e1db; margin:5em auto 1em auto;}
.smallBox.w268 { width:268px;}
.smallBox .header { position:relative; _width:100%; background:#ffffff url(../images/normal/bgH3.gif) no-repeat left bottom; overflow:hidden;}
.smallBox .header h3 { clear:both; font-size:1.2em; padding:.8em 2em .6em 1.2em; border-bottom:3px solid #fe3614; }
.smallBox .complex { padding:1.5em 2em 2em 2em;}
.smallBox .inputPassword { position:relative; border:none; padding:2em 2em 1.5em 2em;}
.smallBox .inputPassword .inputTypeText { float:left; margin-right:.5em; width:8em;}
.smallBox .inputPassword legend { position:absolute; overflow:hidden; width:1px; height:1px; font-size:.001em; text-indent:-100em;}
