@charset "UTF-8";
/* 앱 전체 스타일 */
.simple_content
{
	background-color:#ffffff;
	font-family: "맑은 고딕", "Apple SD Gothic Neo","나눔고딕",NanumGothic,'Nanum Gothic',"돋움",Dotum,"굴림",Gulim,Helvetica,sans-serif;
	font-size: 14px;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	margin: 8px 0px;
	padding: 0 15px;
}
/* 글 목록 스타일 */
.simple_content .simple_content_list .cont_a {
	color: #222;
	display: block;
	letter-spacing: -1px;
	line-height: 18px;
	margin: 0 -15px;
	overflow: hidden;
	padding: 0.667em 15px 0.733em;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.simple_content .simple_content_list .cont_a:hover {
	color: #A50000;
}
.simple_content .cont_a {
	color: #222;
	display: block;
	letter-spacing: -1px;
	overflow: hidden;
	padding: 0.467em 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.simple_content .content_image {
	display:inline-block;
	float:left;
	position:relative;
	margin-right: 5px;
}
.simple_content .content_basic{
	position:relative;
	display:inline-block;
	max-width:100%;
	vertical-align: middle;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.simple_content .content_category {
	color: #A50000;
	font-family: HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif-light,sans-serif;
	margin: 0 7px 0 3px;
}
.simple_content .content_nickname, .simple_content .content_recnt{
	color: #9e9e9e;
	font-size: 12px;
	margin: 0 3px 0 7px;
	overflow:hidden;
}
.simple_content  ul.simple_content_list, .simple_content  ul.simple_contentTabA {
	list-style: outside none none;
	padding: 0px 0px 6px;
	margin: 0;
}

.simple_content  .simple_content_list li {
	position:relative;
	border-top: 1px solid #e0e0e0;
	overflow: hidden;
	padding:0;
}
.simple_content  .simple_content_list li:first-child, .simple_content.simple_content_list li.first-child{
	border-top: 0 none;
}
.simple_content .content_recnt{ /* 코멘트 */
	position:absolute;
	height:18px;
	width:44px;
	text-align:right;
	font-size: 13px;
	margin:3px;
	top:0.6em;
	right:3px;
}
.simple_content  .simple_content_list li i{ /* 아이콘 */
	margin-right:3px;
	font-size:0.9em;
}
.simple_content .simple_content_list li.content_reext .cont_a { /* 코멘트 있는 항목 */
	padding-right:70px;
}
/* 상단 제목 스타일 */
.simple_content .misolTop {
	border-bottom: 1px solid #e0e0e0;
	height: 40px;
	line-height: 18px;
	margin: 0;
	position: relative;
}
.simple_content div.misolTop h3
{
	color: #000;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 40px;
}
.simple_content div.misolTop .misol_top_a {
	color: #000;
	font-weight: 400;
	display: block;
	margin: 0 -10px;
	padding: 0 10px;
	text-decoration: none;
}
.simple_content div.misolTop .misol_more {
	position: absolute;
	right: 1px;
	top: 12px;
	height: 16px;
	width: 9px;
}
/* 갤러리 스타일 */
.simple_content div.simple_gallery{
	overflow: hidden;
	width:100%;
	white-space: nowrap;
	box-sizing: border-box;
}
div.simple_gallery ul.simple_gallery{
	display: block;
	list-style: outside none none;
	padding: 6px 0px 100px;
	margin: 0;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
div.simple_gallery ul.simple_gallery li{
	position: relative;
	display: inline-block;
	padding:0 5px;
}
div.simple_gallery ul.simple_gallery li .gallery_text
{
	display:inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.simple_gallery ul.simple_gallery li .cont_a:hover {
	color: #A50000;
}
/* 상단 탭 스타일 */
.simple_content div.misolTab{
	overflow: hidden;
	width:100%;
	height: 52px;
	white-space: nowrap;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.simple_content ul.simple_contentTabA{
	display: block;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	padding: 6px 0px 100px;
	text-decoration: none;
}
.simple_content ul.simple_contentTabA>li {
	display:inline-block;
	height: 40px;
	line-height: 18px;
	position: relative;
}
.simple_content ul.simple_contentTabA>li a {
	display:inline-block;
	color: #000;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 40px;
	text-decoration: none;
}
.simple_content ul.simple_contentTabA>li a:hover, .simple_content ul.simple_contentTabA>li.active a {
	color: #A50000;
	font-weight: 700;
}
.simple_content ul.simple_contentTabA>li a span {
	border-left: 1px solid #e0e0e0;
	padding: 0 15px;
}
.simple_content ul.simple_contentTabA>li:first-child a span {
	border-left: 0 none;
	padding-left: 0;
}

.simple_content dl.simple_columns{ margin:0;}
.simple_content dl.simple_columns dt{ position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0;}
.simple_content dl.simple_columns dd{ display:none; margin:0;} 
.widgetContainer .simple_content .open{ display:block !important;}

.simple_content .simple_contentNavigator {
	text-align: center;
	color: #9e9e9e;
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid #e0e0e0;
}

.simple_content .simple_contentNavigator button {
	background-color:transparent;
	color: inherit;
	border: 0 none;
	cursor: pointer;
	line-height: 20px;
	height:35px;
	width: 100%;
	margin:0;
	font-size: 15px;
}
.simple_content .simple_contentNavigator li button:hover{
	color: #A50000;
}
.simple_content .simple_contentNavigator li button i{
	font-size:16px;
	line-height:16px;
}