.newest_document_blog_normal {
}

.newest_document_blog_normal .newest_document_blog_box {
    margin-bottom:5px;
}

.newest_document_blog_normal .newest_document_blog_box .title_box {
    padding:5px;
    height:14px;
    overflow:hidden;
    color:#888888;
}

.newest_document_blog_normal .newest_document_blog_box .title_box .title {
    font-weight:bold; 
    height:14px;
    float:left;
}

.newest_document_blog_normal .newest_document_blog_box .document_box {
    padding:5px 3px 3px 1px;
    clear:both;
    border:3px solid #EEEEEE;
    overflow:hidden;
}

.newest_document_blog_normal .newest_document_blog_box .document {
    padding:0px 0px 5px 5px;
}

.newest_document_blog_normal .newest_document_blog_box .document A {
    text-decoration:none;
    color:#555555;
}

.newest_document_blog_normal .newest_document_blog_box .document A:hover {
    text-decoration:underline;
    color:#000000;
}

.newest_document_blog_normal .newest_document_blog_box .document A:visited {
    color:#AAAAAA;
}

.newest_document_blog_normal .newest_document_blog_box .document .comment A {
    font-size:7pt;
    font-family:tahoma;
    color:#AAAAAA;
    letter-spacing:-1px;
}
