.rss_reader_sz_xe { position:relative;}
.rss_reader_sz_xe h2 { margin:0; padding;0; height:21px; padding:9px 0 0 0; font-size:1em;}

.rss_reader_sz_xe ul { margin:0; padding:0; height:20px; overflow:hidden; list-style:none; white-space:nowrap; }

.rss_reader_sz_xe ul li { height:20px; overflow:hidden; list-style:none; white-space:nowrap; }

.rss_reader_sz_xe ul li .title a { color:#555555; font:0.9em Tahoma; text-decoration:none; }
.rss_reader_sz_xe ul li .title a:hover { text-decoration:underline; }

.rss_reader_sz_xe ul li .date { color:#999999; font:.8em Tahoma; white-space:nowrap; margin-right:5px;}

.rss_reader_sz_xe .sz_Box_000{ margin:1px; border:solid 0;padding:0;}
.rss_reader_sz_xe .sz_Box_001{ margin:1px; border:solid 1px;border-color:#E7E7E7;padding:5px 5px 2px 5px;background-color:#F4F4F4;color:#696969;}
.rss_reader_sz_xe .sz_Box_002{ margin:1px; border:solid 1px;border-color:#DDEAA8;padding:5px 5px 2px 5px;background-color:#FBFDF1;color:#99B81A;}
.rss_reader_sz_xe .sz_Box_003{ margin:1px; border:solid 1px;border-color:#F9D5D5;padding:5px 5px 2px 5px;background-color:#FEF6F6;color:#D98383;}
.rss_reader_sz_xe .sz_Box_004{ margin:1px; border:solid 1px;border-color:#EFDAF4;padding:5px 5px 2px 5px;background-color:#FCF7FD;color:#AF69C0;}
.rss_reader_sz_xe .sz_Box_005{ margin:1px; border:solid 1px;border-color:#DCDFF6;padding:5px 5px 2px 5px;background-color:#F6F7FE;color:#7381EA;}
.rss_reader_sz_xe .sz_Box_006{ margin:1px; border:solid 1px;border-color:#DAEAEE;padding:5px 5px 2px 5px;background-color:#F0F6F8;color:#619DAC;}
.rss_reader_sz_xe .sz_Box_007{ margin:1px; border:solid 1px;border-color:#D5EDDD;padding:5px 5px 2px 5px;background-color:#EFF9F2;color:#6FB587;}
.rss_reader_sz_xe .sz_Box_008{ margin:1px; border:solid 1px;border-color:#FFEC15;padding:5px 5px 2px 5px;background-color:#FFFCDF;color:#FF9900;}
.rss_reader_sz_xe .sz_Box_009{ margin:1px; border:solid 1px;border-color:#9DD7E8;padding:5px 5px 2px 5px;background-color:#F8FDFF;color:#0A8DBD;}

.rss_reader_sz_xe .sz_Box_001 h2 a { text-decoration:none; color:#696969;}
.rss_reader_sz_xe .sz_Box_002 h2 a { text-decoration:none; color:#99B81A;}
.rss_reader_sz_xe .sz_Box_003 h2 a { text-decoration:none; color:#D98383;}
.rss_reader_sz_xe .sz_Box_004 h2 a { text-decoration:none; color:#AF69C0;}
.rss_reader_sz_xe .sz_Box_005 h2 a { text-decoration:none; color:#7381EA;}
.rss_reader_sz_xe .sz_Box_006 h2 a { text-decoration:none; color:#619DAC;}
.rss_reader_sz_xe .sz_Box_007 h2 a { text-decoration:none; color:#6FB587;}
.rss_reader_sz_xe .sz_Box_008 h2 a { text-decoration:none; color:#FF9900;}
.rss_reader_sz_xe .sz_Box_009 h2 a { text-decoration:none; color:#0A8DBD;}

.rss_reader_sz_xe h2 a:hover { text-decoration:underline;} 
