.default_login { color:#797771;}
.openid_login { display:none; }

/* login form */
.default_login form { position:relative; }
.default_login .form_field { padding:5px 60px 5px 5px; white-space:nowrap; overflow:hidden; height:45px; }

.default_login .form_field .openIDTitle { width:99%; white-space:nowrap; overflow:hidden; background:url("../images/openid_login_bg.gif") no-repeat left top; padding:1px 0 0 18px; margin-bottom:8px; color:#888888; font-weight:bold; }
.default_login .form_field .openIDTitle input { margin:0; padding:0; height:14px; }
.default_login .form_field input.input { display:block; width:99%;  background-color: #ffffff;  border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;  padding:2px; height:14px; color:#666666;  margin:2px 0 2px 0;}

.default_login input.submit { width:45px; height:45px; background:url(../images/default/login_btn_submit.gif) no-repeat; border:none; margin:0; cursor:pointer; position:absolute; right:5px; top:5px; }

.default_login form p.securitySignIn { clear:both; padding:0 0 0 18px; margin:4px 0 4px 7px; }
.default_login form p.noneSSL { background:url("../images/none_ssl.png") no-repeat left top; }
.default_login form p.SSL { background:url("../images/ssl.png") no-repeat left top; }
.default_login form p.noneSSL a { color:#BF6801; text-decoration:none; }
.default_login form p.SSL a { color:#9CAC74; text-decoration:none; }

.default_login p { padding:0; margin:0 0 0 5px; }

.default_login .checkbox  { width:15px; height:15px; margin:-1px 0px 0px -1px; margin-right:2px; }
.default_login .clear { clear:both; }

.default_login ul.extra_option { margin:5px 0 0 0; padding:0; clear:both; height:40px; }
.default_login ul.extra_option li { background:url(../images/default/bul_01.gif) no-repeat 7px 3px; padding-left:20px; margin-left:5px; margin-bottom:3px;}
.default_login ul.extra_option li a {text-decoration:none; color:#666666;}


.default_openid_login { display:none; clear:both; height:38px; border:3px solid #D5D8DB; background-color:#FFFFFF; margin:0 0 10px 0; }
.default_openid_login .openid_user_id { width:110px; _width:100px; background: url(../images/openid_login_bg.gif) left no-repeat; background-color: #ffffff; background-position: 0 50%; padding:3px 3px 3px 18px; border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; height:16px; line-height:1em; vertical-align:middle; margin-bottom:.5em; color:#666666;}

.default_openid_login .wButtonTypeA { display:block; cursor:pointer; background:url(../images/default/buttonTypeACenter.gif) repeat-x left center; line-height:100%; overflow:visible; color:#3f4040; margin:0 1px; white-space:nowrap;border:0px;}
.default_openid_login .wButtonTypeA:hover { text-decoration:none;}
.default_openid_login .wButtonTypeA img { vertical-align:middle;}
.default_openid_login .wButtonTypeA input { border:none; cursor:pointer; background:url(../images/default/buttonTypeACenter.gif) repeat-x left center; line-height:100%; overflow:visible; color:#3f4040; margin:0 1px; white-space:nowrap;border:0px;  vertical-align:middle; }
.default_openid_login .wButtonTypeA .leftCap { width:2px; height:24px; background:url(../images/default/buttonTypeALeft.gif) no-repeat; margin:0 .3em 0 0;  position:relative; left:-1px;}
.default_openid_login .wButtonTypeA .rightCap { width:2px; height:24px; background:url(../images/default/buttonTypeARight.gif) no-repeat; margin:0 -1px 0 .4em;}
.default_openid_login .wButtonTypeA .icon { margin:0 .2em;}
.default_openid_login .wButtonWrite ul { text-align:center; clear:both; display:block; margin:0; padding:0; }
.default_openid_login .wButtonWrite li { margin-top:.5em; float:left; margin-left:.3em; list-style:none;}


/* logged  info */
.default_login .loginUser { position:relative; padding:5px; }
.default_login .loginUser .userNickName { margin-right:50px; white-space:nowrap; overflow:hidden; }
.default_login .loginUser .logoutButton { position:absolute; right:5px; top:5px; }

.default_login .hr_dot_01 { background:url(../images/default/hr_dot_01.gif) repeat-x; height:2px; overflow:hidden; clear:both; margin:6px; }

.default_login .item { background:url(../images/default/bul_01.gif) no-repeat 5px 5px; height:16px; padding:3px 0px 0px 20px; margin-left:5px; margin-top:2px; }
.default_login .item a { color:#666666; text-decoration:none; }
.default_login .item { font-size:11px; letter-spacing:-1px; margin-right:10px; padding:3px 0px 0px 20px; white-space:nowrap; }
.default_login .profile { width:70px; float:left; background:url(../images/default/icon_profile.gif) no-repeat left; }
.default_login .message { width:70px; float:left; background:url(../images/default/icon_note.gif) no-repeat left; }
.default_login .friend { float:left; background:url(../images/default/icon_friend.gif) no-repeat left; }
.default_login .administrative { float:left; background:url(../images/default/icon_key.gif) no-repeat left; margin-right:0px; }
.default_login .administrative a { color:#D80D0F; }
.default_login .lastlogin { clear:both; padding:5px; white-space:wrap; font-size:8pt; }

