<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="dispPollAdminList" type="view" admin_index="true" standalone="true" />
        <action name="dispPollAdminResult" type="view" standalone="true" />

        <action name="dispPollAdminConfig" type="controller" standalone="true" />

        <action name="getPollGetColorsetList" type="model" standalone="true" />

        <action name="getPollAdminTarget" type="model" standalone="true" />

        <action name="procInsert" type="controller" standalone="true" />
        <action name="procPoll" type="controller" standalone="true" />
        <action name="procPollViewResult" type="controller" standalone="true" />
        <action name="procPollAdminDeleteChecked" type="controller" standalone="true" />
        <action name="procPollAdminInsertConfig" type="controller" standalone="true" />
    </actions>
</module>
