<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<actions>
		<action name="getPollstatus" type="model" />
		<action name="getPollinfo" type="model" />
		<action name="getPollitemInfo" type="model" />
		<action name="getPollGetColorsetList" type="model" />
		
		<action name="procPollInsert" type="controller" />
		<action name="procPollInsertItem" type="controller" permission="member" />
		<action name="procPollDeleteItem" type="controller" permission="member" />
		<action name="procPoll" type="controller" ruleset="poll" />
		<action name="procPollViewResult" type="controller" />
		<action name="procPollGetList" type="controller" permission="root" />
		
		<action name="dispPollAdminList" type="view" admin_index="true" menu_name="poll" menu_index="true" />
		<action name="dispPollAdminResult" type="view" />
		<action name="dispPollAdminConfig" type="view" />
		
		<action name="getPollAdminTarget" type="model" />
		
		<action name="procPollAdminAddCart" type="controller" />
		<action name="procPollAdminDeleteChecked" type="controller" ruleset="deleteChecked" />
		<action name="procPollAdminInsertConfig" type="controller" ruleset="insertConfig" />
	</actions>
	<menus>
		<menu name="poll">
			<title xml:lang="en">Poll</title>
			<title xml:lang="ko">설문</title>
			<title xml:lang="zh-CN">Poll</title>
			<title xml:lang="jp">アンケート</title>
			<title xml:lang="es">Poll</title>
			<title xml:lang="ru">Poll</title>
			<title xml:lang="fr">Poll</title>
			<title xml:lang="zh-TW">投票</title>
			<title xml:lang="vi">Poll</title>
			<title xml:lang="mn">Poll</title>
			<title xml:lang="tr">Poll</title>
		</menu>
	</menus>
</module>
