<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="getCommentMenu" type="model" standalone="true"/>
        <action name="dispCommentAdminList" type="view" admin_index="true" standalone="true" />
        <action name="dispCommentAdminDeclared" type="view" standalone="true" />
        <action name="procCommentVoteUp" type="controller" standalone="true" />
        <action name="procCommentVoteDown" type="controller" standalone="true" />
        <action name="procCommentDeclare" type="controller" standalone="true" />
        <action name="procCommentAdminDeleteChecked" type="controller" standalone="true" />
        <action name="procCommentAdminCancelDeclare" type="controller" standalone="true" />
        <action name="procCommentAdminInsertModuleConfig" type="controller" standalone="true" />
    </actions>
</module>
