<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->
<form action="./" method="get" id="fo_component" onSubmit="return false">
  <div class="editor_window">
    <div class="header">{$lang->urllink_title}</div>
    <div class="body"><textarea name="text" class="editor_textarea"></textarea></div>

    <div class="header">{$lang->urllink_url}</div>
    <div class="body"><input type="text" name="url" class="editor_input" value=""/></div>

    <div class="editor_button_area">
      <input type="button" class="editor_button" value="{$lang->cmd_insert}" onclick="setText()" />
      <input type="button" class="editor_button" value="{$lang->cmd_close}" onclick="window.close()" />
    </div>
  </div>
</form>
