<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->
<form action="./" method="get" id="fo_component" onSubmit="return false">
  <div class="urllink_title">
    {$lang->urllink_title} : <textarea name="text"></textarea>
  </div>
  <div class="urllink_url">
    {$lang->urllink_url} : <input type="text" name="url" class="editor_input" value=""/>
  </div>
  <div>
    <input type="button" id="manual_url_submit" class="editor_submit" value="{$lang->cmd_insert}" onClick="setText()" />
    <a href="#" onclick="self.close()">{$lang->cmd_close}</a>
  </div>
</form>
