@charset "utf-8";
@import url(../../../../../modules/admin/tpl/css/admin.css);

.pollButton { clear:both; margin:.5em 0 0 0; height:20px; }
.pollButton label { vertical-align:middle; color:#888888; }

li { list-style:none; margin-right:5px; float:left; color:#666666}
li a { text-decoration:none; color:#666666;}
