<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("filter/insert_poll.xml")-->
<!--%import("../lang")-->

<!--// calendar -->
<!--%import("../../../../../common/js/ui.datepicker.js",optimized=false)-->
<!--%import("../../../../../common/css/ui.datepicker.css",optimized=false)-->


<script type="text/javascript">
    var msg_poll_cannot_modify = "{$lang->msg_poll_cannot_modify}";
</script>

<div id="popHeadder">
    <h3>{$component_info->title} ver. {$component_info->version}</h3>
</div>

<form action="./" method="post" id="fo_component" onSubmit="procFilter(this, insert_poll); return false;">
<input type="hidden" name="component" value="{$component_info->component_name}" />
<input type="hidden" name="method" value="insertPoll" />
<input type="hidden" name="poll_srl" value="" />


    <div id="popBody">

        <table cellspacing="0" class="adminTable">
        <col width="100" />
        <col />
        <tr>
            <th scope="row"><div>{$lang->poll_stop_date}</div></th>
            <td>

            <input type="hidden" name="stop_date" id="stop_date" value="{date('Ymd',time()+60*60*24*30)}" />
            <input type="text" class="inputDate" value="{date('Y-m-d',time()+60*60*24*30)}" readonly="readonly" />
<script type="text/javascript">
(function($){
    $(function(){
        var option = {
            gotoCurrent: false
            ,yearRange:'-100:+10'
            , onSelect:function(){
                $(this).prev('input[type="hidden"]').val(this.value.replace(/-/g,""));
            }
        };
        $.extend(option,$.datepicker.regional['{$lang_type}']);
        $(".inputDate").datepicker(option);
    });
})(jQuery);
</script>

            </td>
        </tr>
        <tr>
            <th scope="row"><div>{$lang->skin}</div></th>
            <td>
                <select name="skin">
                    <!--@foreach($skin_list as $skin=>$skin_info)-->
                    <option value="{$skin}">{$skin_info->title} (skin by {$skin_info->maker->name})</option>
                    <!--@end-->
                </select>
            </td>
        </tr>
        </table>

        <div id="poll_source" class="clear" style="display:none">
            <div class="clear"></div>

            <table cellspacing="0" class="adminTable gap1">
            <col width="100" />
            <col />
            <tr>
                <th scope="row"><div>{$lang->poll_title}</div></th>
                <td><input type="text" name="title_tidx" class="inputTypeText w400" /></td>
            </tr>

            <tr>
                <th scope="row"><div>{$lang->poll_item} 1</div></th>
                <td><input type="text" name="item_tidx_1" class="inputTypeText w400" /></td>
            </tr>

            <tr>
                <th scope="row"><div>{$lang->poll_item} 2</div></th>
                <td><input type="text" name="item_tidx_2" class="inputTypeText w400" /></td>
            </tr>
            </table>

            <div class="pollButton clear">
                <div class="fl">
                    <label>{$lang->poll_chk_count}</label>
                    <input type="text" name="checkcount_tidx" value="1" size="1" class="inputTypeText" />
                </div>
                <div class="fr">
                    <a href="#" onclick="doPollDelete(this); return false;" class="delPoll">{$lang->cmd_del_poll}</a> |
                    <a href="#" onclick="doPollAddItem(this); return false;">{$lang->cmd_add_item}</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>

    <div id="popFooter" class="tCenter clear">
        <div class="fl">
            <a href="#" onclick="doPollAdd(); return false;" class="button"><span>{$lang->cmd_add_poll}</span></a>
        </div>
        <div class="fr">
            <span class="button"><input type="submit" value="{$lang->cmd_submit}" /></span>
            <a href="#" onclick="window.close(); return false;" class="button"><span>{$lang->cmd_close}</span></a>
            <a href="#" onclick="winopen('./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}','ComponentInfo','left=10,top=10,width=10,height=10,resizable=no,scrollbars=no,toolbars=no');return false;" class="button"><span>{$lang->about_component}</span></a>
        </div>
    </div>


</form>
