@charset "utf-8";

/* board Title */
.boardHeader h3 { border-bottom:3px solid #2895c0; }

/* board Information */
.articleNum { float:left; background:url(../images/cyan/iconArticle.gif) no-repeat left top; }
.articleNum strong { font:bold 11px Tahoma; color:#2895c0;}

/* account Navigation */
.accountNavigation li.join a { background:url(../images/cyan/iconMyInfo.gif) no-repeat left top; padding-left:14px; }
.accountNavigation li.myInfo a { background:url(../images/cyan/iconMyInfo.gif) no-repeat left top; padding-left:14px; }

/* style.list */
.boardList th { background:#ffffff url(../images/cyan/lineBoardListTh.gif) no-repeat left bottom; }
.boardList td.recommend { color:#2895c0; }
.boardList td .replyAndTrackback { color:#2895c0; }
.buttonTypeGo { background:url(../images/cyan/buttonTypeInput24.gif) no-repeat; }

/* pageNavigation */
.pageNavigation .current { color:#2895c0; border-right:1px solid #CCCCCC; }

/* boardRead */
boardRead .readFooter .fileAttached li a { background:url(../images/cyan/iconFile.gif) no-repeat left top;}

/* replyAndTrackback */
.replyAndTrackback { background:url(../images/cyan/bgBoardListTh.gif) repeat-x left 0px; }
.replyAndTrackback a strong { color:#2895c0;}
.replyBox .fileAttached li { border:0px; display:inline; margin-right:.75em; line-height:1.5em; padding:.1em 0 .1em 1.5em; background:url(../images/cyan/iconFile.gif) no-repeat left;}
