@charset "utf-8";

/* board Title */
.boardHeader h3 { margin:0; border-bottom:3px solid #38b549; }

/* board Information */
.articleNum { float:left; background:url(../images/green/iconArticle.gif) no-repeat left top; }
.articleNum strong { font:bold 11px Tahoma; color:#ff6600;}

/* account Navigation */
.accountNavigation li.join a { background:url(../images/green/iconMyInfo.gif) no-repeat left top; padding-left:14px; }
.accountNavigation li.myInfo a { background:url(../images/green/iconMyInfo.gif) no-repeat left top; padding-left:14px; }

/* style.list */
.boardList th { background:#ffffff url(../images/green/lineBoardListTh.gif) no-repeat left bottom; }
.boardList td.recommend { color:#38b549; }
.boardList td .replyAndTrackback { color:#38b549; }
.buttonTypeGo { background:url(../images/green/buttonTypeInput24.gif) no-repeat; }

/* pageNavigation */
.pageNavigation .current { color:#38b549; }

/* boardRead */
.boardRead .fileAttached li { background:url(../images/green/iconFile.gif) no-repeat left top;}

/* replyAndTrackback */
.buttonBox .replyAndTrackback a strong { color:#38b549;}

.replyBox .fileAttached li { background:url(../images/green/iconFile.gif) no-repeat left top;}
