@charset "utf-8";

/* board Title */
.boardHeader h3 { border-bottom:3px solid #ed135a; }

/* board Information */
.articleNum { float:left; background:url(../images/red/iconArticle.gif) no-repeat left top; }
.articleNum strong { font:bold 11px Tahoma; color:#ff6600;}

/* account Navigation */
.accountNavigation li.join a { background:url(../images/red/iconMyInfo.gif) no-repeat left top; padding-left:14px; }
.accountNavigation li.myInfo a { background:url(../images/red/iconMyInfo.gif) no-repeat left top; padding-left:14px; }

/* style.list */
.boardList th { background:#ffffff url(../images/red/lineBoardListTh.gif) no-repeat left bottom; }
.boardList td.recommend { color:#ff6600; }
.boardList td .replyAndTrackback { color:#ff6600; }
.buttonTypeGo { background:url(../images/red/buttonTypeInput24.gif) no-repeat; }

/* pageNavigation */
.pageNavigation .current { color:#ff6600; }

/* boardRead */
.boardRead .fileAttached li { background:url(../images/red/iconFile.gif) no-repeat left top;}

/* replyAndTrackback */
.buttonBox .replyAndTrackback a strong { color:#ff6600;}

.replyBox .fileAttached li { background:url(../images/red/iconFile.gif) no-repeat left top;}
