<!-- WelcomeXE -->
<div class="welcomeXE">
	<section class="xeicon bg-holder" data-width="1240" data-height="500">
		<h1>Beautiful iconpack<br>XEIcon</h1>
		<div class="button-area">
			<a class="btn_item" target="_blank" href="http://xpressengine.github.io/XEIcon">HOMEPAGE</a>
			<a class="btn_item" target="_blank" href="https://github.com/xpressengine/XEIcon">GITHUB</a>
		</div>
	</section>

	<section class="guide">
		<span class="noti">GUIDE</span>
		<h1 class="tit">START-UP</h1>
		<ul>
		<li>
			<a href="{getUrl('', 'module', 'admin', 'act', 'dispAdminConfigGeneral')}" target="_blank" class="ico"><i class="xi-pen"></i><span class="blind">사이트 제목 바꾸기</span></a>
			<h2>사이트 제목 바꾸기</h2>
			<p>홈페이지 기본설정을 변경해 보세요.<br /> 사이트 제목은 <a href="{getUrl('', 'module', 'admin', 'act', 'dispAdminConfigGeneral')}" target="_blank">[관리 &gt; 설정 &gt; 일반 &gt; 기본]</a>에서 변경할 수 있습니다.</p>
		</li>
		<li>
			<a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteMap')}" target="_blank" class="ico"><i class="xi-sitemap"></i><span class="blind">메뉴 구조 구성하기</span></a>
			<h2>메뉴 구조 구성하기</h2>
			<p>메뉴를 만들어 사이트맵을 구성해 보세요. 사이트 메뉴는 <a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteMap')}" target="_blank">[관리 &gt; 사이트 제작/편집 &gt; 사이트 메뉴 편집]</a>에서 변경할 수 있습니다.</p>
		</li>
		<li>
			<a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteDesign')}" target="_blank" class="ico"><i class="xi-layout-top-left"></i><span class="blind">레이아웃 디자인 바꾸기</span></a>
			<h2>레이아웃 디자인 바꾸기</h2>
			<p>XE는 다양한 레이아웃 디자인을 제공합니다. 레이아웃 디자인은 <a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteDesign')}" target="_blank">[관리 &gt; 사이트 제작/편집 &gt; 사이트 디자인 설정]</a>에서 변경할 수 있습니다.</p>
		</li>
		<li>
			<a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteMap')}" target="_blank" class="ico"><i class="xi-home"></i><span class="blind">초기화면 바꾸기</span></a>
			<h2>초기화면 바꾸기</h2>
			<p>사이트의 홈 페이지를 설정하세요. <a href="{getUrl('', 'module', 'admin', 'act', 'dispMenuAdminSiteMap')}" target="_blank">[관리 &gt; 사이트 제작/편집 &gt; 사이트 메뉴 편집]</a>에서 메뉴 선택 후 '홈페이지로 사용하기'로 지정할 수 있습니다.</p>
		</li>
		<li>
			<a href="{getUrl('', 'module', 'admin', 'act', 'dispAutoinstallAdminIndex')}" target="_blank" class="ico"><i class="xi-marquee-add"></i><span class="blind">기능과 디자인 추가하기</span></a>
			<h2>기능과 디자인 추가하기</h2>
			<p>기능과 디자인을 설치하여 사이트를 풍성하게 만드세요. 모듈은 <a href="{getUrl('', 'module', 'admin', 'act', 'dispAutoinstallAdminIndex')}" target="_blank">[관리 &gt; 고급 &gt; 쉬운 설치]</a>에서 설치할 수 있습니다.</p>
		</li>
		<li>
			<a href="{getUrl('', 'module', 'admin', 'act', 'dispAutoinstallAdminIndex')}" target="_blank" class="ico"><i class="xi-paint-brush"></i><span class="blind">레이아웃 꾸미기</span></a>
			<h2>레이아웃 꾸미기</h2>
			<p>입맛에 맞는 레이아웃으로 꾸며보세요. 각 레이아웃은 <a href="{getUrl('', 'module', 'admin', 'act', 'dispLayoutAdminModify', 'layout_srl', $layout_info->layout_srl)}" target="_blank">[관리 &gt; 고급 &gt; 설치된 레이아웃]</a>에서 꾸밀 수 있습니다.</p>
		</li>
		</ul>
	</section>
	<section class="features">
		<span class="noti">FEATURES</span>
		<h1 class="tit">XE CORE. FEATURES</h1>
		<p class="cont">XpressEngine은 XE Core 프레임웍을 기반으로 개별 프로그램과 스킨을 실행하여 결과물을 생성합니다.<br />다양한 개성을 가진 프로그램과 스킨을 조합하여 다채로운 기능을 가진 멋진 웹사이트를 만들 수 있습니다.</p>
		<ul>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico"></span>
					<h2>손쉬운 사이트 구축</h2>
				</div>
				<div class="fe_bottom">
					<p>XE는 블로그형, 카페형 등 다양한 모듈을 제공합니다. 만들고자 하는 사이트에 적합한 모듈을 선택하여 쉽고 빠르게 사이트를 구축할 수 있습니다.</p>
					<a href="#">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico ico2"></span>
					<h2>기능을 더하는 구조</h2>
				</div>
				<div class="fe_bottom">
					<p>XE는 확장기능을 내려받아 더 많은 기능을 이용할 수 있습니다. 기본 기능과 확장 기능을 자유롭게 조합하여 다양한 웹 사이트를 제작할 수 있습니다.</p>
					<a href="#">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico ico3"></span>
					<h2>오픈 소스 &amp; 커뮤니티</h2>
				</div>
				<div class="fe_bottom">
					<p>XE는 오픈 커뮤니티를 통해 다양한 정보를 제공합니다. 커뮤니티에서 원하는 정보를 찾거거나 공유할 수 있습니다</p>
					<a href="#">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		<li>
			<div class="fe_box">
				<div class="fe_top">
					<span class="ico ico4"></span>
					<h2>다국어 지원</h2>
				</div>
				<div class="fe_bottom">
					<p>XE는 여러 나라의 언어를 지원합니다. 웹 사이트를 언어별로 분리하지 않고도 다국어 웹 사이트를 쉽게 제작할 수 있습니다.</p>
					<a href="#">CHECK IT OUT</a>
				</div>
			</div>
		</li>
		</ul>
	</section>
	<section class="connect">
		<span class="noti">CONNECT WITH US</span>
		<h1 class="tit">GET INVOLVED</h1>
		<ul>
			<li>
				<a href="https://www.xpressengine.com/forum" target="_blank" class="ico"><i class="xi-community"></i><span class="blind">COMMUNITY</span></a>
				<h2>COMMUNITY</h2>
				<p>XE와 관련한 다양한 커뮤니티를 만나보세요.</p>
			</li>
			<li>
				<a href="https://www.xpressengine.com/qna" target="_blank" class="ico"><i class="xi-users"></i><span class="blind">Q&A</span></a>
				<h2>Q&A</h2>
				<p>도움이 필요할 때에는 전문가들과 이야기할 수 있습니다.</p>
			</li>
			<li>
				<a href="https://www.xpressengine.com/download" target="_blank" class="ico"><i class="xi-download-square"></i><span class="blind">DOWNLOAD</span></a>
				<h2>DOWNLOAD</h2>
				<p>XE 자료실을 통해 나만의 홈페이지를 만들어보세요.</p>
			</li>
			<li>
				<a href="https://github.com/xpressengine/xe-core" target="_blank" class="ico"><i class="xi-github"></i><span class="blind">GITHUB</span></a>
				<h2>GITHUB</h2>
				<p>오픈소스 프로젝트 개발참여를 위한 GitHub 페이지입니다.</p>
			</li>
		</ul>
	</section>
</div>
<!-- /WelcomeXE -->
