<div class="XEicon">
	<section class="main_title fixedwidth">
		<h1>Beautiful iconic font &amp; CSS toolkit</h1>
		<p>
		XEIcon은 웹사이트 제작에 최적화된 백터 그래픽 아이콘 툴킷입니다.<br />
		한국 웹서비스 문화에 적합한 디자인과 카테고리를 고려하여 제작되었습니다.<br />
		XEIcon으로 아름답고 직관적인 웹페이지를 만들어보세요!<br />
		</p>
	</section>
	<section class="feature fixedwidth">
		<div class="tit"><h1>FEATURE</h1></div>
		<ul>
		<li>
			<div class="ico"><i class="xi-pen"></i><span class="blind">사이트 제목 바꾸기</span></div>
			<h2>한개의 폰트, 680개의 아이콘</h2>
			<p>웹 콘텐츠의 목적에 맞는 아이콘을 다양한 구성에서 찾아볼 수 있습니다.<br /><a href="https://xpressengine.github.io/XEIcon/library_common.html" target="_blank">라이브러리</a>에서 필요한 아이콘을 찾아보세요!</p>
		</li>
		<li>
			<div class="ico"><i class="xi-sitemap"></i><span class="blind">메뉴 구조 구성하기</span></div>
			<h2>호환성</h2>
			<p>XEIcon은 자바스크립트 없이 구현됩니다. <br />또한 다양한 브라우저에서도 동일한 뷰로 웹 페이지를 노출합니다.</p>
		</li>
		<li>
			<div class="ico"><i class="xi-layout-top-left"></i><span class="blind">레이아웃 디자인 바꾸기</span></div>
			<h2>최적화</h2>
			<p>Rhymix 뿐 아니라, 다양한 프레임워크에서 동일하게 구현됩니다. 다양한 프레임워크에서 자유롭게 이용해 보세요!</p>
		</li>
		<li>
			<div class="ico"><i class="xi-home"></i><span class="blind">초기화면 바꾸기</span></div>
			<h2>확장성</h2>
			<p>백터 아이콘으로 만들어진 XEIcon은 어떤 크기로도 확장이 가능하며 높은 해상도의 화면에서도 선명한 형태를 유지합니다.</p>
		</li>
		<li>
			<div class="ico"><i class="xi-marquee-add"></i><span class="blind">기능과 디자인 추가하기</span></div>
			<h2>자유로운 변형</h2>
			<p>CSS를 통해 아이콘의 색상, 크기, 그림자 등을 손쉽게 변형할 수 있습니다. <a href="http://xpressengine.github.io/XEIcon/examples.html" target="_blank">LESS, SASS로 추가된 기능</a>으로 더 넓어진 활용범위를 확인하세요!</p>
		</li>
		<li>
			<div class="ico"><i class="xi-paint-brush"></i><span class="blind">레이아웃 꾸미기</span></div>
			<h2>오픈소스</h2>
			<p>XEIcon은 OFL 라이선스를 따르는 오픈소스입니다.<br />모든 사용자에게 무료로 제공됩니다. <a href="https://xpressengine.github.io/XEIcon/license.html" target="_blank">라이선스</a>를 확인해 보세요!</p>
		</li>
		</ul>
	</section>
	<section class="get_started">
		<div class="fixedwidth">
			<div class="tit"><h1>GET STARTED</h1></div>
			<p class="cont">XEIcon 사용과 설치 방법은 매우 간단합니다. 자세한 사용방법을 <a href="#">XEIcon 공식사이트</a>에서 확인해보세요!</p>
			<ul>
				<li>
					<h2>최신버전 다운로드</h2>
					<p>가장 최신 버전 구성을 압축파일로<br />다운로드 받아볼 수 있습니다.</p>
					<a href="https://xpressengine.github.io/XEIcon/"><i class="xeicon xi-download"></i> Download</a>
				</li>
				<li>
					<h2>Git 저장소 복제</h2>
					<p>Github에서 로컬 저장소로 복제하여 사용할 수 있습니다.</p>
					<a href="https://github.com/xpressengine/XEIcon" target="_blank"><i class="xeicon xi-arrow-right"></i> check out</a>
				</li>	
				<li>
					<h2>CDN by jsDelivr</h2>
					<p>한줄의 코드만 작성하면 다운로드 없이 XEIcon을 사용할 수 있습니다.</p>
					<a href="https://xpressengine.github.io/XEIcon/started.html" target="_blank"><i class="xeicon xi-arrow-right"></i> check out</a>
				</li>
				<li>
					<h2>Install with Bower</h2>
					<p>Bower 서비스에서 XEIcon 패키지를 바로 설치할 수 있습니다.</p>
					<a href="#"><i class="xeicon xi-arrow-right"></i> check out</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="contribution fixedwidth">
		<div class="tit"><h1>CONTRIBUTION</h1></div>
		<p class="cont">새로운 아이콘 요청이나 XEICON에 대한 제안이 있다면 자유롭게 이야기해주세요!<br />앞으로의 이야기들을 함께 만들어갈 third party 참여 또한 환영합니다.</p>
		<a href="https://github.com/xpressengine/XEIcon" target="_blank" class="btn_github">github</a>
	</section>
</div>
