@charset "utf-8";
/* NHN > UIT Center > Open UI Tech. Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Board Reset */
.wiki{ font-family:Tahoma, Sans-serif; line-height:normal; font-size:12px;}
.wiki .inputText,
.wiki textarea,
.wiki select{ border:1px solid;}
.wiki label{ cursor:pointer;}
.wiki img{ border:0;}
.wiki .document_popup_menu,
.wiki .comment_popup_menu{ text-align:right; font-size:11px;}
.wiki .document_popup_menu{ margin:1em 0;}
.wiki .comment_popup_menu{ margin:1em 0;}
.wiki .document_popup_menu a,
.wiki .comment_popup_menu a{ text-decoration:underline;}
.wiki .hr{ display:none;}
.wiki{ background:#fff; color:#333;}
.wiki .inputText,
.wiki textarea,
.wiki select{ background:#fff; color:#333; border-top-color:#a6a6a6; border-left-color:#a6a6a6; border-right-color:#d8d8d8; border-bottom-color:#d8d8d8;}
.wiki .document_popup_menu a,
.wiki .comment_popup_menu a{ color:#8b8b8b;}
.wiki .wikiNavigation{ border-color:#bababa;}

/* Board Header */
.wikiHeader *{ margin:0 0 20px 0; padding:0;}
.wikiHeader a{ text-decoration:none;}
.wikiHeader a:hover,
.wikiHeader a:active,
.wikiHeader a:focus{ text-decoration:underline;} 
.wikiHeader .wikiTitle{ letter-spacing:-.1em; margin-bottom:10px; border-bottom:3px solid; *zoom:1; background-repeat:no-repeat; background-position:left 8px;}
.wikiHeader .wikiTitle:after{ content:""; display:block; clear:both;}
.wikiHeader .wikiTitleText{ font-size:18px; float:left; clear:both; margin-bottom:-3px; padding:5px 15px 5px 5px; border-bottom:3px solid; background-repeat:no-repeat; background-position:right bottom;}
.wikiHeader .wikiTitleText a{ text-decoration:none;}
.wikiHeader .wikiTitleText em{ font-style:normal; font-weight:normal;}
.wikiHeader .wikiDescription{ padding:7px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative;}
.wikiHeader a{ color:#4d4d4d;}
.wikiHeader .wikiTitle{ border-color:#ddd; }
.wikiHeader .wikiTitleText{ border-color:#666; background-image:url(../img/white/lineVr11.gif);}
.wikiHeader .wikiTitleText a{ color:#000;}
.wikiHeader .wikiTitleText em{ color:#666;}
.wikiHeader .wikiDescription{ background:#f8f8f8; }

/* Board Information */
.wikiInformation{width:100%; padding:15px 0; font-size:1em; line-height:normal; *zoom:1;}
.wikiInformation *{ margin:0; padding:0;}
.wikiInformation a{ text-decoration:none;}
.wikiInformation a:hover,
.wikiInformation a:active,
.wikiInformation a:focus{ text-decoration:underline;} 
.wikiInformation:after{ content:""; display:block; float:none; clear:both;}
.wikiInformation ul{ overflow:hidden;}
.wikiInformation .infoSum{ float:left; font-size:16px; font-weight:bold;}
.wikiInformation .infoView{ float:left;}
.wikiInformation .infoView li{ position:relative; float:left; margin-left:3px; display:inline;}
.wikiInformation .infoView li.icon a{ display:block; float:left; width:23px; height:23px; overflow:hidden; background-repeat:no-repeat;}
.wikiInformation .infoView li.icon a span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.wikiInformation .infoView li.listTypeClassic a{ background-position:0 0;}
.wikiInformation .infoView li.listTypeClassic.active a{ background-position:0 -23px;}
.wikiInformation .infoView li.listTypeZine a{ background-position:-23px 0;}
.wikiInformation .infoView li.listTypeZine.active a{ background-position:-23px -23px;}
.wikiInformation .infoView li.listTypeGallery a{ background-position:-46px 0;}
.wikiInformation .infoView li.listTypeGallery.active a{ background-position:-46px -23px;}
.wikiInformation .infoView li.setup{ margin:0 7px;}
.wikiInformation .infoView li.setup a{ display:block; float:left; width:43px; height:23px; background-repeat:no-repeat;}
.wikiInformation .infoView li.setup a span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.wikiInformation em,
.wikiInformation strong{ color:#ff6600;}
.wikiInformation .infoView li.icon a{ background-image:url(../img/common/icons.gif);}
.wikiInformation .infoView li.setup a{ background-image:url(../img/common/buttonSetup.gif);}

/* Board List Form */
.wikiListForm{ margin:0; line-height:normal;}
.wikiListForm *{ margin:0; padding:0;}
.wikiListForm fieldset{ border:0; clear:both;}
.wikiListForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.wikiListForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.wikiListForm em,
.wikiListForm strong{ font-style:normal;}
.wikiListForm strong.trackback { color:#423CC4; }
.wikiListForm em,
.wikiListForm strong{color:#ff3636;}

/* Board List */
.wikiList{ border:0; border-top:1px solid; width:100%;}
.wikiList a{ text-decoration:none;}
.wikiList a:hover,
.wikiList a:active,
.wikiList a:focus{ text-decoration:underline;} 
.wikiList .inputCheck{ width:13px; height:13px;}
.wikiList .jumpTo{ float:left;}
.wikiList .jumpTo *{ vertical-align:middle; *vertical-align:top;}
.wikiList .jumpTo select{ height:20px; font-size:12px; *margin-right:5px;}
.wikiList .jumpTo button{ width:22px; height:20px; line-height:18px; _line-height:normal; border:1px solid; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0; padding:0; text-align:center; background-repeat:no-repeat; font-size:11px; cursor:pointer; overflow:visible;}
.wikiList .meta{ position:relative; overflow:hidden; margin:0 0 5px 0; padding:0; list-style:none; white-space:nowrap;}
.wikiList .meta li{ position:relative; left:-10px; display:inline; padding:0 5px 0 10px; background-repeat:no-repeat; background-position:left center; font-size:11px;}
.wikiList .meta li.author{ font-size:11px;}
.wikiList .meta li.date{ font:9px Tahoma;}
.wikiList .meta li em{ font-size:9px;}
.wikiList .replyNum,
.wikiList .trackbackNum{ font:9px Verdana;}

.wikiList th{ border:0; border-bottom:1px solid; padding:8px 6px 7px 6px; *padding:8px 6px 6px 6px; white-space:nowrap; text-align:center; line-height:normal; font-weight:normal;}
.wikiList th.title{ width:100%;}
.wikiList th a .sort{ vertical-align:middle; margin:0 5px;}
.wikiList td{ border:0; border-bottom:1px solid; padding:8px 6px 7px 6px; *padding:8px 6px 6px 6px; white-space:nowrap; text-align:center; line-height:normal; vertical-align:top;}
.wikiList td.notice{ font-size:11px; font-weight:bold;}
.wikiList td.num{ font:9px Tahoma;}
.wikiList td.check{ font:11px Tahoma;}
.wikiList td.title { width:100%; white-space:normal; text-align:left;}
.wikiList td.title img{ vertical-align:middle; margin:0 1px;}
.wikiList td.title .author{ font-size:11px;}
.wikiList td.author{ font-size:11px; text-align:left;}
.wikiList td.replies{ font:9px Tahoma;}
.wikiList td.reading{ font:9px Tahoma;}
.wikiList td.recommend{ font:bold 9px Tahoma;}
.wikiList td.date{ font:9px Tahoma;}
.wikiList td.summary { text-align:left; border-top-style:dotted; white-space:normal;}
.wikiList td.summary .thumb{ display:block; float:left; padding:2px; border:1px solid; margin-right:10px;}
.wikiList td.summary .thumb img{ display:block;}
.wikiList td.lastReply{ text-align:left; font-size:11px;}

.wikiList td .notice{ font-size:11px; padding-right:7px; margin-right:2px; background-repeat:no-repeat; background-position:right center;}
.wikiList td .category{ font-weight:normal; font-size:11px; padding-right:7px; margin-right:2px; background-repeat:no-repeat; background-position:right center;}
.wikiList td .replyAnchor{ position:relative; font-size:9px;}
.wikiList td .by{ font:9px Tahoma;}
.wikiList{ border-color:#bababa;}
.wikiList a{ color:#4d4d4d;}
.wikiList .jumpTo button{ background-color:#eee; border-color:#ccc; color:#000;}
.wikiList .meta li{ background-image:url(../img/white/lineVr9.gif);}
.wikiList .replyNum{ color:#ff3636;}
.wikiList .trackbackNum{ color:#66c;}
.wikiList .replyAnchor{ color:#06C;}
.wikiList th{ border-color:#dcdcdc; color:#4d4d4d;}
.wikiList th a{ color:#66c;}
.wikiList td{ border-color:#eee; color:#4d4d4d;}
.wikiList td.title a.forum:link,
.wikiList td.recommend{ color:#ff3636;}
.wikiList td.summary .thumb{ border-color:#ddd; background:#fff;}
.wikiList td .notice{ background-image:url(../img/white/lineVr9.gif);}
.wikiList td .category{ color:#888; background-image:url(../img/white/lineVr9.gif);}
.wikiList td .by{ color:#ccc;}

/* Board Navigation */
.wiki .wikiNavigation{ padding:30px 0; margin:-1px 0 0 0; text-align:center; border-top:1px solid; *zoom:1; _zoom:0;}
.wiki .wikiNavigation:after{ content:""; display:block; float:none; clear:both;}
.wiki .wikiNavigation .pagination{ padding:5px 0;}
.wiki .wikiNavigation .buttonLeft{ float:left; text-align:left;}
.wiki .wikiNavigation .buttonRight{ float:right; text-align:right;}

/* Search Form */
.wikiSearchForm{ position:relative; float:right; margin:0; padding:1px 0; line-height:normal;}
.wikiSearchForm.footer { clear:both; float:none; margin:20px 0; text-align:center; }
.wikiSearchForm *{ margin:0; padding:0;}
.wikiSearchForm fieldset{ border:0; clear:both; text-align:center;}
.wikiSearchForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.wikiSearchForm fieldset *{ vertical-align:top;}
.wikiSearchForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.wikiSearchForm select{ font-size:12px; height:23px; border:1px solid;}
.wikiSearchForm .inputText{ width:140px; height:15px; padding:4px 4px 2px 4px; font-size:12px; *margin:-1px 0;}

.wikiSearchForm .infoEtc{ position:absolute; top:7px; right:0;}
.wikiSearchForm .infoEtc li{ display:inline;}
.wikiSearchForm .infoEtc li a{ display:inline-block; height:11px; background-repeat:no-repeat; overflow:hidden;}
.wikiSearchForm .infoEtc li a span{ position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden;}
.wikiSearchForm .infoEtc li.contributors a{ width:12px; background-position:0 0;}
.wikiSearchForm .infoEtc li.tag a{ width:42px; background-position:-11px 0;}
.wikiSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorsTaglist.gif);}

/* Board Read */
.wikiReadHeader{ *zoom:1;}
.wikiReadHeader a{ text-decoration:none;}
.wikiReadHeader a:hover,
.wikiReadHeader a:active,
.wikiReadHeader a:focus{ text-decoration:underline;}
.wikiReadHeader:after{ content:""; display:block; float:none; clear:both;}
.wikiReadHeader *{ margin:0; padding:0;}
.wikiReadHeader .titleArea{ *zoom:1; padding:7px 0; border-top:1px solid; border-bottom:1px solid;}
.wikiReadHeader .titleArea:after{ content:""; display:block; clear:both;}
.wikiReadHeader .titleArea .title{ float:left; font-size:16px; margin-right:10px;}
.wikiReadHeader .titleArea .category{ float:left; padding-left:10px; margin-top:4px; font-size:12px; background-repeat:no-repeat; background-position:left center;}
.wikiReadHeader .titleArea .sum{ float:right; white-space:nowrap; margin-top:2px;}
.wikiReadHeader .titleArea .sum .read,
.wikiReadHeader .titleArea .sum .vote{ font-size:11px; margin-right:5px;}
.wikiReadHeader .titleArea .sum .num{ font-size:9px;}
.wikiReadHeader .titleArea .sum .date{ padding-left:10px; font-size:9px; background-repeat:no-repeat; background-position:left center;}
.wikiReadHeader .authorArea{ *zoom:1; padding:10px 0;}
.wikiReadHeader .authorArea:after{ content:""; display:block; clear:both;}
.wikiReadHeader .authorArea .author{ float:left; margin-right:10px;}
.wikiReadHeader .authorArea .ipAddress{ float:left; font-size:9px; margin-top:3px;}
.wikiReadHeader .authorArea .permaLink{ float:right; font-size:9px; margin-top:3px;}
.wikiReadHeader a{ color:#262626;}
.wikiReadHeader .titleArea{ border-top-color:#bababa; border-bottom-color:#dcdcdc;}
.wikiReadHeader .titleArea .category{ color:#4d4d4d; background-image:url(../img/white/lineVr9.gif);}
.wikiReadHeader .titleArea .num{ color:#adadad;}
.wikiReadHeader .titleArea .date{ color:#adadad; background-image:url(../img/white/lineVr9.gif);}
.wikiReadHeader .authorArea .ipAddress{ color:#adadad;}
.wikiReadHeader .authorArea .permaLink{ color:#adadad;}

.wikiReadBody{ overflow:hidden; *zoom:1;}
.wikiReadBody .xe_content{ overflow:hidden; }
.wikiReadBody .xe_content a { text-decoration:underline; }

.wikiReadFooter .memberSignature { border:1px solid; padding:10px; margin:1em 0; overflow:hidden; *zoom:1; clear:both; -moz-border-radius:5px; -webkit-border-radius:5px;}
.wikiReadFooter .memberSignature img.profile { margin:0 1em 0 0; border:1px solid;}
.wikiReadFooter .tag{ margin:1em 0; clear:both;}
.wikiReadFooter .tag *{ display:inline; margin:0; padding:0; font-size:12px; vertical-align:middle;}
.wikiReadFooter .tag dt{ margin-right:10px;}
.wikiReadFooter .tag dd{ margin-right:5px;}
.wikiReadFooter .trackbackURL{ margin:1em 0; clear:both;}
.wikiReadFooter .trackbackURL *{ display:inline; margin:0; padding:0;}
.wikiReadFooter .trackbackURL dt{ margin-right:5px; font-size:12px;}
.wikiReadFooter .trackbackURL dd{ font-size:11px; text-decoration:none;}
.wikiReadFooter .trackbackURL a{ text-decoration:none;}
.wikiReadFooter .trackbackURL a:hover,
.wikiReadFooter .trackbackURL a:active,
.wikiReadFooter .trackbackURL a:focus{ text-decoration:underline;}
.wikiReadFooter .trackbackURL dt{ color:#4d4d4d;}
.wikiReadFooter .trackbackURL dd a{ color:#adadad;}
.wikiReadFooter .contributors { margin:1em 0; clear:both;}
.wikiReadFooter .contributors *{ display:inline; margin:0; padding:0;}
.wikiReadFooter .contributors dt{ margin-right:5px; font-size:12px;}
.wikiReadFooter .contributors dd{ font-size:12px; text-decoration:none;}
.wikiReadFooter .contributors a{ text-decoration:none;}
.wikiReadFooter .contributors a:hover,
.wikiReadFooter .contributors a:active,
.wikiReadFooter .contributors a:focus{ text-decoration:underline;}
.wikiReadFooter .contributors dt{ color:#4d4d4d;}
.wikiReadFooter .contributors dd a{ color:#4d4d4d; margin-right:5px; }
.wikiReadFooter .memberSignature{ border-color:#f0f0f0; background-color:#fdfdfd;}
.wikiReadFooter .memberSignature img.profile { border-color:#eee;} 
.wikiReadFooter .tag dd a{ color:#4d4d4d;}
.wikiRead .wikiNavigation{ border-top:1px solid;}
.wikiRead .command { float:right; }

/* Feedback List */
.feedbackList{ overflow:hidden; padding-top:15px; margin-bottom:10px; border-top:1px solid;}
.feedbackList .feedbackHeader{ float:left; font-weight:bold; margin:1em 1em .5em 0; font-size:16px;}
.feedbackList .feedbackHeader em{ font-style:normal;}
.feedbackList .trackbackURL{ position:relative; top:1.5em; float:left; font-size:9px;}
.feedbackList .trackbackURL a{ text-decoration:none;}
.feedbackList .trackbackURL a:hover,
.feedbackList .trackbackURL a:active,
.feedbackList .trackbackURL a:focus{ text-decoration:underline;}
.feedbackList .trackbackList,
.feedbackList .replyList{ clear:both;}

.feedbackList .item{ position:relative; border-top:1px dashed; overflow:hidden; *zoom:1; clear:both;}
.feedbackList .item .indent{ position:relative; *zoom:1; }
.feedbackList .item .indent:after{ content:""; display:block; clear:both;}
.feedbackList .item.itemReply .indent{ padding-left:15px; background-repeat:no-repeat; background-position:0 1.2em;}

.feedbackList .item .header{ margin:0 0 5px 0;}
.feedbackList .item .header a{ font-size:12px; text-decoration:none;}
.feedbackList .item .header a:hover,
.feedbackList .item .header a:active,
.feedbackList .item .header a:focus{ text-decoration:underline;}

.feedbackList .item .itemContent { position:relative; padding:1em 0 1em 120px; *zoom:1; z-index:1;}
.feedbackList .item .itemContent:after{ content:""; display:block; clear:both;}
.feedbackList .item .itemContent *{ margin-top:0;}
.feedbackList .item .itemContent .xe_content{ width:auto !important;}
.feedbackList .item .itemContent .xe_content a { text-decoration:underline; }
.feedbackList .item .itemContent .option{ position:relative; margin:1em 0; padding:0; list-style:none; white-space:nowrap; overflow:hidden; *zoom:1; float:right;}
.feedbackList .item .itemContent .option li{ position:relative; left:-1px; display:inline; padding:0 0 0 5px; background-repeat:no-repeat; background-position:left center; font-size:11px;}
.feedbackList .item .itemContent .option li.wouldYou{ background:none;}
.feedbackList .item .itemContent .option li a{ text-decoration:none;}
.feedbackList .item .itemContent .option li a:hover,
.feedbackList .item .itemContent .option li a:active,
.feedbackList .item .itemContent .option li a:focus{ text-decoration:underline;} 
.feedbackList .item .itemContent .delete{ position:relative; display:inline-block; width:13px; height:13px; background-repeat:no-repeat; background-position:center center; vertical-align:middle;}
.feedbackList .item .itemContent .delete span{ position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
.feedbackList .item.itemOnly{ border-top:0;}

.feedbackList .item .itemAside{ position:relative; float:left; width:100px; margin-right:-100px; padding:1em 0 0 0; *zoom:1; text-align:left; z-index:2;}
.feedbackList .item .itemAside a{ text-decoration:none;}
.feedbackList .item .itemAside a:hover,
.feedbackList .item .itemAside a:active,
.feedbackList .item .itemAside a:focus{ text-decoration:underline;}
.feedbackList .item .itemAside img.profile{ display:block; border:1px solid; margin-bottom:5px;}
.feedbackList .item .itemAside .meta{ font-size:9px; margin:0 0 5px 0; white-space:nowrap;}
.feedbackList .item .itemAside .vote{ margin:0; *zoom:1; overflow:hidden;}
.feedbackList .item .itemAside .vote:after{ content:""; display:block; clear:both;}
.feedbackList .item .itemAside .vote *{margin:0; padding:0;}
.feedbackList .item .itemAside .vote dt{ position:relative; left:-5px; float:left; width:10px; height:9px; margin-right:2px; padding-left:5px; background-image:url(../img/common/iconLove.gif); background-repeat:no-repeat; overflow:hidden; border-left:1px solid #e5e5e5;}
.feedbackList .item .itemAside .vote dt.love{ background-position:5px 1px;}
.feedbackList .item .itemAside .vote dt.hate{ background-position:5px -19px;}
.feedbackList .item .itemAside .vote dt span{ position:absolute; width:0; height:0; line-height:0; font-size:0; overflow:hidden; visibility:hidden;}
.feedbackList .item .itemAside .vote dd{ position:relative; left:-5px; float:left; margin-right:5px; font-size:9px; font-weight:bold;}

.feedbackList .item .secretMessage{ margin:0; padding:1em 3em;}
.feedbackList .item .secretMessage p{ text-align:center; margin:1em 0; font-size:18px;}
.feedbackList .item .secretMessage dl{ text-align:center; margin:1em 0;}
.feedbackList .item .secretMessage dt{ font-weight:bold; display:inline;}
.feedbackList .item .secretMessage dd{ margin:0; display:inline;}
.feedbackList .item .secretMessage dd .inputText{ padding:3px 4px; height:15px; vertical-align:middle; margin-right:5px;}

.feedbackList{ border-color:#f0f0f0;}
.feedbackList .feedbackHeader a{ color:#000;}
.feedbackList .feedbackHeader em{ color:#ff6600;}
.feedbackList .trackbackURL a{ color:#adadad;}
.feedbackList .item{ border-color:#f0f0f0;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#8b8b8b;}
.feedbackList .item .header a{ color:#262626;}
.feedbackList .item .itemContent .option li{ background-image:url(../img/white/lineVr9.gif);}
.feedbackList .item .itemContent .option li a{ color:#666;}
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#eee;}
.feedbackList .item .itemAside .meta{ color:#adadad;}
.feedbackList .item .itemAside .vote *{ color:#8b8b8b;}

/* Time */
.time *{ color:#666;}
.time dt{ background:#fff;}

/* Attached File */
.attachedFile { position:relative; margin:1em -100% 1em 0; float:left; width:100%;}
.attachedFile *{ margin:0; padding:0; font-size:11px; vertical-align:middle;}
.attachedFile dt img{ margin-right:10px;}
.attachedFile dt .fileToggle{ border:0; padding:0; overflow:visible; cursor:pointer; font-size:11px; background:none;}
.attachedFile dd{ position:relative; margin-right:5px; display:none; margin-top:5px; padding-left:40px;}
.attachedFile.open dd{ display:block;}
.attachedFile ul.files { position:relative; margin:0 0 1em 0; padding:0; clear:both; list-style:none;}
.attachedFile ul.files *{ display:inline-block; *display:inline; padding:0; margin:0; font-size:11px;}
.attachedFile ul.files li{ position:relative; margin:0 10px 0 0;}
.attachedFile ul.files a{ position:relative; background-repeat:no-repeat; background-position:left center; *zoom:1; text-decoration:none !important;}
.attachedFile ul.files a .bubble{ display:none; position:absolute; top:-20px; left:0; padding:2px 5px; z-index:100; white-space:nowrap;}
.attachedFile ul.files a:hover .bubble,
.attachedFile ul.files a:active .bubble,
.attachedFile ul.files a:focus .bubble{ display:block;}
.attachedFile ul.files a{ padding-left:15px; background-image:url(../img/common/iconFile.gif); color:#4d4d4d;}
.attachedFile dt a { color:#4d4d4d;}
.attachedFile ul.files a .bubble{ border:1px solid #ddd; background-color:#fff; color:#4d4d4d;}

/* Board Write */
.wikiWrite *{ margin:0; padding:0;}
.wikiWrite li{ list-style:none;}
.wikiWrite fieldset{ border:0;}
.wikiWrite legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.wikiWrite .wikiWriteHeader{ margin:0 0 1em 0;}
.wikiWrite .wikiWriteHeader *{ vertical-align:middle;}
.wikiWrite .wikiWriteHeader select{ font-size:12px; vertical-align:top; height:23px;}
.wikiWrite .wikiWriteHeader .inputText{ width:400px; padding:3px 4px; height:15px; font-size:12px; *margin-top:-1px;}
.wikiWrite .wikiWriteHeader dl.title dd{ white-space:nowrap;}
.wikiWrite .wikiWriteHeader dl.title dd .inputText{ width:60%;}
.wikiWrite .tag{ clear:both; margin-bottom:10px; *zoom:1;}
.wikiWrite .tag:after{ content:""; display:block; float:none; clear:both;}
.wikiWrite .tag .inputText{ float:left; width:330px; padding:4px 4px 2px 4px; margin-right:10px; font-size:12px;}
.wikiWrite .tag p{ float:left;}

/* Editor */
.wiki .wikiEditor{ border:1px solid; margin-bottom:20px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.wiki .wikiEditor .commentEditor{ margin:15px; *zoom:1; position:relative;}
.wiki .wikiEditor{ border-color:#ddd; background:#f8f8f8;}

/* Editor Option */
.wiki .editorOption{ margin:1em 0; text-align:left;}
.wiki .editorOption *{ vertical-align:middle;}
.wiki .editorOption select{ margin-right:10px; font-size:12px;}
.wiki .editorOption label{ margin-right:10px;}
.wiki .editorOption .inputText{ padding:3px 4px; height:15px; margin:0 10px 5px 0; font-size:12px; vertical-align:middle;}
.wiki .editorOption .inputText.userName{ width:100px;}
.wiki .editorOption .inputText.userPw{ width:50px; font:11px Tahoma;}
.wiki .editorOption .inputText.emailAddress{ width:140px; font:11px Tahoma;}
.wiki .editorOption .inputText.homePage{ width:140px; font:11px Tahoma;}

/* Require Password */
.wiki .requirePassword{ text-align:center;}
.wiki .requirePassword fieldset{ border:0; padding:3em 0 4em 0;}
.wiki .requirePassword h3{ font-size:16px;}
.wiki .requirePassword .inputText{ height:15px; width:150px; padding:3px 4px;}

/* Tag Cloud */
.tagCloud{ padding:3em 0; border-top:1px solid; border-bottom:1px solid;}
.tagCloud *{ margin:0; padding:0;}
.tagCloud ul{ text-align:justify;}
.tagCloud li{ display:inline; list-style:none; margin:0 5px; white-space:nowrap;}
.tagCloud li.rank1 a{ font-weight:bold; font-size:24px;}
.tagCloud li.rank2 a{ font-weight:bold; font-size:18px;}
.tagCloud li.rank3 a{ font-weight:bold; font-size:14px;}
.tagCloud li.rank4 a{ font-size:12px;}
.tagCloud li.rank5 a{ font-size:11px;}
.tagCloud{ border-color:#bababa;}
.tagCloud li.rank1 a{ color:#000;}
.tagCloud li.rank2 a{ color:#222;}
.tagCloud li.rank3 a{ color:#444;}
.tagCloud li.rank4 a{ color:#666;}
.tagCloud li.rank5 a{ color:#888;}

/* Popup Menu */
#popup_menu_area{background:#fff; border-color:#eee;}
#popup_menu_area ul{ border-color:#ddd;}
#popup_menu_area li a{ color:#000;}

/* Pagination */
.pagination{ padding:15px 0; margin:0; text-align:center;}
.pagination *{ margin:0; padding:0;}
.pagination img{ border:0;}
.pagination a,
.pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; color:#4d4d4d; font-family:Tahoma, Sans-serif; margin:0; padding:2px 6px; font-size:11px; vertical-align:middle;}
.pagination strong{ color:#ff3636 !important; border:1px solid #e7e7e7;}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{ font-weight:normal !important; margin:0 !important; white-space:nowrap; text-decoration:none !important; border:1px solid #e7e7e7; background-image:url(../img/common/arrowPagination.gif); background-repeat:no-repeat;}
.pagination a.prevEnd{ padding-left:14px; background-position:left center; }
.pagination a.nextEnd{ padding-right:14px; background-position:right center; }

/* Button */
.buttonOfficial,
.buttonOfficial a,
.buttonOfficial input,
.buttonOfficial button{ position:relative; vertical-align:middle; display:inline-block; height:25px; font-size:12px; line-height:25px; color:#4d4d4d; cursor:pointer; background-image:url(../img/white/buttonOfficial.gif); background-repeat:no-repeat; text-decoration:none !important; overflow:visible; border:0; padding:0; background-color:transparent;}

.buttonOfficial{ background-position:left top; margin-right:4px;}
.buttonOfficial a,
.buttonOfficial input,
.buttonOfficial button{ left:4px; background-position:right top; padding:0 8px 0 4px;}

a.buttonOfficial{ _margin-top:-1px;}
a.buttonOfficial a{ _vertical-align:top;}

.hide { display:none; }

/* tree */
#tree ul.simpleTree li.noIcon { background:none; }
#tree ul.simpleTree li ul li span { padding-left:5px; }
