@charset "utf-8";
/* NHN > UIT Center > Open UI Tech. Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Board Reset */
.board{ font-family:Tahoma, Sans-serif; line-height:normal; font-size:12px;}
.board .inputText,
.board textarea,
.board select{ border:1px solid;}
.board label{ cursor:pointer;}
.board img{ border:0;}
.board .document_popup_menu,
.board .comment_popup_menu{ text-align:right; font-size:11px;}
.board .document_popup_menu{ margin:1em 0;}
.board .comment_popup_menu{ margin:1em 0;}
.board .document_popup_menu a,
.board .comment_popup_menu a{ text-decoration:underline;}
.board .hr{ display:none;}
.board{ background:#fff; color:#333;}
.board .inputText,
.board textarea,
.board select{ background:#fff; color:#333; border-top-color:#a6a6a6; border-left-color:#a6a6a6; border-right-color:#d8d8d8; border-bottom-color:#d8d8d8;}
.board .document_popup_menu a,
.board .comment_popup_menu a{ color:#8b8b8b;}
.board .boardNavigation{ border-color:#bababa;}

/* Board Header */
.boardHeader *{ margin:0 0 20px 0; padding:0;}
.boardHeader a{ text-decoration:none;}
.boardHeader a:hover,
.boardHeader a:active,
.boardHeader a:focus{ text-decoration:underline;} 
.boardHeader .boardTitle{ letter-spacing:-.1em; margin-bottom:10px; border-bottom:3px solid; *zoom:1; background-repeat:no-repeat; background-position:left 8px;}
.boardHeader .boardTitle:after{ content:""; display:block; clear:both;}
.boardHeader .boardTitleText{ font-size:18px; float:left; clear:both; margin-bottom:-3px; padding:5px 15px 5px 5px; border-bottom:3px solid; background-repeat:no-repeat; background-position:right bottom;}
.boardHeader .boardTitleText a{ text-decoration:none;}
.boardHeader .boardTitleText em{ font-style:normal; font-weight:normal;}
.boardHeader .boardDescription{ padding:7px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative;}
.boardHeader a{ color:#4d4d4d;}
.boardHeader .boardTitle{ border-color:#ddd; }
.boardHeader .boardTitleText{ border-color:#666; background-image:url(../img/white/lineVr11.gif);}
.boardHeader .boardTitleText a{ color:#000;}
.boardHeader .boardTitleText em{ color:#666;}
.boardHeader .boardDescription{ background:#f8f8f8; }

/* Board Information */
.boardInformation{width:100%; padding:15px 0; font-size:1em; line-height:normal; *zoom:1;}
.boardInformation *{ margin:0; padding:0;}
.boardInformation a{ text-decoration:none;}
.boardInformation a:hover,
.boardInformation a:active,
.boardInformation a:focus{ text-decoration:underline;} 
.boardInformation:after{ content:""; display:block; float:none; clear:both;}
.boardInformation ul{ overflow:hidden;}
.boardInformation .infoSum{ float:left; font-size:16px; font-weight:bold;}
.boardInformation .infoView{ float:right;}
.boardInformation .infoView li{ position:relative; float:left; margin-left:3px; display:inline;}
.boardInformation .infoView li.icon a{ display:block; float:left; width:23px; height:23px; overflow:hidden; background-repeat:no-repeat;}
.boardInformation .infoView li.icon a span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.boardInformation .infoView li.listTypeClassic a{ background-position:0 0;}
.boardInformation .infoView li.listTypeClassic.active a{ background-position:0 -23px;}
.boardInformation .infoView li.listTypeZine a{ background-position:-23px 0;}
.boardInformation .infoView li.listTypeZine.active a{ background-position:-23px -23px;}
.boardInformation .infoView li.listTypeGallery a{ background-position:-46px 0;}
.boardInformation .infoView li.listTypeGallery.active a{ background-position:-46px -23px;}
.boardInformation .infoView li.setup{ margin:0 7px;}
.boardInformation .infoView li.setup a{ display:block; float:left; width:43px; height:23px; background-repeat:no-repeat;}
.boardInformation .infoView li.setup a span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.boardInformation em,
.boardInformation strong{ color:#ff6600;}
.boardInformation .infoView li.icon a{ background-image:url(../img/common/icons.gif);}
.boardInformation .infoView li.setup a{ background-image:url(../img/common/buttonSetup.gif);}

/* Board List Form */
.boardListForm{ margin:0; line-height:normal;}
.boardListForm *{ margin:0; padding:0;}
.boardListForm fieldset{ border:0; clear:both;}
.boardListForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.boardListForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardListForm em,
.boardListForm strong{ font-style:normal;}
.boardListForm strong.trackback { color:#423CC4; }
.boardListForm em,
.boardListForm strong{color:#ff3636;}

/* Board List */
.boardList{ border:0; border-top:1px solid; width:100%;}
.boardList a{ text-decoration:none;}
.boardList a:hover,
.boardList a:active,
.boardList a:focus{ text-decoration:underline;} 
.boardList .inputCheck{ width:13px; height:13px;}
.boardList .jumpTo{ float:left;}
.boardList .jumpTo *{ vertical-align:middle; *vertical-align:top;}
.boardList .jumpTo select{ height:20px; font-size:12px; *margin-right:5px;}
.boardList .jumpTo button{ width:22px; height:20px; line-height:18px; _line-height:normal; border:1px solid; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0; padding:0; text-align:center; background-repeat:no-repeat; font-size:11px; cursor:pointer; overflow:visible;}
.boardList .meta{ position:relative; overflow:hidden; margin:0 0 5px 0; padding:0; list-style:none; white-space:nowrap;}
.boardList .meta li{ position:relative; left:-10px; display:inline; padding:0 5px 0 10px; background-repeat:no-repeat; background-position:left center; font-size:11px;}
.boardList .meta li.author{ font-size:11px;}
.boardList .meta li.date{ font:9px Tahoma;}
.boardList .meta li em{ font-size:9px;}
.boardList .replyNum,
.boardList .trackbackNum{ font:9px Verdana;}

.boardList th{ border:0; border-bottom:1px solid; padding:8px 6px 7px 6px; *padding:8px 6px 6px 6px; white-space:nowrap; text-align:center; line-height:normal; font-weight:normal;}
.boardList th.title{ width:100%;}
.boardList th a .sort{ vertical-align:middle; margin:0 5px;}
.boardList td{ border:0; border-bottom:1px solid; padding:8px 6px 7px 6px; *padding:8px 6px 6px 6px; white-space:nowrap; text-align:center; line-height:normal; vertical-align:top;}
.boardList td.notice{ font-size:11px; font-weight:bold;}
.boardList td.num{ font:9px Tahoma;}
.boardList td.check{ font:11px Tahoma;}
.boardList td.title { width:100%; white-space:normal; text-align:left;}
.boardList td.title img{ vertical-align:middle; margin:0 1px;}
.boardList td.title .author{ font-size:11px;}
.boardList td.author{ font-size:11px; text-align:left;}
.boardList td.replies{ font:9px Tahoma;}
.boardList td.reading{ font:9px Tahoma;}
.boardList td.recommend{ font:bold 9px Tahoma;}
.boardList td.date{ font:9px Tahoma;}
.boardList td.summary { text-align:left; border-top-style:dotted; white-space:normal;}
.boardList td.summary .thumb{ display:block; float:left; padding:2px; border:1px solid; margin-right:10px;}
.boardList td.summary .thumb img{ display:block;}
.boardList td.lastReply{ text-align:left; font-size:11px;}

.boardList td .notice{ font-size:11px; padding-right:7px; margin-right:2px; background-repeat:no-repeat; background-position:right center;}
.boardList td .category{ font-weight:normal; font-size:11px; padding-right:7px; margin-right:2px; background-repeat:no-repeat; background-position:right center;}
.boardList td .replyAnchor{ position:relative; font-size:9px;}
.boardList td .by{ font:9px Tahoma;}
.boardList{ border-color:#bababa;}
.boardList a{ color:#4d4d4d;}
.boardList .jumpTo button{ background-color:#eee; border-color:#ccc; color:#000;}
.boardList .meta li{ background-image:url(../img/white/lineVr9.gif);}
.boardList .replyNum{ color:#ff3636;}
.boardList .trackbackNum{ color:#66c;}
.boardList .replyAnchor{ color:#06C;}
.boardList th{ border-color:#dcdcdc; color:#4d4d4d;}
.boardList th a{ color:#66c;}
.boardList td{ border-color:#eee; color:#4d4d4d;}
.boardList td.title a.forum:link,
.boardList td.recommend{ color:#ff3636;}
.boardList td.summary .thumb{ border-color:#ddd; background:#fff;}
.boardList td .notice{ background-image:url(../img/white/lineVr9.gif);}
.boardList td .category{ color:#888; background-image:url(../img/white/lineVr9.gif);}
.boardList td .by{ color:#ccc;}

/* Board Navigation */
.board .boardNavigation{ padding:30px 0; margin:-1px 0 0 0; text-align:center; border-top:1px solid; *zoom:1; _zoom:0;}
.board .boardNavigation:after{ content:""; display:block; float:none; clear:both;}
.board .boardNavigation .pagination{ padding:5px 0;}
.board .boardNavigation .buttonLeft{ float:left; text-align:left;}
.board .boardNavigation .buttonRight{ float:right; text-align:right;}

/* Search Form */
.boardSearchForm{ position:relative; margin:0; padding:1px 0; line-height:normal;}
.boardSearchForm *{ margin:0; padding:0;}
.boardSearchForm fieldset{ border:0; clear:both; text-align:center;}
.boardSearchForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.boardSearchForm fieldset *{ vertical-align:top;}
.boardSearchForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardSearchForm select{ font-size:12px; height:23px; border:1px solid;}
.boardSearchForm .inputText{ width:140px; height:15px; padding:4px 4px 2px 4px; font-size:12px; *margin:-1px 0;}

.boardSearchForm .infoEtc{ position:absolute; top:7px; right:0;}
.boardSearchForm .infoEtc li{ display:inline;}
.boardSearchForm .infoEtc li a{ display:inline-block; height:11px; background-repeat:no-repeat; overflow:hidden;}
.boardSearchForm .infoEtc li a span{ position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden;}
.boardSearchForm .infoEtc li.contributors a{ width:12px; background-position:0 0;}
.boardSearchForm .infoEtc li.tag a{ width:42px; background-position:-11px 0;}
.boardSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorsTaglist.gif);}

/* Board Read */
.boardReadHeader{ *zoom:1;}
.boardReadHeader a{ text-decoration:none;}
.boardReadHeader a:hover,
.boardReadHeader a:active,
.boardReadHeader a:focus{ text-decoration:underline;}
.boardReadHeader:after{ content:""; display:block; float:none; clear:both;}
.boardReadHeader *{ margin:0; padding:0;}
.boardReadHeader .titleArea{ *zoom:1; padding:7px 0; border-top:1px solid; border-bottom:1px solid;}
.boardReadHeader .titleArea:after{ content:""; display:block; clear:both;}
.boardReadHeader .titleArea .title{ float:left; font-size:16px; margin-right:10px;}
.boardReadHeader .titleArea .category{ float:left; padding-left:10px; margin-top:4px; font-size:12px; background-repeat:no-repeat; background-position:left center;}
.boardReadHeader .titleArea .sum{ float:right; white-space:nowrap; margin-top:2px;}
.boardReadHeader .titleArea .sum .read,
.boardReadHeader .titleArea .sum .vote{ font-size:11px; margin-right:5px;}
.boardReadHeader .titleArea .sum .num{ font-size:9px;}
.boardReadHeader .titleArea .sum .date{ padding-left:10px; font-size:9px; background-repeat:no-repeat; background-position:left center;}
.boardReadHeader .authorArea{ *zoom:1; padding:10px 0;}
.boardReadHeader .authorArea:after{ content:""; display:block; clear:both;}
.boardReadHeader .authorArea .author{ float:left; margin-right:10px;}
.boardReadHeader .authorArea .ipAddress{ float:left; font-size:9px; margin-top:3px;}
.boardReadHeader .authorArea .permaLink{ float:right; font-size:9px; margin-top:3px;}
.boardReadHeader a{ color:#262626;}
.boardReadHeader .titleArea{ border-top-color:#bababa; border-bottom-color:#dcdcdc;}
.boardReadHeader .titleArea .category{ color:#4d4d4d; background-image:url(../img/white/lineVr9.gif);}
.boardReadHeader .titleArea .num{ color:#adadad;}
.boardReadHeader .titleArea .date{ color:#adadad; background-image:url(../img/white/lineVr9.gif);}
.boardReadHeader .authorArea .ipAddress{ color:#adadad;}
.boardReadHeader .authorArea .permaLink{ color:#adadad;}

.boardReadBody{ overflow:hidden; *zoom:1;}
.boardReadBody .xe_content{ overflow:hidden; }
.boardReadBody .xe_content a { text-decoration:underline; }

.boardReadFooter .memberSignature { border:1px solid; padding:10px; margin:1em 0; overflow:hidden; *zoom:1; clear:both; -moz-border-radius:5px; -webkit-border-radius:5px;}
.boardReadFooter .memberSignature img.profile { margin:0 1em 0 0; border:1px solid;}
.boardReadFooter .tag{ margin:1em 0; clear:both;}
.boardReadFooter .tag *{ display:inline; margin:0; padding:0; font-size:12px; vertical-align:middle;}
.boardReadFooter .tag dt{ margin-right:10px;}
.boardReadFooter .tag dd{ margin-right:5px;}
.boardReadFooter .trackbackURL{ margin:1em 0; clear:both;}
.boardReadFooter .trackbackURL *{ display:inline; margin:0; padding:0;}
.boardReadFooter .trackbackURL dt{ margin-right:5px; font-size:12px;}
.boardReadFooter .trackbackURL dd{ font-size:11px; text-decoration:none;}
.boardReadFooter .trackbackURL a{ text-decoration:none;}
.boardReadFooter .trackbackURL a:hover,
.boardReadFooter .trackbackURL a:active,
.boardReadFooter .trackbackURL a:focus{ text-decoration:underline;}
.boardReadFooter .trackbackURL dt{ color:#4d4d4d;}
.boardReadFooter .trackbackURL dd a{ color:#adadad;}
.boardReadFooter .contributors { margin:1em 0; clear:both;}
.boardReadFooter .contributors *{ display:inline; margin:0; padding:0;}
.boardReadFooter .contributors dt{ margin-right:5px; font-size:12px;}
.boardReadFooter .contributors dd{ font-size:12px; text-decoration:none;}
.boardReadFooter .contributors a{ text-decoration:none;}
.boardReadFooter .contributors a:hover,
.boardReadFooter .contributors a:active,
.boardReadFooter .contributors a:focus{ text-decoration:underline;}
.boardReadFooter .contributors dt{ color:#4d4d4d;}
.boardReadFooter .contributors dd a{ color:#4d4d4d; margin-right:5px; }
.boardReadFooter .memberSignature{ border-color:#f0f0f0; background-color:#fdfdfd;}
.boardReadFooter .memberSignature img.profile { border-color:#eee;} 
.boardReadFooter .tag dd a{ color:#4d4d4d;}
.boardRead .boardNavigation{ border-top:1px solid;}
.boardRead .command { float:right; }

/* Feedback List */
.feedbackList{ overflow:hidden; padding-top:15px; margin-bottom:10px; border-top:1px solid;}
.feedbackList .feedbackHeader{ float:left; font-weight:bold; margin:1em 1em .5em 0; font-size:16px;}
.feedbackList .feedbackHeader em{ font-style:normal;}
.feedbackList .trackbackURL{ position:relative; top:1.5em; float:left; font-size:9px;}
.feedbackList .trackbackURL a{ text-decoration:none;}
.feedbackList .trackbackURL a:hover,
.feedbackList .trackbackURL a:active,
.feedbackList .trackbackURL a:focus{ text-decoration:underline;}
.feedbackList .trackbackList,
.feedbackList .replyList{ clear:both;}

.feedbackList .item{ position:relative; border-top:1px dashed; overflow:hidden; *zoom:1; clear:both;}
.feedbackList .item .indent{ position:relative; *zoom:1; }
.feedbackList .item .indent:after{ content:""; display:block; clear:both;}
.feedbackList .item.itemReply .indent{ padding-left:15px; background-repeat:no-repeat; background-position:0 1.2em;}

.feedbackList .item .header{ margin:0 0 5px 0;}
.feedbackList .item .header a{ font-size:12px; text-decoration:none;}
.feedbackList .item .header a:hover,
.feedbackList .item .header a:active,
.feedbackList .item .header a:focus{ text-decoration:underline;}

.feedbackList .item .itemContent { position:relative; padding:1em 0 1em 160px; *zoom:1; z-index:1;}
.feedbackList .item .itemContent:after{ content:""; display:block; clear:both;}
.feedbackList .item .itemContent *{ margin-top:0;}
.feedbackList .item .itemContent .xe_content{ width:auto !important;}
.feedbackList .item .itemContent .xe_content a { text-decoration:underline; }
.feedbackList .item .itemContent .option{ position:relative; margin:1em 0; padding:0; list-style:none; white-space:nowrap; overflow:hidden; *zoom:1; float:right;}
.feedbackList .item .itemContent .option li{ position:relative; left:-1px; display:inline; padding:0 0 0 5px; background-repeat:no-repeat; background-position:left center; font-size:11px;}
.feedbackList .item .itemContent .option li.wouldYou{ background:none;}
.feedbackList .item .itemContent .option li a{ text-decoration:none;}
.feedbackList .item .itemContent .option li a:hover,
.feedbackList .item .itemContent .option li a:active,
.feedbackList .item .itemContent .option li a:focus{ text-decoration:underline;} 
.feedbackList .item .itemContent .delete{ position:relative; display:inline-block; width:13px; height:13px; background-repeat:no-repeat; background-position:center center; vertical-align:middle;}
.feedbackList .item .itemContent .delete span{ position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
.feedbackList .item.itemOnly{ border-top:0;}

.feedbackList .item .itemAside{ position:relative; float:left; width:140px; margin-right:-140px; padding:1em 0 0 0; *zoom:1; text-align:left; z-index:2;}
.feedbackList .item .itemAside a{ text-decoration:none;}
.feedbackList .item .itemAside a:hover,
.feedbackList .item .itemAside a:active,
.feedbackList .item .itemAside a:focus{ text-decoration:underline;}
.feedbackList .item .itemAside img.profile{ display:block; border:1px solid; margin-bottom:5px;}
.feedbackList .item .itemAside .meta{ font-size:9px; margin:0 0 5px 0; white-space:nowrap;}
.feedbackList .item .itemAside .vote{ margin:0; *zoom:1; overflow:hidden;}
.feedbackList .item .itemAside .vote:after{ content:""; display:block; clear:both;}
.feedbackList .item .itemAside .vote *{margin:0; padding:0;}
.feedbackList .item .itemAside .vote dt{ position:relative; left:-5px; float:left; width:10px; height:9px; margin-right:2px; padding-left:5px; background-image:url(../img/common/iconLove.gif); background-repeat:no-repeat; overflow:hidden; border-left:1px solid #e5e5e5;}
.feedbackList .item .itemAside .vote dt.love{ background-position:5px 1px;}
.feedbackList .item .itemAside .vote dt.hate{ background-position:5px -19px;}
.feedbackList .item .itemAside .vote dt span{ position:absolute; width:0; height:0; line-height:0; font-size:0; overflow:hidden; visibility:hidden;}
.feedbackList .item .itemAside .vote dd{ position:relative; left:-5px; float:left; margin-right:5px; font-size:9px; font-weight:bold;}

.feedbackList .item .secretMessage{ margin:0; padding:1em 3em;}
.feedbackList .item .secretMessage p{ text-align:center; margin:1em 0; font-size:18px;}
.feedbackList .item .secretMessage dl{ text-align:center; margin:1em 0;}
.feedbackList .item .secretMessage dt{ font-weight:bold; display:inline;}
.feedbackList .item .secretMessage dd{ margin:0; display:inline;}
.feedbackList .item .secretMessage dd .inputText{ padding:3px 4px; height:15px; vertical-align:middle; margin-right:5px;}

.feedbackList{ border-color:#f0f0f0;}
.feedbackList .feedbackHeader a{ color:#000;}
.feedbackList .feedbackHeader em{ color:#ff6600;}
.feedbackList .trackbackURL a{ color:#adadad;}
.feedbackList .item{ border-color:#f0f0f0;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#8b8b8b;}
.feedbackList .item .header a{ color:#262626;}
.feedbackList .item .itemContent .option li{ background-image:url(../img/white/lineVr9.gif);}
.feedbackList .item .itemContent .option li a{ color:#666;}
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#eee;}
.feedbackList .item .itemAside .meta{ color:#adadad;}
.feedbackList .item .itemAside .vote *{ color:#8b8b8b;}

/* Time */
.time *{ color:#666;}
.time dt{ background:#fff;}

/* Attached File */
.attachedFile { position:relative; margin:1em 0 !important; float:left;}
.feedbackList .item .itemContent .attachedFile{ float:left; margin-top:0; *margin-top:1em; _margin-top:0;}
.attachedFile *{ margin:0; padding:0; font-size:11px; vertical-align:middle;}
.attachedFile dt img{ margin-right:10px;}
.attachedFile dt .fileToggle{ border:0; padding:0; overflow:visible; cursor:pointer; font-size:11px; background:none;}
.attachedFile dd{ position:relative; margin-right:5px; display:none; margin-top:5px; padding-left:40px;}
.attachedFile.open dd{ display:block;}
.attachedFile ul.files { position:relative; margin:0 0 1em 0; padding:0; clear:both; list-style:none;}
.attachedFile ul.files *{ display:inline-block; *display:inline; padding:0; margin:0; font-size:11px;}
.attachedFile ul.files li{ position:relative; margin:0 10px 0 0;}
.attachedFile ul.files a{ position:relative; background-repeat:no-repeat; background-position:left center; *zoom:1; text-decoration:none !important;}
.attachedFile ul.files a .bubble{ display:none; position:absolute; top:-20px; left:0; padding:2px 5px; z-index:100; white-space:nowrap;}
.attachedFile ul.files a:hover .bubble,
.attachedFile ul.files a:active .bubble,
.attachedFile ul.files a:focus .bubble{ display:block;}
.attachedFile ul.files a{ padding-left:15px; background-image:url(../img/common/iconFile.gif); color:#4d4d4d;}
.attachedFile dt a { color:#4d4d4d;}
.attachedFile ul.files a .bubble{ border:1px solid #ddd; background-color:#fff; color:#4d4d4d;}

/* Board Write */
.boardWrite *{ margin:0; padding:0;}
.boardWrite li{ list-style:none;}
.boardWrite fieldset{ border:0;}
.boardWrite legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardWrite .boardWriteHeader{ margin:0 0 1em 0;}
.boardWrite .boardWriteHeader *{ vertical-align:middle;}
.boardWrite .boardWriteHeader select{ font-size:12px; vertical-align:top; height:23px;}
.boardWrite .boardWriteHeader .inputText{ width:400px; padding:3px 4px; height:15px; font-size:12px; *margin-top:-1px;}
.boardWrite .boardWriteHeader dl.title dd{ white-space:nowrap;}
.boardWrite .boardWriteHeader dl.title dd .inputText{ width:60%;}
.boardWrite .tag{ clear:both; margin-bottom:10px; *zoom:1;}
.boardWrite .tag:after{ content:""; display:block; float:none; clear:both;}
.boardWrite .tag .inputText{ float:left; width:330px; padding:4px 4px 2px 4px; margin-right:10px; font-size:12px;}
.boardWrite .tag p{ float:left;}

/* Editor */
.board .boardEditor{ border:1px solid; margin-bottom:20px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.board .boardEditor .commentEditor{ margin:15px; *zoom:1; position:relative;}
.board .boardEditor{ border-color:#ddd; background:#f8f8f8;}

/* Editor Option */
.board .editorOption{ margin:1em 0; text-align:left;}
.board .editorOption *{ vertical-align:middle;}
.board .editorOption select{ margin-right:10px; font-size:12px;}
.board .editorOption label{ margin-right:10px;}
.board .editorOption .inputText{ padding:3px 4px; height:15px; margin:0 10px 5px 0; font-size:12px; vertical-align:middle;}
.board .editorOption .inputText.userName{ width:100px;}
.board .editorOption .inputText.userPw{ width:50px; font:11px Tahoma;}
.board .editorOption .inputText.emailAddress{ width:140px; font:11px Tahoma;}
.board .editorOption .inputText.homePage{ width:140px; font:11px Tahoma;}

/* Require Password */
.board .requirePassword{ text-align:center;}
.board .requirePassword fieldset{ border:0; padding:3em 0 4em 0;}
.board .requirePassword h3{ font-size:16px;}
.board .requirePassword .inputText{ height:15px; width:150px; padding:3px 4px;}

/* Tag Cloud */
.tagCloud{ padding:3em 0; border-top:1px solid; border-bottom:1px solid;}
.tagCloud *{ margin:0; padding:0;}
.tagCloud ul{ text-align:justify;}
.tagCloud li{ display:inline; list-style:none; margin:0 5px; white-space:nowrap;}
.tagCloud li.rank1 a{ font-weight:bold; font-size:24px;}
.tagCloud li.rank2 a{ font-weight:bold; font-size:18px;}
.tagCloud li.rank3 a{ font-weight:bold; font-size:14px;}
.tagCloud li.rank4 a{ font-size:12px;}
.tagCloud li.rank5 a{ font-size:11px;}
.tagCloud{ border-color:#bababa;}
.tagCloud li.rank1 a{ color:#000;}
.tagCloud li.rank2 a{ color:#222;}
.tagCloud li.rank3 a{ color:#444;}
.tagCloud li.rank4 a{ color:#666;}
.tagCloud li.rank5 a{ color:#888;}

/* Popup Menu */
#popup_menu_area{background:#fff; border-color:#eee;}
#popup_menu_area ul{ border-color:#ddd;}
#popup_menu_area li a{ color:#000;}

/* Pagination */
.pagination{ padding:15px 0; margin:0; text-align:center;}
.pagination *{ margin:0; padding:0;}
.pagination img{ border:0;}
.pagination a,
.pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; color:#4d4d4d; font-family:Tahoma, Sans-serif; margin:0; padding:2px 6px; font-size:11px; vertical-align:middle;}
.pagination strong{ color:#ff3636 !important; border:1px solid #e7e7e7;}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{ font-weight:normal !important; margin:0 !important; white-space:nowrap; text-decoration:none !important; border:1px solid #e7e7e7; background-image:url(../img/common/arrowPagination.gif); background-repeat:no-repeat;}
.pagination a.prevEnd{ padding-left:14px; background-position:left center; }
.pagination a.nextEnd{ padding-right:14px; background-position:right center; }

/* Button */
.buttonOfficial,
.buttonOfficial span,
.buttonOfficial input,
.buttonOfficial button{ position:relative; vertical-align:middle; display:inline-block; height:25px; font-size:12px; line-height:25px; color:#4d4d4d; cursor:pointer; background-image:url(../img/white/buttonOfficial.gif); background-repeat:no-repeat; text-decoration:none !important; overflow:visible; border:0; padding:0; background-color:transparent;}

.buttonOfficial{ background-position:left top; margin-right:4px;}
.buttonOfficial span,
.buttonOfficial input,
.buttonOfficial button{ left:4px; background-position:right top; padding:0 8px 0 4px;}

a.buttonOfficial{ _margin-top:-1px;}
a.buttonOfficial span{ _vertical-align:top;}

.hide { display:none; }
