<?xml version="1.0" encoding="utf-8"?>
<module default_action="dispContent" management_action="dispAdminContent">
    <grants>
        <grant name="list" default="guest">
            <title xml:lang="ko">목록</title>
            <title xml:lang="en">list</title>
        </grant>
        <grant name="view" default="guest">
            <title xml:lang="ko">열람</title>
            <title xml:lang="en">view</title>
        </grant>
        <grant name="write_document" default="guest">
            <title xml:lang="ko">글 작성</title>
            <title xml:lang="en">write document</title>
        </grant>
        <grant name="write_comment" default="guest">
            <title xml:lang="ko">댓글 작성</title>
            <title xml:lang="en">write comment</title>
        </grant>
        <grant name="fileupload" default="guest">
            <title xml:lang="ko">파일 첨부</title>
            <title xml:lang="en">file upload</title>
        </grant>
        <grant name="manager" default="root">
            <title xml:lang="ko">관리</title>
            <title xml:lang="en">manager</title>
        </grant>
    </grants>
    <actions>
        <action name="dispContent" type="view" />
        <action name="dispWrite" type="view" />
        <action name="dispDelete" type="view" />
        <action name="dispCommentReply" type="view" />
        <action name="dispCommentModify" type="view" />
        <action name="dispCommentDelete" type="view" />
        <action name="dispTrackbackDelete" type="view" />
        <action name="dispLogin" type="view" />
        <action name="dispLogout" type="view" grant="member" />
        <action name="dispMessage" type="view" />
        <action name="dispRss" type="view" />
        <action name="dispAdminContent" type="view" grant="root" />
        <action name="dispAdminBoardInfo" type="view" grant="root" />
        <action name="dispAdminInsertBoard" type="view" grant="root" />
        <action name="dispAdminDeleteBoard" type="view" grant="root" />
        <action name="dispAdminSkinInfo" type="view" grant="root" />
        <action name="dispAdminCategoryInfo" type="view" grant="root" />
        <action name="dispAdminGrantInfo" type="view" grant="root" />
        <action name="procLogin" type="controller" />
        <action name="procLogout" type="controller" grant="member" />
        <action name="procInsertDocument" type="controller" />
        <action name="procDeleteDocument" type="controller" />
        <action name="procVoteDocument" type="controller" />
        <action name="procInsertComment" type="controller" />
        <action name="procDeleteComment" type="controller" />
        <action name="procReceiveTrackback" type="controller" />
        <action name="procDeleteTrackback" type="controller" />
        <action name="procVerificationPassword" type="controller" />
        <action name="procDeleteFile" type="controller" />
        <action name="procUploadFile" type="controller" />
        <action name="procDownload" type="controller" />
        <action name="procClearFile" type="controller" />
        <action name="procInsertGrant" type="controller" grant="root"/>
        <action name="procUpdateSkinInfo" type="controller" grant="root"/>
        <action name="procInsertBoard" type="controller" grant="root"/>
        <action name="procDeleteBoard" type="controller" grant="root"/>
        <action name="procInsertCategory" type="controller" grant="root"/>
        <action name="procUpdateCategory" type="controller" grant="root"/>
    </actions>
</module>
