<!-- tree_menu.js를 이용한 트리 메뉴 호출 -->
<script type="text/javascript">
    loadTreeMenu("{$main_menu->xml_file}", "main_menu", "menu", "{$layout_info->main_menu_name?$layout_info->main_menu_name:'home'}");
</script>

<!-- 레이아웃과 연동될 css 파일 import -->
<!--%import("css/layout.css")-->

<!-- 상단 로고 및 main_menu 1차 출력 -->
<div class="layout_top">
    <div class="layout_logo">
        <a href="./">{$layout_info->top_title}</a>
    </div>

    <div class="layout_first_menu">
        <!-- main_menu 1차 시작 -->
        <script type="text/javascript">
            xe_print_menu('main_menu', 1);
        </script>
        <!-- main_menu 1차 끝 -->
    </div>

</div>

<!-- 왼쪽 2차 메뉴 및 로그인과 기타 플러그인 부분 -->
<div class="layout_left">
    <!-- 로그인 플러그인 -->
    <img src="./common/tpl/images/blank.gif" class="zbxe_plugin_output" plugin="login_info" skin="default" colorset="normal" style="width:100px;height:100px;"/>

    <!-- main_menu 2차 시작 -->
    <div class="layout_second_menu">
        <script type="text/javascript">
            xe_print_menu('main_menu', 2, true);
        </script>
    </div>

    <!--@if($logged_info->is_admin == 'Y')-->
    <!-- 관리자일 경우 레이아웃 관리 메뉴 -->
    <div class="layout_admin">
        <a href="#" onclick="location.href='{getUrl('act','dispLayoutAdminMenu','layout_srl',$layout_info->layout_srl)}';return false;">{$lang->cmd_layout_management}</a>
    </div>
    <!--@end-->
</div>

<!-- 컨텐츠 출력 부분 -->
<div class="layout_content">
    <div id="content">{$content}</div>

    <!-- bottom_menu 메뉴 시작 -->
    <div class="layout_bottom">
        <div class="layout_bottom_menu">
            <script type="text/javascript">
                xe_print_menu('bottom_menu', 1);
            </script>
        </div>
    </div>

</div>
