@charset "utf-8";
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Editor XE White Theme */

/* Editor Type Selector */
.editorTypeSelector a,
.editorTypeSelector a span{ background-image:url(../images/buttonBlack.gif); color:#fff;}

/* Editor Container */
.xeEditor{ border-color:#666;}
 
 /* Tool Box */
.toolBox{ background-color:#666; background-image:url(../images/black/buttonSetBg.gif);}
.toolBox .item li button{ background-color:transparent; background-image:url(../images/black/buttonSet.gif); opacity:.7; filter:alpha(opacity=70);}

.toolBox .extension2 .exButton{ background-color:transparent; background-image:url(../images/black/buttonSet.gif); opacity:.7; filter:alpha(opacity=70);}
.toolBox .extension2 ul { background:#fafafa; border-color:#9f9f9f;}
.toolBox .extension2 li button span{ color:#333;}

.toolBox .editorHelp .helpButton{ background-color:transparent; background-image:url(../images/black/buttonSet.gif); opacity:.7; filter:alpha(opacity=70);}
.toolBox ul.helpList{ background:#333; border-color:#666;}

/* ToolBox Button Default */

/* Auto Save */
.xeEditor .editor_autosaved_message{ background:#000; color:#aaa; }

/* Edit Area */
.xeEditor .editorBox{ border-color:#000; background:#000;}

/* Editor */
.xeEditor .richEditor,
.xeEditor .htmlEditor{ background:#000; color:#fff;}

/* Editor Resize Bar */
.xeEditor .textAreaDragIndicator{ border-color:#666;}
.xeEditor .textAreaDragIndicator button{ background-color:#444; background-image:url(../images/common/buttonTextAreaDrag.gif);}

/* File Uploader */
.commentEditor .xeEditor .fileUploader{ border-color:#666;}
.xeEditor .fileUploader .preview{ border-color:#ddd; background:#fff;}

/* TextEditor */
.xeTextEditor {padding:10px; overflow:hidden; margin:0 0 10px 0;}
.xeTextEditor textarea { display:block; margin:0; padding:2px; color:#fff;}
