@charset "utf-8";

.xeEditor{}

.editorTypeSelector{ position:relative; right:3px; z-index:10; float:right; clear:both; *zoom:1; margin-bottom:-2px !important;}
.editorTypeSelector:after{ content:""; display:block; clear:both;}
.editorTypeSelector li,
.editorTypeSelector a{ display:block; float:left; position:relative; background-image:url(../images/tabEditorSelector.gif); background-repeat:no-repeat;}
.editorTypeSelector li{ background-position:left top; margin-right:5px;}
.editorTypeSelector li a{ padding:3px 10px 0 10px; height:21px; left:3px; background-position:right top; text-decoration:none !important; white-space:nowrap;}
.editorTypeSelector li.active{ background-position:left -24px;}
.editorTypeSelector li.active a{ background-position:right -24px; font-weight:bold; height:23px;}

.editorList{ clear:both; position:relative; z-index:1; border-top:1px solid #ddd; *zoom:1}
.editorList .editorItem{ display:none;}
.editorList.xe #xeEditor,
.editorList.text #textEditor,
.editorList.html #htmlEditor{ display:block;}
 
.toolBox{ padding:5px 10px 8px 10px !important; background:#fafafa url(../images/buttonSetBg.gif) repeat-x left bottom; *zoom:1;}
.toolBox:after{ content:""; display:block; clear:both;}
.toolBox .toolA{ position:relative; float:left; clear:both; *margin-bottom:5px;}
.toolBox .toolA ul{ float:left; margin:0 5px 5px 0;}
.toolBox .toolA li{ float:left; font-size:0; line-height:0;}
.toolBox .toolA button{ border:0; width:21px; height:21px; background-color:#fff; background-image:url(../images/buttonSet.gif); background-position:no-repeat; cursor:pointer;}
.toolBox .toolA span{ position:relative; z-index:-1;}

.toolBox .toolB{ clear:both; position:relative; left:-5px; overflow:hidden;}
.toolBox .toolB li{ position:relative; left:-1px; display:inline; padding-left:3px; background:url(../images/lineV11.gif) no-repeat left center; *zoom:1;}
.toolBox .toolB li button{ background:none; border:none; height:21px; *margin:0 -5px; cursor:pointer; font:11px Dotum, Tahoma; letter-spacing:-1px; display:inline; padding:0 !important;}

/* ToolBox Button Default */
.toolBox .do{ width:43px;}
.toolBox .undo button{ width:22px;}
.toolBox .redo button{ background-position:-22px 0;}

.toolBox .type *{ font-size:12px; line-height:100%;}
.toolBox .type select{ height:21px;}
.toolBox .type .hx{}
.toolBox .type .size .px10{ font-size:10px;}
.toolBox .type .size .px13{ font-size:13px;}
.toolBox .type .size .px16{ font-size:16px;}
.toolBox .type .size .px18{ font-size:18px;}
.toolBox .type .size .px24{ font-size:24px;}
.toolBox .type .size .px32{ font-size:32px;}
.toolBox .type .size .px48{ font-size:48px;}
.toolBox .type .family{}

.toolBox .style{ width:214px;}
.toolBox .bold button{ width:22px; background-position:-43px 0;}
.toolBox .underline button{ background-position:-65px 0;}
.toolBox .italic button{ background-position:-86px 0;}
.toolBox .strike button{ background-position:-107px 0;}
.toolBox .sup button{ background-position:-128px 0;}
.toolBox .sub button{ background-position:-149px 0;}
.toolBox .txColor button{ background-position:-170px 0;}
.toolBox .bgColor button{ background-position:-191px 0;}
.toolBox .styleRemover button{ width:45px; background-position:-212px 0;}

.toolBox .paragraph{ width:169px;}
.toolBox .alignLeft button{ width:22px; background-position:-257px 0;}
.toolBox .alignCenter button{ background-position:-279px 0;}
.toolBox .alignRight button{ background-position:-300px 0;}
.toolBox .alignJustify button{ background-position:-321px 0;}
.toolBox .orderedList button{background-position:-342px 0;}
.toolBox .unorderedList button{ background-position:-363px 0;}
.toolBox .outdent button{ background-position:-384px 0;}
.toolBox .indent button{ background-position:-405px 0;}

.toolBox .extension{ width:132px;}
.toolBox .url button{ width:27px; background-position:-426px 0;}
.toolBox .blockquote button{ background-position:-453px 0;}
.toolBox .table button{ background-position:-474px 0;}
.toolBox .image button{ background-position:-495px 0;}
.toolBox .movie button{ background-position:-516px 0;}
.toolBox .emoticon button{ background-position:-537px 0;}

/* ToolBox Button Hover & Focus & Active */
.toolBox .undo button:hover,
.toolBox .undo button:focus{ background-position:0 -21px;}
.toolBox .undo button:active{ background-position:0 -42px;}
.toolBox .redo button:hover,
.toolBox .redo button:focus{ background-position:-22px -21px;}
.toolBox .redo button:active{ background-position:-22px -42px;}

.toolBox .bold button:hover,
.toolBox .bold button:focus{ background-position:-43px -21px;}
.toolBox .bold button:active{ background-position:-43px -42px;}
.toolBox .underline button:hover,
.toolBox .underline button:focus{ background-position:-65px -21px;}
.toolBox .underline button:active{ background-position:-65px -42px;}
.toolBox .italic button:hover,
.toolBox .italic button:focus{ background-position:-86px -21px;}
.toolBox .italic button:active{ background-position:-86px -42px;}
.toolBox .strike button:hover,
.toolBox .strike button:focus{ background-position:-107px -21px;}
.toolBox .strike button:active{ background-position:-107px -42px;}
.toolBox .sup button:hover,
.toolBox .sup button:focus{ background-position:-128px -21px;}
.toolBox .sup button:active{ background-position:-128px -42px;}
.toolBox .sub button:hover,
.toolBox .sub button:focus{ background-position:-149px -21px;}
.toolBox .sub button:active{ background-position:-149px -42px;}
.toolBox .txColor button:hover,
.toolBox .txColor button:focus{ background-position:-170px -21px;}
.toolBox .txColor button:active{ background-position:-170px -42px;}
.toolBox .bgColor button:hover,
.toolBox .bgColor button:focus{ background-position:-191px -21px;}
.toolBox .bgColor button:active{ background-position:-191px -42px;}
.toolBox .styleRemover button:hover,
.toolBox .styleRemover button:focus{ background-position:-212px -21px;}
.toolBox .styleRemover button:active{ background-position:-212px -42px;}

.toolBox .alignLeft button:hover,
.toolBox .alignLeft button:focus{ background-position:-257px -21px;}
.toolBox .alignLeft button:active{ background-position:-257px -42px;}
.toolBox .alignCenter button:hover,
.toolBox .alignCenter button:focus{ background-position:-279px -21px;}
.toolBox .alignCenter button:active{ background-position:-279px -42px;}
.toolBox .alignRight button:hover,
.toolBox .alignRight button:focus{ background-position:-300px -21px;}
.toolBox .alignRight button:active{ background-position:-300px -42px;}
.toolBox .alignJustify button:hover,
.toolBox .alignJustify button:focus{ background-position:-321px -21px;}
.toolBox .alignJustify button:active{ background-position:-321px -42px;}
.toolBox .orderedList button:hover,
.toolBox .orderedList button:focus{background-position:-342px -21px;}
.toolBox .orderedList button:active{background-position:-342px -42px;}
.toolBox .unorderedList button:hover,
.toolBox .unorderedList button:focus{ background-position:-363px -21px;}
.toolBox .unorderedList button:active{ background-position:-363px -42px;}
.toolBox .outdent button:hover,
.toolBox .outdent button:focus{ background-position:-384px -21px;}
.toolBox .outdent button:active{ background-position:-384px -42px;}
.toolBox .indent button:hover,
.toolBox .indent button:focus{ background-position:-405px -21px;}
.toolBox .indent button:active{ background-position:-405px -42px;}

.toolBox .url button:hover,
.toolBox .url button:focus{ background-position:-426px -21px;}
.toolBox .url button:active{ background-position:-426px -42px;}
.toolBox .blockquote button:hover,
.toolBox .blockquote button:focus{ background-position:-453px -21px;}
.toolBox .blockquote button:active{ background-position:-453px -42px;}
.toolBox .table button:hover,
.toolBox .table button:focus{ background-position:-474px -21px;}
.toolBox .table button:active{ background-position:-474px -42px;}
.toolBox .image button:hover,
.toolBox .image button:focus{ background-position:-495px -21px;}
.toolBox .image button:active{ background-position:-495px -42px;}
.toolBox .movie button:hover,
.toolBox .movie button:focus{ background-position:-516px -21px;}
.toolBox .movie button:active{ background-position:-516px -42px;}
.toolBox .emoticon button:hover,
.toolBox .emoticon button:focus{ background-position:-537px -21px;}
.toolBox .emoticon button:active{ background-position:-537px -42px;}

/* .xeEditor { }
.xeEditor .optionABC { clear:both; width:100%; overflow:hidden; background:transparent;}
.xeEditor .optionABC .selectGroup { white-space:nowrap; display:block; height:21px; margin:0 .5em 0 0; padding-left:1em; float:left;}
.xeEditor .optionABC .buttonGroup { white-space:nowrap; position:relative; display:block; margin:0 .5em 0 0; float:left; height:21px; overflow:hidden; padding-left:2px;}
.xeEditor .optionABC .buttonGroup img { float:left; display:block; margin-left:-1px; cursor:pointer;}
.xeEditor .optionA,
.xeEditor .optionB,
.xeEditor .optionC { float:left; background:transparent; padding:.5em 0 .5em .7em; overflow:hidden;}
.xeEditor .optionA *,
.xeEditor .optionB *,
.xeEditor .optionC * { vertical-align:middle;}
.xeEditor .optionA { background-position:-3px bottom; padding-left:0;}
.xeEditor .optionA select option { font-size:.9em; }
.xeEditor .optionDE { width:100%; clear:both; overflow:hidden; background:transparent;height:29px;}
.xeEditor .optionDE .buttonGroup { white-space:nowrap; position:relative; display:block; float:left; height:21px; overflow:hidden; padding-left:2px;}
.xeEditor .optionDE img { float:left; display:block; margin-right:.5em; cursor:pointer;}
.xeEditor .optionD { padding:.5em 0 .5em .8em; overflow:hidden; float:left; border-right:1px solid #e0e0e0;}
.xeEditor .optionE { padding:4px 0 0 9px; overflow:hidden; float:left;}

.xeEditor .editorInfo { background:transparent; padding:.5em; border:1px solid #e1e1dd; color:#999999; position:relative; margin:5px 10px 0 10px;}
.xeEditor .close { cursor:pointer; position:absolute; top:3px; right:3px; _top:3px; _right:15px;}
.xeEditor .editor_iframe_box { clear:both; border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:0; margin:3px 10px 5px 10px; }
.xeEditor .editor_iframe_textarea { background:#ffffff; clear:both; border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; margin:5px 10px 0 10px; width:100%; font-size:1em; display:none;}

.xeEditor .textAreaDragIndicator { text-align:center; background:url(../images/lineTextAreaDrag.gif) repeat-x left center; padding:5px 0 5px 0; }
.xeEditor .textAreaDragIndicatorBar { background:url(../images/buttonTextAreaDrag.gif) no-repeat center; cursor:move;height:14px;}

.xeEditor .editor_info { clear:both; padding:5px 10px 0 10px; overflow:hidden;}
.xeEditor .editor_info .editor_option { float:left; color:#888888; }
.xeEditor .editor_info .editor_autosaved_message { display:none; color:#888888; float:right; }

.xeEditor .inputTypeTextArea { background:#fbfbfb; padding:1em; width:94%;}

.xeEditor .fileAttach { border:none; table-layout:fixed; margin:0 10px 0 10px; }

.xeEditor .fileAttach .preview { padding:5px; border:1px solid #e1e1dd; width:100px; height:100px; margin-right:10px;}
.xeEditor .fileAttach .preview img { width:100px; height:100px; }

.xeEditor .fileAttach .fileListArea .fileList { background:transparent; overflow:auto; width:100%; height:auto; border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; margin-bottom:10px; font-size:11px;}
.xeEditor .fileAttach .fileListArea .fileList option { line-height:100%; padding-left:.5em;}
.xeEditor .fileAttach .fileUploadControl { float:left; }
.xeEditor .fileAttach .file_attach_info { color:#AAAAAA; font-size:.9em; _font-size:8pt; text-align:right;}
*:first-child+html .xeEditor .fileAttach .file_attach_info { font-size:8pt; }

.xeEditor .fileAttach .fileUploadControl .uploaderButton { display:block; cursor:pointer; background:url(../images/buttonTypeBCenter.gif) repeat-x left center; line-height:100%; overflow:visible; color:#3f4040; margin:0 1px; font-size:.9em; white-space:nowrap;}
.xeEditor .fileAttach .fileUploadControl .uploaderButton:hover { text-decoration:none;}
.xeEditor .fileAttach .fileUploadControl .uploaderButton img { vertical-align:middle;}
.xeEditor .fileAttach .fileUploadControl .uploaderButton .leftCap { width:2px; height:21px; background:url(../images/buttonTypeBLeft.gif) no-repeat; margin:0 .3em 0 0;  position:relative; left:-1px;}
.xeEditor .fileAttach .fileUploadControl .uploaderButton .rightCap { width:2px; height:21px; background:url(../images/buttonTypeBRight.gif) no-repeat; margin:0 -1px 0 .4em;}
.xeEditor .fileAttach .fileUploadControl .uploaderButton .icon { margin:0 .2em;} */
