@charset "utf-8";
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.editorTypeSelector{ position:relative; right:3px; z-index:10; float:right; clear:both; *zoom:1; margin-bottom:-2px !important;}
.editorTypeSelector:after{ content:""; display:block; clear:both;}
.editorTypeSelector li,
.editorTypeSelector a{ display:block; float:left; position:relative; background-image:url(../images/tabEditorSelector.gif); background-repeat:no-repeat;}
.editorTypeSelector li{ background-position:left top; margin-right:5px;}
.editorTypeSelector li a{ padding:3px 10px 0 10px; height:21px; left:3px; background-position:right top; text-decoration:none !important; white-space:nowrap;}
.editorTypeSelector li.active{ background-position:left -24px;}
.editorTypeSelector li.active a{ background-position:right -24px; font-weight:bold; height:23px;}

.xeEditor{ clear:both; position:relative; z-index:1; border-top:1px solid #ddd; *zoom:1}
 
 /* Tool Box */
.toolBox{ padding:5px 10px 3px 10px !important; *padding-bottom:8px !important; margin-bottom:5px !important; background:#fafafa url(../images/buttonSetBg.gif) repeat-x left bottom; *zoom:1;}
.toolBox:after{ content:""; display:block; clear:both;}
.toolBox { position:relative;}
.toolBox .item{ float:left; margin:0 5px 5px 0;}
.toolBox .item li{ float:left;}
.toolBox .item li button{ display:block; border:0; width:21px; height:21px; background-color:#fff; background-image:url(../images/buttonSet.gif); background-position:no-repeat; cursor:pointer;}
.toolBox .item li button span{ position:relative; z-index:-1; font-size:0; line-height:0;}

.toolBox .extension2{ float:left; position:relative; margin:0 5px 5px 0;}
.toolBox .extension2 .exButton{ float:left; border:0; width:68px; height:21px; background-color:#fff; background:url(../images/buttonSet.gif) no-repeat -579px 0; cursor:pointer;}
.toolBox .extension2 .exButton span{ position:relative; z-index:-1; font-size:0; line-height:0;}
.toolBox .extension2 .exButton:hover,
.toolBox .extension2 .exButton:focus{ background-position:-579px -21px;}
.toolBox .extension2 .exButton:active{ background-position:-579px -42px;}
.toolBox .extension2 ul { display:none; position:absolute; padding:5px 0; top:26px; right:0; background:#fafafa; border:1px solid #9f9f9f;}
.toolBox .extension2 li{ float:none; text-align:left; padding:0 10px;}
.toolBox .extension2 li button{ display:block; background:none; border:none; cursor:pointer; height:18px; font:11px Dotum, Tahoma; white-space:nowrap; width:auto; *width:100%;}
.toolBox .extension2 li button span{ display:block; z-index:1; white-space:nowrap;}
.toolBox .extension2 li button span img{ vertical-align:top; width:13px;}

.toolBox .editorHelp{ float:left; position:relative; margin:0 5px 5px 0;}
.toolBox .editorHelp .helpButton{ float:left; border:0; width:22px; height:21px; background-color:#fff; background:url(../images/buttonSet.gif) no-repeat right top; cursor:pointer;}
.toolBox .editorHelp .helpButton span{ position:relative; z-index:-1; font-size:0; line-height:0;}
.toolBox .editorHelp .helpButton:hover,
.toolBox .editorHelp .helpButton:focus{ background-position:right -21px;}
.toolBox .editorHelp .helpButton:active{ background-position:right -42px;}
.toolBox .editorHelp ul#helpList{ display:none; float:none !important; position:absolute; padding:5px 0; top:26px; right:0; background:#fafafa; border:1px solid #9f9f9f;}
.toolBox .editorHelp ul#helpList li{ list-style:disc; float:none; text-align:left; white-space:nowrap; padding:0 10px 0 0; margin-left:25px;}
.toolBox .editorHelp ul#helpList li li{ list-style:circle; margin-left:20px;}

/* ToolBox Button Default */
.toolBox .item { list-style:none; padding:0; }
.toolBox .item.do{ width:43px;}
.toolBox .item .undo button{ width:22px;}
.toolBox .item .redo button{ background-position:-22px 0;}

.toolBox .item.type *{ font-size:12px; line-height:100%;}
.toolBox .item.type select{ height:21px;}
.toolBox .item.type .hx{}
.toolBox .item.type .size .px10{ font-size:10px;}
.toolBox .item.type .size .px13{ font-size:13px;}
.toolBox .item.type .size .px16{ font-size:16px;}
.toolBox .item.type .size .px18{ font-size:18px;}
.toolBox .item.type .size .px24{ font-size:24px;}
.toolBox .item.type .size .px32{ font-size:32px;}
.toolBox .item.type .size .px48{ font-size:48px;}
.toolBox .item.type .family{}

.toolBox .item.style{ width:214px;}
.toolBox .item .bold button{ width:22px; background-position:-43px 0;}
.toolBox .item .underline button{ background-position:-65px 0;}
.toolBox .item .italic button{ background-position:-86px 0;}
.toolBox .item .strike button{ background-position:-107px 0;}
.toolBox .item .sup button{ background-position:-128px 0;}
.toolBox .item .sub button{ background-position:-149px 0;}
.toolBox .item .txColor button{ background-position:-170px 0;}
.toolBox .item .bgColor button{ background-position:-191px 0;}
.toolBox .item .styleRemover button{ width:45px; background-position:-212px 0;}

.toolBox .item.paragraph{ width:169px;}
.toolBox .item .alignLeft button{ width:22px; background-position:-257px 0;}
.toolBox .item .alignCenter button{ background-position:-279px 0;}
.toolBox .item .alignRight button{ background-position:-300px 0;}
.toolBox .item .alignJustify button{ background-position:-321px 0;}
.toolBox .item .orderedList button{background-position:-342px 0;}
.toolBox .item .unorderedList button{ background-position:-363px 0;}
.toolBox .item .outdent button{ background-position:-384px 0;}
.toolBox .item .indent button{ background-position:-405px 0;}

.toolBox .item.extension1{ width:153px;}
.toolBox .item .url button{ width:27px; background-position:-426px 0;}
.toolBox .item .blockquote button{ background-position:-453px 0;}
.toolBox .item .table button{ background-position:-474px 0;}
.toolBox .item .image button{ background-position:-495px 0;}
.toolBox .item .movie button{ background-position:-516px 0;}
.toolBox .item .file button{ background-position:-537px 0;}
.toolBox .item .emoticon button{ background-position:-558px 0;}

/* ToolBox Button Hover & Focus & Active */
.toolBox .item .undo button:hover,
.toolBox .item .undo button:focus{ background-position:0 -21px;}
.toolBox .item .undo button:active{ background-position:0 -42px;}
.toolBox .item .redo button:hover,
.toolBox .item .redo button:focus{ background-position:-22px -21px;}
.toolBox .item .redo button:active{ background-position:-22px -42px;}

.toolBox .item .bold button:hover,
.toolBox .item .bold button:focus{ background-position:-43px -21px;}
.toolBox .item .bold button:active{ background-position:-43px -42px;}
.toolBox .item .underline button:hover,
.toolBox .item .underline button:focus{ background-position:-65px -21px;}
.toolBox .item .underline button:active{ background-position:-65px -42px;}
.toolBox .item .italic button:hover,
.toolBox .item .italic button:focus{ background-position:-86px -21px;}
.toolBox .item .italic button:active{ background-position:-86px -42px;}
.toolBox .item .strike button:hover,
.toolBox .item .strike button:focus{ background-position:-107px -21px;}
.toolBox .item .strike button:active{ background-position:-107px -42px;}
.toolBox .item .sup button:hover,
.toolBox .item .sup button:focus{ background-position:-128px -21px;}
.toolBox .item .sup button:active{ background-position:-128px -42px;}
.toolBox .item .sub button:hover,
.toolBox .item .sub button:focus{ background-position:-149px -21px;}
.toolBox .item .sub button:active{ background-position:-149px -42px;}
.toolBox .item .txColor button:hover,
.toolBox .item .txColor button:focus{ background-position:-170px -21px;}
.toolBox .item .txColor button:active{ background-position:-170px -42px;}
.toolBox .item .bgColor button:hover,
.toolBox .item .bgColor button:focus{ background-position:-191px -21px;}
.toolBox .item .bgColor button:active{ background-position:-191px -42px;}
.toolBox .item .styleRemover button:hover,
.toolBox .item .styleRemover button:focus{ background-position:-212px -21px;}
.toolBox .item .styleRemover button:active{ background-position:-212px -42px;}

.toolBox .item .alignLeft button:hover,
.toolBox .item .alignLeft button:focus{ background-position:-257px -21px;}
.toolBox .item .alignLeft button:active{ background-position:-257px -42px;}
.toolBox .item .alignCenter button:hover,
.toolBox .item .alignCenter button:focus{ background-position:-279px -21px;}
.toolBox .item .alignCenter button:active{ background-position:-279px -42px;}
.toolBox .item .alignRight button:hover,
.toolBox .item .alignRight button:focus{ background-position:-300px -21px;}
.toolBox .item .alignRight button:active{ background-position:-300px -42px;}
.toolBox .item .alignJustify button:hover,
.toolBox .item .alignJustify button:focus{ background-position:-321px -21px;}
.toolBox .item .alignJustify button:active{ background-position:-321px -42px;}
.toolBox .item .orderedList button:hover,
.toolBox .item .orderedList button:focus{background-position:-342px -21px;}
.toolBox .item .orderedList button:active{background-position:-342px -42px;}
.toolBox .item .unorderedList button:hover,
.toolBox .item .unorderedList button:focus{ background-position:-363px -21px;}
.toolBox .item .unorderedList button:active{ background-position:-363px -42px;}
.toolBox .item .outdent button:hover,
.toolBox .item .outdent button:focus{ background-position:-384px -21px;}
.toolBox .item .outdent button:active{ background-position:-384px -42px;}
.toolBox .item .indent button:hover,
.toolBox .item .indent button:focus{ background-position:-405px -21px;}
.toolBox .item .indent button:active{ background-position:-405px -42px;}

.toolBox .item .url button:hover,
.toolBox .item .url button:focus{ background-position:-426px -21px;}
.toolBox .item .url button:active{ background-position:-426px -42px;}
.toolBox .item .blockquote button:hover,
.toolBox .item .blockquote button:focus{ background-position:-453px -21px;}
.toolBox .item .blockquote button:active{ background-position:-453px -42px;}
.toolBox .item .table button:hover,
.toolBox .item .table button:focus{ background-position:-474px -21px;}
.toolBox .item .table button:active{ background-position:-474px -42px;}
.toolBox .item .image button:hover,
.toolBox .item .image button:focus{ background-position:-495px -21px;}
.toolBox .item .image button:active{ background-position:-495px -42px;}
.toolBox .item .movie button:hover,
.toolBox .item .movie button:focus{ background-position:-516px -21px;}
.toolBox .item .movie button:active{ background-position:-516px -42px;}
.toolBox .item .file button:hover,
.toolBox .item .file button:focus{ background-position:-537px -21px;}
.toolBox .item .file button:active{ background-position:-537px -42px;}
.toolBox .item .emoticon button:hover,
.toolBox .item .emoticon button:focus{ background-position:-558px -21px;}
.toolBox .item .emoticon button:active{ background-position:-558px -42px;}

/* Auto Save */
.xeEditor .editor_autosaved_message{ display:none; background:#fafafa; border:1px solid #ddd; margin:10px; padding:5px 10px; clear:both;}

/* Editor */
.xeEditor .toolBox,
.xeEditor .richEditor,
.xeEditor .htmlEditor{ display:none;}
.xeEditor.rich .toolBox,
.xeEditor.rich .richEditor,
.xeEditor.html .htmlEditor{ display:block;}
.xeEditor .richEditor,
.xeEditor .htmlEditor{ border:0; background:#fff;}
.xeEditor .htmlEditor{ width:100%; padding:10px 0; font-size:12px;}

/* Editor Resize Bar */
.xeEditor .textAreaDragIndicator{ border-top:1px solid #ddd; border-bottom:1px solid #ddd; clear:both; margin-bottom:10px;}
.xeEditor .textAreaDragIndicator button{ width:100%; height:9px; border:none; cursor:n-resize; background:#f4f4f4 url(../images/buttonTextAreaDrag.gif) no-repeat center center; }

/* File Uploader */
.xeEditor .fileUploader{ clear:both; position:relative; padding-top:5px; *zoom:1; *margin-bottom:5px;}
.commentEditor .xeEditor .fileUploader{ border-top:1px solid #ddd;}
.xeEditor .fileUploader:after{ content:""; display:block; clear:both;}
.xeEditor .fileUploader .preview{ float:left; width:64px; height:64px; border:1px solid #ddd; padding:2px; margin:0 10px 5px 0; background:#fff;}
.xeEditor .fileUploader .preview img{ display:block; width:64px; height:64px;}
.xeEditor .fileUploader .fileListArea{ float:left; width:260px; margin:0 10px 5px 0;}
.xeEditor .fileUploader .fileListArea select{ width:100%; height:70px; overflow:auto;}
.xeEditor .fileUploader .fileListArea select option{ font-size:11px;}
.xeEditor .fileUploader .fileUploadControl{ clear:right;}
.xeEditor .fileUploader .fileUploadControl .button{ margin-bottom:5px;}
.xeEditor .fileUploader .file_attach_info{ clear:right; margin:5px 0;}
