

<div><script>
	top.location.reload();
</script>
</div>
<div></div>


	{{ $foo }}


<form action="/rhymix/" method="post">
	<input type="hidden" name="_rx_csrf_token" value="" />
	<input type="text" required="required">
	<input type="text" value="Rhy" required="required" />
</form>

<div class="foobar">
		<p>Hello FOOFOO<"FOO">BAR</p>
		<p>RHY|MIX|IS|DA|BEST!</p>
</div>

<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span ></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span ></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span class="is"></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span class="da"></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span class="BEST!"></span>
</div>

<div>Rhy</div>
<div>miX</div>
<div>is</div>
<div>da</div>
<div>BEST!</div>
<div>Empty</div>

	<p>The full class name is Rhymix\Framework\Push, Rhymix\Framework\Push really.</p>

<div class="barContainer" data-bar="[&quot;Rhy&quot;,&quot;miX&quot;,&quot;is&quot;,&quot;da&quot;,&quot;BEST!&quot;]">
	<span class="a-1 font-normal bg-gray-200"></span>
	<span style="border-radius: 0.25rem; margin: 1rem"></span>
</div>

<script type="text/javascript">
	const foo = 'FOOFOO\u003C\u0022FOO\u0022\u003EBAR';
	const bar = ["Rhy","miX","is","da","BEST!"];
</script>

<style>
	body { background-color: #ffffff; }
</style>
