
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span ></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span ></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span class="is"></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span class="da"></span>
</div>
<div>
		<img src="/rhymix/tests/_data/template/bar/rhymix.svg" alt="unit tests are cool" />
		<span class="BEST!"></span>
</div>
