<h1>Pets</h1>

<ul>
	<li>
		<span>A red dog</span>
		<span>current index 0 of 5</span>
		<span>parent index 0 of 5</span>
		<span>first: bool(true)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A red cat</span>
		<span>current index 1 of 5</span>
		<span>parent index 0 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A red rabbit</span>
		<span>current index 2 of 5</span>
		<span>parent index 0 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A red panda</span>
		<span>current index 3 of 5</span>
		<span>parent index 0 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A red otter</span>
		<span>current index 4 of 5</span>
		<span>parent index 0 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(true)</span>
	</li>
	<li>
		<span>A blue dog</span>
		<span>current index 0 of 5</span>
		<span>parent index 1 of 5</span>
		<span>first: bool(true)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A blue cat</span>
		<span>current index 1 of 5</span>
		<span>parent index 1 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A blue rabbit</span>
		<span>current index 2 of 5</span>
		<span>parent index 1 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A blue panda</span>
		<span>current index 3 of 5</span>
		<span>parent index 1 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A blue otter</span>
		<span>current index 4 of 5</span>
		<span>parent index 1 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(true)</span>
	</li>
	<li>
		<span>A yellow dog</span>
		<span>current index 0 of 5</span>
		<span>parent index 2 of 5</span>
		<span>first: bool(true)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A yellow cat</span>
		<span>current index 1 of 5</span>
		<span>parent index 2 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A yellow rabbit</span>
		<span>current index 2 of 5</span>
		<span>parent index 2 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A yellow panda</span>
		<span>current index 3 of 5</span>
		<span>parent index 2 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A yellow otter</span>
		<span>current index 4 of 5</span>
		<span>parent index 2 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(true)</span>
	</li>
	<li>
		<span>A black dog</span>
		<span>current index 0 of 5</span>
		<span>parent index 3 of 5</span>
		<span>first: bool(true)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A black cat</span>
		<span>current index 1 of 5</span>
		<span>parent index 3 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A black rabbit</span>
		<span>current index 2 of 5</span>
		<span>parent index 3 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A black panda</span>
		<span>current index 3 of 5</span>
		<span>parent index 3 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A black otter</span>
		<span>current index 4 of 5</span>
		<span>parent index 3 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(true)</span>
	</li>
	<li>
		<span>A white dog</span>
		<span>current index 0 of 5</span>
		<span>parent index 4 of 5</span>
		<span>first: bool(true)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A white cat</span>
		<span>current index 1 of 5</span>
		<span>parent index 4 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A white rabbit</span>
		<span>current index 2 of 5</span>
		<span>parent index 4 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A white panda</span>
		<span>current index 3 of 5</span>
		<span>parent index 4 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(false)</span>
	</li>
	<li>
		<span>A white otter</span>
		<span>current index 4 of 5</span>
		<span>parent index 4 of 5</span>
		<span>first: bool(false)</span>
		<span>last: bool(true)</span>
	</li>
</ul>
