@charset "utf-8";

/* Widget Tree */
.widgetTree { margin-top:10px;}
.widgetTree a.all { background:url(../img/white/folder.gif) no-repeat left top; padding-left:20px;}
.widgetTree a.strong { font-weight:bold; }
.widgetTree span { font-size:9px; font-family:tahoma; padding:0; margin:0; color:#999;}
.widgetTree ul span { margin-left:15px; }
.widgetTree *{ margin:0; padding:0; font-size:12px;}
.widgetTree a strong{ letter-spacing:-1px; cursor:pointer; _cursor /**/:hand;}
.widgetTree ul{ position:relative; display:block; padding:3px 0 0 0 !important; zoom:1; margin-left:8px;}
.widgetTree ul li{ list-style:none; position:relative; padding:3px 0 2px 8px; white-space:nowrap;}
.widgetTree ul li .nav_tree_label,
.widgetTree ul li .sum{ position:relative; left:16px; _left /**/:0; top:0; font-style:normal;}
.widgetTree ul li a {text-decoration:none; }
.widgetTree ul li a.selected {font-weight:bold;}
.widgetTree ul li button{ display:inline-block; position:relative; _left /**/:-16px; *top:-2px; width:13px; height:13px; *width:17px; *height:17px; margin:0 -13px 0 0; *margin:0 -17px -2px -2px; text-indent:-10000px; *text-indent:0; *font:0/0 Sans-serif; border:none; cursor:pointer; _cursor /**/:hand;}
.widgetTree ul li ul{ display:none; padding:2px 0 0 0 !important; margin:0 0 -2px 6px; background-position:left top;}
.widgetTree ul li ul li{ display:none;}
.widgetTree ul li.nav_tree_on button{ background-position:0 -13px; *background-position:2px -11px;}
.widgetTree ul li.nav_tree_off button{ background-position:0 0; *background-position:2px 2px;}
.widgetTree ul li.nav_tree_on ul{ display:block;}
.widgetTree ul li.nav_tree_on ul li{ display:block;}
.widgetTree ul li.nav_tree_off ul{ display:none;}
.widgetTree ul li.nav_tree_off ul li{ display:none;}
.widgetTree ul li.active,
.widgetTree ul li.active a{ font-weight:bold;}
.widgetTree ul li.active li,
.widgetTree ul li.active li a{ font-weight:normal;}
.widgetTree .icon{ position:relative; left:16px;}

/* widgetTree */
.widgetTree{ color:#333;}
.widgetTree a{ color:#333; text-decoration:none;}

/* Widget Tree */
.widgetTree ul{ background:url(../img/white/lineTreeVr.gif) repeat-y 0 -1px;}
.widgetTree ul li{ background:url(../img/white/lineTreeHr.gif) no-repeat 1px 5px !important;}
.widgetTree ul li button{ background:url(../img/white/buttonTreeCollapse.gif) no-repeat;}
.widgetTree ul li.nav_tree_last{ background:url(../img/white/lineTreeLastHr.gif) no-repeat 0 5px !important;}

.widgetContainer.black .widgetTree { margin-top:10px;}
.widgetContainer.black .widgetTree a.all { background:url(../img/black/folder.gif) no-repeat left top; padding-left:20px;}
.widgetContainer.black .widgetTree span { font-size:9px; font-family:tahoma; padding:0; margin:0; color:#333;}
.widgetContainer.black .widgetTree ul span { margin-left:15px; }
.widgetContainer.black .widgetTree *{ margin:0; padding:0; font-size:12px;}
.widgetContainer.black .widgetTree a strong{ letter-spacing:-1px; cursor:pointer; _cursor /**/:hand;}
.widgetContainer.black .widgetTree ul{ position:relative; display:block; padding:3px 0 0 0 !important; zoom:1; margin-left:8px;}
.widgetContainer.black .widgetTree ul li{ list-style:none; position:relative; padding:3px 0 2px 8px; white-space:nowrap;}
.widgetContainer.black .widgetTree ul li .nav_tree_label,
.widgetContainer.black .widgetTree ul li .sum{ position:relative; left:16px; _left /**/:0; top:0; font-style:normal;}
.widgetContainer.black .widgetTree ul li a {text-decoration:none; }
.widgetContainer.black .widgetTree ul li a.selected {font-weight:bold;}
.widgetContainer.black .widgetTree ul li button{ display:inline-block; position:relative; _left /**/:-16px; *top:-2px; width:13px; height:13px; *width:17px; *height:17px; margin:0 -13px 0 0; *margin:0 -17px -2px -2px; text-indent:-10000px; *text-indent:0; *font:0/0 Sans-serif; border:none; cursor:pointer; _cursor /**/:hand;}
.widgetContainer.black .widgetTree ul li ul{ display:none; padding:2px 0 0 0 !important; margin:0 0 -2px 6px; background-position:left top;}
.widgetContainer.black .widgetTree ul li ul li{ display:none;}
.widgetContainer.black .widgetTree ul li.nav_tree_on button{ background-position:0 -13px; *background-position:2px -11px;}
.widgetContainer.black .widgetTree ul li.nav_tree_off button{ background-position:0 0; *background-position:2px 2px;}
.widgetContainer.black .widgetTree ul li.nav_tree_on ul{ display:block;}
.widgetContainer.black .widgetTree ul li.nav_tree_on ul li{ display:block;}
.widgetContainer.black .widgetTree ul li.nav_tree_off ul{ display:none;}
.widgetContainer.black .widgetTree ul li.nav_tree_off ul li{ display:none;}
.widgetContainer.black .widgetTree .icon{ position:relative; left:16px;}

/* widgetTree */
.widgetContainer.black .widgetTree{ color:#999;}
.widgetContainer.black .widgetTree a { color:#999; text-decoration:none;}

/* Widget Tree */
.widgetContainer.black .widgetTree ul{ background:url(../img/black/lineTreeVr.gif) repeat-y 0 -1px;}
.widgetContainer.black .widgetTree ul li{ background:url(../img/black/lineTreeHr.gif) no-repeat 1px 5px !important;}
.widgetContainer.black .widgetTree ul li button{ background:url(../img/black/buttonTreeCollapse.gif) no-repeat;}
.widgetContainer.black .widgetTree ul li.nav_tree_last{ background:url(../img/black/lineTreeLastHr.gif) no-repeat 0 5px !important;}

