@charset "utf-8";
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.authorHeader,
.writePost{ background:#D18675;}
.authorFooter,
.commentList{ background:#faf3f1;}
.writePost .writeBody button{ background-image:url(../images/buttonWriteRed.gif);}

.myTab li,
.exTab li,
.myTab li a,
.exTab li a,
.tab .tagRank .buttonTag,
.tab .tagRank .buttonTag button{ background-color:#dfaa9e;}
.myTab li.active,
.exTab li.active,
.myTab li.active a,
.exTab li.active a{ background-color:#D18675;}
