<!-- 레이아웃과 연동될 css 파일 import -->
<!-- 컬러셋 체크 -->
    <!--@if(!$layout_info->colorset)-->
        {@$layout_info->colorset = "blue"}
    <!--@end-->

<!-- CSS 파일 로드 (컬러셋에 따라서) -->
    <!--%import("css/layout.css")-->
    <!--@if($layout_info->colorset == "gray")--> <!--%import("css/layout_gray.css")-->
    <!--@elseif($layout_info->colorset == "orange")--> <!--%import("css/layout_orange.css")-->
    <!--@elseif($layout_info->colorset == "violet")--> <!--%import("css/layout_violet.css")-->
    <!--@elseif($layout_info->colorset == "green")--> <!--%import("css/layout_green.css")-->
    <!--@else--> <!--%import("css/layout_blue.css")-->
    <!--@end-->

<!--@if($layout_info->background_image)-->
  <style type="text/css">
    body {  background-repeat:repeat-x; background-image:url({getUrl()}{$layout_info->background_image}); }       
  </style>
<!--@end-->

<div id="blog">

	<div class="blogNavigation">
		<ul class="blogGlobal">
            <!--@if(!$is_logged)-->
			<li><a href="{getUrl('mid',$layout_info->target_mid,'act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
			<li><a href="{getUrl('act','dispMemberLoginForm')}">{$lang->cmd_login}</a></li>
            <!--@else-->
                <!--@if($grant->is_admin)-->
                <li><a href="{getUrl('mid', $layout_info->target_mid, 'act','dispBoardWrite','document_srl','')}">{$lang->cmd_write}</a></li>
                <!--@end-->

                <!-- 최고관리자이면 관리자 페이지 버튼 출력 -->
                <!--@if($logged_info->is_admin == 'Y')-->
                <li><a href="{getUrl('','module','admin')}" onclick="window.open(this.href); return false;">{$lang->cmd_management}</a></li>
                <!--@end-->
                <!--@if($grant->is_admin)-->
                <li><a href="{getUrl('act','dispBoardAdminBoardInfo')}">{$lang->cmd_setup}</a></li>
                <li><a href="{getUrl('','mid',$layout_info->target_mid,'act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}">{$lang->cmd_layout_setup}</a></li>
                <li><a href="{getUrl('','mid',$layout_info->target_mid,'act','dispLayoutAdminEdit','layout_srl',$layout_info->layout_srl)}">{$lang->cmd_layout_edit}</a></li>
                <!--@end-->
                <li><a href="{geturl('act','dispMemberInfo')}">{$lang->cmd_view_member_info}</a></li>
                <li><a href="{getUrl('act','dispMemberLogout')}">{$lang->cmd_logout}</a></li>
            <!--@end-->

                <li class="skin_info"><a href="{getUrl('','module','layout','act','dispLayoutInfo','selected_layout','xe_blog')}" onclick="popopen(this.href,'layoutSkinInfo'); return false;"><img src="./images/buttonHelp.gif" alt="Skin Info" width="13" height="13"/></a></li>

            <!--@if($mid == $layout_info->target_mid)-->
                <li><a href="{getUrl('act','dispBoardTagList')}"><img src="./images/iconAllTags.gif" alt="Tag list" width="13" height="13"/></a></li>
                <!--@if($rss_url)-->
                    <li><a href="{$rss_url}"><img src="./images/{$layout_info->colorset}/btn_rss.gif" alt="rss" width="36" height="12" /></a></li>
                <!--@end-->
            <!--@end-->
		</ul>
		<ul class="blogMenu">
            <!--@foreach($top_menu->list as $key => $val)--><!--@if($val['link'])-->
			<li><a href="{$val['href']}"<!--@if($val['selected'])--> class="on"<!--@end--><!--@if($val['open_window']=='Y')--> onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a></li>
            <!--@end--><!--@end-->
		</ul>
	</div>
	<div class="blogProfile">
        <!--@if($layout_info->profile_image)-->
        <img src="{$layout_info->profile_image}" border="0" alt="my profile image" class="iePngFix" width="170" />
        <!--@else-->
		<img src="./images/{$layout_info->colorset}/@blog_image.gif" alt="profile" class="iePngFix" width="170" />
        <!--@end-->
        <!--@if($layout_info->profile)-->
            <h1>{$layout_info->profile}</h1>
        <!--@end-->
	</div>

    <!-- 카테고리 -->
    <!--@if($category_list)-->
	<div class="blogCategory">
		<div class="blogTitleBox">
			<h2><a href="{getUrl('','mid',$layout_info->target_mid)}">category</a></h2>
		</div>
		<ul class="categoryList">
        <!--@foreach($category_list as $key => $val)-->
			<li <!--@if($val->depth)-->style="margin-left:{$val->depth*8}px;"<!--@end--> <!--@if($val->selected)-->class="on"<!--@end-->><a href="{getUrl('','mid',$val->mid,'category',$val->category_srl)}">{$val->title}</a><!--@if($val->document_count)--><span class="documentCount">({$val->document_count})</span><!--@end--></li>
        <!--@end-->
		</ul>
	</div>
    <!--@else-->
	<div class="widgetBox">
        <img src="./images/common/blank.gif" class="zbxe_widget_output" widget="newest_document" skin="blog_newest_document" colorset="layout" title="recent posts" order_target="list_order" order_type="desc" subject_cut_size="12" list_count="7" mid_list="{$layout_info->target_mid}" />
	</div>
    <!--@end-->

    <!-- 최근댓글 출력 -->
	<div class="widgetBox">
        <img src="./images/common/blank.gif" class="zbxe_widget_output" widget="newest_comment" skin="blog_newest_comment" colorset="layout" title="recent comments" list_count="7" mid_list="{$layout_info->target_mid}" />
	</div>

    <!-- 달력 출력 -->
	<div class="widgetBox ">
        <img src="./images/common/blank.gif" class="zbxe_widget_output" widget="calendar" skin="blog_calendar_list" colorset="layout" mid_list="{$layout_info->target_mid}" />

		<div class="blogSearch">
            <form action="./" method="post">
                <fieldset>
                    <legend>{$lang->cmd_search}</legend>
                    <input type="hidden" name="mid" value="{$layout_info->target_mid}" />
                    <input type="hidden" name="search_target" value="title_content" />
					<input name="search_keyword" type="text" class="inputTypeText w110" value="<!--@if($search_keyword)-->{htmlspecialchars($search_keyword)}<!--@end-->" />
                    <a href="#"><img src="./images/{$layout_info->colorset}/btn_search.gif" alt="{$lang->cmd_search}" width="45" height="20" /></a>
                </fieldset>
            </form>
		</div>
	</div>
	<div class="contentBox"><div class="topBg"></div>
		<div class="centerBg"><div class="contentArea">{$content}<div class="clear"></div></div></div>
	<div class="bottomBg"></div></div>
</div>

<div class="zbXE"><a href="http://www.zeroboard.com" onclick="window.open(this.href); return false;"><img src="./images/powerdByZeroboard.gif" alt="powered by zbXE" /></a></div>


