.szrank_count { width:100%; position:relative; }
.szrank_count h2 { display:block; height:21px; padding:9px 0 0 9px; color:#000000; font-size:1em;}
.szrank_count h5{ display:block; height:21px; padding:9px 0 0 9px; margin-top:-15px; color:#000000; font-size:1em;}

.szrank_count .left { cursor:pointer; height:20px; background:url(../images/default/bullet.gif) no-repeat left; padding-left:15px; overflow:hidden; }

.szrank_count .center { text-align:right; padding-left:5px; }

.szrank_count .sz_Box_000{border:solid 0;padding:0;}
.szrank_count .sz_Box_001{width:100%;border:solid 1px;border-color:#E7E7E7;padding:5px 5px 2px 5px;background-color:#F4F4F4;color:#696969;}
.szrank_count .sz_Box_002{width:100%;border:solid 1px;border-color:#DDEAA8;padding:5px 5px 2px 5px;background-color:#FBFDF1;color:#99B81A;}
.szrank_count .sz_Box_003{width:100%;border:solid 1px;border-color:#F9D5D5;padding:5px 5px 2px 5px;background-color:#FEF6F6;color:#D98383;}
.szrank_count .sz_Box_004{width:100%;border:solid 1px;border-color:#EFDAF4;padding:5px 5px 2px 5px;background-color:#FCF7FD;color:#AF69C0;}
.szrank_count .sz_Box_005{width:100%;border:solid 1px;border-color:#DCDFF6;padding:5px 5px 2px 5px;background-color:#F6F7FE;color:#7381EA;}
.szrank_count .sz_Box_006{width:100%;border:solid 1px;border-color:#DAEAEE;padding:5px 5px 2px 5px;background-color:#F0F6F8;color:#619DAC;}
.szrank_count .sz_Box_007{width:100%;border:solid 1px;border-color:#D5EDDD;padding:5px 5px 2px 5px;background-color:#EFF9F2;color:#6FB587;}
.szrank_count .sz_Box_008{width:100%;border:solid 1px;border-color:#FFEC15;padding:5px 5px 2px 5px;background-color:#FFFCDF;color:#FF9900;}
.szrank_count .sz_Box_009{width:100%;border:solid 1px;border-color:#9DD7E8;padding:5px 5px 2px 5px;background-color:#F8FDFF;color:#0A8DBD;}

.szrank_count a {color: #000000; text-decoration:none;}
.szrank_count a:hover {color: #000000;}
.szrank_count a:visit {color: #000000;}