.member_group .title_box { border:1px solid #EEEEEE; padding:5px; height:14px; overflow:hidden; margin-bottom:.3em; }

.member_group .member_box { padding:3px 3px 3px 28px; clear:both; border-bottom:1px solid #EEEEEE; height:16px; overflow:hidden; margin:0px 0px 2px 0px; background:url(../images/normal/user.gif) no-repeat 5px 3px; }

.member_group .nick_name { float:left; }
.member_group .homepage a { color:#d1d9db; text-decoration:none; margin-left:10px; }
