@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Jeong, Chan Myeong 070601~070630
*/

/* 
Used Hack 

IE6 & Below 
{ property:value; _property:value;}

IE7 Only
*:first-child+html #selector

*/

h3 { background:url("../images/top_head_title_bg.gif") repeat-x left top; font-size:1em; border:1px solid #E3E3E2; padding:11px 9px 7px 25px; color:#555555; }
h3 .gray { color:#9d9d9d;}

.adminTable { width:100%;  border-left:1px solid #E3E3E2; border-top:1px solid #E3E3E2; margin-bottom:10px; table-layout:fixed;}
.adminTable caption { background:url("../images/s_application.gif") no-repeat 3px 5px; padding:6px 5px 4px 22px; text-align:left; border:1px solid #E3E3E2; border-bottom:none; font-weight:bold; background-color:#F9F8F5; color:#5E6266; }
.adminTable th { overflow:hidden; background-color:#FAF8F4; padding:5px; font-weight:normal; text-align:left; padding-left:10px; color:#606060; border-right:1px solid #E3E3E2; border-bottom:1px solid #E3E3E2; }

.adminTable th.button { text-align:right; }
.adminTable th.centerButton { text-align:center; }

.adminTable th a { color:#555555; text-decoration:none; }
.adminTable th a:hover { text-decoration:underline; }

.adminTable th.tahoma { font-family:tahoma; font-size:7pt; }
.adminTable th.tahoma a { font-family:tahoma; font-size:7pt; }

.adminTable th.blue { color:#1473C3; }
.adminTable th.red { color:#C31414; }
.adminTable th.green { color:#218E08; }

.adminTable th.blue a { color:#1473C3; }
.adminTable th.red a { color:#C31414; }
.adminTable th.green a { color:#218E08; }

.adminTable th a.blue { color:#1473C3; }
.adminTable th a.red { color:#C31414; }
.adminTable th a.green { color:#218E08; }

.adminTable th select { height:20px; }
.adminTable td { overflow:hidden; background-color:#FFFFFF; padding:5px; font-weight:normal; text-align:left; padding-left:10px; color:#5A5A5A;  border-right:1px solid #E3E3E2; border-bottom:1px solid #E3E3E2;}

.adminTable td.tahoma { font-family:tahoma; font-size:7pt; }
.adminTable td.tahoma a { font-family:tahoma; font-size:7pt; }

.adminTable td.blue { color:#1473C3; }
.adminTable td.red { color:#C31414; }
.adminTable td.green { color:#218E08; }

.adminTable td.blue a { color:#1473C3; }
.adminTable td.red a { color:#C31414; }
.adminTable td.green a { color:#218E08; }

.adminTable td a.blue { color:#1473C3; }
.adminTable td a.red { color:#C31414; }
.adminTable td a.green { color:#218E08; }

.adminTable td.tCenter { text-align:center; }

.adminTable td select { height:20px; }
.adminTable td textarea { width:98%; height:50px; }
.adminTable td a { color:#555555; text-decoration:none; }
.adminTable td a:hover { text-decoration:underline; }
.adminTable td p, .adminTable td label { color:#AAAAAA; font-size:.9em; margin-top:5px; }
.adminTable td p a, .adminTable td label a { text-decoration:underline; color:#999999; }

.adminTable.counter th { font-size:.9em; text-align:center; padding:0;}
.adminTable.counter th em { font:normal 1em Tahoma;}
.adminTable td .graph { width:90%; position:relative;}
.adminTable td .graph .bar { width:100%; position:absolute; margin-top:4px;}
.adminTable td .graph .num { position:relative; background:#ffffff; color:#636363; font:.9em Tahoma; padding-left:10px; white-space:nowrap;}

.admin_news { width:540px; float:left; margin-right:10px; }
.admin_link { width:300px; float:right; }
select.time_zone { width:70%; position:relative; top:4px; }
.gap1 { margin-top:.8em; }

.infoText { clear:both; border:1px solid #f2f2f0; margin-bottom:12px; background:#f9f9f6; padding:1.2em; color:#7b7972; font-size:1em; line-height:1.4em; border-top:none; }

.header4 { overflow:hidden;}
.header4 div.summary { font:.9em Tahoma; color:#636363; float:left; padding:.5em 0 1.2em 2em;}4v
.header4 div.summary .vr { font-weight:normal; color:#d1d1d1; margin:0 .5em;}
.header4 div.summary em { color:#ff1d00; font-style:normal;}
.header4 table.summary { border-right:1px solid #f2f2f2; width:100%; height:35px; margin-bottom:15px;}
.header4 table.summary th { background:#969693; color:#ffffff;}
.header4 table.summary th img { vertical-align:middle;}
.header4 table.summary th .vr { color:#a3a39f; margin:0 4px; font-weight:normal;}
.header4 table.summary td { border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; font:.9em Tahoma; padding-left:17px;}

h4 { font-size:1em; color:#f2250d; padding-left:10px; }
h4 .bracket { font-weight:normal; color:#9d9d9d;}
h4 .vr { font-weight:normal; color:#d1d1d1;}
h4 .view { color:#158692; padding-right:.6em; font:bold .9em Tahoma; background:url(../images/iconView.gif) no-repeat right center; text-decoration:none; }

.localNavigation { float:right; margin-bottom:10px;}
.localNavigation li { float:left; margin-right:.3em; list-style:none;}
.localNavigation li.on { margin-right:.3em;}
.localNavigation li a { padding:.4em 1em .2em 1em; display:block; float:left; font-size:.9em; color:#606060; border:2px solid #e0dfde; text-decoration:none; }
.localNavigation li a:hover { border:2px solid #ff1a00; color:#f2250d; text-decoration:none;}
.localNavigation li.on a { color:#f2250d; border:2px solid #ff1a00; text-decoration:none;}

.tableSummaryType1 { font:bold .9em Tahoma; color:#a0a0a0; margin-bottom:10px;}
.tableSummaryType1 strong { font:bold 1em Tahoma; color:#ff1a00;}

.pageNavigation { display:block; padding:1.5em 0 2em 0; text-align:center; font:bold .9em Tahoma; }
.pageNavigation a { margin-left:-4px; font:bold 1em Tahoma; color:#666666; display:inline-block; padding:1px 7px 2px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }
.pageNavigation a:hover { background:#F7F7F7; text-decoration:none; }
.pageNavigation a:visited { color:#999999;}
.pageNavigation a.goToFirst,
.pageNavigation a.goToLast { border:none; border-right:1px solid #ffffff; border-left:1px solid #ffffff; z-index:99; vertical-align:top; padding:0px 7px 4px 6px;}
.pageNavigation a.goToFirst img,
.pageNavigation a.goToLast img { display:inline-block; padding:2px 0; top:2px; _top:1px;}
.pageNavigation .current { margin-left:-4px; font:bold 1em Tahoma; color:#ff6600; display:inline-block; padding:1px 7px 1px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }

.adminSearch { text-align:right; clear:both; width:100%;}
.adminSearch fieldset { border:none; display:inline; overflow:visible; }
.adminSearch * { vertical-align:middle;} 

.buttonTypeGo { border:none; cursor:pointer; width:24px; height:20px; position:relative; top:-1px; font:.75em Tahoma; text-align:center; background:url(../images/buttonTypeInput24.gif) no-repeat; }

#popHeadder { height:40px; background:url(../images/popupTopBg.png) repeat-x left top; padding:10px;}
#popHeadder h1 { background:url("../images/top_head_title_bg.gif") repeat-x left top; font-size:1em; border:1px solid #E3E3E2; padding:9px; color:#555555; }
#popBody { width:600px; padding:10px; background:#ffffff;}
#popFooter { width:620px; background:#f7f7f6; border-top:1px solid #e8e8e7; padding:.5em 0 .5em 0; overflow:hidden; }
#popFooter .close { position:relative; left:50%; margin-left:-1em; float:left;}

.layout_editor { width:100%; height:500px; border:0px; font-size:1em; }
.layout_editor_box { padding:10px; border:1px solid #DDDDDD; }

