@charset "utf-8";

body { background:#548DB5; }

.xeAdmin { width:100%; height:61px; border-bottom:1px solid #1b3d51; background:#FFFFFF url("../images/n_top_back.gif") repeat-x left top; position:relative; z-index:100;}
.xeAdmin h1 { position:absolute; top:15px; left:20px; margin:0; padding:0; }
.xeAdmin h1 img{ _behavior:url(./common/js/iePngFix.htc);}
.xeAdmin ul.globalNavigator { list-style:none; margin:0; padding:0; position:absolute; right:20px; top:13px; }
.xeAdmin ul.globalNavigator li { display:inline; margin:0 10px;}
.xeAdmin ul.globalNavigator li a{ color:#ddd; text-decoration:none;}

.xeAdmin div.mainNavigator { position:absolute; right:20px; top:35px; padding:0 0 0 6px; background:url(../images/n_menu_left.gif) no-repeat left top;}
.xeAdmin div.mainNavigator img { float:left; display:block; }
.xeAdmin div.mainNavigator ul { float:left; position:relative; list-style:none; margin:0; padding:0 6px 0 0; background:url(../images/n_menu_right.gif) no-repeat right top; }
.xeAdmin div.mainNavigator ul li { position:relative; float:left; background:#547C93 url("../images/n_menu_bar.gif") no-repeat left top; padding:0; color:#eee; border-top:1px solid #1b3d51;}
.xeAdmin div.mainNavigator ul li a{ position:relative; display:block; float:left; height:18px; padding:7px 10px 0 10px; color:#fff; text-decoration:none;}
.xeAdmin div.mainNavigator ul li:hover { color:#FFFFFF; }
.xeAdmin div.mainNavigator ul li.first { background-image:none; }

.xeAdmin div.mainNavigator .adminSubMenu { border:1px solid #999; float:none; clear:both; position:absolute; left:-6px; top:31px; visibility:hidden; list-style:none; padding:0 7px 3px 7px; margin:0; background:#eee;}
.xeAdmin div.mainNavigator .adminSubMenu li { position:relative; display:block; float:none; clear:both; font-weight:normal; margin:0; padding:8px 4px 4px 4px; background:url("../images/n_submenu_bar.gif") repeat-x left top; border:none;}
.xeAdmin div.mainNavigator .adminSubMenu li a { position:relative; display:inline-block; float:none; clear:both; padding:0; color:#000; text-decoration:none; white-space:nowrap;}
.xeAdmin div.mainNavigator .adminSubMenu li a:hover { color:#aaa; }
.xeAdmin div.mainNavigator .adminSubMenu li.first { background:none; }

.adminFolder { background:url("../images/n_folder_bg.gif") repeat-x left top; height:6px; text-align:center; overflow:hidden;}
.adminPackage { background:#eee url("../images/n_package_bg.gif") repeat-x left top; overflow:hidden; height:28px; padding:10px 0 0 0;}
.adminPackage ul { position:relative; clear:both; margin:0; padding:0 0 0 20px; height:28px; overflow:hidden;}
.adminPackage ul li { list-style:none; background:url("../images/n_tab.gif") no-repeat scroll left -35px; float:left; margin-right:10px; position:relative; text-align:center; top:0; height:28px;}
.adminPackage ul li.admin { float:right; }
.adminPackage ul li a { float:left; background:url("../images/n_tab.gif") no-repeat scroll right -35px; color:#FFFFFF; font-weight:bold; display:block; left:3px; padding:8px 15px 0 10px; position:relative; text-decoration:none; height:28px;}
.adminPackage ul li.active { background-position:left top; top:0; height:28px; }
.adminPackage ul li.active a { background-position:right top; padding:8px 15px 5px 10px; height:28px; color:#185B83;}

.adminContentBody { background:#FFFFFF; position:relative; padding:20px; *zoom:1; }
.adminContentBody:after { content:""; display:block; clear:both;}

.adminFooter{ background:#548DB5; text-align:center; padding:10px 0;}
.adminFooter address { font:11px Tahoma; color:#fff;}
.adminFooter address a{ font:11px Tahoma; color:#fff; text-decoration:none;}
