@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

#xeAdmin{ font-family:Sans-serif;}

#xeAdmin a{ text-decoration:none !important;}
#xeAdmin a:hover,
#xeAdmin a:active,
#xeAdmin a:focus{ text-decoration:underline !important;}

#xeAdmin h1.xeAdmin a{ text-decoration:none !important; font-family:Arial; font-size:16px; color:#fff; margin:0; padding:0;}
#xeAdmin table th{ color:#666;}
#xeAdmin table th a { color:#666;}
#xeAdmin table td{ color:#888;}
#xeAdmin table td a { color:#888;}
#xeAdmin caption{ font-size:11px; font-family:Tahoma; color:#888;}
#xeAdmin div.summary { font-size:11px; font-family:Tahoma; color:#888;}
#xeAdmin div.summary strong { font-weight:normal; }
#xeAdmin button.text{ font-size:12px;}
#xeAdmin em,
#xeAdmin address{ font-style:normal;}
#xeAdmin select{ font-size:12px;}
#xeAdmin input{ font-size:12px;}
#xeAdmin .buttonTypeGo{ padding:0; cursor:pointer;}

#xeAdmin .footer address{ font:10px Tahoma;}
#xeAdmin .footer address a{ color:#777e86; }
#xeAdmin .gnb li a { color:#777e86; font-size:11px; font-family:Tahoma;}
#adminLang li a{ font-size:12px;}
#xeAdmin .lnb li,
#xeAdmin .lnb li a{ color:#fff; font-size:14px; font-family:Dotum, Tahoma;}

#xeAdmin .path{ color:#ccc; font-size:11px;}
#xeAdmin .path a{ color:#888; font-size:11px; font-family:Dotum, Sans-serif;}

.e1 .navigation li a{ color:#000; text-decoration:none;}
.e1 .navigation li ul li a{ color:#888;}
.e1 .navigation li ul li.active a{ font-weight:bold; color:#666;}

.e2 .section h2.xeAdmin { font-size:12px; margin:0; padding:0;}
.e2 .section h2.xeAdmin  .date{ font:Tahoma; color:#999;}

.e2 table tbody th{ font-weight:normal; font-family:Dotum;}

.e2 .notice li a{ color:#666; }
.e2 .notice li .date{ color:#888; font:10px Tahoma;}

.localNavigation li a{ text-decoration:none !important; color:#666;}
.localNavigation li.active a{ font-weight:bold; color:#1e6aac;}

#xeAdmin h2.xeAdmin  { font-size:12px;}
#xeAdmin h3.xeAdmin { font-size:12px; color:#666; margin:0; padding:0;}
#xeAdmin p.summary{ color:#888;}
#xeAdmin p.summary a { text-decoration:none; color:#888; }
#xeAdmin p.summary.red { color:#A54D4D; }
#xeAdmin p.summary.red a { text-decoration:none; color:#A54D4D; }
#xeAdmin div.infoText { color:#888;}
