@charset "utf-8";

/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */
#xeAdmin .header{ position:relative; height:62px; padding:10px 15px 10px 30px; background:url(../img/bgHeader.gif) repeat-x; z-index:10;}
#xeAdmin .footer{ height:26px; padding-top:10px; background:url(../img/bgFooter.gif) repeat-x; text-align:center;}
#xeAdmin .gnb{ position:relative; float:right; white-space:nowrap; clear:right; margin:0; padding:0;}
#xeAdmin .gnb li{ position:relative; float:left; margin:0 15px 0 0; padding:0;list-style:none;}

#xeAdmin .gnb #adminLang { position:absolute; top:18px; right:0; display:none; background:#fff; margin:0; padding:5px; border:1px solid #ddd; z-index:999;}
#xeAdmin .gnb #adminLang li{ float:none; margin:0;}

.body{ position:relative; margin:0; padding:20px 0 20px 200px; background:url(../img/lineBody.gif) repeat-y 180px 0; *zoom:1;}
.body:after {content:""; display:block; clear:both;}
.ece .body {padding-right:340px;}
.ec .body {padding-right:20px;}
.extension{ position:relative;}
.body .e1 { float:left; width:160px; margin-right:-160px; left:-190px;}
.content { position:relative; width:100%; margin-right:-100%; float:left;}
.ece .e2 { width:300px; float:right; right:-320px; border-left:1px solid #ddd; padding-bottom:20px;}
.ec .e2 { display:none;}

#xeAdmin .lnb { position:relative; left:-3px; float:left; clear:left; margin:5px 0 0 0; padding:0;}
#xeAdmin .lnb li,
#xeAdmin .lnb li a{ position:relative; float:left; background:url(../img/buttonLNB.gif) no-repeat; white-space:nowrap;}
#xeAdmin .lnb li{ margin:0 1px 0 0; padding:0;list-style:none; background-position:0 0;}
#xeAdmin .lnb li a{ left:1px; height:30px; padding:10px 15px 0 15px; text-decoration:none !important; background-position:right 0;}
#xeAdmin .lnb li.core{ margin-right:6px; background-position:0 -50px;}
#xeAdmin .lnb li.core a{ padding-right:20px; left:5px; background-position:right -50px;}
#xeAdmin .lnb li.first{ background-position:0 -50px; margin-right:5px;}
#xeAdmin .lnb li.first a{ left:5px;}
#xeAdmin .lnb li.end{}
#xeAdmin .lnb li.end a{ padding-right:20px; background-position:right -50px;}

#xeAdmin .lnb li.core.selected { background-position:0 -150px;}
#xeAdmin .lnb li.core.selected  a{ background-position:right -150px;}
#xeAdmin .lnb li.first.selected { background-position:0 -150px;}
#xeAdmin .lnb li.first.selected  a{ background-position:right -100px;}
#xeAdmin .lnb li.mid.selected { background-position:0 -100px;}
#xeAdmin .lnb li.mid.selected  a{ background-position:right -100px;}
#xeAdmin .lnb li.end.selected { background-position:0 -100px;}
#xeAdmin .lnb li.end.selected  a{ background-position:right -150px;}

#xeAdmin .path{ padding:0 0 0 25px; margin:0 0 20px 0; background:url(../img/iconPath.gif) no-repeat left center;}
