@charset "utf-8"; 
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Pagination Reset */
#xeAdmin .pagination{ padding:15px 0; margin:0; text-align:center; clear:both; }
#xeAdmin .pagination *{ margin:0; padding:0;}
#xeAdmin .pagination img{ border:0;}
#xeAdmin .pagination a,
#xeAdmin .pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; color:#333; font-family:Tahoma, Sans-serif; vertical-align:middle;}
#xeAdmin .pagination a:hover,
#xeAdmin .pagination a:active,
#xeAdmin .pagination a:focus{ background-color:#f4f4f4 !important; }
#xeAdmin .pagination strong{ color:#ff6600 !important;}
#xeAdmin .pagination a.prev,
#xeAdmin .pagination a.prevEnd,
#xeAdmin .pagination a.next,
#xeAdmin .pagination a.nextEnd{ font-weight:normal !important; border:none !important; margin:0 !important; white-space:nowrap; }

/* Pagination A1 */
#xeAdmin .pagination.a1 a,
#xeAdmin .pagination.a1 strong{ margin:0 -4px; padding:1px 10px 1px 8px; border:none; border-left:1px solid #ccc; border-right:1px solid #ddd; font-weight:bold; font-size:12px; background:#fff;}
#xeAdmin .pagination.a1 a.prev{ padding-left:10px; background:#fff url(../img/arrowPrevA1.gif) no-repeat left center; }
#xeAdmin .pagination.a1 a.prevEnd{ padding-left:15px; background:#fff url(../img/arrowPrevEndA1.gif) no-repeat left center; }
#xeAdmin .pagination.a1 a.next{ padding-right:10px; background:#fff url(../img/arrowNextA1.gif) no-repeat right center; }
#xeAdmin .pagination.a1 a.nextEnd{ padding-right:15px; background:#fff url(../img/arrowNextEndA1.gif) no-repeat right center; }

/* Pagination A2 */
#xeAdmin .pagination.a2 a,
#xeAdmin .pagination.a2 strong{ margin:0 -4px; padding:0 10px 0 8px; font-weight:bold; font-size:11px; border:none; border-left:1px solid #ddd; border-right:1px solid #ccc; background:#fff; }
#xeAdmin .pagination.a2 a.prev{ padding-left:10px; background:#fff url(../img/arrowPrevA1.gif) no-repeat left center; }
#xeAdmin .pagination.a2 a.prevEnd{ padding-left:15px; background:#fff url(../img/arrowPrevEndA1.gif) no-repeat left center; }
#xeAdmin .pagination.a2 a.next{ padding-right:10px; background:#fff url(../img/arrowNextA1.gif) no-repeat right center; }
#xeAdmin .pagination.a2 a.nextEnd{ padding-right:15px; background:#fff url(../img/arrowNextEndA1.gif) no-repeat right center; }

/* Pagination B1 */
#xeAdmin .pagination.b1 a,
#xeAdmin .pagination.b1 strong{ margin:0 -2px; padding:2px 8px; font-weight:bold; font-size:12px;}
#xeAdmin .pagination.b1 a.prev,
#xeAdmin .pagination.b1 a.prevEnd{ padding-left:16px; background:url(../img/arrowPrevB1.gif) no-repeat left center; }
#xeAdmin .pagination.b1 a.next,
#xeAdmin .pagination.b1 a.nextEnd{ padding-right:16px; background:url(../img/arrowNextB1.gif) no-repeat right center; }

/* Pagination B2 */
#xeAdmin .pagination.b2 a,
#xeAdmin .pagination.b2 strong{ margin:0 -2px; padding:2px 6px; font-size:11px;}
#xeAdmin .pagination.b2 a.prev,
#xeAdmin .pagination.b2 a.prevEnd{ padding-left:12px; background:url(../img/arrowPrevB1.gif) no-repeat left center; }
#xeAdmin .pagination.b2 a.next,
#xeAdmin .pagination.b2 a.nextEnd{ padding-right:12px; background:url(../img/arrowNextB1.gif) no-repeat right center; }

/* Pagination C1 */
#xeAdmin .pagination.c1 a,
#xeAdmin .pagination.c1 strong{ margin:0 -2px; padding:2px 4px; font-size:12px;}
#xeAdmin .pagination.c1 a.prev,
#xeAdmin .pagination.c1 a.prevEnd,
#xeAdmin .pagination.c1 a.next,
#xeAdmin .pagination.c1 a.nextEnd{ display:inline-block; width:13px; height:14px; padding:3px 4px; margin:0;}
#xeAdmin .pagination.c1 a.prev,
#xeAdmin .pagination.c1 a.prevEnd{ background:url(../img/arrowPrevC1.gif) no-repeat center;}
#xeAdmin .pagination.c1 a.next,
#xeAdmin .pagination.c1 a.nextEnd{ background:url(../img/arrowNextC1.gif) no-repeat center;}
#xeAdmin .pagination.c1 a.prev span,
#xeAdmin .pagination.c1 a.prevEnd span,
#xeAdmin .pagination.c1 a.next span,
#xeAdmin .pagination.c1 a.nextEnd span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}

/* Pagination C2 */
#xeAdmin .pagination.c2 a,
#xeAdmin .pagination.c2 strong{ margin:0 -2px; padding:2px 4px; font-size:11px;}
#xeAdmin .pagination.c2 a.prev,
#xeAdmin .pagination.c2 a.prevEnd,
#xeAdmin .pagination.c2 a.next,
#xeAdmin .pagination.c2 a.nextEnd{ display:inline-block; width:13px; height:14px; padding:3px 4px; margin:0;}
#xeAdmin .pagination.c2 a.prev,
#xeAdmin .pagination.c2 a.prevEnd{ background:url(../img/arrowPrevC1.gif) no-repeat center;}
#xeAdmin .pagination.c2 a.next,
#xeAdmin .pagination.c2 a.nextEnd{ background:url(../img/arrowNextC1.gif) no-repeat center;}
#xeAdmin .pagination.c2 a.prev span,
#xeAdmin .pagination.c2 a.prevEnd span,
#xeAdmin .pagination.c2 a.next span,
#xeAdmin .pagination.c2 a.nextEnd span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}




