@charset "utf-8";
@import url('//fonts.googleapis.com/css?family=Raleway:700,400');
@import url('//fonts.googleapis.com/css?family=Open+Sans');

/* NanumBarunGothic Font */
@font-face {
 font-family: 'ng';
 font-style: normal;
 font-weight: 200;
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-UltraLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-UltraLight.woff') format('woff'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-UltraLight.ttf') format('truetype');
}

@font-face {
 font-family: 'ng';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot');
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.eot?#iefix') format('embedded-opentype'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.woff') format('woff'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Light.ttf') format('truetype');
}

@font-face {
 font-family: 'ng';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot');
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.eot?#iefix') format('embedded-opentype'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.woff') format('woff'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Regular.ttf') format('truetype');
}
@font-face {
 font-family: 'ng';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.eot');
 src: url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.eot?#iefix') format('embedded-opentype'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.woff') format('woff'),
      url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/v1/NanumBarunGothic-Bold.ttf') format('truetype');
}
