@charset "utf-8";

.sourceBrowser h3 { height:25px; font-size:10pt; font-family:tahoma; color:#000; margin:0; padding:0 0 0 10px;  clear:both; }

.sourceBrowser blockquote { border:1px solid #ddd; background-color:#fff; margin:0 0 10px 0; padding:5px; font-size:9pt; color:#444; clear:both; }
.sourceBrowser blockquote strong { margin-bottom:10px; display:block;}

.sourceBrowser ul { margin:0 0 5px 0; padding:5px 0 0 25px; height:20px; overflow:hidden; background:url("../img/common/folder.gif") no-repeat 4px 3px; }
.sourceBrowser ul li { float:left; list-style:none; padding:0; margin:0 5px 0 0; color:#555; }
.sourceBrowser ul li a { font-weight:bold; color:green; text-decoration:underline; color:#555;}
.sourceBrowser ul li.file a { float:left; list-style:none; padding:0; margin:0 10px 0 0; color:#000;}

.sourceBrowser ol { margin:0; padding:0; float:right; overflow:hidden; height:30px; }
.sourceBrowser ol li { float:left; list-style:none; padding:0; margin:0 10px 0 0; color:#AAAAAA; font-size:9pt; }
.sourceBrowser ol li a { font-weight:normal; color:#555555;; text-decoration:none; }

.sourceBrowser table { width:100%; clear:both; border-spacing:0; table-layout:fixed; border:1px solid #aaa; border-left:none; border-right:none; margin-bottom:10px; }
.sourceBrowser table thead tr th { height:30px; color:#000; font-family:tahoma; font-size:8pt; font-weight:bold; border-bottom:1px solid #aaa;}
.sourceBrowser table tr th.filename {color:#000; padding:4px; font-size:9pt; font-family:tahoma; text-align:left;}
.sourceBrowser table tr.revision td { text-align:center; font-weight:bold; font-size:8pt; font-family:tahoma;}
.sourceBrowser table tr.line td { font-size:8pt; font-family:tahoma;}
.sourceBrowser table tr.line td.deleted { color:red; }
.sourceBrowser table tr.line td.modified { color:green; }
.sourceBrowser table tr.line td.added { color:blue; }
.sourceBrowser table tr.code td { color:#222222; font-size:9pt; }
.sourceBrowser table tr td { border-bottom:1px solid #EEEEEE; vertical-align:top; padding:5px; color:#888888; font-family:tahoma; font-size:9pt; background-color:#FFFFFF; }
.sourceBrowser table tbody tr.revision td { background-color:#DDDDDD; }
.sourceBrowser table tbody tr.line td { background-color:#F3F3F3; border-bottom:1px solid #EEEEEE; text-align:center;}
.sourceBrowser table tr.over td { background-color:#EFEFEF; }
.sourceBrowser table td a { text-decoration:none; }
.sourceBrowser table td.before { color:red; }
.sourceBrowser table td.after { color:blue; }
.sourceBrowser table td.directory { background:url("../img/common/folder.gif") no-repeat 4px 3px; padding-left:22px;}
.sourceBrowser table td.file { background:url("../img/common/fileItem.gif") no-repeat 4px 3px; padding-left:22px;}
.sourceBrowser table td.directory a { color:#333333; }
.sourceBrowser table td.file a { color:#222222; }
.sourceBrowser table td.log { white-space:nowrap; color:red; text-align:center;}
.sourceBrowser table td.age { white-space:nowrap; text-align:left;}
.sourceBrowser table td.log a { color:red;}
.sourceBrowser table td span.author { font-weight:bold; color:#000000; }

.sourceBrowser pre { clear:both; font-size:9pt; font-family:tahoma; border:1px dotted #DDDDDD; background-color:#F3F3F3; padding:5px; color:#444444; }

.sourceBrowser input.btnCompare { margin-bottom:10px; }
