@charset "utf-8"; 
/* NHN > UIT Center > Open UI Tech. Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* XE White Theme */

/* Board Reset */
.issuetracker{ background:#fff; color:#333;}
.issuetracker .inputText,
.issuetracker textarea,
.issuetracker select{ background:#fff; color:#333; border-top-color:#a6a6a6; border-left-color:#a6a6a6; border-right-color:#d8d8d8; border-bottom-color:#d8d8d8;}
.issuetracker .document_popup_menu a,
.issuetracker .comment_popup_menu a{ color:#8b8b8b;}
.issuetracker .issuetrackerNavigation{ border-color:#bababa;}

/* Board Header */
.issuetrackerHeader a{ color:#4d4d4d;}
.issuetrackerHeader .issuetrackerTitle{ border-color:#ddd; }
.issuetrackerHeader .issuetrackerTitleText{ border-color:#666; background-image:url(../img/white/lineVr11.gif);}
.issuetrackerHeader .issuetrackerTitleText a{ color:#000;}
.issuetrackerHeader .issuetrackerTitleText em{ color:#666;}
.issuetrackerHeader .issuetrackerDescription{ background:#f8f8f8; }

/* Board Information */
.issuetrackerInformation em,
.issuetrackerInformation strong{ color:#ff6600;}
.issuetrackerInformation .infoView li.icon a{ background-image:url(../img/common/icons.gif);}
.issuetrackerInformation .infoView li.setup a{ background-image:url(../img/common/buttonSetup.gif);}

/* Board List Form */
.issuetrackerListForm em,
.issuetrackerListForm strong{color:#ff3636;}

/* Board List */
.issuetrackerList{ border-color:#bababa;}
.issuetrackerList a{ color:#4d4d4d;}
.issuetrackerList .jumpTo button{ background-color:#eee; border-color:#ccc; color:#000;}
.issuetrackerList .meta li{ background-image:url(../img/white/lineVr9.gif);}
.issuetrackerList .replyNum{ color:#ff3636;}
.issuetrackerList .trackbackNum{ color:#66c;}
.issuetrackerList .replyAnchor{ color:#06C;}
.issuetrackerList th{ border-color:#dcdcdc; color:#4d4d4d;}
.issuetrackerList th a{ color:#66c;}
.issuetrackerList td{ border-color:#eee; color:#4d4d4d;}
.issuetrackerList td.title a.forum:link,
.issuetrackerList td.recommend{ color:#ff3636;}
.issuetrackerList td.summary .thumb{ border-color:#ddd; background:#fff;}
.issuetrackerList td .notice{ background-image:url(../img/white/lineVr9.gif);}
.issuetrackerList td .category{ color:#888; background-image:url(../img/white/lineVr9.gif);}
.issuetrackerList td .by{ color:#ccc;}

.issuetrackerList.webZine td.title p.summary a{ color:#888;}
.issuetrackerList.webZine td.title .thumb{ border-color:#e0e0e0;}

.thumbList{ border-color:#ddd;}
.thumbList li .thumb{ background:#fff; border-color:#ddd;}
.thumbList li .thumb a .text{ color:#ccc;}
.thumbList li .thumb a .category{ background:#000; opacity:.6; filter:alpha(opacity=60); color:#fff;}
.thumbList li .thumb a .noPhoto{ background:#eee;}
.thumbList li .title a{ color:#262626;}
.thumbList li .summary a{ color:#888;}

/* Search Form */
.issuetrackerSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorsTaglist.gif);}

/* Board Read */
.issuetrackerReadHeader a{ color:#262626;}
.issuetrackerReadHeader .titleArea{ border-top-color:#bababa; border-bottom-color:#dcdcdc;}
.issuetrackerReadHeader .titleArea .category{ color:#4d4d4d; background-image:url(../img/white/lineVr9.gif);}
.issuetrackerReadHeader .titleArea .num{ color:#adadad;}
.issuetrackerReadHeader .titleArea .date{ color:#adadad; background-image:url(../img/white/lineVr9.gif);}
.issuetrackerReadHeader .authorArea .ipAddress{ color:#adadad;}
.issuetrackerReadHeader .authorArea .permaLink{ color:#adadad;}

.issuetrackerReadFooter .memberSignature{ border-color:#f0f0f0; background-color:#fdfdfd;}
.issuetrackerReadFooter .memberSignature img.profile { border-color:#eee;} 
.issuetrackerReadFooter .tag dd a{ color:#4d4d4d;}
.issuetrackerReadFooter .trackbackURL dt{ color:#4d4d4d;}
.issuetrackerReadFooter .trackbackURL dd a{ color:#adadad;}

.feedbackList{ border-color:#f0f0f0;}
.feedbackList .feedbackHeader a{ color:#000;}
.feedbackList .feedbackHeader em{ color:#ff6600;}
.feedbackList .trackbackURL a{ color:#adadad;}
.feedbackList .item{ border-color:#f0f0f0;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#8b8b8b;}
.feedbackList .item .header a{ color:#262626;}
.feedbackList .item .itemContent .option li{ background-image:url(../img/white/lineVr9.gif);}
.feedbackList .item .itemContent .option li a{ color:#666;}
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#eee;}
.feedbackList .item .itemAside .meta{ color:#adadad;}
.feedbackList .item .itemAside .vote *{ color:#8b8b8b;}

/* Time */
.time *{ color:#666;}
.time dt{ background:#fff;}

/* Attached File */
.attachedFile ul.files a{ padding-left:15px; background-image:url(../img/common/iconFile.gif); color:#4d4d4d;}
.attachedFile dt a { color:#4d4d4d;}
.attachedFile ul.files a .bubble{ border:1px solid #ddd; background-color:#fff; color:#4d4d4d;}

/* Editor */
.issuetracker .issuetrackerEditor{ border-color:#ddd; background:#f8f8f8;}

/* Extra Var Table */
.extraVarsList{ border-color:#ddd;}
.extraVarsList caption{ color:#999;}
.extraVarsList em{ color:#ff6600;}
.extraVarsList th,
.extraVarsList td{ border-color:#ddd;}
.extraVarsList th{ background:#f4f4f4;}
.extraVarsList td{ background:#fff;}
.extraVarsList td .inputNum{ border-color:#ccc;}
.extraVarsList th a,
.extraVarsList td a { color:#000; text-decoration:none; }

/* Tag Cloud */
.tagCloud{ border-color:#bababa;}
.tagCloud li.rank1 a{ color:#000;}
.tagCloud li.rank2 a{ color:#222;}
.tagCloud li.rank3 a{ color:#444;}
.tagCloud li.rank4 a{ color:#666;}
.tagCloud li.rank5 a{ color:#888;}

/* Layer */
#popup_menu_area{background:#fff; border-color:#eee;}
#popup_menu_area ul{ border-color:#ddd;}
#popup_menu_area li a{ color:#000;}

/* issue status color */
.issue_new, .issue_new a { color:#333333 !important; }
.issue_assign, .issue_assign a { color:#0A7DBE !important; }
.issue_resolve, .issue_resolve a { color:#079B2D !important; }
.issue_reopen, .issue_reopen a { color:#9B5A07 !important; }
.issue_postponed, .issue_postponed a { color:#9E9425 !important; }
.issue_invalid, .issue_invalid a { color:#949494 !important; }
.issue_duplicated, .issue_duplicted a { color:#949494 !important; }
.issue_reviewing, .issue_reviewing a { color:#DD075A !important; }
form.issueSearch { padding:0; margin:0 0 10px 0; overflow:hidden; }
form.issueSearch ul { margin:0; padding: 0; }
form.issueSearch ul li { list-style:none; float:left; padding:5px 10px 0 0; white-space:nowrap; }
form.issueSearch ul li.displayOpt { clear:left; width:100%; }
form.issueSearch ul li.keywordSearch { clear:left; }
form.issueSearch select { width:130px; }
form.issueSearch input.inputTypeText { width:124px; }
form.issueSearch input.inputTypeSubmit { width:130px; border:1px solid; border-color:#d8d8d8 #a6a6a6 #a6a6a6 #d8d8d8; height:20px; background:#EFEFEF; font-size:1em; _font-size:9pt; }
form.issueSearch ul li ol { margin:0 2px 0 0; padding:0; border-bottom:none; }
form.issueSearch ul li ol li { list-style:none; white-space:nowrap; overflow:hidden; float:left; letter-spacing:-2px;}

/* Timeline */
dl.changeset { line-height: 1.3em; margin: 0; }
dl.changeset dt .time { color: #999999; font-size: 0.90em; }
dl.changeset dt em { border-bottom: 1px dotted #BBBBBB; color: #BB0000; font-style:normal; text-decoration: none; } 
dl.changeset dt .author { color: #666666; }
dl.changeset dt { padding: 5px 4px 2px 0 }
dl.changeset dt a { color:#373737; text-decoration: none; }
dl.changeset dt span.closed { text-decoration: line-through; }
dl.changeset dd p { margin: 0; padding: 0; }
dl.changeset dd { color: #777766; font-size: 0.90em; }
dl.changeset span.status { color: #222222; }
dl.changeset dd span.source { color:#4F86B0; }
dl.changeset dd span.target { color:#4F86B0; font-weight:bold; }
dl.changeset dd span.key { color:#888888; font-weight:bold; }
div.search { float:right; }

.diff .deleted { background: #FFDDDD none; }
.diff .added { background: #DDFFDD none; }

