.profile_img {border-radius: 50%;border:1px solid #e0e0e0;padding:1px;width:40px;height:40px}
.no_profile {display:block;font-style:normal;border:1px solid #ddd;width:40px;height:40px;line-height:40px;font-size:16px;font-weight:bold;background:#fff;color:#666;border-radius:50%;text-align:center;}
