<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="dispAdminContent" type="view" admin_index="true" standalone="true" />
        <action name="procUploadFile" type="controller" standalone="true" />
        <action name="procDeleteFile" type="controller" standalone="true" />
    </actions>
</module>
