<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="dispHomepageManage" target="manager" />
        <permission action="dispHomepageMemberGroupManage" target="manager" />
        <permission action="dispHomepageMemberManage" target="manager" />

        <permission action="dispHomepageTopMenu" target="manager" />
        <permission action="dispHomepageBottomMenu" target="manager" />
        <permission action="dispHomepageMidSetup" target="manager" />
        <permission action="dispHomepageCounter" target="manager" />
        <permission action="dispHomepageComponent" target="manager" />
        <permission action="dispHomepageBoardInfo" target="manager" />
        <permission action="dispHomepageBoardAddition" target="manager" />
        <permission action="dispHomepageBoardGrant" target="manager" />
        <permission action="dispHomepageBoardSkin" target="manager" />
        <permission action="dispHomepagePageGrant" target="manager" />
        <permission action="dispHomepageBoardCategoryInfo" target="manager" />
        <permission action="dispHomepageBoardExtraVars" target="manager" />

        <permission action="procHomepageChangeLayout" target="manager" />
        <permission action="procHomepageChangeLanguage" target="manager" />
        <permission action="procHomepageLayoutUpdate" target="manager" />
        <permission action="procHomepageInsertMenuItem" target="manager" />
        <permission action="procHomepageDeleteMenuItem" target="manager" />
        <permission action="procHomepageMenuItemMove" target="manager" />
        <permission action="procHomepageMenuUploadButton" target="manager" />
        <permission action="procHomepageDeleteButton" target="manager" />
        <permission action="procHomepageDeleteGroup" target="manager" />
        <permission action="procHomepageInsertGroup" target="manager" />
        <permission action="procHomepageUpdateMemberGroup" target="manager" />
        <permission action="procHomepageDeleteMember" target="manager" />
        <permission action="procHomepageInsertBoard" target="manager" />
        <permission action="procHomepageInsertPage" target="manager" />
        <permission action="procHomepageUpdateBoardSkin" target="manager" />
        <permission action="procHomepageChangeIndex" target="manager" />
    </permissions>
    <actions>
        <action name="dispHomepageManage" type="view" standalone="true" index="true" />
        <action name="dispHomepageMemberGroupManage" type="view" standalone="true" />
        <action name="dispHomepageMemberManage" type="view" standalone="true" />
        <action name="dispHomepageTopMenu" type="view" standalone="true" />
        <action name="dispHomepageBottomMenu" type="view" standalone="true" />
        <action name="dispHomepageMidSetup" type="view" standalone="true" />
        <action name="dispHomepageCounter" type="view" standalone="true" />
        <action name="dispHomepageComponent" type="view" standalone="true" />

        <action name="dispHomepageBoardInfo" type="view" standalone="true" />
        <action name="dispHomepageBoardAddition" type="view" standalone="true" />
        <action name="dispHomepageBoardGrant" type="view" standalone="true" />
        <action name="dispHomepageBoardSkin" type="view" standalone="true" />
        <action name="dispHomepagePageGrant" type="view" standalone="true" />
        <action name="dispHomepageBoardCategoryInfo" type="view" standalone="true" />
        <action name="dispHomepageBoardExtraVars" type="view" standalone="true" />

        <action name="getHomepageMenuItem" type="model" standalone="true" />

        <action name="procHomepageChangeLayout" type="controller" standalone="true" />
        <action name="procHomepageChangeLanguage" type="controller" standalone="true" />
        <action name="procHomepageLayoutUpdate" type="controller" standalone="true" />
        <action name="procHomepageInsertMenuItem" type="controller" standalone="true" />
        <action name="procHomepageDeleteMenuItem" type="controller" standalone="true" />
        <action name="procHomepageMenuItemMove" type="controller" standalone="true" />
        <action name="procHomepageMenuUploadButton" type="controller" standalone="true" />
        <action name="procHomepageDeleteButton" type="controller" standalone="true" />
        <action name="procHomepageDeleteGroup" type="controller" standalone="true" />
        <action name="procHomepageInsertGroup" type="controller" standalone="true" />
        <action name="procHomepageDeleteMember" type="controller" standalone="true" />
        <action name="procHomepageUpdateMemberGroup" type="controller" standalone="true" />
        <action name="procHomepageInsertBoard" type="controller" standalone="true" />
        <action name="procHomepageInsertPage" type="controller" standalone="true" />
        <action name="procHomepageChangeIndex" type="controller" standalone="true" />

        <action name="dispHomepageAdminContent" type="view" standalone="true" admin_index="true" />
        <action name="dispHomepageAdminSetup" type="view" standalone="true" />
        <action name="dispHomepageAdminDelete" type="view" standalone="true" />

        <action name="procHomepageAdminInsertHomepage" type="controller" />
        <action name="procHomepageAdminUpdateHomepage" type="controller" />
        <action name="procHomepageAdminDeleteHomepage" type="controller" />
    </actions>
</module>
