.editor_window {
  width:700px;
  clear:both;
}

.editor_title {
  font-size:10pt;
  font-weight:bold;
  clear:both;
  height:20px;
  background-color:#555555;
  color:#EFEFEF;
  vertical-align:middle;
  padding-top:5px;
  border-bottom:1px solid #000000;
  text-align:center;
}

.address_box {
  float:left;
  width:250px;
  border:1px solid #EEEEEE;
  padding:5px;
  margin:5px;
}


.input_address {
  width:200px;
  border:1px solid #AAAAAA;
  height:12px;
  font-size:9pt;
}

.address_button {
  margin-top:4px;
  background-color:#AAAAAA;
  border:1px solid #333333;
  color:#FFFFFF;
  height:16px;
  font-size:9pt;
}

.about_address {
  font-size:8pt;
  color:#AAAAAA;
  margin-top:3px;
}

.address_list_box {
  border:1px solid #DDDDDD;
  padding:5px;
  float:left;
  width:250px;
  height:288px;
  margin:5px;
  font-size:9pt;
  color:#AAAAAA;
  overflow:auto;
}

.address_list_box A {
  color:#888888;
  line-height:15px;
}

.map_scale_box {
  float:left;
  width:250px;
  border:1px solid #EEEEEE;
  padding:5px;
  margin:5px;
}

.map_scale_header {
  float:left;
  font-size:9pt;
  width:60px;
}

.map_scale_body {
  width:180px;
  float:left;
  margin-left:5px;
  font-size:9pt;
}

.input_map_size {
  width:30px;
  border:1px solid #EEEEEE;
  height:12px;
  font-size:9pt;
}

.map_display {
  float:right;
  width:410px;
  height:410px;
  margin:5px 5px 0px 6px;
}

.editor_button_area {
  width:100%;
  border-top:1px solid #AAAAAA;
  text-align:center;
  background-color:#EEEEEE;
  padding:0px 0px 2px 0px;
  clear:both;
}

.editor_button {
  margin-top:4px;
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  height:16px;
  font-size:9pt;
}
