<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<form action="./" method="get" onSubmit="search_address(); return false;" id="fo">
<input type="hidden" id="map_x" name="x" value="" />
<input type="hidden" id="map_y" name="x" value="" />
  <div class="editor_window">
    <div class="editor_title">{$component_info->title} ver. {$component_info->version} <a href="#" onclick="winopen('./?module=editor&amp;act=viewComponentInfo&amp;component_name={$component_info->component_name}','ComponentInfo','left=10,top=10,width=10,height=10,resizable=no,scrollbars=no,toolbars=no');return false;"><img src="../../../tpl/images/about_component.gif" title="{$lang->about_component}" alt="{$lang->about_component}" class="about_component_icon" border="0" /></a></div>

    <div class="map_display"><iframe name="display_map" id="display_map" frameBorder="0" style="width:400px;height:400px;border:0px;margin:5px;" src="./?module=editor&amp;component=naver_map&amp;act=procCall&amp;method=displayMap&amp;width=400&amp;height=400"></iframe></div>

    <div class="address_box">
      <input type="text" class="input_address" id="address" value="" /><input type="submit" value="{$lang->cmd_search}" class="address_button" onclick="search_address();return false;"/>
      <div class="about_address">{$lang->about_address}</div>
    </div>

    <div class="address_list_box" id="address_list">{$lang->about_address_use}</div>

    <div class="map_scale_box">
      <div class="map_scale_header">{$lang->map_width}</div>
      <div class="map_scale_body"><input type="text" class="input_map_size" id="map_width" value="640" />px</div>

      <div class="map_scale_header">{$lang->map_height}</div>
      <div class="map_scale_body"><input type="text" class="input_map_size" id="map_height" value="480" />px</div>
    </div>

    <div class="editor_button_area">
      <input type="button" value="{$lang->cmd_insert}" class="editor_button" onclick="insertNaverMap()" />
      <input type="button" value="{$lang->cmd_close}" class="editor_button" onclick="window.close();" />
    </div>
  </div>
</form>
