<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<form action="./" method="get" onSubmit="return false" id="fo">
  <div class="editor_window">
    <div class="editor_title">{$lang->navermap}</div>

    <div class="header">{$lang->search_address}</div>
    <div class="body"><input type="text" class="navermap_address" id="address" value="" /><input type="button" value="{$lang->cmd_search}" class="editor_button" onclick="search_address();return false;"/></div>

    <div class="header">{$lang->address_list}</div>
    <div class="body"><select id="address_list"></select></div>

    <div class="header">{$lang->navermap_width}</div>
    <div class="body"><input type="text" class="navermap_size" id="navermap_width" value="640" />px</div>

    <div class="header">{$lang->navermap_height}</div>
    <div class="body"><input type="text" class="navermap_size" id="navermap_height" value="480" />px</div>

    <div class="editor_button_area">
      <input type="button" value="{$lang->cmd_insert}" class="editor_button" onclick="insertNaverMap()" />
      <input type="button" value="{$lang->cmd_close}" class="editor_button" onclick="window.close();" />
    </div>
  </div>
</form>
