@charset "utf-8";
@import url(../../../../../../modules/admin/tpl/css/admin.css);

.search { border:1px solid #DDDDDD; padding:5px; }
#address { width:100px; }
.about_address { clear:both; color:#DDDDDD; }

.address_list_box { color:#AAAAAA; margin-top:1em; clear:both;}
.address_list_box a { color:#AAAAAA; }

#display_map { width:400px; height:400px; border:0px; border:1px solid #DDDDDD; margin-left:10px; }
