div.documentBox { padding-bottom:1em;}
div.documentBox .header { padding:7px 0 0 12px; height:21px; _height:20px; background:#f5f5f5; }
*:first-child+html div.documentBox .header { height:20px; color:#ef2121;}

div.documentBox ul { margin:0; padding:.5em; overflow:hidden;}
div.documentBox ul li { color:#a4a4a4; margin-right:.1em; line-height:1.5em; list-style:none;white-space:nowrap;overflow:hidden;}
div.documentBox ul li a { color:#a4a4a4;text-decoration:none;}
