<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispInstallIntroduce" type="view" index="true" />
        <action name="dispInstallLicenseAgreement" type="view" />
        <action name="dispInstallCheckEnv" type="view" />
        <action name="dispInstallSelectDB" type="view" />
        <action name="dispInstallDBForm" type="view" />
        <action name="dispInstallConfigForm" type="view" />
        <action name="dispInstallManagerForm" type="view" />
        <action name="procCubridDBSetting" type="controller" ruleset="cubrid" />
        <action name="procFirebirdDBSetting" type="controller" ruleset="firebird" />
        <action name="procMssqlDBSetting" type="controller" ruleset="mssql" />
        <action name="procMysqlDBSetting" type="controller" ruleset="mysql" />
        <action name="procPostgresqlDBSetting" type="controller" ruleset="postgresql" />
        <action name="procSqliteDBSetting" type="controller" ruleset="sqlite" />
        <action name="procConfigSetting" type="controller" ruleset="config" />
        <action name="procInstall" type="controller" ruleset="install" />
        <action name="procInstallLicenseAggrement" type="controller" />
        <action name="procInstallFTP" type="controller" />
        <action name="procInstallCheckFTP" type="controller" />
        <action name="procInstallAdminInstall" type="controller" />
        <action name="procInstallAdminUpdate" type="controller" />
        <action name="procInstallAdminSaveTimeZone" type="controller" />
		<action name="procInstallAdminUpdateIndexModule" type="controller" />
        <action name="procInstallAdminSaveFTPInfo" type="controller" ruleset="installFtpInfo" />
        <action name="procInstallAdminRemoveFTPInfo" type="controller" />
		<action name="procInstallAdminConfig" type="controller" />
		<action name="procInstallAdminConfigIconUpload" type="controller" />
        <action name="getInstallFTPList" type="model" />
    </actions>
</module>
