<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispInstallIndex" type="view" index="true" />
        <action name="dispInstallCheckEnv" type="view" />
        <action name="dispInstallDBConfig" type="view" />
        <action name="dispInstallOtherConfig" type="view" />
        <action name="procDBConfig" type="controller" />
        <action name="procInstall" type="controller" ruleset="install" />
        <action name="procInstallLicenseAgreement" type="controller" />
        <action name="procInstallAdminInstall" type="controller" />
        <action name="procInstallAdminUpdate" type="controller" />
		<action name="procInstallAdminUpdateIndexModule" type="controller" />
        <action name="getInstallFTPList" type="model" />
    </actions>
</module>
