<!-- 레이아웃과 연동될 css 파일 import -->
<!--%import("css/layout.css")-->

<div id="loading"></div>
<div id="layout_zx">

    <div class="lo_top">
        <div class="logo"><a href="{$layout_info->index_url}"><img src="{$layout_info->logo_image}" alt="logo" border="0" /></a></div>
    </div>

    <div class="lo_menu">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="a_left">&nbsp;</td>
            <td class="a_center">
                <!-- main_menu 1차 시작 -->
                <!--@foreach($main_menu->list as $key => $val)--><!--@if($val['text'])-->
                    <!--@if($val['selected'])-->
                        {@ $menu_1st_title = $val['text'] }
                        {@ $second_menu_list = $val['list']}
                        <div class="item i_se"><a href="{$val['href']}">{$val['text']}</a>
                    <!--@else-->
                        <div class="item i_nm" onmouseover="this.className = 'item i_ov';" onmouseout="this.className = 'item i_nm';"><a href="{$val['href']}">{$val['text']}</a></div>
                    <!--@end-->
                <!--@end--><!--@end-->
                <!-- main_menu 1차 끝 -->
            </td>
            <td class="a_right">&nbsp;</td>
        </tr>
        </table>
        <div class="shadow"></div>
    </div>

    <div class="main_body_cell">
        <table width="100%" border="0" cellspacing="10" cellpadding="0" class="tbl_home_layout">
        <tr>
            <td valign="top" class="l_left">

                <!-- 로그인 위젯 -->
                <img src="./common/tpl/images/blank.gif" class="zbxe_widget_output" widget="login_info" skin="default" colorset="default" />

                <!-- 왼쪽 2차 메뉴 -->
                <!--@if($menu_1st_title)-->
                <div class="submenu">
                    <div class="title">{$menu_1st_title}</div>

                    <div class="a_item">
                    <!--@foreach($second_menu_list as $key => $val)--><!--@if($val['text'])-->
                        <div class="item last">
                        <!--@if($val['selected'])-->
                            <a href="{$val['href']}" class="i_se">{$val['text']}</a>

                            <!-- main_menu 3차 시작 -->
                            <!--@if($val['list'])-->
                                <div class="depthin">
                                <!--@foreach($val['list'] as $k => $v)--><!--@if($v['text'])-->
                                    <!--@if($v['selected'])-->
                                        <div class="item i_se"><a href="{$v['href']}">{$v['text']}</a></div>
                                    <!--@else-->
                                        <div class="item"><a href="{$v['href']}">{$v['text']}</a></div>
                                    <!--@end-->
                                <!--@end--><!--@end-->
                                </div>
                            <!--@end-->
                        <!--@else-->
                            <a href="{$val['href']}">{$val['text']}</a>
                        <!--@end-->
                        </div>
                    <!--@end--><!--@end-->
                    </div>
                </div>
                <!--@end-->

                <!--@if($grant->is_admin)-->
                <!-- 관리자일 경우 레이아웃 관리 메뉴 -->
                <div class="layout_admin">
                    <a href="#" onclick="location.href='{getUrl('act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}';return false;">{$lang->cmd_layout_management}</a> /
                    <a href="#" onclick="location.href='{getUrl('act','dispLayoutAdminEdit','layout_srl',$layout_info->layout_srl)}';return false;">{$lang->cmd_edit}</a>
                </div>
                <!--@end-->

            </td>
            <td valign="top" class="l_center">{$content}</td>
        </tr>
        </table>
    </div>
    <div class="cprt">
        <div class="fixed">
            <div class="desc">{$layout_info->copyright_text}</div>
            <div class="logo"></div>
        </div>
    </div>
</div>
