div#newestTrackback { position:relative; border:1px solid #e0e1db; background:url(../images/purple/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em; }
div#newestTrackback h2 { position:relative; border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:7px 0 0 12px; height:21px; _height:20px; font-size:1em; color:#54564b; font-family:Tahoma;}
/*:first-child+html .boxTypeB h2 { height:20px;} */
div#newestTrackback .trackbackList { padding:1.2em; overflow:hidden;}
div#newestTrackback .trackbackList li { display:block; color:#a4a4a4; margin-right:.1em; }
div#newestTrackback .trackbackList li a { color:#a4a4a4;  line-height:1.5em; }
