<div id="xe" class="{$layout_info->faceoff_ini_config['type']} {$layout_info->faceoff_ini_config['align']}">
    <div id="container" class="{$layout_info->faceoff_ini_config['column']}">
        <div id="header">
            <a href="#content" class="skipToContent">Skip to content</a>
            <h1><a href="{$layout_info->index_url}"><!--@if($layout_info->logo_image)--><img src="{$layout_info->logo_image}" alt="logo" border="0" /><!--@elseif($layout_info->logo_text)-->{$layout_info->logo_text}<!--@else-->Title<!--@end--></a></h1>
            <hr />
        </div>
        <hr />

        <div id="neck">
            <div class="extension neck">
            <!-- start-neck -->

            <!-- end-neck -->
            </div>
        </div>
        <hr />

        <div id="body">
            <div id="content">
            {$content}
            </div>
            <hr />
            <div class="extension e1">
            <!-- start-e1 -->

            <!-- end-e1 -->
            </div>
            <hr />
            <div class="extension e2">
            <!-- start-e2 -->

            <!-- end-e2 -->
            </div>
        </div>
        <hr />
        <div id="knee">
            <div class="extension knee">
            <!-- start-knee -->

            <!-- end-knee -->
            </div>
        </div>
        <hr />
        <div id="footer">
            <hr />
            <address>
                <!--@if($layout_info->copyright_text)-->
                    {$layout_info->copyright_text}
                <!--@else-->
                    Copyright &copy; <a href="http://www.xpressengine.com" onclick="window.open(this.href);return false;"><abbr title="Xpress Engine">XE</abbr>.</a> All Rights Reserved.
                <!--@end-->
            </address>
        </div>
    </div>
</div>
