@charset "UTF-8";
.rx_poll_smpl_wrap{max-width:100%;}
.rx_poll_smpl_wrap .pollWidget{padding:5px;}
.rx_poll_smpl{box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);border:1px solid #e0e0e0;overflow:auto; background-color:#ffffff; color:#000000; font-size:12px; font-family:"Open Sans","나눔바른고딕",NanumBarunGothic,"맑은 고딕","Malgun Gothic","애플 SD 산돌고딕 Neo","Apple SD Gothic Neo","돋움",Dotum,AppleGothic,Helvetica,sans-serif;}
.rx_poll_smpl .rx_poll_header{padding:13px 15px 10px;overflow:auto;border-bottom:1px solid #e0e0e0;}
.rx_poll_smpl .rx_poll_h_strong{font-weight:bold}
.rx_poll_smpl .rx_poll_content{padding: 15px;}
.rx_poll_smpl .rx_poll_content .title{border-bottom:1px solid #e0e0e0;font-weight:bold;padding:7px;margin-bottom:10px}
.rx_poll_smpl .rx_poll_content .rx_poll_smpl_item,.rx_poll_smpl .rx_poll_content .poll_vote .checkcount,.rx_poll_smpl .rx_poll_content .poll_vote .poll_item label{padding: 10px 5px;}
.rx_poll_smpl .rx_poll_content .rx_poll_smpl_item .item_text strong{display:inline-block; padding-right:10px; margin-right:10px;border-right:2px solid #e0e0e0;}
.rx_poll_smpl .rx_poll_content .rx_poll_smpl_item>div.item_bar{height:22px;position:relative;margin:6px 0px;background-color:#eeeeee;}
.rx_poll_smpl .rx_poll_content .rx_poll_smpl_item>div.item_bar div.item_bar{position:absolute;top:0px;left:0;background-color:#66bb6a;}
.rx_poll_smpl .rx_poll_content .rx_poll_smpl_item div.item_bar .item_bar_text{position:absolute;top:0px;right:3px;}
.rx_poll_smpl div.poll_button{border-top:1px solid #e0e0e0;padding:10px 15px;width:auto;text-align:center}
.rx_poll_smpl .rx_poll_content .poll_vote{margin:5px 0px 10px;}
.rx_poll_smpl .rx_poll_content .poll_vote .poll_item, .rx_poll_smpl .rx_poll_content .poll_vote .poll_item_add{position:relative;border-bottom:1px solid #e0e0e0;}
.rx_poll_smpl .rx_poll_content .poll_vote .poll_item label{display:block;width:auto;}
.rx_poll_smpl .rx_poll_content .poll_vote .poll_item .poll_item_delete{position:absolute;right:0;top:7px;}

.rx_poll_smpl .rx_poll_content .poll_vote .poll_item_add input[type="text"]{
	-webkit-appearance: none;
	border-radius: 0;
	width:100%;
	box-sizing: border-box;
	line-height: 25px;
	font-size: 14px;
	margin: 0;
	padding: 8px 50px 8px 5px;
	outline: none;
	border: none;
	border-bottom:1px solid #e0e0e0;
}
.rx_poll_smpl .rx_poll_content .poll_vote .poll_item_add input[type="button"]{position:absolute;right:0;top:7px;}