#link { display: none; }
#link .linkForm { margin-left: 10px; margin-top: 10px; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 5px; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }

