.ui-dialog { background-color:#fff; z-index:999; padding:10px;}
.ui-dialog-title { font-weight:bold; margin-bottom:3px; }
.ui-dialog-titlebar-close { display:none; }
.ui-dialog-buttonpane { text-align:right; bottom:5px !important; }
.ui-dialog-buttonpane button { font-size:11px; font-family:tahoma; }
