.poll_box {
    border:3px solid #555555;
    background-color:#EEEEEE;
    margin:5px;
    padding:8px 5px 8px 5px;
}

.poll_title_box {
    border:2px solid #444444;
    background-color:#888888;
    color:#FFFFFF;
    font-weight:bold;
    margin:5px;
    padding:5px;
    height:13px;
    clear:both;
}

.poll_stop_date {
    float:left;
}

.poll_total_count {
    float:right;
}

.poll_detail_box {
    border:1px solid #444444;
    background-color:#FFFFFF;
    margin:5px;
}

.poll_detail_box .title {
    background-color:#555555;
    color:#FFFFFF;
    padding:5px;
    font-weight:bold;
}

.poll_detail_box .item {
    padding:5px;
    border-bottom:1px solid #EEEEEE;
}

.poll_detail_box .checkcount {
    background-color:#AAAAAA;
    text-align:right;
    color:#EEEEEE;
    padding:5px;
}

.poll_button_area {
    text-align:center;
}

.poll_button {
    border:1px solid #555555;
    background-color:#FFFFFF;
    font-weight:bold;
    height:20px;
}
