@charset "utf-8";
#spot { border:8px solid #cecece; height:64px; position:relative; margin-bottom:30px;}
#spot h2 { padding:0; margin:0; position:absolute; top:24px; left:-8px;}
#spot .search { text-align:center; position:relative; top:22px;}
#spot .search * { vertical-align:middle;}
#spot .search select { margin-top:1px;}
#spot .search .inputText { border:1px solid #b6b6b6; padding:2px 3px; width:252px; height:14px;}
#spot .search .submit {}

#content { width:100%; overflow:hidden; position:relative;}
#content h3 { margin:0; padding:0; }
#content h3.result { width:100%; height:23px; border-bottom:1px solid #cecece; margin-bottom:23px; margin-left:15px;}
#content h3.result strong { color:#ff1a00;}
#content .sortBy { position:absolute; top:0; right:0; overflow:hidden;}
#content .sortBy li { list-style:none; float:left; padding:0 6px; position:relative; right:-6px; background:url(../images/white/vrType2.gif) no-repeat right 1px;}
#content .sortBy li a { display:block; float:left; padding-left:9px; color:#3e3e3e; white-space:nowrap; background:url(../images/white/bulletSortBy.gif) no-repeat left 4px; text-decoration:none; }
#content .sortBy li.on a { color:#ff1a00; background:url(../images/white/bulletSortByOn.gif) no-repeat left 4px;}

.searchResult { margin:0 0 0 15px; padding:0;}
.searchResult li { width:100%; margin-bottom:29px; clear:both; overflow:hidden;list-style:none; }
.searchResult li .thumb { display:block; float:left; margin-right:14px;}
.searchResult li dl { margin:0; padding:0; }
.searchResult li dl dt { padding:0; margin:0; color:#d8d8d8; margin-bottom:1px;}
.searchResult li dl dt a { color:#1a3588; text-decoration:underline;}
.searchResult li dl dt .reply { color:#fe6700; font:.9em Tahoma;}
.searchResult li dl dt .reply em { color:#fe6700; font:bold 1em Tahoma;}
.searchResult li dl dt .category { color:#818181;}
.searchResult li dl dt .category a { color:#818181; border:none; text-decoration:none;}
.searchResult li dl dd { padding:0; margin:0; line-height:18px; color:#555555; margin-bottom:4px;}
.searchResult li address { color:#d8d8d8; font-size:11px;}
.searchResult li address strong { color:#3e3e3e; font-size:1em; font-weight:normal;}
.searchResult li address img { vertical-align:middle; margin-right:2px;}
.searchResult li address .time { color:#818181; font:.8em Tahoma;}
.searchResult li address .read { font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#818181;}
.searchResult li address .readNum { color:#818181; font:.8em Tahoma;}
.searchResult li address .recom { font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#818181;}
.searchResult li address .recomNum { color:#fe6700; font:bold .8em Tahoma;}

.searchNext { text-align:center; margin-top:10px;}

/* Pagination Reset */
.pagination{ padding:15px 0; margin:0; text-align:center;}
.pagination *{ margin:0; padding:0;}
.pagination img{ border:0;}
.pagination a,
.pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; color:#333; font-family:Tahoma, Sans-serif; vertical-align:middle;}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{ background-color:#f4f4f4 !important; }
.pagination strong{ color:#ff6600 !important;}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{ font-weight:normal !important; border:none !important; margin:0 !important; white-space:nowrap; }

/* Pagination A1 */
.pagination.a1 a,
.pagination.a1 strong{ margin:0 -4px; padding:1px 10px 1px 8px; border:none; border-left:1px solid #ccc; border-right:1px solid #ddd; font-weight:bold; font-size:12px; background:#fff;}
.pagination.a1 a.prev{ padding-left:10px; background:#fff url(../images/white/arrowPrevA1.gif) no-repeat left center; }
.pagination.a1 a.prevEnd{ padding-left:15px; background:#fff url(../images/white/arrowPrevEndA1.gif) no-repeat left center; }
.pagination.a1 a.next{ padding-right:10px; background:#fff url(../images/white/arrowNextA1.gif) no-repeat right center; }
.pagination.a1 a.nextEnd{ padding-right:15px; background:#fff url(../images/white/arrowNextEndA1.gif) no-repeat right center; }

/* Pagination A2 */
.pagination.a2 a,
.pagination.a2 strong{ margin:0 -4px; padding:0 10px 0 8px; font-weight:bold; font-size:11px; border:none; border-left:1px solid #ddd; border-right:1px solid #ccc; background:#fff; }
.pagination.a2 a.prev{ padding-left:10px; background:#fff url(../images/white/arrowPrevA1.gif) no-repeat left center; }
.pagination.a2 a.prevEnd{ padding-left:15px; background:#fff url(../images/white/arrowPrevEndA1.gif) no-repeat left center; }
.pagination.a2 a.next{ padding-right:10px; background:#fff url(../images/white/arrowNextA1.gif) no-repeat right center; }
.pagination.a2 a.nextEnd{ padding-right:15px; background:#fff url(../images/white/arrowNextEndA1.gif) no-repeat right center; }

/* Pagination B1 */
.pagination.b1 a,
.pagination.b1 strong{ margin:0 -2px; padding:2px 8px; font-weight:bold; font-size:12px;}
.pagination.b1 a.prev{ padding-left:16px; background:url(../images/white/arrowPrevB1.gif) no-repeat left center; }
.pagination.b1 a.next{ padding-right:16px; background:url(../images/white/arrowNextB1.gif) no-repeat right center; }

/* Pagination B2 */
.pagination.b2 a,
.pagination.b2 strong{ margin:0 -2px; padding:2px 6px; font-size:11px;}
.pagination.b2 a.prev{ padding-left:12px; background:url(../images/white/arrowPrevB1.gif) no-repeat left center; }
.pagination.b2 a.next{ padding-right:12px; background:url(../images/white/arrowNextB1.gif) no-repeat right center; }

/* Pagination C1 */
.pagination.c1 a,
.pagination.c1 strong{ margin:0 -2px; padding:2px 4px; font-size:12px;}
.pagination.c1 a.prev,
.pagination.c1 a.next{ display:inline-block; width:13px; height:14px; padding:3px 4px; margin:0;}
.pagination.c1 a.prev{ background:url(../images/white/arrowPrevC1.gif) no-repeat center;}
.pagination.c1 a.next{ background:url(../images/white/arrowNextC1.gif) no-repeat center;}
.pagination.c1 a.prev span,
.pagination.c1 a.next span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}

/* Pagination C2 */
.pagination.c2 a,
.pagination.c2 strong{ margin:0 -2px; padding:2px 4px; font-size:11px;}
.pagination.c2 a.prev,
.pagination.c2 a.next{ display:inline-block; width:13px; height:14px; padding:3px 4px; margin:0;}
.pagination.c2 a.prev{ background:url(../images/white/arrowPrevC1.gif) no-repeat center;}
.pagination.c2 a.next{ background:url(../images/white/arrowNextC1.gif) no-repeat center;}
.pagination.c2 a.prev span,
.pagination.c2 a.next span{ position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
