@charset "utf-8";
#spot { border:8px solid #cecece; height:64px; position:relative; margin-bottom:30px;}
#spot h2 { padding:0; margin:0; position:absolute; top:24px; left:-8px;}
#spot .search { text-align:center; position:relative; top:22px;}
#spot .search * { vertical-align:middle;}
#spot .search select { margin-top:1px;}
#spot .search .inputText { border:1px solid #b6b6b6; padding:2px 3px; width:252px; height:14px;}
#spot .search .submit {}

#content { width:100%; overflow:hidden; position:relative;}
#content h3 { margin:0; padding:0; }
#content h3.result { width:100%; height:23px; border-bottom:1px solid #cecece; margin-bottom:23px; margin-left:15px;}
#content h3.result strong { color:#ff1a00;}
#content .sortBy { position:absolute; top:0; right:0; overflow:hidden;}
#content .sortBy li { list-style:none; float:left; padding:0 6px; position:relative; right:-6px; background:url(../images/white/vrType2.gif) no-repeat right 1px;}
#content .sortBy li a { display:block; float:left; padding-left:9px; color:#3e3e3e; white-space:nowrap; background:url(../images/white/bulletSortBy.gif) no-repeat left 4px; text-decoration:none; }
#content .sortBy li.on a { color:#ff1a00; background:url(../images/white/bulletSortByOn.gif) no-repeat left 4px;}

.searchResult { margin:0 0 0 15px; padding:0;}
.searchResult li { width:100%; margin-bottom:29px; clear:both; overflow:hidden;list-style:none; }
.searchResult li .thumb { display:block; float:left; margin-right:14px;}
.searchResult li dl { margin:0; padding:0; }
.searchResult li dl dt { padding:0; margin:0; color:#d8d8d8; margin-bottom:1px;}
.searchResult li dl dt a { color:#1a3588; text-decoration:underline;}
.searchResult li dl dt .reply { color:#fe6700; font:.9em Tahoma;}
.searchResult li dl dt .reply em { color:#fe6700; font:bold 1em Tahoma;}
.searchResult li dl dt .category { color:#818181;}
.searchResult li dl dt .category a { color:#818181; border:none; text-decoration:none;}
.searchResult li dl dd { padding:0; margin:0; line-height:18px; color:#555555; margin-bottom:4px;}
.searchResult li address { color:#d8d8d8; font-size:11px;}
.searchResult li address strong { color:#3e3e3e; font-size:1em; font-weight:normal;}
.searchResult li address img { vertical-align:middle; margin-right:2px;}
.searchResult li address .time { color:#818181; font:.8em Tahoma;}
.searchResult li address .read { font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#818181;}
.searchResult li address .readNum { color:#818181; font:.8em Tahoma;}
.searchResult li address .recom { font:11px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif; color:#818181;}
.searchResult li address .recomNum { color:#fe6700; font:bold .8em Tahoma;}

/* pageNavigation */
.pageNavigation { position:relative; display:block; text-align:center; font:bold .8em Tahoma; }
.pageNavigation a { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#666666; display:inline-block; padding:1px 7px 2px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }
.pageNavigation a:hover { background:#F7F7F7; text-decoration:none; }
.pageNavigation a:visited { color:#999999;}
.pageNavigation a.goToFirst,
.pageNavigation a.goToLast { border:none; border-right:1px solid #ffffff; border-left:1px solid #ffffff; z-index:99; vertical-align:top; padding:0px 7px 4px 6px;}
.pageNavigation a.goToFirst img,
.pageNavigation a.goToLast img { display:inline-block; padding:2px 0; position:relative; top:2px; _top:1px;}
.pageNavigation .current { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#ff6600; display:inline-block; padding:1px 7px 1px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }


.searchNext { text-align:center; margin-top:10px;}
