@charset "utf-8";

/* boardInformation */
.boardInformation { clear:both; margin:1em 0 .5em 0; overflow:hidden; color:#666666;}
.search strong { color:#ff6600;}
.articleNum strong { font:bold 11px Tahoma; color:#ff6600;}

.no_result { text-align:center; padding:3em;  border-top:1px solid #EEEEEE; border-bottom:1px solid #EEEEEE;}

/* search_result */
.search_result { margin:1em 0 3em 0; list-style:none; clear:both;}
.search_result .thumbnail { float:left; padding:10px; }
.search_result .thumbnail img { width:100px; height:100px; border:1px solid #555555; }
.search_result .title { margin-bottom:.5em; border-top:1px solid #EEEEEE; padding-top:.5em; }
.search_result .title a { color:#4831F6; font-size:1.2em; font-weight:bold; text-decoration:none; }
.search_result .title a:visited { color:#A59AFD;}
.search_result .replyAndTrackback { font:.8em Tahoma; color:#ff6600; position:relative; top:-.2em;}
.search_result .replyAndTrackback img.trackback { margin-bottom:-.1em;}
.search_result .summary { margin-bottom:.5em; padding-left:2em; }
.search_result .summary a { color:#888888; font-size:1em; text-decoration:none; }
.search_result .summary a:visited { color:#BBBBBB;}
.search_result .summary a:hover { color:#BBBBBB; text-decoration:none;}
.search_result .author { padding-left:2em; float:left; color:#000000; font-size:.9em;}
.search_result .date { padding-left:2em; float:left; color:#888888; font-size:.9em;}

/* pageNavigation */
.pageNavigation { display:block; padding:1.5em 0 2em 0; text-align:center; font:bold .8em Tahoma;  border-top:1px solid #EEEEEE; padding-top:.5em; }
.pageNavigation a { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#666666; display:inline-block; padding:1px 7px 2px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }
.pageNavigation a:hover { background:#F7F7F7; text-decoration:none; }
.pageNavigation a:visited { color:#999999;}
.pageNavigation a.goToFirst,
.pageNavigation a.goToLast { border:none; border-right:1px solid #ffffff; border-left:1px solid #ffffff; z-index:99; vertical-align:top; padding:0px 7px 4px 6px;}
.pageNavigation a.goToFirst img,
.pageNavigation a.goToLast img { display:inline-block; padding:2px 0; position:relative; top:2px; _top:1px;}
.pageNavigation .current { position:relative; margin-left:-4px; font:bold 1em Tahoma; color:#ff6600; display:inline-block; padding:1px 7px 1px 6px; border-left:1px solid #dedfde; border-right:1px solid #CCCCCC; text-decoration:none; line-height:1em; }

