<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
    </permissions>
    <actions>
        <action name="dispTrash" type="view" standalone="true" />
        <action name="dispTrashAdminList" type="view" standalone="true" admin_index="true" />

        <action name="procTrashAdminEmptyTrash" type="controller" standalone="true" />
        <action name="procTrashAdminRestore" type="controller" standalone="true" />
    </actions>
</module>
