<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="dispTrashAdminList" target="manager" />
        <permission action="procTrashAdminRestore" target="manager" />
    </permissions>
    <actions>
        <action name="dispTrashAdminList" type="view" standalone="true" admin_index="true" />

        <action name="procTrashAdminEmptyTrash" type="controller" standalone="true" ruleset="emptyTrash" />
        <action name="procTrashAdminRestore" type="controller" standalone="true" />
    </actions>
</module>
