.blog_widget_cyan .newest_comment { border:1px solid #e0e1db; background:url(../images/cyan/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em; }
.blog_widget_cyan .newest_comment h2 { border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:7px 0 0 12px; height:21px; _height:20px; font-size:1em; color:#54564b; }
.blog_widget_cyan .newest_comment .items { padding:10px; overflow:hidden;}
.blog_widget_cyan .newest_comment .items li { font-size:.9em; display:block; color:#a4a4a4; margin-right:.1em; overflow:hidden; white-space:nowrap; list-style:none; width:100%;}
.blog_widget_cyan .newest_comment .items li a { color:#a4a4a4; line-height:1.5em; text-decoration:none; }
