/**
 * Default Toolbar
 */
 .xquared {
	border: 1px solid #c2c2c2; 
 }
.xquared div.toolbar {
	position: relative;
	background-color: #ebebeb;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url('../images/toolbar/toolbarBg.gif');
}

.xquared ul.buttons {
	margin: 0;
	padding: 5px 4px 2px;
	list-style: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	height: 100%;
}
.xquared ul.buttons li {
	float: left;
	padding-bottom: 3px;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url('../images/toolbar/toolbarButtonBg.gif');
}
.xquared ul.buttons li.xq_separator {
	padding-left: 8px;
	margin-left: 8px; 
	background-position: 0 0;
	background-repeat: repeat-x;
	background-image: url('../images/toolbar/toolbarSeparator.gif');
}
.xquared ul.buttons li a {
	display: block;
	padding: 2px;
	font-size: 0;
	border: 1px solid #d2d2d2;
	margin-right: -1px;
	position: relative;
	height: 100%;
	_height: auto;
	z-index: 0;
}
.xquared ul.buttons li a img {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.25em;
}

/* selected */
.xquared ul.buttons li a.selected {
	background-color: #ffea5f;
	border: 1px solid #a0a0a0;
	position: relative;
	z-index: 1;
}

/* mouseover */
.xquared ul.buttons li a:hover {
	border: 1px solid #000;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

/* disabled */
.xquared .disabled ul.buttons li a,
.xquared ul.buttons li .disabled a {
	background-color: #fff;
	opacity: 0.3;
	filter:alpha(opacity=30);
	_width: 1px;
	_height: 1px;
	cursor: default;
}
.xquared .disabled ul.buttons li a,
.xquared ul.buttons li .disabled a:hover {
	border: 1px solid #dbdbdb;
	position: relative;
	z-index: 0;
}
.xquared .disabled ul.buttons li a,
.xquared ul.buttons li .disabled a.selected {
	border: 1px solid #dbdbdb;
}

.xquared .editor {
	border: 0 none;
	border-top:1px solid #c2c2c2;
	height:300px;
}
.xquared .editor textarea,
.xquared .editor iframe {
	margin: 0;
	padding: 0;
	border: 0 none;
	height: 100%;
	width: 100%;
}

.xquared .editor textarea {
	_height: expression(this.parentNode.clientHeight - 2); /* TODO remove IE6 hack */
}
*+html .xquared .editor textarea {
	height: expression(this.parentNode.clientHeight - 1); /* TODO remove IE7 hack */
}

.xquared .source_editor {
	padding-left: 0.3em;
}


/**
 * Context Menu
 */
.xqContextMenu {
	position:absolute;
	z-index: 902;
	font-size: medium;
	font-family: arial, "돋움";
	width:auto;
	margin:0;
	padding:3px;
	border:1px solid #aaa;
	list-style:none;
	background-color: #fff;
}
.xqContextMenu li {
	padding:2px 3px 2px 20px;
	background-position:left;
	background-repeat:no-repeat;
	color:#aaa;
	display:block;
	width:200px;
}
.xqContextMenu a {
	color:#000;
	text-decoration:none;
}
.xqContextMenu .separator {
	margin-top:5px;
	padding-bottom:0px;
	line-height:0em;
	height: 1px;
	/height: auto;
	border-top: 1px solid #aaa;
}



/**
 * Controls - BasicLinkDialog
 */
.xqFormDialog {
	position:absolute;
	z-index: 902;
	border:1px solid #aaa;
	background-color: #fff;
	padding: 0.5em;
	overflow:auto; /* to fix FF caret bug */
}

.xqFormDialog h3 {
	font-size: 1.2em;
	margin: 0;
}

/**
 * Controls - QuickSearchDialog
 */
.xqQuickSearch {
	position:absolute;
	z-index: 902;
	font-size: medium;
	font-family: arial, "돋움";
	width:15em;
	margin:0;
	padding:0;
	border:1px solid #aaa;
	list-style:none;
	background-color: #fff;
	overflow:auto; /* to fix FF caret bug */
}

.xqQuickSearch h1 {
	font-size: medium;
	font-weight: bold;
	margin: 2px;
	padding: 2px;
}

.xqQuickSearch .input {
	border: 1px solid #aaa;
	padding: 2px;
	margin: 2px;
}

.xqQuickSearch form {
	padding: 0;
	margin: 0;
}
	
.xqQuickSearch input {
	border-width: 0;
	margin: 0 2px;
	width: 98%;
}

.xqQuickSearch ol {
	border: 1px solid #aaa;
	padding: 2px;
	margin: 2px;
	height: 10em;
	overflow: auto;
}

.xqQuickSearch li {
	list-style: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	_cursor: hand;
}

.xqQuickSearch li.selected {
	background-color: #ffd;
}