<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
        <grant name="list" default="guest">
            <title xml:lang="ko">목록</title>
			<title xml:lang="zh-CN">目录</title>
            <title xml:lang="en">list</title>
            <title xml:lang="jp">リスト</title>
        </grant>
        <grant name="write_document" default="guest">
            <title xml:lang="ko">글 작성</title>
			<title xml:lang="zh-CN">发表新主题</title>
            <title xml:lang="en">write document</title>
            <title xml:lang="jp">書き込む</title>
        </grant>
        <grant name="write_comment" default="guest">
            <title xml:lang="ko">댓글 작성</title>
			<title xml:lang="zh-CN">发表评论</title>
            <title xml:lang="en">write comment</title>
            <title xml:lang="jp">コメント作成</title>
        </grant>
        <grant name="fileupload" default="guest">
            <title xml:lang="ko">파일 첨부</title>
			<title xml:lang="zh-CN">附件</title>
            <title xml:lang="en">file upload</title>
            <title xml:lang="jp">添付ファイル</title>
        </grant>
        <grant name="comment_fileupload" default="guest">
            <title xml:lang="ko">댓글 파일 첨부</title>
			<title xml:lang="zh-CN">评论附件</title>
            <title xml:lang="en">comment file upload</title>
            <title xml:lang="jp">コメントファイル添付</title>
        </grant>
        <grant name="manager" default="root">
            <title xml:lang="ko">관리</title>
			<title xml:lang="zh-CN">管理</title>
            <title xml:lang="en">manager</title>
            <title xml:lang="jp">管理</title>
        </grant>
    </grants>
    <permissions>
        <permission action="dispBlogContent" target="manager" />
        <permission action="dispBlogWrite" target="manager" />
        <permission action="dispBlogDelete" target="manager" />
        <permission action="dispBlogReplyComment" target="manager" />
        <permission action="dispBlogModifyComment" target="manager" />
        <permission action="dispBlogDeleteComment" target="manager" />
        <permission action="dispBlogDeleteTrackback" target="manager" />
        <permission action="dispBlogMessage" target="manager" />

        <permission action="procBlogInsertDocument" target="manager" />
        <permission action="procBlogDeleteDocument" target="manager" />
        <permission action="procBlogInsertComment" target="manager" />
        <permission action="procBlogDeleteComment" target="manager" />
        <permission action="procBlogDeleteTrackback" target="manager" />
        <permission action="procBlogVerificationPassword" target="manager" />
        <permission action="procBlogDeleteFile" target="manager" />
        <permission action="procBlogUploadFile" target="manager" />
        <permission action="procBlogDownloadFile" target="manager" />

        <permission action="getBlogAdminCategoryTplInfo" target="manager" />

        <permission action="dispBlogAdminContent" target="manager" />
        <permission action="dispBlogAdminBlogInfo" target="manager" />
        <permission action="dispBlogAdminInsertBlog" target="manager" />
        <permission action="dispBlogAdminCategoryInfo" target="manager" />
        <permission action="dispBlogAdminSkinInfo" target="manager" />

        <permission action="procBlogAdminUpdateSkinInfo" target="manager" />
        <permission action="procBlogAdminInsertBlog" target="manager" />
        <permission action="procBlogAdminInsertCategory" target="manager" />
        <permission action="procBlogAdminDeleteCategory" target="manager" />
        <permission action="procBlogAdminMakeXmlFile" target="manager" />
        <permission action="procBlogAdminMoveCategory" target="manager" />
    </permissions>
    <actions>
        <action name="dispBlogContent" type="view" index="true" />
        <action name="dispBlogWrite" type="view" />
        <action name="dispBlogDelete" type="view" />
        <action name="dispBlogReplyComment" type="view" />
        <action name="dispBlogModifyComment" type="view" />
        <action name="dispBlogDeleteComment" type="view" />
        <action name="dispBlogDeleteTrackback" type="view" />
        <action name="dispBlogMessage" type="view" />

        <action name="procBlogInsertDocument" type="controller" />
        <action name="procBlogDeleteDocument" type="controller" />
        <action name="procBlogInsertComment" type="controller" />
        <action name="procBlogDeleteComment" type="controller" />
        <action name="procBlogDeleteTrackback" type="controller" />
        <action name="procBlogVerificationPassword" type="controller" />
        <action name="procBlogDeleteFile" type="controller" />
        <action name="procBlogUploadFile" type="controller" />
        <action name="procBlogDownloadFile" type="controller" />

        <action name="getBlogAdminCategoryTplInfo" type="model" standalone="true" />

        <action name="dispBlogAdminContent" type="view" standalone="true" admin_index="true" />
        <action name="dispBlogAdminBlogInfo" type="view" standalone="true" />
        <action name="dispBlogAdminInsertBlog" type="view" standalone="true" />
        <action name="dispBlogAdminDeleteBlog" type="view" standalone="true" />
        <action name="dispBlogAdminCategoryInfo" type="view" standalone="true" />
        <action name="dispBlogAdminSkinInfo" type="view" standalone="true" />
        <action name="dispBlogAdminGrantInfo" type="view" standalone="true" />

        <action name="procBlogAdminInsertGrant" type="controller" standalone="true" />
        <action name="procBlogAdminUpdateSkinInfo" type="controller" standalone="true" />
        <action name="procBlogAdminInsertBlog" type="controller" standalone="true" />
        <action name="procBlogAdminDeleteBlog" type="controller" standalone="true" />
        <action name="procBlogAdminInsertCategory" type="controller" standalone="true" />
        <action name="procBlogAdminDeleteCategory" type="controller" standalone="true" />
        <action name="procBlogAdminMakeXmlFile" type="controller" standalone="true" />
        <action name="procBlogAdminMoveCategory" type="controller" standalone="true" />
    </actions>
</module>
