@charset "utf-8"; 
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Float Clear */
.fClear { display:block; float:none; clear:both; margin:0; padding:0; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden; } /* Use it when you want to float clearing */

/* Container */
#container { position:relative; height:auto !important;}

/* Header */
#header { position:relative; *zoom:1; }

/* Body */
#body { position:relative; *zoom:1; }
#body:after { content:""; display:block; clear:both; }

/* Content */
#content { position:relative; }
#content .section { position:relative; }

/* Navigation */
#navigation { position:relative; }
#navigation .section { position:relative; }

/* Extra */
#extra { position:relative; }
#extra .section { position:relative; }

/* Footer */
#footer { position:relative; }

/* ---------- Common Display ---------- */
/* c = #content, n = #navigation, e = #extra */
.c1 #navigation,
.c2 #navigation,
.c3 #navigation,
.c1 #extra,
.c2 #extra,
.c3 #extra
.cn #extra,
.nc #extra { display:none; }

.cn #navigation,
.nc #navigation,
.ce #navigation,
.ec #navigation,
.ne #navigation,
.en #navigation,
.cne #navigation,
.ecn #navigation,
.nec #navigation,
.cen #navigation,
.nce #navigation,
.enc #navigation,
.cee #navigation,
.eec #navigation,
.ece #navigation,
.ce #extra,
.ec #extra,
.ne #extra,
.en #extra,
.cne #extra,
.ecn #extra,
.nec #extra,
.cen #extra,
.nce #extra,
.enc #extra,
.cee #extra,
.eec #extra,
.ece #extra { display:block; }

#extra .section{ display:none; }
.e0 #extra { display:none;}
.e1 #extra,
.e2 #extra,
.e3 #extra,
.e4 #extra,
.e5 #extra,
.e6 #extra,
.e7 #extra,
.e8 #extra,
.e9 #extra,
.e10 #extra,
.e1 #extra .extra1,
.e2 #extra .extra1,
.e2 #extra .extra2,
.e3 #extra .extra1,
.e3 #extra .extra2,
.e3 #extra .extra3,
.e4 #extra .extra1,
.e4 #extra .extra2,
.e4 #extra .extra3,
.e4 #extra .extra4,
.e5 #extra .extra1,
.e5 #extra .extra2,
.e5 #extra .extra3,
.e5 #extra .extra4,
.e5 #extra .extra5,
.e6 #extra .extra1,
.e6 #extra .extra2,
.e6 #extra .extra3,
.e6 #extra .extra4,
.e6 #extra .extra5,
.e6 #extra .extra6,
.e7 #extra .extra1,
.e7 #extra .extra2,
.e7 #extra .extra3,
.e7 #extra .extra4,
.e7 #extra .extra5,
.e7 #extra .extra6,
.e7 #extra .extra7,
.e8 #extra .extra1,
.e8 #extra .extra2,
.e8 #extra .extra3,
.e8 #extra .extra4,
.e8 #extra .extra5,
.e8 #extra .extra6,
.e8 #extra .extra7,
.e8 #extra .extra8,
.e9 #extra .extra1,
.e9 #extra .extra2,
.e9 #extra .extra3,
.e9 #extra .extra4,
.e9 #extra .extra5,
.e9 #extra .extra6,
.e9 #extra .extra7,
.e9 #extra .extra8,
.e9 #extra .extra9,
.e10 #extra .extra1,
.e10 #extra .extra2,
.e10 #extra .extra3,
.e10 #extra .extra4,
.e10 #extra .extra5,
.e10 #extra .extra6,
.e10 #extra .extra7,
.e10 #extra .extra8,
.e10 #extra .extra9,
.e10 #extra .extra10 { display:block;}

.nTop #navigation { display:block; }

.ne #navigation,
.ne #extra,
.ne #extra .section { float:left; }
.en #navigation,
.en #extra,
.en #extra .section { float:right; }

/* ---------- Fixed Layout Preset ---------- */
/* c = #content, n = #navigation, e = #extra */

/* Width */
.fixed #container { width:960px; }
.fixed #body { width:auto; }
.fixed #navigation,
.fixed #extra .section { width:200px; }
.fixed .c1 #content { width:100%; }
.fixed .c1 #navigation { width:300px; }
.fixed .c1 #extra { width:auto; }
.fixed .c1 #extra .section { width:300px; }
.fixed .c2 #content { width:740px; }
.fixed .c3 #content { width:520px;}
.fixed .cee #extra,
.fixed .eec #extra{ width:420px;}
.fixed .ece #extra { width:100%;}

/* Floating 1 Columns */
.fixed .c1 #content { clear:both; }

.fixed .ne #navigation,
.fixed .ne #extra .extra1,
.fixed .ne #extra .extra3,
.fixed .ne #extra .extra5,
.fixed .ne #extra .extra7,
.fixed .ne #extra .extra9 { margin-right:30px; clear:left; *clear:none; }

.fixed .ne #extra .extra2,
.fixed .ne #extra .extra4,
.fixed .ne #extra .extra6,
.fixed .ne #extra .extra8,
.fixed .ne #extra .extra10 { clear:right; }

.fixed .en #navigation,
.fixed .en #extra .extra1,
.fixed .en #extra .extra3,
.fixed .en #extra .extra5,
.fixed .en #extra .extra7
.fixed .en #extra .extra9 { margin-left:30px; clear:right; *clear:none; }

.fixed .en #extra .extra2,
.fixed .en #extra .extra4,
.fixed .en #extra .extra6,
.fixed .en #extra .extra8,
.fixed .en #extra .extra10 { clear:left; }

/* Floating 2 Columns */
.fixed .cn #content { float:left; }
.fixed .cn #navigation,
.fixed .cn #extra { float:right; }

.fixed .nc #content { float:right; }
.fixed .nc #navigation,
.fixed .nc #extra { float:left; }

.fixed .ce #content { float:left; }
.fixed .ce #navigation,
.fixed .ce #extra { float:right; *float:none; *left:20px; _left:17px;  }

.fixed .ec #content { float:right; }
.fixed .ec #navigation,
.fixed .ec #extra { float:left; *float:none; }

/* Floating 3 Columns */
.fixed .cne #content { float:left; margin-right:20px; }
.fixed .cne #navigation { float:left; }
.fixed .cne #extra { float:right; }

.fixed .ecn #content { float:left; margin-right:-520px; left:220px; }
.fixed .ecn #navigation { float:right; }
.fixed .ecn #extra { float:left; }

.fixed .nec #content { float:right; }
.fixed .nec #navigation { float:left; margin-right:20px; }
.fixed .nec #extra { float:left; }

.fixed .cen #content { float:left; margin-right:20px; }
.fixed .cen #navigation { float:right; }
.fixed .cen #extra { float:left; }

.fixed .nce #content { float:left; margin-right:-520px; left:220px; }
.fixed .nce #navigation { float:left; }
.fixed .nce #extra { float:right; }

.fixed .enc #content { float:right; margin-left:20px; }
.fixed .enc #navigation { float:right; }
.fixed .enc #extra { float:left; }

.fixed .cee #content { float:left; _margin-right:-3px; }
.fixed .cee #extra { float:right; *float:none; *left:20px; }
.fixed .cee .section { float:left; }
.fixed .cee .extra1,
.fixed .cee .extra3,
.fixed .cee .extra5,
.fixed .cee .extra7,
.fixed .cee .extra9{ margin-right:20px; }

.fixed .eec #content { float:right; _margin-left:-3px; }
.fixed .eec #extra { float:left; *float:none; *left:0; }
.fixed .eec .section{ float:left;}
.fixed .eec .extra1,
.fixed .eec .extra3,
.fixed .eec .extra5,
.fixed .eec .extra7,
.fixed .eec .extra9{ margin-right:20px; }

.fixed .ece #content { float:left; margin-right:-100%; left:220px;}
.fixed .ece #extra { float:left; }
.fixed .ece .extra1,
.fixed .ece .extra3,
.fixed .ece .extra5,
.fixed .ece .extra7,
.fixed .ece .extra9 { float:left; clear:left; *clear:both;}
.fixed .ece .extra2,
.fixed .ece .extra4,
.fixed .ece .extra6,
.fixed .ece .extra8,
.fixed .ece .extra10 { float:right; clear:right; }

/* ---------- Liquid Layout Preset ---------- */
/* c = #content, n = #navigation, e = #extra */

/* Width */
.liquid #container { width:100%; }
.liquid #body { width:auto; }
.liquid .c1 #content { width:100%; }
.liquid .c1 #navigation { width:32%; }
.liquid .c1 #extra { width:66%; }
.liquid .c1 #extra .section { width:48.4%; }
.liquid .c2 #content { width:75%; }
.liquid .c2 #navigation,
.liquid .c2 #extra { width:23%; }
.liquid .c3 #content { width:56%; }
.liquid .c3 #navigation { width:20%; }
.liquid .c3 #extra { width:20%; }
.liquid .cee #extra,
.liquid .eec #extra { width:42%;}
.liquid .ece #extra { width:100%;}
.liquid .cee #extra .section,
.liquid .eec #extra .section{ width:48%; }
.liquid .ece #extra .section { width:20%; }

/* Floating 1 Columns */
.liquid .c1 #content { clear:both; }

.liquid .ne #navigation { margin-right:2%; }
.liquid .ne #extra .extra1,
.liquid .ne #extra .extra3,
.liquid .ne #extra .extra5,
.liquid .ne #extra .extra7,
.liquid .ne #extra .extra9 { float:left; clear:left; }

.liquid .ne #extra .extra2,
.liquid .ne #extra .extra4,
.liquid .ne #extra .extra6,
.liquid .ne #extra .extra8,
.liquid .ne #extra .extra10 { float:right; clear:right; }

.liquid .en #navigation { margin-left:2%; }
.liquid .en #extra .extra1,
.liquid .en #extra .extra3,
.liquid .en #extra .extra5,
.liquid .en #extra .extra7,
.liquid .en #extra .extra9 { float:right; clear:right; }

.liquid .en #extra .extra2,
.liquid .en #extra .extra4,
.liquid .en #extra .extra6,
.liquid .en #extra .extra8,
.liquid .en #extra .extra10 { float:left; clear:left; }

/* Floating 2 Columns */
.liquid .cn #content { float:left; }
.liquid .cn #navigation,
.liquid .cn #extra { float:right; }

.liquid .nc #content { float:right; }
.liquid .nc #navigation,
.liquid .nc #extra { float:left; }

.liquid .ce #content { float:left; _margin-right:-3px; }
.liquid .ce #navigation,
.liquid .ce #extra { float:right; *float:none; *left:2%; }

.liquid .ec #content { float:right; }
.liquid .ec #navigation,
.liquid .ec #extra { float:left; *float:none; }

/* Floating 3 Columns */
.liquid .cne #content { float:left; margin-right:2%; }
.liquid .cne #navigation { float:left; }
.liquid .cne #extra { float:right; }

.liquid .ecn #content { float:left; margin-right:-100%; left:22%; }
.liquid .ecn #navigation { float:right; }
.liquid .ecn #extra { float:left; }

.liquid .nec #content { float:right; }
.liquid .nec #navigation { float:left; margin-right:2%; }
.liquid .nec #extra { float:left; }

.liquid .cen #content { float:left; margin-right:2%; }
.liquid .cen #navigation { float:right; }
.liquid .cen #extra { float:left; }

.liquid .nce #content { float:left; margin-right:-100%; left:22%; }
.liquid .nce #navigation { float:left; }
.liquid .nce #extra { float:right; }

.liquid .enc #content { float:right; margin-left:2%; }
.liquid .enc #navigation { float:right; }
.liquid .enc #extra { float:left; }

.liquid .cee #content { float:left; _margin-right:-3px; }
.liquid .cee #extra { float:right; *float:none; *left:2%; }
.liquid .cee .extra1,
.liquid .cee .extra3,
.liquid .cee .extra5,
.liquid .cee .extra7,
.liquid .cee .extra9 { float:left; clear:left; }
.liquid .cee .extra2,
.liquid .cee .extra4,
.liquid .cee .extra6,
.liquid .cee .extra8,
.liquid .cee .extra10 { float:right; clear:right; }

.liquid .eec #content { float:right; _margin-left:-3px; }
.liquid .eec #extra { float:left; *float:none; *left:0; }
.liquid .eec .extra1,
.liquid .eec .extra3,
.liquid .eec .extra5,
.liquid .eec .extra7,
.liquid .eec .extra9 { float:left; clear:left; }
.liquid .eec .extra2,
.liquid .eec .extra4,
.liquid .eec .extra6,
.liquid .eec .extra8,
.liquid .eec .extra10 { float:right; clear:right; }

.liquid .ece #content { float:left; margin-right:-100%; left:22%;}
.liquid .ece #extra { float:left; }
.liquid .ece .extra1,
.liquid .ece .extra3,
.liquid .ece .extra5,
.liquid .ece .extra7,
.liquid .ece .extra9 { float:left; clear:left; *clear:both; }
.liquid .ece .extra2,
.liquid .ece .extra4,
.liquid .ece .extra6,
.liquid .ece .extra8,
.liquid .ece .extra10 { float:right; clear:right; }

/* ---------- Hybrid Layout Preset ---------- */
/* c = #content, n = #navigation, e = #extra */

/* Width */
.hybrid #container { width:100%; }
.hybrid #body { width:auto; }
.hybrid #content { width:100%; }
.hybrid #navigation { width:200px; }
.hybrid #extra { width:200px; }
.hybrid .c1 #navigation { width:300px; }
.hybrid .c1 #extra { width:auto; }
.hybrid .c1 #extra .section { width:300px; }
.hybrid .cee #extra,
.hybrid .eec #extra { width:420px;}
.hybrid .ece #extra { width:100%;}
.hybrid .cee #extra .section,
.hybrid .eec #extra .section,
.hybrid .ece #extra .section { width:200px; }

/* Floating 1 Columns */
.hybrid .c1 #content { clear:both; }

.hybrid .ne #navigation,
.hybrid .ne #extra .extra1,
.hybrid .ne #extra .extra3,
.hybrid .ne #extra .extra5,
.hybrid .ne #extra .extra7,
.hybrid .ne #extra .extra9 { margin-right:30px; clear:left; *clear:none; }
.hybrid .ne #extra .extra2,
.hybrid .ne #extra .extra4,
.hybrid .ne #extra .extra6,
.hybrid .ne #extra .extra8,
.hybrid .ne #extra .extra10 { margin-left:30px; clear:right;  }

.hybrid .en #navigation,
.hybrid .en #extra .extra1,
.hybrid .en #extra .extra3,
.hybrid .en #extra .extra5,
.hybrid .en #extra .extra7,
.hybrid .en #extra .extra9 { margin-left:30px; clear:right; *clear:none; }
.hybrid .en #extra .extra2,
.hybrid .en #extra .extra4,
.hybrid .en #extra .extra6,
.hybrid .en #extra .extra8,
.hybrid .en #extra .extra10 { margin-right:30px; clear:left; }

/* Floating 2 Columns */
.hybrid .cn #body { margin-right:220px; }
.hybrid .cn #content { float:left; margin-right:-100%; }
.hybrid .cn #navigation,
.hybrid .cn #extra { float:right; left:220px; clear:right; }

.hybrid .nc #body { margin-left:220px; }
.hybrid .nc #content { float:right; margin-left:-100%; *margin-left:0; }
.hybrid .nc #navigation,
.hybrid .nc #extra { float:left; left:-220px; clear:left; }

.hybrid .ce #body { margin-right:220px; }
.hybrid .ce #content { float:left; margin-right:-100%; }
.hybrid .ce #navigation,
.hybrid .ce #extra { float:right; left:220px; clear:right; *float:none; *left:100%; *margin-left:20px; *margin-right:-200px; }
.hybrid .ce #navigation { width:100% !important; right:-220px; }

.hybrid .ec #body { margin-left:220px; }
.hybrid .ec #content { float:right; margin-left:-100%; _float:left; _margin-left:0; _margin-right:-100%; }
.hybrid .ec #navigation,
.hybrid .ec #extra { float:left; left:-220px; clear:left; *float:none; *margin-right:-200px; }
.hybrid .ec #navigation { width:100% !important; }

/* Floating 3 Columns */
.hybrid .cne #body { margin-right:440px; }
.hybrid .cne #content { float:left; }
.hybrid .cne #navigation { float:left; margin-right:-200px; left:20px; }
.hybrid .cne #extra { float:right; margin-left:-200px; left:440px; }

.hybrid .ecn #body { margin-left:220px; margin-right:220px; }
.hybrid .ecn #content { float:left; margin-right:-100%; }
.hybrid .ecn #navigation { float:right; margin-left:-200px; left:220px; }
.hybrid .ecn #extra { float:left; left:-220px; }

.hybrid .nec #body { margin-left:440px; }
.hybrid .nec #content { float:right; }
.hybrid .nec #navigation { float:left; margin-right:-200px; left:-440px; }
.hybrid .nec #extra { float:left; margin-right:-200px; left:-220px; }

.hybrid .cen #body { margin-right:440px; }
.hybrid .cen #content { float:left; }
.hybrid .cen #navigation { float:right; margin-left:-200px; left:440px; }
.hybrid .cen #extra { float:left; margin-right:-200px; left:20px; }

.hybrid .nce #body { margin-left:220px; margin-right:220px; }
.hybrid .nce #content { float:left; margin-right:-100%; }
.hybrid .nce #navigation { float:left; margin-right:-200px; left:-220px; }
.hybrid .nce #extra { float:right; right:-220px; }

.hybrid .enc #body { margin-left:440px; }
.hybrid .enc #content { float:right; }
.hybrid .enc #navigation { float:right; margin-left:-200px; left:-20px; }
.hybrid .enc #extra { float:left; margin-right:-200px; left:-440px; }

.hybrid .cee #body { margin-right:440px;}
.hybrid .cee #content { float:left; margin-right:-100%; }
.hybrid .cee #navigation { right:-440px;}
.hybrid .cee #extra { float:right; left:440px; *float:none; *left:100%; *margin-left:20px; *margin-right:-420px; }

.hybrid .cee .extra1,
.hybrid .cee .extra3,
.hybrid .cee .extra5,
.hybrid .cee .extra7,
.hybrid .cee .extra9{ float:left; clear:left; }

.hybrid .cee .extra2,
.hybrid .cee .extra4,
.hybrid .cee .extra6,
.hybrid .cee .extra8,
.hybrid .cee .extra10{ float:right; clear:right; }

.hybrid .eec #body { margin-left:440px;}
.hybrid .eec #content { float:left; margin-right:-100%; }
.hybrid .eec #extra { float:left; left:-440px; *float:none; *margin-right:-420px; }
.hybrid .eec .section{ float:left;}
.hybrid .eec .extra1,
.hybrid .eec .extra3,
.hybrid .eec .extra5,
.hybrid .eec .extra7,
.hybrid .eec .extra9{ float:left; clear:left; }
.hybrid .eec .extra2,
.hybrid .eec .extra4,
.hybrid .eec .extra6,
.hybrid .eec .extra8,
.hybrid .eec .extra10{ float:right; clear:right; }

.hybrid .ece #body { margin:0 220px; }
.hybrid .ece #content { float:left; margin-right:-100%; }
.hybrid .ece #navigation { right:-220px; }
.hybrid .ece #extra { float:left; }
.hybrid .ece .extra1,
.hybrid .ece .extra3,
.hybrid .ece .extra5,
.hybrid .ece .extra7,
.hybrid .ece .extra9{ float:left; left:-220px; margin-right:-200px; *margin-right:0; clear:left; *clear:both; }
.hybrid .ece .extra2,
.hybrid .ece .extra4,
.hybrid .ece .extra6,
.hybrid .ece .extra8,
.hybrid .ece .extra10{ float:right; right:-220px; margin-left:-200px; *margin-left:0; clear:right; *clear:both; }

/* Navigation Top */
.nTop #navigation { position:absolute; float:right !important; width:960px !important; margin:0 !important; *clear:none !important; overflow:visible; top:-4em; left:auto !important; right:0; }
.nTop #navigation .section { position:absolute; float:right; top:0; right:0; width:auto; margin:0; padding:0; }
.nTop #navigation .section:after { content:""; display:block; clear:both; width:0; height:0; overflow:hidden; visibility:hidden; font:0/0 Sans-serif;}
.nTop #navigation h2 { position:absolute; left:0; top:0; width:0; height:0; border:0; overflow:hidden; visibility:hidden; font:0/0 Sans-serif;  }
.nTop #navigation ul.nav { position:relative; display:block; float:right; margin:0; padding:0; list-style:none; overflow:hidden; text-align:right; white-space:nowrap; }
.nTop #navigation ul.nav li { position:relative; left:-1px; display:inline; white-space:nowrap; border-left:1px solid #ccc; padding-left:5px; }
