<!--%import("popup.js")-->
<!--%import("popup.css")-->

<div id="popHeadder">
    <h1>{$component_info->title} ver. {$component_info->version}</h1>
</div>

<div id="popBody">

    <!--@foreach($emoticon_list as $emoticon)-->
    <img src="images/{$emoticon}" alt="emoticon" onclick="insertEmoticon(this); return false;" class="emoticon" />
    <!--@end-->

</div>

<div id="popFooter">
    <ul class="buttonRight nospace">
        <li><a href="#" onclick="window.close(); return false;" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_close}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
    </ul>
</div>
