<!--%import("popup.js")-->
<!--%import("popup.css")-->

<div id="popHeadder">
    <h3>
        {$component_info->title} ver. {$component_info->version}
    </h3>
</div>

<div class="emoticonList">
    <select name="list" onchange="getEmoticons(this.options[this.selectedIndex].value); return false;">
    <!--@foreach($emoticon_list as $key => $val)-->
        <option value="{$val}">{$val}</option>
    <!--@end-->
    </select>
</div>

<div id="popBody">
    <!--@foreach($emoticons as $src)-->
    <img src="images/{$src}" alt="{$src}" onclick="insertEmoticon(this); return false;" class="emoticon" />
    <!--@end-->

</div>

<div id="popFooter" class="tCenter">
    <a href="#" onclick="window.close(); return false;" class="button"><span>{$lang->cmd_close}</span></a>
</div>
