@charset "utf-8";
/* NHN | dece24@nhncorp.com */
#loginAccess{position:relative;width:384px;border:2px solid #757575;margin:30px auto;padding:20px 0 0 0;background:#fff;font-size:12px;font-family:Tahoma;line-height:normal;border-radius:5px;box-shadow:0 0 10px #ccc}
#loginAccess form{margin:0;padding:0}
#loginAccess fieldset{border:0;margin:0;padding:0}
#loginAccess h1{margin:0 28px 20px 28px;font-size:12px;color:#e77161}
#loginAccess ul{margin:0;padding:0;list-style:none}
#loginAccess .idpw{margin:0 28px 20px 28px}
#loginAccess .idpw li{margin:0 0 5px 0}
#loginAccess .inputText{font-size:12px;height:22px;color:#767676;font-weight:bold;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1}
#loginAccess .idpw .inputText{width:316px;padding:8px 0 0 10px}
#loginAccess .inputCheck{width:13px;height:13px;margin:0;padding:0;vertical-align:middle}
#loginAccess label{vertical-align:middle}
#loginAccess #warning{display:none;margin:0 0 20px 0}
#loginAccess #warning.open{display:block}
#loginAccess #warning p{margin:0}
#loginAccess .buttonArea{position:relative;margin:0 28px;padding:0;color:#767676;*zoom:1}
#loginAccess .buttonArea .keeping{position:relative;margin:0 0 20px 0;height:32px;line-height:32px}
#loginAccess #gLogin .buttonArea .buttonAccount{position:absolute;top:0;right:0}
#loginAccess .buttonAccount,
#loginAccess .buttonAccount a,
#loginAccess .buttonAccount input{position:relative;display:inline-block;margin:0;padding:0;overflow:visible;height:32px;line-height:32px;font-size:12px;font-weight:bold;color:#fff;vertical-align:middle;cursor:pointer;border:0;text-decoration:none !important;background:transparent url(./images/buttonAction.gif) no-repeat}
#loginAccess .buttonAccount{margin:0 4px 0 0;background-position:left top}
#loginAccess .buttonAccount a,
#loginAccess .buttonAccount input{left:4px;background-position:right top;vertical-align:top;padding:0 24px 0 36px}
#loginAccess .help{position:relative;padding:15px 0;background:#fafafa;border-top:1px solid #d9d9d9;text-align:center;border-radius:0 0 5px 5px}
#loginAccess .help li{display:inline;border-left:1px solid #c3c3c3;padding:0 0 0 10px;margin:0 6px 0 0;line-height:1}
#loginAccess .help li.first{border:0;padding:0}
#loginAccess .help a{text-decoration:none;color:#333}
#loginAccess .help a:hover,
#loginAccess .help a:active,
#loginAccess .help a:focus{text-decoration:underline}
#loginAccess .logOut{text-align:left;margin:0 28px;padding:0 0 20px 0}
