@charset "utf-8";
/* XEED - NHN (developers@xpressengine.com) */
/* Reset */

.xd{display:none;position:relative;margin:1em 0;border:1px solid #e0dedf;z-index:1;*zoom:1;color:#000}
.xd legend{visibility:visible}
.xd fieldset{*zoom:1}
.xd .tool ul,
.xd .mode ul{margin:0;padding:0;list-style:none}
.xd .tool button,
.xd .mode button,
.xdlw button{position:relative;border:0;margin:0;padding:0;background-color:transparent;overflow:visible;cursor:pointer}
.xd .tool em{font-style:normal}
.xd .tool img{border:0}
.xd .tool .itx{border:1px solid #c7c7c7;background:transparent;padding:2px 4px;_margin:-1px 0;height:15px;font-size:12px;vertical-align:top}
.xd .tool .itx.hover,
.xd .tool .itx.focus{border-color:#999;box-shadow:0 0 2px #bbb;-moz-box-shadow:0 0 2px #bbb;-webkit-box-shadow:0 0 2px #bbb}
.xd .tool .icx,
.xd .mode .icx,
.xdlw .icx{width:13px;height:13px;vertical-align:middle;margin:0 2px 0 0;padding:0}
.xd .tool .btn,
.xdlw .btn{border:1px solid #b5b5b5;font-size:12px;padding:0 4px;height:21px;_height:20px;vertical-align:top;cursor:pointer}
.xd .tool fieldset{border:0;margin:0;padding:0}
.xd .tool label,
.xd .mode label,
.xdlw label{cursor:pointer}
.xd .tool .strong,
.xdlw .strong{font-weight:bold}
/* Background */
.xd .tool,
.xd .mo,
.xd .mode,
.xd .resize,
.xd .t1 .u1,
.xd .t1 .u1 .tb .img,
.xd .t1 .u1 .tb .media,
.xd .t1 .u1 .tb .file,
.xd .t1 .u2,
.xd .t2 .tb,
.xd .t2 .btn,
.xd .t2 .u3 .lr li.active button,
.xd .t2 .u3 .lr li.hover button,
.xd .t2 .u6 .sc .lr .li ul,
.xd .t2 .u6 .te .lr .cn li button,
.xd .t2 .u6 .te .lr .th li button,
.xdlw .iHead,
.xdlw .iFoot,
.xdlw .iHead h2,
.xdlw .btn,
.xdal .label,
.xdal .media .ob,
.xdal .file .ob,
.xdal .sn .task .all,
.xdal .sn .ctr{background-image:url(xd.gif);background-repeat:no-repeat}
/* Font Family */
.xd .tool .t1 .tb,
.xd .tool .t2 .hx .lr button,
.xd .tool .t2 .u6 .sc .lr .tab,
.xd .edit,
.xdal .sn .ctr,
.xdal .sn .task button,
.xdal .iFoot .info{font-family:돋움, Dotum, Tahoma, Geneva, sans-serif}
.xd .tool .itx,
.xd .tool .t2 .u3 .cr .lr .cx li button,
.xd .tool .t2 .u6 .te .lr .cn li button,
.xd .tool .t2 .u6 .te .lr .wh td button,
.xd .mode ul button,
.xd .mode .autoResize label,
.xdlw .iHead h2 em,
.xdlw label{font-family:Tahoma, Geneva, sans-serif}
/* Hidden Text */
.xd .tool .mo span,
.xd .t1 .tb .img span,
.xd .t1 .tb .media span,
.xd .t1 .tb .file span,
.xd .t2 .tb span,
.xd .t2 .u3 .cr .lr li button span,
.xd .t2 .u6 .te .lr .cn button span,
.xd .mode .resize span,
.xdal .sn .ctr span{position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden;font-size:0;line-height:0;z-index:-1}
/* Label Input OverWrap */
.xd .tool legend{_color:#000 !important}
.xd .tool .liow{position:relative;background:#fff;margin:0 0 8px 0}
.xd .tool .liow label{position:absolute;top:4px;left:6px;white-space:nowrap}
.xd .tool .liow .itx{position:relative;z-index:2;background:transparent}
/* Time */
.xd .time{font-size:12px;background:#fcfcfc;border-top:1px solid #ddd;display:none}
.xd .time p{margin:0;padding:6px 10px;color:#666;text-align:center}
/* Mode */
.xd .mode{position:relative;z-index:1;background-position:0 -1140px;background-repeat:repeat-x;border-top:1px solid #b5b5b5;*zoom:1}
.xd .mode .resize{width:100%;height:20px;cursor:n-resize;background-position:center -1105px;font-size:0;line-height:0}
.xd .mode .autoResize{position:absolute;top:0;left:8px;font-size:11px;line-height:20px}
.xd .mode .autoResize label{display:inline-block;height:20px}
.xd .mode ul{position:absolute;top:-1px;right:10px;line-height:15px}
.xd .mode li{position:relative;float:left;margin:0 -1px 0 0;border:1px solid #b5b5b5;background:#f4f4f4;vertical-align:top}
.xd .mode li.active{border-top-color:#fcfcfc;background:#fcfcfc;z-index:2}
.xd .mode ul button{padding:0 10px;font-size:11px}
/* Tool - Common */
.xd .tool{background-position:0 -1140px;background-repeat:repeat-x;background-color:#f4f4f4;position:relative;z-index:3}
.xd .tool .mo{display:none;position:absolute;top:0;right:0;height:25px;width:16px;background-position:-450px -250px}
.xd .tool .mo.mopen{background-position:-466px -250px}
.xd .skip{position:absolute;display:block;top:0;left:0;width:1px;height:1px;overflow:hidden;color:#333;text-indent:1em;text-decoration:none;font-size:12px}
.xd .skip:hover,
.xd .skip:active,
.xd .skip:focus{position:relative;width:100%;height:auto;padding:5px 0}
/* Tool - 1 */
.xd .t1{position:relative;z-index:2;padding:0 15px 0 0;border-bottom:1px solid #e0dedf;*zoom:1}
.xd .t1:after{content:"";display:block;clear:both}
.xd .t1 .mo{top:0}
.xd .t1 .u1,
.xd .t1 .u2{margin:0 0 -1px 0;_margin-top:-1px;background-repeat:repeat-x;background-position:0 -1140px;float:left;_float:none;display:inline;*zoom:1}
.xd .t1 .ti{float:left;display:inline;border:1px solid #e0dedf;margin:-1px 0 0 -1px;_margin-top:0;_margin-bottom:-1px;*zoom:1}
.xd .t1 .ti.active{background-color:#e8e8e8;border:1px solid #e0dedf;border-top:0;border-bottom:0;margin:0 -1px}
.xd .t1 .tb{display:inline-block;white-space:nowrap;padding:0 8px;height:26px;line-height:26px;font-size:11px;text-decoration:none;vertical-align:top;color:#000;letter-spacing:-1px}
.xd .t1 .tb span{display:block;float:left;cursor:pointer}
.xd .t1 .u1 .tb strong{color:#f60}
.xd .t1 .u1 .al .tb span{padding:0 0 0 22px}
.xd .t1 .u1 .al .tb .all{padding:0}
.xd .t1 .u1 .al .img{background-position:5px -282px}
.xd .t1 .u1 .al .media{background-position:6px -312px}
.xd .t1 .u1 .al .file{background-position:6px -342px}
/* Tool - 2 */
.xd .t2{position:relative;z-index:2;border-top:1px solid #e0dedf;border-bottom:1px solid #b5b5b5;padding:5px 10px 0 5px;margin:-1px 0 0 0;*zoom:1}
.xd .t2:after{content:"";display:block;clear:both}
.xd .t2 .mo{top:3px}
.xd .t2 .u1,
.xd .t2 .u2,
.xd .t2 .u3,
.xd .t2 .u4,
.xd .t2 .u5,
.xd .t2 .u6{float:left;_float:none;display:inline;position:relative;margin:0 5px 0 0;padding:0 0 5px 0;*zoom:1}
.xd .t2 .ti{float:left;border:1px solid #b5b5b5;margin:0 -1px 0 0;font-size:0;position:relative}
.xd .t2 .ti.hover{border-color:#666;z-index:100;box-shadow:0 0 2px #bbb;-moz-box-shadow:0 0 2px #bbb;-webkit-box-shadow:0 0 2px #bbb}
.xd .t2 .ti.active{border-color:#333;z-index:100}
.xd .t2 .tb{width:20px;height:19px;line-height:19px;overflow:visible;_overflow-y:hidden;vertical-align:top;background-position:0 -60px;letter-spacing:-1px}
.xd .t2 .tb.more{width:10px;background-position:-140px -40px !important;border-left:1px solid #ddd}
.xd .t2 .u2 .tb{width:auto;height:19px;line-height:19px;font-size:12px;padding:0 12px 0 4px;background-position:right 0;text-shadow:1px 1px 0 #eee}
.xd .t2 .u2 .active .tb{background-position:right -20px}
.xd .t2 .disable{opacity:.3;filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)";border-color:#b5b5b5 !important;box-shadow:none !important;-moz-box-shadow:none !important;-webkit-box-shadow:none !important}
.xd .t2 .disable .tb{cursor:default;-ms-filter:inherit}
.xd .t2 .ud .tb{background-position:0 -40px}
.xd .t2 .rd .tb{background-position:-20px -40px}
.xd .t2 .bd .tb{background-position:-40px -40px}
.xd .t2 .ue .tb{background-position:-60px -40px}
.xd .t2 .ic .tb{background-position:-80px -40px}
.xd .t2 .se .tb{background-position:-100px -40px}
.xd .t2 .cr.fc .tb{background-position:-120px -40px}
.xd .t2 .cr.bc .tb{background-position:-150px -40px}
.xd .t2 .sp .tb{background-position:-180px -40px}
.xd .t2 .sb .tb{background-position:-200px -40px}
.xd .t2 .al .tb{background-position:-220px -40px}
.xd .t2 .ac .tb{background-position:-240px -40px}
.xd .t2 .ar .tb{background-position:-260px -40px}
.xd .t2 .aj .tb{background-position:-280px -40px}
.xd .t2 .ol .tb{background-position:-300px -40px}
.xd .t2 .ul .tb{background-position:-320px -40px}
.xd .t2 .od .tb{background-position:-340px -40px}
.xd .t2 .id .tb{background-position:-360px -40px}
.xd .t2 .qm .tb{background-position:-380px -40px}
.xd .t2 .bx .tb{background-position:-400px -40px}
.xd .t2 .er .tb{background-position:-420px -40px}
.xd .t2 .ur .tb{background-position:-440px -40px}
.xd .t2 .sc .tb{background-position:-460px -40px}
.xd .t2 .te .tb{background-position:-480px -40px}
.xd .t2 .cm .tb{background-position:-500px -40px}
.xd .t2 .cs .tb{background-position:-520px -40px}
.xd .t2 .rs .tb{background-position:-540px -40px}
.xd .t2 .tc .tb{background-position:-560px -40px}
.xd .t2 .fr .tb{background-position:-580px -40px}
.xd .t2 .active .tb.ud{background-position:0 -60px}
.xd .t2 .active .tb.rd{background-position:-20px -60px}
.xd .t2 .active .tb.bd{background-position:-40px -60px}
.xd .t2 .active .tb.ue{background-position:-60px -60px}
.xd .t2 .active .tb.ic{background-position:-80px -60px}
.xd .t2 .active .tb.se{background-position:-100px -60px}
.xd .t2 .active .tb.more{background-position:-140px -60px !important}
.xd .t2 .active .tb.sp{background-position:-180px -60px}
.xd .t2 .active .tb.sb{background-position:-200px -60px}
.xd .t2 .active .tb.al{background-position:-220px -60px}
.xd .t2 .active .tb.ac{background-position:-240px -60px}
.xd .t2 .active .tb.ar{background-position:-260px -60px}
.xd .t2 .active .tb.aj{background-position:-280px -60px}
.xd .t2 .active .tb.ol{background-position:-300px -60px}
.xd .t2 .active .tb.ul{background-position:-320px -60px}
.xd .t2 .active .tb.od{background-position:-340px -60px}
.xd .t2 .active .tb.id{background-position:-360px -60px}
.xd .t2 .active .tb.qm{background-position:-380px -60px}
.xd .t2 .active .tb.bx{background-position:-400px -60px}
.xd .t2 .active .tb.er{background-position:-420px -60px}
.xd .t2 .active .tb.ur{background-position:-440px -60px}
.xd .t2 .active .tb.sc{background-position:-460px -60px}
.xd .t2 .active .tb.te{background-position:-480px -60px}
.xd .t2 .active .tb.cm{background-position:-500px -60px}
.xd .t2 .active .tb.cs{background-position:-520px -60px}
.xd .t2 .active .tb.rs{background-position:-540px -60px}
.xd .t2 .active .tb.tc{background-position:-560px -60px}
.xd .t2 .active .tb.fr{background-position:-580px -60px}
/* Layer */
.xd .t2 .lr{display:none;position:absolute;left:-1px;top:19px;padding:10px;font-size:12px;border:1px solid #bbb;background-color:#fafafa;*zoom:1;box-shadow:0 0 2px #bbb;-moz-box-shadow:0 0 2px #bbb;-webkit-box-shadow:0 0 2px #bbb}
.xd .t2 .lr:after{content:"";display:block;clear:both}
.xd .t2 .lr.open{display:block}
/* Layer - u2 (hx, ff, fs, lh) */
.xd .t2 .u2 .lr{padding:2px}
.xd .t2 .u2 .lr li{margin:0 !important;padding:0 !important;border:0 !important}
.xd .t2 .u2 .lr li.hover{background:#ebebeb}
.xd .t2 .u2 .lr button{display:block;white-space:nowrap;text-align:left;font-size:12px;padding:2px 10px}
.xd .t2 .u2 .hx .lr button{font-weight:bold}
.xd .t2 .u2 .lr .h1 button{font-size:24px}
.xd .t2 .u2 .lr .h2 button{font-size:20px}
.xd .t2 .u2 .lr .h3 button{font-size:18px}
.xd .t2 .u2 .lr .h4 button{font-size:16px}
.xd .t2 .u2 .lr .h5 button{font-size:14px}
.xd .t2 .u2 .lr .h6 button{font-size:12px}
/* Layer - u3 (cr) */
.xd .t2 .u3 .cr .lr fieldset{position:relative;_float:left}
.xd .t2 .u3 .cr .lr legend{font-size:12px;font-weight:bold;margin:0;padding:0;display:inline;line-height:normal;width:auto;height:auto;position:static}
.xd .t2 .u3 .cr .lr .ct,
.xd .t2 .u3 .cr .lr .cx{width:204px;position:relative;*zoom:1;overflow:hidden}
.xd .t2 .u3 .cr .lr .ct:after,
.xd .t2 .u3 .cr .lr .cx:after{content:"";display:block;clear:both}
.xd .t2 .u3 .cr .lr .ct li,
.xd .t2 .u3 .cr .lr .cx li{position:relative;float:left;margin:0 1px 1px 0;font-size:0;line-height:0}
.xd .t2 .u3 .cr .lr .ct li button{display:block;position:relative;overflow:hidden;width:11px;height:11px;vertical-align:top}
.xd .t2 .u3 .cr .lr .ct li.active button,
.xd .t2 .u3 .cr .lr .ct li.hover button{background-position:-330px -260px}
.xd .t2 .u3 .cr .lr .cx li button{display:block;position:relative;overflow:hidden;width:67px;height:18px;font-size:11px;line-height:18px;text-align:left;*padding:0 4px}
/* Layers - u6 */
.xd .t2 .u6 .lr{left:auto;right:-1px;}
.xd .t2 .u6 .lr.right{left:-1px;right:auto;}
/* Layer - u6 (ur) */
.xd .t2 .u6 .ur .lr{width:260px}
.xd .t2 .u6 .ur .lr fieldset:after{content:"";display:block;clear:both}
.xd .t2 .u6 .ur .lr .itx{display:block;width:250px;margin:0 0 4px 0;background:#fff}
.xd .t2 .u6 .ur .lr .nw{float:left;line-height:21px;white-space:nowrap}
.xd .t2 .u6 .ur .lr .btnArea{float:right;white-space:nowrap}
.xd .t2 .u6 .ur .lr .btn{*margin:0 0 0 4px}
/* Layer - u6 (sc) */
.xd .t2 .u6 .sc .lr{width:402px;height:222px}
.xd .t2 .u6 .sc .lr .li{float:left;margin:0 -1px 0 0}
.xd .t2 .u6 .sc .lr .tab{position:relative;font-size:11px;height:23px;_line-height:18px;padding:0 4px;border:1px solid #d0d0d0;background:#f5f5f5;z-index:10}
.xd .t2 .u6 .sc .lr .active .tab{border-bottom-color:#fff;background:#fff}
.xd .t2 .u6 .sc .lr .li ul{display:none;position:absolute;left:10px;top:32px;width:400px;height:171px;border:1px solid #d0d0d0;background-position:0 -80px;z-index:1;*zoom:1}
.xd .t2 .u6 .sc .lr .li ul:after{content:"";display:block;clear:both}
.xd .t2 .u6 .sc .lr .active ul{display:block}
.xd .t2 .u6 .sc .lr .li li{position:relative;top:-1px;float:left;margin:0 -1px -1px 0}
.xd .t2 .u6 .sc .lr .li li button{width:21px;height:20px;overflow:hidden}
.xd .t2 .u6 .sc .lr .li li:hover button{border:1px solid #666}
.xd .t2 .u6 .sc .lr fieldset{position:absolute;top:212px;left:10px}
.xd .t2 .u6 .sc .lr .itx{width:296px;padding-right:100px;background:#fff;_margin:-1px 0}
.xd .t2 .u6 .sc .lr .btnArea{position:absolute;top:0;right:0}
.xd .t2 .u6 .sc .lr .btn{float:left;margin:0 0 0 -1px;display:inline}
/* Layer - u6 (te) */
.xd .t2 .u6 .te .lr{width:280px}
.xd .t2 .u6 .te .lr fieldset{position:relative;padding:0 0 10px 0}
.xd .t2 .u6 .te .lr legend{font-size:12px;font-weight:bold;margin:0;padding:10px 0 0 0;display:inline;line-height:normal;width:auto;height:auto;position:static}
.xd .t2 .u6 .te .lr .pv{border-bottom:1px solid #ddd}
.xd .t2 .u6 .te .lr .pv legend{padding:0}
.xd .t2 .u6 .te .lr .pv .xdcs{background:#fff;line-height:1.5;margin:0 -10px;padding:1px 10px;box-shadow:inset 0 0 3px #999;-moz-box-shadow:inset 0 0 3px #999;-webkit-box-shadow:inset 0 0 3px #999}
.xd .t2 .u6 .te .lr .cn{border-bottom:1px solid #ddd}
.xd .t2 .u6 .te .lr .cn .liow label{top:7px}
.xd .t2 .u6 .te .lr .cn .itx{width:215px;padding:5px 60px 5px 4px}
.xd .t2 .u6 .te .lr .cn ul{position:absolute;z-index:2;width:51px;top:2px;right:2px;*right:1px;font-size:0;*zoom:1}
.xd .t2 .u6 .te .lr .cn ul:after{content:"";display:block;clear:both}
.xd .t2 .u6 .te .lr .cn li{float:left;margin:0 0 1px 1px;display:inline}
.xd .t2 .u6 .te .lr .cn li button{width:16px;height:11px;overflow:hidden;text-align:center;background-color:#eee}
.xd .t2 .u6 .te .lr .cn li.selected button{background-color:#ccc}
.xd .t2 .u6 .te .lr .cn li.tl button{background-position:-360px -255px}
.xd .t2 .u6 .te .lr .cn li.tc button{background-position:-382px -255px}
.xd .t2 .u6 .te .lr .cn li.tr button{background-position:-404px -255px}
.xd .t2 .u6 .te .lr .cn li.bl button{background-position:-360px -264px}
.xd .t2 .u6 .te .lr .cn li.bc button{background-position:-382px -264px}
.xd .t2 .u6 .te .lr .cn li.br button{background-position:-404px -264px}
.xd .t2 .u6 .te .lr .th{border-bottom:1px solid #ddd}
.xd .t2 .u6 .te .lr .th ul{*zoom:1}
.xd .t2 .u6 .te .lr .th ul:after{content:"";display:block;clear:both}
.xd .t2 .u6 .te .lr .th li{float:left}
.xd .t2 .u6 .te .lr .th li button{font-size:12px;width:70px;height:55px}
.xd .t2 .u6 .te .lr .th li.selected{background-color:#ddd}
.xd .t2 .u6 .te .lr .th li.no button{background-position:-283px -275px}
.xd .t2 .u6 .te .lr .th li.lt button{background-position:-433px -275px}
.xd .t2 .u6 .te .lr .th li.tp button{background-position:-283px -335px}
.xd .t2 .u6 .te .lr .th li.bh button{background-position:-433px -335px}
.xd .t2 .u6 .te .lr .th li span{display:inline-block;padding-top:26px}
.xd .t2 .u6 .te .lr .wh{border-bottom:1px solid #ddd}
.xd .t2 .u6 .te .lr .wh table{border:0;width:100%}
.xd .t2 .u6 .te .lr .wh th{border:0;text-align:right;padding:0;white-space:nowrap;font-weight:normal}
.xd .t2 .u6 .te .lr .wh td{border:0;padding:0 0 0 10px;border-spacing:0}
.xd .t2 .u6 .te .lr .wh td button{font-size:12px;width:23px;height:21px;color:#666}
.xd .t2 .u6 .te .lr .wh td button.selected{border:1px solid #ccc;background-color:#767676;color:#fff;font-weight:bold}
.xd .t2 .u6 .te .lr .wh .itx{width:60px;*margin-right:4px;background-color:#fff}
.xd .t2 .u6 .te .lr .btnArea{position:relative;text-align:right;white-space:nowrap;padding:10px 0 0 0}
.xd .t2 .u6 .te .lr .btnArea .btn{*margin-left:4px}
/* Layer - u6 (fr) */
.xd .t2 .u6 .fr .lr fieldset{position:relative}
.xd .t2 .u6 .fr .lr legend{font-size:12px;font-weight:bold;margin:0;display:inline;line-height:normal;width:auto;height:auto;position:static}
.xd .t2 .u6 .fr .lr .itx{width:120px;padding-right:70px}
.xd .t2 .u6 .fr .lr .find{border-bottom:1px solid #ddd;padding:0 0 10px 0}
.xd .t2 .u6 .fr .lr .find .btn{position:absolute;top:0;right:0;z-index:3}
.xd .t2 .u6 .fr .lr .replace legend{padding:10px 0 0 0}
.xd .t2 .u6 .fr .lr .replace .liow{margin:0 0 2px 0}
.xd .t2 .u6 .fr .lr .replace .liow .btn{position:absolute;top:0;right:0;z-index:3}
.xd .t2 .u6 .fr .lr .frAll{width:196px;margin:5px 0 0 0}
/* Edit */
.xd .edit{height:400px;overflow:auto;position:relative;z-index:2;*zoom:1;background:#fff;box-shadow:inset 0 0 3px #999;-moz-box-shadow:inset 0 0 3px #999;-webkit-box-shadow:inset 0 0 3px #999}
.xd .edit .xdcs{position:relative;overflow:hidden !important;padding:10px;cursor:text;outline:none}
.xd .edit .xdsc{border:0;padding:20px 25px;overflow:auto;background:transparent;font:12px "Courier New", Courier, monospace}
/* XD Layer Window */
.xdlw{display:none;position:absolute;top:0;left:0;z-index:1000;color:#000;overflow:visible;width:100%;height:100%}
.xdlw img{border:0}
.xdlw .iHead{background-position:0 -1140px;background-repeat:repeat-x;border-bottom:1px solid #ccc;font-size:12px;padding:10px 0;*zoom:1;cursor:move;overflow:hidden}
.xdlw .iHead:after{content:"";display:block;clear:both}
.xdlw .iHead h2{float:left;_display:inline;margin:0 0 0 20px;padding:0 0 0 20px;background-position:0 -257px;font-size:12px;height:16px;line-height:16px}
.xdlw .iHead h2 em{font-weight:normal;font-style:normal;color:#ccc}
.xdlw .iHead h2 strong{color:#f60}
.xdlw .iHead .btnArea{margin:0 20px;*zoom:1}
.xdlw .iHead .btnArea.fr{float:right}
.xdlw .iBody{position:relative;*zoom:1}
.xdlw .iBody:after{content:"";display:block;clear:both}
.xdlw .iFoot{padding:10px 0;border-top:1px solid #ccc;background-position:0 -1140px;background-repeat:repeat-x;cursor:move}
.xdlw .iFoot:after{content:"";display:block;clear:both}
.xdlw .iFoot .btnArea{margin:0 20px;*zoom:1}
.xdlw .iFoot .btnArea:after{content:"";display:block;clear:both}
.xdlw .iFoot .btnArea.fl{float:left}
.xdlw .iFoot .btnArea.fr{float:right}
/* XD Layer Window - AL(Attached List) */
.xdal{display:none;width:780px;margin:100px auto 0 auto;background:#fff;border:3px solid #666;box-shadow:0 0 10px #999;-moz-box-shadow:0 0 10px #999;-webkit-box-shadow:0 0 10px #999}
.xdal .iFoot .info{margin:0;float:left;font-size:11px;line-height:normal;padding:0 0 0 20px;color:#666}
.xdal .label{line-height:30px;font-weight:bold;margin:0;padding:0 0 0 24px;font-size:12px}
.xdal .img .label{background-position:0 -280px}
.xdal .media .label{background-position:0 -310px}
.xdal .file .label{background-position:0 -340px}
.xdal .sn{position:relative;padding:10px 20px 15px 20px;width:219px;float:left;border-left:1px solid #ddd}
.xdal .sn .nofile{display:none;padding:1em 0;margin:0;color:#767676;border-top:1px dotted #ccc}
.xdal .sn ul{height:290px;margin:0;padding:0;*zoom:1;overflow:auto;overflow-x:hidden;border-top:1px dotted #ccc}
.xdal .sn ul:after{content:"";display:block;clear:both}
.xdal .sn li{position:relative;top:-1px;list-style:none;vertical-align:top;margin:0;padding:8px 0;border-top:1px dotted #ccc;color:#666}
.xdal .sn .ob{position:relative;text-decoration:none;white-space:nowrap;font-size:0;width:60px;height:60px;overflow:hidden;margin:0 0 5px 0;border:1px solid #ddd;text-align:center;vertical-align:top;line-height:58px;background-color:#fff}
.xdal .sn .ob img{vertical-align:middle}
.xdal .sn .ctr{position:absolute;top:8px;width:30px;height:30px;font-size:11px;white-space:nowrap;color:#666}
.xdal .sn .ins{right:35px;background-position:-510px -250px}
.xdal .sn .del{right:5px;background-position:-540px -250px}
.xdal .sn .task{margin:0 10px 0 0;padding:8px 0 0 0;border-top:1px dotted #ccc}
.xdal .sn .task button{padding:0 3px;margin:0 0 2px 0;height:21px;font-size:11px;border:1px solid #b5b5b5}
.xdal .sn .task .all{padding-left:15px;background-position:-583px -257px}
.xdal .sn .progress{display:none;width:40px;background:#ddd}
.xdal .sn .progress .bar{display:block;background:#23cb24;height:6px}
.xdal .sn .uploading .progress{display:inline-block}
.xdal .none .task{display:none}
.xdal .none .nofile{display:block}
.xdal .file .ob,
.xdal .media .ob{text-indent:-900px}
.xdal .file .uploading .ob{text-indent:0;background-image:none}
.xdal .file .pdf{background-position:-20px -420px}
.xdal .file .doc,
.xdal .file .docx{background-position:-120px -420px}
.xdal .file .hwp{background-position:-220px -420px}
.xdal .file .ppt,
.xdal .file .pptx{background-position:-320px -420px}
.xdal .file .pps{background-position:-420px -420px}
.xdal .file .txt{background-position:-520px -420px}
.xdal .file .rtf{background-position:-20px -520px}
.xdal .file .xls,
.xdal .file .csv,
.xdal .file .xlsx{background-position:-120px -520px}
.xdal .file .png{background-position:-220px -520px}
.xdal .file .jpg{background-position:-320px -520px}
.xdal .file .gif{background-position:-420px -520px}
.xdal .file .bmp{background-position:-520px -520px}
.xdal .file .tif{background-position:-20px -620px}
.xdal .file .raw{background-position:-120px -620px}
.xdal .media .avi{background-position:-220px -620px}
.xdal .media .wmv{background-position:-320px -620px}
.xdal .media .mov{background-position:-420px -620px}
.xdal .media .mpg{background-position:-520px -620px}
.xdal .media .flv{background-position:-20px -720px}
.xdal .media .divx{background-position:-120px -720px}
.xdal .file .mp3{background-position:-220px -720px}
.xdal .file .wma{background-position:-320px -720px}
.xdal .file .wav{background-position:-420px -720px}
.xdal .file .aac{background-position:-520px -720px}
.xdal .file .flac{background-position:-20px -820px}
.xdal .file .psd{background-position:-120px -820px}
.xdal .file .ai{background-position:-220px -820px}
.xdal .file .svg{background-position:-320px -820px}
.xdal .file .xml{background-position:-420px -820px}
.xdal .file .html{background-position:-520px -820px}
.xdal .file .css{background-position:-20px -920px}
.xdal .file .js{background-position:-120px -920px}
.xdal .file .iso{background-position:-220px -920px}
.xdal .file .zip,
.xdal .file .tar,
.xdal .file .gz,
.xdal .file .alz,
.xdal .file .rar{background-position:-320px -920px}
.xdal .file .etc{background-position:-420px -920px}
/* XDCS = Xpress eDitor Content Style */
.xdcs{font-size:12px;line-height:1.5;overflow:hidden !important;*zoom:1}
.xdcs .h1{font-size:24px;margin:1em 0}
.xdcs .h2{font-size:20px;margin:1em 0}
.xdcs .h3{font-size:18px;margin:1em 0}
.xdcs .h4{font-size:16px;margin:1em 0}
.xdcs .h5{font-size:14px;margin:1em 0}
.xdcs .h6{font-size:12px;margin:1em 0}
.xdcs .bq{border-left:3px solid #ccc;padding-left:1em;margin:1em 0}
.xdcs .bx{border:1px dotted #999;margin:1em 0;padding:0 2em;background:#fafafa}
.xdcs .ts,
.xdcs .ts th,
.xdcs .ts td{border:1px solid #bbb}
.xdcs .ts caption{font-weight:bold}
.xdcs .ts th,
.xdcs .ts td{padding:2px 5px}
.xdcs .ts{border-collapse:collapse;margin:1em 0}
.xdcs .ts th{text-align:left;background-color:#fafafa}
.xdcs .ts td{text-align:left}
.xdcs .toc{margin:1em 0;border:1px solid #ddd;background:#fafafa}
.xdcs .toc ul ul{padding-left:1em;margin:0}