@charset "utf-8";
/*
NHN UIT Lab. WebStandardization Team (http://html.nhndesign.com/)
Jeong, Chan Myeong 070601~070630
*/

li { list-style:none; }
a { text-decoration:none; }

/* Common Layout of Content Group */
#content { width:100%; position:relative; padding-bottom:2em;}

/* Blog Layout - Common */
#bodyWrap { width:860px; margin:0 auto; overflow:hidden; background-color:#FFFFFF;}

/* Blog Layout - Content Body */
#contentBody { overflow:hidden; padding-bottom:2em; _width:100%;}

/* Blog Layout - ColumnLeft */
#columnLeft { float:left; width:182px; margin:0px 8px 0px 10px; _margin-left:5px;padding:0px;}

/* Blog Layout - ColumnRight */
#columnRight {}

/* Blog Layout - Content */
#content { float:left; width:650px; overflow:hidden; padding-right:10px; _width:640px; }

/* ----- Blog | Start ----- */
#headerWrap { width:860px; margin:0 auto; overflow:hidden;}
#headerWrap #login_menu { margin-top:20px; padding:0 1.2em;}
#headerWrap #login_menu .login {float:right}
#headerWrap #login_menu .member { float:right}
#headerWrap #login_menu .member li {display:inline; margin:0 0 0 -.1em; padding:0 .6em; background:url(../images/common/bar_1x7_c0c0c0.gif) no-repeat left center;}

/* Blog header Child*/
#header h1 { font:bold 1.3em 돋움; margin:2em 0 .4em 30px; letter-spacing:-.05em; }
#header h1 a { color:#FFFFFF;}
#header #globalNavigation { width:100%; margin:2.4em 0 0 0; padding:.8em 0 .8em 0; background:#e4e4e4; overflow:hidden;}
#header #globalNavigation ul { float:right; }
#header #globalNavigation li { float:left; margin-left:-1px; background:url(../images/common/bar_1x10_c0c0c0.gif) no-repeat left bottom;}
#header #globalNavigation li.no_bg { background:none;}
#header #globalNavigation li a { display:block; float:left; padding:0 1.2em; font:bold .8em Tahoma; color:#54564b; white-space:nowrap;}

/* Column Left & Right Common Child */
.boxTypeA { position:relative; border:5px solid #F2F2F2; margin-bottom:.7em;}
.boxTypeB { position:relative; margin-bottom:.7em;}
.boxTypeB h2 { position:relative; padding:7px 0 0 12px; height:21px; _height:20px; background:#f5f5f5; font-size:1em; color:#ef2121; font-family:Tahoma;}
*:first-child+html .boxTypeB h2 { height:20px; color:#ef2121;} 
.boxTypeB .toggleMask {position:absolute; top:8px; right:5px; cursor:pointer; width:13px; height:13px; overflow:hidden;}
.boxTypeB .showHide { position:relative;}
.boxTypeB .optionList { position:absolute; top:8px; right:0; overflow:hidden;}
.boxTypeB .optionList li { float:left; padding:0 .5em; margin-left:-1px; background:url(../images/common/line_1x10_e0e0e0.gif) no-repeat left center;}
.boxTypeB .optionList li a { color:#a4a4a4; font-size:.9em;}
.boxTypeB .optionList li.on a { color:#000000;}
.boxTypeB .showAll { color:#737373; font:bold .9em tahoma; white-space:nowrap; display:inline-block; padding:.4em .8em; background:url(../images/common/bar_1x8_c0c0c0.gif) no-repeat right center;}
.boxTypeB .showAll.no_bg { background:none;}

/* Profile */
div#profile { padding:6px; overflow:hidden;}
div#profile img.profile { width:153px; display:block; margin-bottom:1.2em;}
div#profile dl#hello {}
div#profile dl#hello dt { color:#333333; margin-bottom:.5em;}
div#profile dl#hello dt a { color:#333333;}
div#profile dl#hello dd { color:#777777; margin-bottom:1em;}
div#profile ul#admin { overflow:hidden; height:1.2em;}
div#profile ul#admin li { float:left; padding:0 .4em; font-size:.8em;}
div#profile ul#admin li a { display:block;}
div#profile ul#admin li.write a {}
div#profile ul#admin li.setup { border-left:1px solid #e3e3e3;}
div#profile ul#admin li.setup a {}
div#profile ul#admin li a { color:#666666;}

/* Category */
div#category {}
div#category #categoryList { padding:1em .8em .5em .8em;}
div#category #categoryList li { position:relative; padding:0 0 0 15px; background:url(../images/common/iconFolderClose.gif) no-repeat 2px top;}
div#category #categoryList li li {}
div#category #categoryList li li li { background:url(../images/common/iconList.gif) no-repeat 5px top;}
div#category #categoryList a { display:block; _display:inline-block; color:#6b6b6b; margin:0 0 6px 5px;}

/* Search Box */
div#searchBox { margin-bottom:.7em; padding:.6em; background:#f5f5f5; overflow:hidden; _height:25px;}
div#searchBox fieldset { border:none;}
div#searchBox fieldset legend { position:absolute; overflow:hidden; width:1px; height:1px; font-size:.001em; text-indent:-100em;}

.blogWrite div.title { border-top:2px solid #ed1b24;}
.write_post h3 {margin:1.5em 1em 1em 1em; font:bold 1.2em 돋움;}
/* ----- Blog | End ----- */

.blogHeader2 { width:100%; overflow:hidden; padding:2em 0 2em 0; color:#333333;}
.blogHeader2 h3 { float:left; font-size:1.2em; padding-left:1em; background:url(../images/common/iconH3.gif) no-repeat .5em center;}
.blogHeader2 .info { float:right; position:relative; right:1.2em; top:.3em; font-size:.8em; color:#8d8d8d;}
.blogHeader2 .info q { quotes:none; font-weight:bold; font:bold 1.2em 돋움; color:#676767;}
.blogHeader2 .info strong { font:bold .9em Tahoma; color:#696969;}
