.news_ticker_none { height:25px; overflow:hidden; clear:both; white-space:nowrap; }

.news_ticker_none table { width:100%; height:25px; margin:0; padding:0; table-layout:fixed;}
.news_ticker_none table td { white-space:nowrap; overflow:hidden; height:25px; vertical-align:top; }

.news_ticker_none .tickerBox { height:25px; padding-top:6px; white-space:nowrap; overflow:hidden; }

.news_ticker_none ul { white-space:nowrap; overflow:hidden; }
.news_ticker_none li { list-style:none; height:25px; overflow:hidden; white-space:nowrap; font-size:9pt;}

.news_ticker_none ul li .title a { color:#555555; text-decoration:none;  font-size:9pt;}
.news_ticker_none ul li .title a:hover { text-decoration:underline; }
.news_ticker_none ul li .title span.comment { color:#FE6700; font:.8em Tahoma; }
.news_ticker_none ul li .title span.comment a { color:#FE6700; font:.8em Tahoma; text-decoration:none; }

.news_ticker_none ul li .date { color:#999999; font:.8em Tahoma; white-space:nowrap; margin-right:5px;}
