.news_ticker_red { height:25px; overflow:hidden; clear:both; background:#FFFFFF url("../images/red/bg.gif") repeat-x left top; white-space:nowrap; }

.news_ticker_red table { width:100%; height:25px; margin:0; padding:0; table-layout:fixed;}
.news_ticker_red table td { white-space:nowrap; overflow:hidden; height:25px; vertical-align:top; }

.news_ticker_red .tickerBox { height:25px; padding-top:6px; white-space:nowrap; overflow:hidden; }

.news_ticker_red ul { white-space:nowrap; overflow:hidden; }
.news_ticker_red li { list-style:none; height:25px; overflow:hidden; white-space:nowrap; font-size:9pt;}

.news_ticker_red ul li .title a { color:#000000; text-decoration:none;  font-size:9pt;}
.news_ticker_red ul li .title a:hover { text-decoration:underline; }
.news_ticker_red ul li .title span.comment { color:#766C6C; font:.8em Tahoma; }
.news_ticker_red ul li .title span.comment a { color:#766C6C; font:.8em Tahoma; text-decoration:none; }

.news_ticker_red ul li .date { color:#333333; font:.8em Tahoma; white-space:nowrap; margin-right:5px;}
