<?xml version="1.0" encoding="utf-8"?>
<module>
    <actions>
        <action name="dispDownloadedPluginList" type="view" standalone="true" admin_index="true" />
        <action name="dispPluginInfo" type="view" standalone="true" />
        <action name="dispGenerateCode" type="view" standalone="true" />

        <action name="procGenerateCode" type="controller" standalone="true" />
    </actions>
</module>
