<!--%import("../lang")-->
<!--@if(__DEBUG__)-->
	<load target="popup.css" />
	<load target="popup.js" />
<!--@else-->
	<load target="popup.min.css" />
	<load target="popup.min.js" />
<!--@end-->
<section class="section">
	<h1>{$component_info->title} ver. {$component_info->version}</h1>
	<form action="./" method="get" onsubmit="return false" id="fo" class="x_form-horizontal">
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->multimedia_url}</label>
			<div class="x_controls">
				<input type="text" id="multimedia_url" value="{$manual_url}" />
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->multimedia_caption}</label>
			<div class="x_controls">
				<input type="text" id="multimedia_caption" value="" />
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->multimedia_width}</label>
			<div class="x_controls">
				<input type="text"  size="3" id="multimedia_width" value="400" /> px
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->multimedia_height}</label>
			<div class="x_controls">
				<input type="text"  size="3" id="multimedia_height" value="400" /> px
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->multimedia_auto_start}</label>
			<div class="x_controls">
				<input type="checkbox" id="multimedia_auto_start" value="Y" />
			</div>
		</div>
		<div class="x_control-group">
			<label for="" class="x_control-label">{$lang->multimedia_wmode}</label>
			<div class="x_controls">
				<select id="multimedia_wmode">
					<option value="window">{$lang->multimedia_wmode_window}</option>
					<option value="opaque">{$lang->multimedia_wmode_opaque}</option>
					<option value="transparent" selected="selected">{$lang->multimedia_wmode_transparent}</option>
				</select>
				<p>{$lang->about_ccl_allow_modification}</p>
			</div>
		</div>
		<div class="x_clearfix btnArea">
			<div class="x_pull-right">
				<button type="button" id="btn_insert" class="x_btn x_btn-primary">{$lang->cmd_insert}</button>
				<a class="x_btn" href="{getUrl('','module','editor','act','dispEditorComponentInfo','component_name',$component_info->component_name)}" target="_blank" onclick="window.open(this.href,'ComponentInfo','width=10,height=10');return false;">{$lang->about_component}</a>
			</div>
		</div>
	</form>
</section>
