<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<div class="editor_window">
    <form action="./" method="get" onSubmit="return false" id="fo">
        <div class="header">{$lang->multimedia_url}</div>
        <div class="body"><input type="text" class="multimedia_url" id="multimedia_url" value="" /></div>

        <div class="header">{$lang->multimedia_caption}</div>
        <div class="body"><input type="text" class="multimedia_url" id="multimedia_caption" value="" /></div>

        <div class="header">{$lang->multimedia_width}</div>
        <div class="body"><input type="text" class="multimedia_size" id="multimedia_width" value="640" />px</div>

        <div class="header">{$lang->multimedia_height}</div>
        <div class="body"><input type="text" class="multimedia_size" id="multimedia_height" value="480" />px</div>

        <div class="header">{$lang->multimedia_auto_start}</div>
        <div class="body"><input type="checkbox" id="multimedia_autostart" value="Y" /></div>

        <div class="editor_button_area">
            <input type="button" value="{$lang->cmd_insert}" class="editor_button" onclick="insertImage()" />
            <input type="button" value="{$lang->cmd_close}" class="editor_button" onclick="window.close();" />
        </div>
    </form>
</div>
