<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<div id="popHeadder">
    <h1>{$component_info->title} ver. {$component_info->version}</h1>
</div>

<form action="./" method="get" onSubmit="return false" id="fo">
    <div id="popBody">
        <table cellspacing="0" class="tableType5">
        <col width="150" />
        <col />
        <tr>
            <th scope="row">{$lang->multimedia_url}</th>
            <td><input type="text" class="inputTypeText w100" id="multimedia_url" value="{$manual_url}" /></td>
        </tr>
        <tr>
            <th scope="row">{$lang->multimedia_caption}</th>
            <td><input type="text" class="inputTypeText w100" id="multimedia_caption" value="" /></td>
        </tr>
        <tr>
            <th scope="row">{$lang->multimedia_width}</th>
            <td><input type="text" class="inputTypeText" size="3" id="multimedia_width" value="400" />px</td>
        </tr>
        <tr>
            <th scope="row">{$lang->multimedia_height}</th>
            <td><input type="text" class="inputTypeText" size="3" id="multimedia_height" value="400" />px</td>
        </tr>
        <tr>
            <th scope="row">{$lang->multimedia_auto_start}</th>
            <td><input type="checkbox" id="multimedia_auto_start" value="Y" /></td>
        </tr>
        </table>
    </div>
    <div id="popFooter">
        <ul class="buttonRight nospace">
            <li><a href="#" onclick="insertMultimedia()" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_insert}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
            <li><a href="#" onclick="window.close(); return false;" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_close}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
            <li><a href="#" onclick="winopen('./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}','ComponentInfo','left=10,top=10,width=10,height=10,resizable=no,scrollbars=no,toolbars=no');return false;" class="buttonTypeA"><img src="../../../../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->about_component}<img src="../../../../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
        </ul>
    </div>

</form>
