@charset "utf-8";

/* board Title */
.boardHeader h3 { margin:0; border-bottom:3px solid #fe3614; }

/* board Information */
.articleNum { float:left; background:url(../images/black/iconArticle.gif) no-repeat left top; }
.articleNum strong { font:bold 11px Tahoma; color:#BBBBBB;}

/* account Navigation */
.accountNavigation li.join a { background:url(../images/black/iconMyInfo.gif) no-repeat left top; padding-left:14px; }
.accountNavigation li.myInfo a { background:url(../images/black/iconMyInfo.gif) no-repeat left top; padding-left:14px; }

/* boardRead */
.boardRead .fileAttached li { background:url(../images/black/iconFile.gif) no-repeat left top;}

/* style.list */
.boardList th { background:transparent url(../images/black/lineBoardListTh.gif) no-repeat left bottom; }
.boardList td.recommend { color:#ff6600; }
.boardList td .replyAndTrackback { color:#BBBBBB; }
.buttonTypeGo { background:url(../images/black/buttonTypeInput24.gif) no-repeat; }

/* pagination */
.pagenation strong { color:#BBBBBB; }

/* replyAndTrackback */
.buttonBox .replyAndTrackback a strong { color:#BBBBBB;}

.replyBox .fileAttached li { background:url(../images/black/iconFile.gif) no-repeat left top;}

/* replace common images */
.boardHeader { border:1px solid #ABA9B4; border-bottom:0; background:transparent url(../images/black/bgH3.gif) repeat-x left bottom; overflow:hidden;}
.boardHeader h3 { background:transparent  url(../images/black/lineH3.gif) no-repeat right bottom; color:#AAAAAA; border-bottom:3px solid #ABA9B4;}
.boardDescription { color:#666666; border:1px solid #666666; overflow:hidden; padding:10px; margin-top:5px; background-color:transparent;}
.accountNavigation li.setup a { background:url(../images/black/iconSetup.gif) no-repeat left top; padding-left:14px; }
.accountNavigation li.admin a { background:url(../images/black/iconAdmin.gif) no-repeat left top; padding-left:12px; }
.accountNavigation li.loginAndLogout a { background:url(../images/black/line_1x10_e0e0e0.gif) no-repeat left 2px; padding-left:8px; }

.boardSubMenu { border-bottom:1px solid #444444;}
.boardList { width:100%; border:1px solid #444444; border-top:none; table-layout:fixed;}
.boardList th { color:#999999; font-weight:normal; border-top:1px solid #444444; border-bottom:1px solid #888888; white-space:nowrap; padding-top:5px; height:28px; overflow:hidden;}
.boardList th a { color:#999999; }
.boardList td { border-top:1px solid #444444; padding:.5em;}
.boardList th.num { border-left:0px solid #444444; }

#board_category { background-color:transparent; color:#AAAAAA; }
#go_button { color:#AAAAAA; }

.boardList tr.bg1, .boardList tr.bg2 { background-color:transparent; }
.boardList td.topic strong a, .boardList td.title  a { color:#AAAAAA; }
.boardList td.author div { color:#AAAAAA; }
.boardList td.topic div.author strong { font-size:9pt; }
.boardList td.webzineTitle, .boardList td.webzineTitle a { color:#AAAAAA; }

.boardRead .readHeader .title h4 a { color:#BBBBBB; }
.boardRead .dateAndCount .replyAndTrackback .replyCount { background:transparent url(../images/black/iconReply.gif) no-repeat left 1px; color:#888888; }
.boardRead .dateAndCount .replyAndTrackback .trackbackCount { background:transparent url(../images/black/iconTrackback.gif) no-repeat left 1px; color:#888888; }
.boardRead .dateAndCount .replyAndTrackback .replyCount a,.boardRead .dateAndCount .replyAndTrackback .trackbackCount a { color:#888888; }
.boardRead .dateAndCount .readedCount { background:transparent url("../images/black/read.gif") no-repeat left top; color:#4A3FD7;}
.boardRead .dateAndCount .date { color:#888888; background:transparent url("../images/black/calendar.gif") no-repeat left top; }
.comment_popup_menu, .document_popup_menu { background:url(../images/black/document_menu.gif) no-repeat right top;}

.tagsBox { border:1px solid #888888; padding:10px; overflow:hidden;}
.tags div a:hover { background-color:#444444; color:#FFFFFF;}
.tags .tagTypeA a { color:#555555; background-color:#444444; margin:0;}
.tags .tagTypeB a { color:#888888; }
.tags .tagTypeC a { background-color:#333333;}
.tags .tagTypeD a { background-color:#111111;}
.boardRead .tag { background:transparent url(../images/common/iconTag.gif) no-repeat 3px 2px; }
.boardRead .fileAttached { border:1px solid #888888; background-color:transparent; padding:5px; margin-top:10px; overflow:hidden;}
.boardRead .fileAttached ul li a { color:#AAAAAA; }
.replyBox .fileAttached { border:1px solid #888888; background-color:transparent; padding:5px; margin-top:10px; overflow:hidden;}
.replyBox .fileAttached ul li a { color:#AAAAAA; }
.boardWrite dl.option dd * { color:#888888; }
.replyBox .replyItem { background-color:transparent; border-bottom:1px dotted #888888; }
.replyBox .date { color:#888888; }
.trackbackBox .trackbackItem { background-color:transparent; }

#fo_search select { background-color:transparent; color:#AAAAAA; }

.inputTypeText { background-color:transparent; color:#AAAAAA; }
.inputTypeText:hover, .inputTypeText:focus { background-color:transparent; color:#AAAAAA; }
.boardWrite .tag .inputTypeText { background:transparent; }

.secretContent { border:1px solid #888888; width:240px; }
.secretContent .title { background-color:#444444; color:#AAAAAA;}
.secretContent .content { background-color:#222222; color:#888888; }
.smallBox .messageBox { background-color:#444444; border-bottom:1px solid #888888; color:#AAAAAA;}
.boardRead .readBody { color:#BBBBBB; }

/* button */
a.button,
a.button span,
span.button,
span.button button,
span.button input { background-image:url(../../../../../common/tpl/images/buttonBlack.gif); color:#fff;}


.trackbackBox {border:1px solid #444444; }
.viewDocument { border:1px solid #444444; }
.replyBox { border:none; }
.replyBox .replyItem { border:none; border-top:1px dotted #444444;}
.boardWrite { border:1px solid #555555; }
.smallBox { border:1px solid #555555; }
.smallBox .header { background-color:transparent; }

/* Pagination*/
.pagination a, .pagination strong{ color:#888; }
.pagination a:hover, .pagination a:active, .pagination a:focus{ background-color:#555 !important; }
.pagination strong{ color:#ff6600 !important;}
.pagination.a1 a, .pagination.a1 strong{ background:#000; border-left:1px solid #555; border-right:1px solid #666; color:#888;}
.pagination.a1 a.prev, .pagination.a1 a.prevEnd, .pagination.a1 a.next, .pagination.a1 a.nextEnd { background:#000; }

.pagination.a2 a, .pagination.a2 strong{ background:#000; border-left:1px solid #555; border-right:1px solid #666; color:#888; }
.pagination.a2 a.prev, .pagination.a2 a.prevEnd, .pagination.a2 a.next, .pagination.a2 a.nextEnd { background:#000; }