<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="IS" type="view" standalone="true" />
        <action name="dispIntegration_searchAdminContent" type="view" admin_index="true" />
        <action name="dispIntegration_searchAdminGrantInfo" type="view" />
        <action name="dispIntegration_searchAdminSkinInfo" type="view" />

        <action name="procIntegration_searchAdminInsertConfig" type="controller" />
        <action name="procIntegration_searchAdminInsertSkin" type="controller" />
    </actions>
</module>
