.editor_window {
  width:400px;
  height:200px;
  text-align:center;
  clear:both;
}

.header {
  float:left;
  width:60px;
  clear:left;
  text-align:left;
  font-weight:bold;
  margin:5px;
  font-size:9pt;
  padding-left:20px;
}

.body {
  float:left;
  width:290px;
  text-align:left;
  margin:5px;
  font-size:9pt;
  font-size:9pt;
}

.editor_textarea {
  width:280px;
  height:50px;
  border:1px solid #AAAAAA;
  font-size:9pt;
}

.editor_input {
  width:280px;
  border:1px solid #AAAAAA;
  font-size:9pt;
}

.editor_button_area {
  text-align:center;
  background-color:#EEEEEE;
  padding-top:5px;
  height:30px;
  width:100%;
}

.editor_button {
  margin-top:4px;
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
}
