@charset "utf-8";
.editor_window {
    width:400px;
    clear:both;
}

.editor_title {
    font-size:10pt;
    font-weight:bold;
    clear:both;
    height:20px;
    background-color:#555555;
    color:#EFEFEF;
    vertical-align:middle;
    padding-top:5px;
    border-bottom:1px solid #000000;
    text-align:center;
}

.header {
    float:left;
    width:60px;
    clear:left;
    text-align:left;
    font-weight:bold;
    margin:5px;
    font-size:9pt;
    padding-left:20px;
}

.body {
    float:left;
    width:290px;
    text-align:left;
    margin:5px;
    font-size:9pt;
}

.editor_textarea {
    width:280px;
    height:50px;
    border:1px solid #AAAAAA;
    font-size:9pt;
}

.editor_input {
    width:280px;
    border:1px solid #AAAAAA;
    font-size:9pt;
    height:13px;
}

.editor_button_area {
    border-top:1px solid #AAAAAA;
    text-align:center;
    background-color:#EEEEEE;
    padding:0px 0px 2px 0px;
    clear:both;
    height:25px;
}

.editor_button {
    margin-top:4px;
    background-color:#FFFFFF;
    border:1px solid #AAAAAA;
    height:18px;
    font-size:9pt;
}
