$setting: 5px;

@import url('//fonts.googleapis.com/css?family=Raleway:700,400');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin mymixin($size) {
	font-family: '테스트', Raleway, monospace;
	margin: $size;
}
