@charset "UTF-8";
/* Original file: tests/_data/formatter/scss.source1.scss */
/* Original file: tests/_data/formatter/scss.source2.scss */
.rhymix {
  color: #123456;
  background: url("../_data/formatter/foo/bar.jpg");
}
.rhymix span {
  margin: 320px;
}

