<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispWidgetInfo" type="view" />
        <action name="dispWidgetGenerateCode" type="view" />
        <action name="dispWidgetGenerateCodeInPage" type="view" />
        <action name="dispWidgetStyleGenerateCodeInPage" type="view" />
        
		<action name="dispWidgetAdminDownloadedList" type="view" admin_index="true" menu_name="installedWidget" menu_index="true" />
        <action name="dispWidgetAdminAddContent" type="view" />
		<action name="dispWidgetAdminGenerateCode" type="view" menu_name="installedWidget" />
        
		<action name="procWidgetGenerateCode" type="controller" />
        <action name="procWidgetStyleExtraImageUpload" type="controller" />
        <action name="procWidgetStyleGenerateCodeInPage" type="controller" />
        <action name="procWidgetAddContent" type="controller" />
        <action name="procWidgetInsertDocument" type="controller" />
        <action name="procWidgetCopyDocument" type="controller" />
        <action name="procWidgetDeleteDocument" type="controller" />
        <action name="procWidgetGenerateCodeInPage" type="controller" ruleset="generateCodeInPage" />
        <action name="procWidgetGetColorsetList" type="controller" />

        <action name="procWidgetStyleExtraImageUpload" type="controller" />
        <action name="procWidgetStyleGenerateCodeInPage" type="controller" />
    </actions>
	<menus>
		<menu name="installedWidget">
			<title xml:lang="en">Widgets</title>
			<title xml:lang="ko">설치된 위젯</title>
			<title xml:lang="zh-CN">Widgets</title>
			<title xml:lang="jp">ウィジェット</title>
			<title xml:lang="es">Widgets</title>
			<title xml:lang="ru">Widgets</title>
			<title xml:lang="fr">Widgets</title>
			<title xml:lang="zh-TW">Widgets</title>
			<title xml:lang="vi">Widgets</title>
			<title xml:lang="mn">Widgets</title>
			<title xml:lang="tr">Widgets</title>
		</menu>
	</menus>
</module>
