.dp-highlighter
{
	font-family: "Consolas", "Courier New", "Courier", "mono", "serif";
	font-size: 12px;
	background-color: #E7E5DC;
	width: 99%;
	overflow: auto;
	padding-top: 1px; /* adds a little border on top when controls are hidden */
}

/* clear styles */
.dp-highlighter ol,
.dp-highlighter ol li,
.dp-highlighter ol li span
{
	margin: 0;
	padding: 0;
	border: none;
}

.dp-highlighter a,
.dp-highlighter a:hover
{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.dp-highlighter .bar
{
	padding-left: 45px;
}

.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar
{
	padding-left: 0px;
}

.dp-highlighter ol
{
	list-style: decimal; /* for ie */
	background-color: #fff;
	margin: 0px 0px 1px 45px !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
	padding: 0px;
	color: #5C5C5C;
}

.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter ol li
{
	list-style: none !important;
	margin-left: 0px !important;
}

.dp-highlighter ol li,
.dp-highlighter .columns div
{
	list-style: decimal; /* better look for others, override cascade from OL */
	list-style-position: outside !important;
	background-color: #F8F8F8;
	color: #5C5C5C;
	padding: 0 3px 0 10px !important;
	margin: 0 !important;
	line-height: 14px;
}

.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div
{
	border: 0;
}

.dp-highlighter .columns
{
	background-color: #F8F8F8;
	color: gray;
	overflow: hidden;
	width: 100%;
}

.dp-highlighter .columns div
{
	padding-bottom: 5px;
}

.dp-highlighter ol li.alt
{
	background-color: #FFF;
	color: inherit;
}

.dp-highlighter ol li span
{
	color: black;
	background-color: inherit;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol
{
	margin: 0px;
}

.dp-highlighter.collapsed ol li
{
	display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing
{
	border: none;
}

.dp-highlighter.printing .tools
{
	display: none !important;
}

.dp-highlighter.printing li
{
	display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .tools
{
	padding: 3px 8px 3px 10px;
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	background-color: #f8f8f8;
	padding-bottom: 10px;
}

.dp-highlighter.nogutter .tools
{
	border-left: 0;
}

.dp-highlighter.collapsed .tools
{
	border-bottom: 0;
}

.dp-highlighter .tools a
{
	font-size: 9px;
	color: #a0a0a0;
	background-color: inherit;
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .tools a:hover
{
	color: red;
	background-color: inherit;
	text-decoration: underline;
}

/* About dialog styles */

.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; color: #333; width: 60px; height: 22px; }

/* Language specific styles */

.dp-highlighter .comment,
.dp-highlighter .comments { color: #008200; background-color: inherit; }
.dp-highlighter .string { color: #FF00FF; background-color: inherit; }
.dp-highlighter .keyword { color: #0000FF; background-color: inherit; }
.dp-highlighter .preprocessor { color: gray; background-color: inherit; }
.dp-highlighter .func { color: #FF0000; }
.dp-highlighter .vars { color: #008080; }


/* Language specific styles */

.dp-c {}
.dp-c .comment { color: green; }
.dp-c .string { color: blue; }
.dp-c .preprocessor { color: gray; }
.dp-c .keyword { color: blue; }
.dp-c .vars { color: #d00; }

.dp-vb {}
.dp-vb .comment { color: green; }
.dp-vb .string { color: blue; }
.dp-vb .preprocessor { color: gray; }
.dp-vb .keyword { color: blue; }

.dp-sql {}
.dp-sql .comment { color: green; }
.dp-sql .string { color: red; }
.dp-sql .keyword { color: blue; }
.dp-sql .func { color: #ff1493; }
.dp-sql .op { color: #808080; }

.dp-xml {}
.dp-xml .cdata { color: #ff1493; }
.dp-xml .comments { color: green; }
.dp-xml .tag { font-weight: bold; color: blue; }
.dp-xml .tag-name { color: black; font-weight: bold; }
.dp-xml .attribute { color: red; }
.dp-xml .attribute-value { color: blue; }

.dp-delphi {}
.dp-delphi .comment { color: #008200; font-style: italic; }
.dp-delphi .string { color: blue; }
.dp-delphi .number { color: blue; }
.dp-delphi .directive { color: #008284; }
.dp-delphi .keyword { font-weight: bold; color: navy; }
.dp-delphi .vars { color: #000; }

.dp-py {}
.dp-py .comment { color: green; }
.dp-py .string { color: red; }
.dp-py .docstring { color: green; }
.dp-py .keyword { color: blue; font-weight: bold;}
.dp-py .builtins { color: #ff1493; }
.dp-py .magicmethods { color: #808080; }
.dp-py .exceptions { color: brown; }
.dp-py .types { color: brown; font-style: italic; }
.dp-py .commonlibs { color: #8A2BE2; font-style: italic; }

.dp-rb {}
.dp-rb .comment { color: #c00; }
.dp-rb .string  { color: #f0c; }
.dp-rb .symbol  { color: #02b902; }
.dp-rb .keyword { color: #069; }
.dp-rb .variable { color: #6cf; }

.dp-css {}
.dp-css .comment { color: green; }
.dp-css .string { color: red; }
.dp-css .value { color: red; }
.dp-css .keyword { color: blue; }
.dp-css .colors { color: darkred; }
.dp-css .vars { color: #d00; }

.dp-j {}
.dp-j .comment { color: rgb(63,127,95); }
.dp-j .string { color: rgb(42,0,255); }
.dp-j .keyword { color: rgb(127,0,85); font-weight: bold }
.dp-j .annotation { color: #646464; }
.dp-j .number { color: #C00000; }

.dp-cpp {}
.dp-cpp .comment { color: #e00; }
.dp-cpp .string { color: red; }
.dp-cpp .preprocessor { color: #CD00CD; font-weight: bold; }
.dp-cpp .keyword { color: #5697D9; font-weight: bold; }
.dp-cpp .datatypes { color: #2E8B57; font-weight: bold; }

.dp-php { color: #800000; }
.dp-php .comment { color: #008000; }
.dp-php .keyword { color: #4B00FB; }
.dp-php .string { color: #FB00FB; }
.dp-php .func { color: #FF0000; }
.dp-php .vars { color: #008080; }
.dp-php .zbxe_funcs { color: #FF6820; }
.dp-php .zbxe_class { color: #FF6820; font-weight: bold; }


.dp-abap { color: #800000; }
.dp-abap .comment { color: #008000; }
.dp-abap .keyword { color: #4B00FB; }
.dp-abap .string { color: #FB00FB; }
.dp-abap .datatypes { color: #2E8B57; font-weight: bold; }


pre[name='code'] {
    max-height: 300px;
    font-size: 1.1em;
    border: #666666 dotted 1px;
    border-left: #22AAEE solid 5px;
    padding: 5px;
    overflow: auto;
}


.ch_infobox {
    padding: 5px 0;
    width: 99%;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E5DC;
}

.ch_infobox .file_path {
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 10px;
}

.ch_infobox .description {
    color: #AAA;
    font-size: 0.9em;
    margin-left: 10px;
}