<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="dispMessage" type="view" standalone="true" index="true"/>
        <action name="dispMessageAdminConfig" type="view" standalone="true" admin_index="true"/>
        <action name="procMessageAdminInsertConfig" type="controller" standalone="true" />
    </actions>
</module>
