<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<action name="dispMessage" type="view" index="true" />
		<action name="dispMessageAdminConfig" type="view" admin_index="true" />
		<action name="procMessageAdminInsertConfig" type="controller" />
		<action name="getMessageAdminColorset" type="model" />
	</actions>
</module>
