<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="dispPageIndex" type="view" index="true" />
        <action name="dispPageAdminContent" type="view" admin_index="true" standalone="true" />
        <action name="dispPageAdminModuleConfig" type="view" standalone="true" />
        <action name="dispPageAdminInfo" type="view" standalone="true" />
        <action name="dispPageAdminInsert" type="view" standalone="true" />
        <action name="dispPageAdminDelete" type="view" standalone="true" />

        <action name="procPageAdminInsert" type="controller" standalone="true" />
        <action name="procPageAdminDelete" type="controller" standalone="true" />
        <action name="procPageAdminInsertConfig" type="controller" standalone="true" />
    </actions>
</module>
