<?xml version="1.0" encoding="UTF-8"?>
<module>
    <grants>
        <grant name="view" default="guest">
            <title xml:lang="ko">열람</title>
            <title xml:lang="zh-CN">查看</title>
            <title xml:lang="jp">閲覧</title>
            <title xml:lang="en">view</title>
            <title xml:lang="zh-TW">檢視</title>
        </grant>
        <grant name="manager" default="root">
            <title xml:lang="ko">관리</title>
            <title xml:lang="zh-CN">管理</title>
            <title xml:lang="jp">管理</title>
            <title xml:lang="en">manager</title>
            <title xml:lang="zh-TW">管理</title>
        </grant>
    </grants>
    <permissions>
        <permission action="procPageAdminRemoveWidgetCache" target="manager" />
        <permission action="dispPageAdminContentModify" target="manager" />
        <permission action="procPageAdminInsert" target="manager" />
        <permission action="procPageAdminInsertContent" target="manager" />
    </permissions>
    <actions>
        <action name="dispPageIndex" type="view" index="true" />
        <action name="dispPageAdminContent" type="view" admin_index="true" standalone="true" />
        <action name="dispPageAdminInfo" type="view" standalone="true" />
        <action name="dispPageAdminInsert" type="view" standalone="true" />
        <action name="dispPageAdminDelete" type="view" standalone="true" />
        <action name="dispPageAdminContentModify" type="view" standalone="true" />
        <action name="dispPageAdminAddContent" type="view" standalone="true" />

        <action name="procPageAdminRemoveWidgetCache" type="controller" standalone="true" />
        <action name="procPageAdminInsert" type="controller" standalone="true" />
        <action name="procPageAdminInsertContent" type="controller" standalone="true" />
        <action name="procPageAdminDelete" type="controller" standalone="true" />
        <action name="procPageAdminInsertConfig" type="controller" standalone="true" />
        <action name="procPageAdminAddContent" type="controller" standalone="true" />
    </actions>
</module>
