@charset "utf-8";
.xm em{font-style:normal;color:#f00}
.xm .x_nav a,
.xm .x_btn{text-decoration:none}
.xm .x_dl-horizontal>dd{margin-bottom:10px}
.xm .x_table{border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.xm .x_table>caption{text-align:left;font-weight:bold}
.xm .x_table>caption>.x_pull-right{position:relative;top:-8px}
@media all and (min-width:768px){
.xm .x_dl-horizontal>dt{margin-bottom:10px}
}