@charset "utf-8";

/* pathNavigation */
.openid_user_id { 
    background: url(../images/login-bg.gif) left no-repeat;
    background-color: #ffffff; 
    background-position: 0 50%;
    color: #000;
    padding-left: 18px; 
}
