.latest_black { width:100%; padding-bottom:15px; overflow:hidden; position:relative;}
.latest_black h2 { display:block; height:21px; padding:9px 0 0 9px; margin-bottom:12px; color:#ffffff; background:url(../images/black/lineNotice.gif) no-repeat left bottom; font-size:1em;}

.latest_black ul { }
.latest_black ul li { height:20px; background:url(../images/black/bulletD0.gif) no-repeat left 5px; padding-left:10px; overflow:hidden; list-style:none; white-space:nowrap;}

.latest_black ul li .title a { color:#818181; text-decoration:none; }
.latest_black ul li .title a:hover { text-decoration:underline; }
.latest_black ul li .title span.comment { color:#FE6700; font:.8em Tahoma; }
.latest_black ul li .title span.comment a { color:#FE6700; font:.8em Tahoma; }

.latest_black ul li .date { color:#999999; font:.8em Tahoma; white-space:nowrap; margin-right:5px;}

.latest_black .more { position:absolute; top:12px; right:11px; color:#54564b; font:.8em Tahoma;}
.latest_black a.more { text-decoration:none;} 
.latest_black a.more:hover { text-decoration:underline;} 
