@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.widgetBoxContainer{ position:relative;}

.widgetBox{ position:relative; *zoom:1; }
.widgetBox:after{content:""; display:block; clear:both; }
.widgetBox .widgetBoxHeader{ font-size:16px; font-family:Tahoma; margin:0; z-index:10;}
.widgetBox .widgetContainer{ position:relative; z-index:10;}
.widgetBox .widgetMore{ position:absolute; display:block; text-decoration:none; font-size:11px !important; white-space:nowrap; font-family:Tahoma; color:#000; text-align:center; z-index:20;}
.widgetBox .widgetMore img{ border:0;}
.widgetBox .rcContainer{ display:block; width:100%; font-size:0; line-height:0; z-index:1; *zoom:1;}
.widgetBox .rc{ position:absolute; display:block; font-size:0; line-height:0; overflow:hidden;}
.widgetBox .rcTop .tl{ top:0;}
.widgetBox .rcTop .tr{ top:0;}
.widgetBox .rcBottom .bl{ top:0;}
.widgetBox .rcBottom .br{ top:0;}

.widgetBoxJgray .widgetBox{ background:#efefed; padding-bottom:5px; background-image:url(../img/widgetBgJgray.gif); background-repeat:repeat-x;}
.widgetBoxJgray .widgetBoxHeader{ position:relative; padding:7px 0; text-indent:15px; border-bottom:1px solid #fff;}
.widgetBoxJgray .widgetMore{ top:10px; right:15px;}
.widgetBoxJgray .rcContainer{ display:none !important;}

.widgetBoxJred .widgetBox{ background:#f9e3e0; padding-bottom:5px; background-image:url(../img/widgetBgJred.gif); background-repeat:repeat-x;}
.widgetBoxJred .widgetBoxHeader{ position:relative; padding:7px 0; text-indent:15px; border-bottom:1px solid #fff;}
.widgetBoxJred .widgetMore{ top:10px; right:15px;}
.widgetBoxJred .rcContainer{ display:none !important;}

.widgetBoxJgreen .widgetBox{ background:#d7fcd3; padding-bottom:5px; background-image:url(../img/widgetBgJgreen.gif); background-repeat:repeat-x;}
.widgetBoxJgreen .widgetBoxHeader{ position:relative; padding:7px 0; text-indent:15px; border-bottom:1px solid #fff;}
.widgetBoxJgreen .widgetMore{ top:10px; right:15px;}
.widgetBoxJgreen .rcContainer{ display:none !important;}

.widgetBoxJblue .widgetBox{ background:#e6e6f7; padding-bottom:5px; background-image:url(../img/widgetBgJblue.gif); background-repeat:repeat-x;}
.widgetBoxJblue .widgetBoxHeader{ position:relative; padding:7px 0; text-indent:15px; border-bottom:1px solid #fff;}
.widgetBoxJblue .widgetMore{ top:10px; right:15px;}
.widgetBoxJblue .rcContainer{ display:none !important;}
