<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispKrzipAdminConfig" type="view" admin_index="true" standalone="true" />
        <action name="procKrzipAdminInsertConfig" type="controller" standalone="true" />
        <action name="getKrzipCodeList" type="model" index="true" standalone="true" />
    </actions>
</module>
