.login_default { margin:0; padding:0; border:2px solid #d9d9d9; width:196px; position:relative; _padding-top:2px; display:block;}
*:first-child+html body .login_default { padding-top:2px;}
.login_default legend { display:none; width:0; height:0; overflow:hidden; font-size:0;}
.login_default form { position:relative; border:1px solid #cacaca; padding:11px 11px 7px 11px; width:172px;}
.login_default form .idpwWrap { overflow:hidden; clear:both; width:172px;}
.login_default form .idpw { float:left; width:110px; }
.login_default form .idpw input { border:1px solid #c9c9c9; color:#282828; width:105px; background:#fbfbfb; padding:1px 5px; margin-bottom:2px; font:.9em Tahoma;}
.login_default form .login { float:right;}

.login_default form p.securitySignIn { clear:both; padding:0 0 0 18px; margin:4px 0 0 0; }
.login_default form p.noneSSL { background:url("../images/none_ssl.png") no-repeat left top; }
.login_default form p.SSL { background:url("../images/ssl.png") no-repeat left top; }
.login_default form p.noneSSL a { color:#BF6801; text-decoration:none; }
.login_default form p.SSL a { color:#9CAC74; text-decoration:none; }

.login_default form p.save { margin:0; clear:both; padding:.3em 0;}
.login_default form p.save input { vertical-align:middle; _margin:-3px;}
*:first-child+html body .login_default form p input { margin:-3px; }
.login_default form p.save label { font:.9em; color:#999999;}
.login_default form ul.help { margin:0; border-top:1px solid #e4e4e4; overflow:hidden; padding:.5em 0 0 0; white-space:nowrap; list-style:none; }
.login_default form ul.help li { display:block; padding:0 3px 0 0; }
.login_default form ul.help li.first-child { background:none; padding-left:0; margin-bottom:3px; }
.login_default form ul.help li a { color:#54564b; font:.9em; white-space:nowrap; text-decoration:none; }
.login_default form ul.help li.first-child a { color:#54564b; text-decoration:none;}
.login_default form ul.help li a:hover { text-decoration:underline; }
.login_default form .userName { position:relative; width:172px; overflow:hidden; border-bottom:1px solid #e4e4e4; padding:0 0 6px 0; margin-top:-5px;}
.login_default form .userName strong { color:#282828; padding:4px 0 0 2px; font:bold .9em Tahoma;}
.login_default form .userName a { position:relative; right:0px; }
.login_default form ul.userMenu { margin:0; position:relative; padding:0 0 6px 4px; margin-top:10px;}
.login_default form ul.userMenu li { list-style:none; padding-left:10px; background:url(../images/default/bulletFF1A00.gif) no-repeat left 4px;  margin-bottom:5px;}
.login_default form ul.userMenu li a { color:#54564b; text-decoration:none;}
.login_default form ul.userMenu li a:hover { text-decoration:underline;}
.login_default form p.latestLogin { margin:0; color:#999999; font:.9em;}
.login_default form p.latestLogin span { font:1em Tahoma;}

img.login_mask { width:201px; height:5px; background:#ffffff; display:block;}
.openid_login_default { margin:0; padding:0; border:2px solid #d9d9d9; width:196px; position:relative; _padding-top:2px; display:block; }
*:first-child+html body .openid_login_default { padding-top:2px;}
.openid_login_default legend { display:none; width:0; height:0; overflow:hidden; font-size:0;}
.openid_login_default form { position:relative; border:1px solid #cacaca; padding:11px 11px 7px 11px; width:172px; }
.openid_login_default form .idpwWrap { overflow:hidden; clear:both; width:172px;}
.openid_login_default form .idpw { float:left;}
.openid_login_default form .idpw p { margin:0; padding:0; margin-bottom:5px; background: url(../images/openid_login_bg.gif) left no-repeat; padding-left:18px; font-size:.9em Tahoma;color:#999999}
.openid_login_default form .idpw input { border:1px solid #c9c9c9; color:#282828; width:105px; background:#fbfbfb; padding:1px 5px; margin-bottom:2px; font:.9em Tahoma; }
.openid_login_default form .login { float:right;}
.openid_login_default form p.save { margin:0; padding:0; clear:both; padding:.3em 0;}
.openid_login_default form p.save input { vertical-align:middle; _margin:-3px;}
*:first-child+html body .openid_login_default form p input { margin:-3px; }
.openid_login_default form p.save label { font:.9em; color:#999999;}
