<!--#include("header.html")-->
<!-- 레이아웃의 목록 -->
<div class="table">
	<table width="100%" border="1" cellspacing="0">
<thead>
    <tr>
        <th scope="col" class="halfwide">{$lang->layout_name}</th>
        <th scope="col">{$lang->version}</th>
        <th scope="col">{$lang->author}</th>
        <th scope="col">{$lang->menu_count}</th>
        <th scope="col">{$lang->date}</th>
        <th scope="col">{$lang->path}</th>
        <th scope="col">{$lang->cmd_make}</th>
    </tr>
</thead>
<tbody>
    <!--@foreach($layout_list as $key => $val)-->

        <!--// 레이아웃 정보 파일(conf/info.xml)가 있는 경우-->
        <!--@if($val->title)-->
        <tr class="row{$cycle_idx}">
            <th rowspan="2"> <a href="{getUrl('','module','layout','act','dispLayoutAdminInfo','selected_layout',$val->layout)}" onclick="popopen(this.href,'layout_info');return false" class="blue">{$val->title}</a> <br />
                ({$val->layout})            </th>
            <td>{$val->version}</td>
            <td>
                <!--@foreach($val->author as $author)-->
                <!--@if($author->homepage)--><a href="{$author->homepage}" onclick="window.open(this.href);return false;"><!--@end-->{$author->name}<!--@if($author->homepage)--></a><!--@end-->
                <!--@endforeach-->
            </td>
            <td>{$val->menu_count}</td>
            <td>{zdate($val->date, 'Y-m-d')}</td>
            <td>{$val->path}</td>
            <td><a href="{getUrl('act','dispLayoutAdminInsert','layout',$val->layout)}">{$lang->cmd_make}</a></td>
        </tr>
        <tr>
            <td colspan="6" >
                {nl2br(trim($val->description))}
            </td>
        </tr>
        <!--// 레이아웃 정보 파일(conf/info.xml)이 없는 경우 -->
        <!--@else-->
        <tr>
            <td colspan="6">{$val->layout}</td>
            <td class="tahoma">{$val->path}</td>
            <td class="tahoma blue"><a href="{getUrl('act','dispLayoutAdminInsert','layout',$val->layout)}">{$lang->cmd_make}</a></td>
        </tr>
        <!--@end-->
    <!--@end-->
</tbody>
</table>
</div>
