<!--#include("header.html")-->

<!-- 레이아웃의 목록 -->
<table cellspacing="0" class="adminTable">
<thead>
    <tr>
        <th scope="col" class="halfwide"><div>{$lang->layout_name}</div></th>
        <th scope="col"><div>{$lang->version}</div></th>
        <th scope="col"><div>{$lang->author}</div></th>
        <th scope="col"><div>{$lang->menu_count}</div></th>
        <th scope="col"><div>{$lang->date}</div></th>
        <th scope="col"><div>{$lang->path}</div></th>
        <th scope="col"><div>{$lang->cmd_make}</div></th>
    </tr>
</thead>
<tbody>
    <!--@foreach($layout_list as $key => $val)-->

        <!--// 레이아웃 정보 파일(conf/info.xml)가 있는 경우-->
        <!--@if($val->title)-->
        <tr class="row{$cycle_idx}">
            <th rowspan="2">
                <div>
                    <a href="{getUrl('','module','layout','act','dispLayoutAdminInfo','selected_layout',$val->layout)}" onclick="popopen(this.href,'layout_info');return false" class="blue">{$val->title}</a> <br />
                    ({$val->layout})
                </div>
            </th>
            <td class="number center">{$val->version}</td>
            <td class="center nowrap">
                <!--@foreach($val->author as $author)-->
                <!--@if($author->homepage)--><a href="{$author->homepage}" onclick="window.open(this.href);return false;"><!--@end-->{$author->name}<!--@if($author->homepage)--></a><!--@end-->
                <!--@endforeach-->
            </td>
            <td class="number center">{$val->menu_count}</td>
            <td class="date center nowrap">{zdate($val->date, 'Y-m-d')}</td>
            <td class="nowrap">{$val->path}</td>
            <td class="center"><a href="{getUrl('act','dispLayoutAdminInsert','layout',$val->layout)}" class="button"><span>{$lang->cmd_make}</span></a></td>
        </tr>
        <tr>
            <td colspan="6" class="left">
                {nl2br(trim($val->description))}
            </td>
        </tr>
        <!--// 레이아웃 정보 파일(conf/info.xml)이 없는 경우 -->
        <!--@else-->
        <tr>
            <td colspan="6">{$val->layout}</td>
            <td class="tahoma">{$val->path}</td>
            <td class="tahoma blue"><a href="{getUrl('act','dispLayoutAdminInsert','layout',$val->layout)}">{$lang->cmd_make}</a></td>
        </tr>
        <!--@end-->
    <!--@end-->
</tbody>
</table>
