<!--%import("js/layout_admin.js")-->

<!-- 관리자 페이지용 메뉴 -->
<!--@if($module == 'admin')-->
    <div style="margin-bottom:20px;">
        <span <!--@if($act=='dispLayoutAdminContent')-->style="font-weight:bold"<!--@end-->>[<a href="{getUrl('act','dispLayoutAdminContent')}">{$lang->layout_list}</a>]</span>
        <span <!--@if($act=='dispLayoutAdminDownloadedList')-->style="font-weight:bold"<!--@end-->>[<a href="{getUrl('act','dispLayoutAdminDownloadedList')}">{$lang->downloaded_list}</a>]</span>
    </div>
<!--@end-->

<!-- 레이아웃 수정 메뉴 -->
<!--@if($layout_info)-->
    <div style="margin-bottom:20px;">
        <!--@if($act=='dispLayoutAdminModify')-->
            {$lang->cmd_layout_management}
        <!--@elseif($act=='dispLayoutAdminEdit')-->
            {$lang->cmd_layout_edit}</a>
        <!--@end-->
    </div>
<!--@end-->
