<!--%import("js/layout_admin.js")-->

<h3>{$lang->layout} <span class="gray">{$lang->cmd_management}</span></h3>

<div class="infoText">{nl2br($lang->about_layout)}</div>

<!-- 관리자 페이지용 메뉴 -->
<!--@if($module == 'admin')-->
<div class="header4">
    <ul class="localNavigation">
        <li <!--@if($act=='dispLayoutAdminContent')-->class="on"<!--@end-->><a href="{getUrl('act','dispLayoutAdminContent')}">{$lang->layout_list}</a></li>
        <li <!--@if($act=='dispLayoutAdminDownloadedList')-->class="on"<!--@end-->><a href="{getUrl('act','dispLayoutAdminDownloadedList')}">{$lang->downloaded_list}</a></li>
    </ul>
</div>
<!--@end-->
