<!--%import("filter/delete_layout.xml")-->

<!--#include("header.html")-->

<!-- 삭제를 위한 임시 form -->
<form id="fo_layout" action="./" method="get" onsubmit="return procFilter(this, delete_layout)">
    <input type="hidden" name="layout_srl" value="" />
</form>

<!-- 목록 -->
<table cellspacing="0" class="adminTable">
<!--@if($lang_type == 'ko')-->
{@ $col_width = array(50,0,0,65,95,95,45)}
<!--@else if($lang_type == 'en')-->
{@ $col_width = array(50,0,0,80,95,80,55)}
<!--@else if($lang_type == 'zh-CN')-->
{@ $col_width = array(80,0,0,65,65,65,45)}
<!--@else if($lang_type == 'jp')-->
{@ $col_width = array(50,0,0,65,105,105,45)}
<!--@else if($lang_type == 'es')-->
{@ $col_width = array(80,0,0,75,100,110,70)}
<!--@else if($lang_type == 'ru')-->
{@ $col_width = array(80,0,0,90,130,150,65)}
<!--@else if($lang_type == 'fr')-->
{@ $col_width = array(50,0,0,80,110,110,60)}
<!--@end-->

<!--@foreach($col_width as $width)-->
<col <!--@if($width)-->width="{$width}" <!--@end-->/>
<!--@end-->
<thead>
    <tr>
        <th scope="col">{$lang->no}</th>
        <th scope="col">{$lang->layout}</th>
        <th scope="col">{$lang->title}</th>
        <th scope="col">{$lang->regdate}</th>
        <th scope="col">{$lang->cmd_layout_management}</th>
        <th scope="col">{$lang->cmd_layout_edit}</th>
        <th scope="col">{$lang->cmd_delete}</th>
    </tr>
</thead>
<tbody>
    <!--@foreach($layout_list as $no => $val)-->
    <tr>
        <td class="tahoma">{$no+1}</td>
        <td>
            {$val->layout}
            <!--@if($val->module_srl)-->
            (module) 
            <!--@end-->
        </td>
        <td>{htmlspecialchars($val->title)}</td>
        <td class="tahoma">{zdate($val->regdate,"Y-m-d")}</td>
        <td>
            <!--@if(!$val->module_srl)-->
                <a href="{getUrl('act','dispLayoutAdminModify','layout_srl',$val->layout_srl)}" class="blue">{$lang->cmd_layout_management}</a>
            <!--@else-->
                &nbsp;
            <!--@end-->
        </td>
        <td>
            <a href="{getUrl('act','dispLayoutAdminEdit','layout_srl',$val->layout_srl)}" class="blue">{$lang->cmd_layout_edit}</a>
        </td>
        <td><a href="#" onclick="doDeleteLayout('{$val->layout_srl}');return false;" class="red">{$lang->cmd_delete}</a></td>
    </tr>
    <!--@end-->
</tbody>
</table>

<!-- 버튼 -->
<div class="tRight gap1">
    <a href="{getUrl('act','dispLayoutAdminInsert','layout_srl','')}" class="button"><span>{$lang->cmd_make}</span></a>
</div>
