<!--#include("header.html")-->

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="insertLayout" action="./" method="post">
	<input type="hidden" name="act" value="procLayoutAdminInsert" />
	<input type="hidden" name="layout_type" value="{$layout_type}" />
	<div class="table">
		<table width="100%" border="1" cellspacing="0">
			<tr>
				<th scope="row">{$lang->layout_name}</th>
				<td>
					<select name="layout">
						<option value="faceoff">faceoff</option>
						
						<optgroup label="{$lang->downloaded_list}">
						<!--@foreach($layout_list as $key => $val)-->
						<option value="{$val->layout}" <!--@if($layout == $val->layout)-->selected="selected"<!--@end-->> <!--@if($val->title)-->{$val->title} ({$val->layout})<!--@else-->{$val->layout}<!--@end--></option>
						<!--@end-->
						</optgroup>
						
					</select>
				</td>
			</tr>
			<tr class="row2">
				<th scope="row">{$lang->title}</th>
				<td>
					<input type="text" name="title" value="{$info->title}" class="inputTypeText w400" />
					<p>{$lang->about_title}</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_next}" /></span>
	</div>
</form>
