<div id="popHeader">
    <h3 class="xeAdmin">{$lang->layout_maker}</h3>
</div>

<div id="popBody">
    <table cellspacing="0" class="rowTable">
    <tr class="row2">
        <th scope="row"><div>{$lang->title}</div></th>
        <td>{$layout_info->title} ver {$layout_info->version}</td>
    </tr>
    <tr>
        <th scope="row"><div>{$lang->author}</div></th>
        <td>
            <!--@foreach($layout_info->author as $author)-->
            {$author->name} <!--@if($author->homepage || $author->email_address)-->(<!--@if($author->homepage)--><a href="{$author->homepage}" onclick="window.open(this.href);return false;">{$author->homepage}</a><!--@end--><!--@if($author->homepage && $author->email_address)-->, <!--@end--><!--@if($author->email_address)--><a href="mailto:{$author->email_address}">{$author->email_address}</a><!--@end-->)<!--@end--><br />
            <!--@endforeach-->
        </td>
    </tr>
<!--@if($layout_info->homepage)-->
    <tr class="row2">
        <th scope="row"><div>{$lang->homepage}</div></th>
        <td><a href="{$layout_info->author->homepage}" onclick="window.open(this.href);return false;">{$layout_info->homepage}</a></td>
    </tr><!--@end-->
    <tr>
        <th scope="row"><div>{$lang->regdate}</div></th>
        <td>{zdate($layout_info->date, 'Y-m-d')}</td>
    </tr>
<!--@if($layout_info->license || $layout_info->license_link)-->
    <tr class="row2">
        <th scope="row"><div>{$lang->layout_license}</div></th>
        <td>
            {nl2br(trim($layout_info->license))}
        <!--@if($layout_info->license_link)-->
            <p><a href="{$layout_info->license_link}" onclick="window.close(); return false;">{$layout_info->license_link}</a></p>
        <!--@end-->
            &nbsp;
        </td>
    </tr><!--@end-->
<!--@if($layout_info->description)-->
    <tr>
        <th scope="row"><div>{$lang->description}</div></th>
        <td>{nl2br(trim($layout_info->description))}</td>
    </tr><!--@end-->
    </table>
</div>

<!--@if($layout_info->history)-->
<div id="popHistoryHeadder">
    <h3 class="xeAdmin">{$lang->layout_history}</h3>
</div>

<div id="popHistoryBody">
    <table cellspacing="0" class="rowTable">
    <!--@foreach($layout_info->history as $history)-->
    <tr class="row{$cycle_idx}">
        <th scope="row"><div>
            {$history->version}<br />
            {zdate($history->date, 'Y-m-d')}
        </div></th>
        <td>
            <!--@foreach($history->author as $author)-->
            <p>{$author->name} (<a href="{$author->homepage}" onclick="window.open(this.href);return false;">{$author->homepage}</a> / <a href="mailto:{$author->email_address}">{$author->email_address}</a>)</p>
            <!--@endforeach-->
            <!--@if($history->description)-->
            <p>{nl2br(trim($history->description))}</p>
            <!--@endif-->
            <!--@if($history->logs)-->
            <ul>
                <!--@foreach($history->logs as $log)-->
                <!--@if($log->link)-->
                    <li><a href="{$log->link}" onclick="window.close(); return false;">{$log->text}</a></li>
                <!--@else-->
                    <li>{$log->text}</li>
                <!--@endif-->
                <!--@endforeach-->
            </ul>
            <!--@endif-->
        </td>
    </tr>
    <!--@endforeach-->
    </table>
</div>
<!--@endif-->
