<include target="header.html" />
<load target="js/adminList.js" />
<script>
	xe.lang.confirm_delete = '{$lang->confirm_delete}';
</script>
<include target="sub_tab.html" />
<table class="x_table x_table-striped x_table-hover dsTg">
	<caption>
		<div class="x_pull-right x_btn-group">
			<button class="x_btn x_active __simple">{$lang->simple_view}</button>
			<button class="x_btn __detail">{$lang->detail_view}</button>
		</div>
	</caption>
	<thead>
		<tr>
			<th scope="col" class="nowr rx_detail_marks">{$lang->number}</th>
			<th scope="col" class="nowr">{$lang->title} ({$lang->layout_name})</th>
			<th scope="col" class="nowr">{$lang->regdate}</th>
			<th scope="col" class="nowr">{$lang->cmd_setup}</th>
			<th scope="col" class="nowr">{$lang->cmd_edit}</th>
			<th scope="col" class="nowr">{$lang->cmd_copy}</th>
			<th scope="col" class="nowr rx_detail_marks">{$lang->cmd_delete}</th>
		</tr>
	</thead>
	<tbody>
		{@$count=1}
		<!--@foreach($layout_list as $layout)-->
		{@$layout_name = $layout['title']}
		{@unset($layout['title'])}
		<tr loop="$layout => $no, $item">
			<td rowspan="{count($layout)}" cond="$no === 0" class="rx_detail_marks">{$count++}</td>
			<td>{$item->title} ({$layout_name})</td>
			<td>{zdate($item->regdate, "Y-m-d")}</td>
			<td><a href="{getUrl('act', 'dispLayoutAdminModify', 'layout_srl', $item->layout_srl)}">{$lang->cmd_setup}</a></td>
			<td><a href="{getUrl('act', 'dispLayoutAdminEdit', 'layout_srl', $item->layout_srl)}">{$lang->cmd_edit}</a></td>
			<td><a href="{getUrl('', 'module', 'layout', 'act', 'dispLayoutAdminCopyLayout', 'layout_srl', $item->layout_srl)}" onclick="popopen(this.href);return false;" title="{$lang->cmd_copy}">{$lang->cmd_copy}</a></td>
			<td class="rx_detail_marks">
				<form cond="count($layout) > 1" class="layout_delete_form" ruleset="deleteLayout" action="./" method="post">
					<input type="hidden" name="module" value="layout" />
					<input type="hidden" name="act" value="procLayoutAdminDelete" />
					<input type="hidden" name="layout_srl" value="{$item->layout_srl}" />
					<input class="x_btn x_btn-link" type="submit" value="{$lang->cmd_delete}" />
					<input type="hidden" name="xe_validator_id" value="modules/layout/tpl/layout_all_instance_list/1" />
				</form>
			</td>
		</tr>
		<!--@end-->
	</tbody>
</table>
