<include target="header.html" />
<load target="js/adminList.js" />
<script>
xe.lang.confirm_delete = '{$lang->confirm_delete}';
</script>
<div cond="$layout_info->layout != 'faceoff'" class="x_clearfix">
	<div class="x_btn-group x_pull-right">
		<a href="#insertLayout" class="x_btn modalAnchor">{$lang->cmd_insert}</a>
	</div>
</div>
{@ $isDeletable = count($layout_list) > 1 ? TRUE : FALSE}
<table class="x_table x_table-striped x_table-hover">
	<thead>
		<tr>
			<th scope="col" class="nowr">{$lang->no}</th>
			<th scope="col" class="nowr">{$lang->title}</th>
			<th scope="col" class="nowr">{$lang->regdate}</th>
			<th scope="col" class="nowr">{$lang->cmd_setup}</th>
			<th scope="col" class="nowr">{$lang->cmd_edit}</th>
			<th scope="col" class="nowr">{$lang->cmd_copy}</th>
			<th scope="col" class="nowr">{$lang->cmd_delete}</th>
		</tr>
	</thead>
	<tbody>
		<tr loop="$layout_list => $no, $layout">
			<td class="nowr">{$no+1}</td>
			<td class="title">{$layout->title}</td>
			<td class="nowr">{zdate($layout->regdate, "Y-m-d")}</td>
			<td class="nowr"><a href="{getUrl('act', 'dispLayoutAdminModify', 'layout_srl', $layout->layout_srl)}">{$lang->cmd_setup}</a></td>
			<td class="nowr"><a href="{getUrl('act', 'dispLayoutAdminEdit', 'layout_srl', $layout->layout_srl)}">{$lang->cmd_edit}</a></td>
			<td class="nowr"><a href="{getUrl('', 'module', 'layout', 'act', 'dispLayoutAdminCopyLayout', 'layout_srl', $layout->layout_srl)}" onclick="popopen(this.href);return false;" title="{$lang->cmd_copy}">{$lang->cmd_copy}</a></td>
			<td class="nowr">
				<form cond="$isDeletable" class="layout_delete_form" ruleset="deleteLayout" action="./" method="post">
					<input type="hidden" name="module" value="layout" />
					<input type="hidden" name="act" value="procLayoutAdminDelete" />
					<input type="hidden" name="layout_srl" value="{$layout->layout_srl}" />
					<input class="x_btn x_btn-link" type="submit" value="{$lang->cmd_delete}" />
					<input type="hidden" name="xe_validator_id" value="modules/layout/tpl/layout_instance_list/1" />
				</form>
			</td>
		</tr>
	</tbody>
</table>
<div cond="$layout_info->layout != 'faceoff'" class="x_clearfix">
	<div class="x_btn-group x_pull-right">
		<a href="#insertLayout" class="x_btn modalAnchor">{$lang->cmd_insert}</a>
	</div>
</div>

<section id="insertLayout" class="x_modal">
	<form action="./" method="post" ruleset="insertLayout" class="x_form-horizontal">
		<input type="hidden" name="module" value="layout" />
		<input type="hidden" name="act" value="procLayoutAdminInsert" />
		<input type="hidden" name="layout" value="{$layout_info->layout}" />
		<input type="hidden" name="_layout_type" value="{$type}" />
		<input type="hidden" name="success_return_url" value="{getUrl('act', 'dispLayoutAdminInstanceList')}" />
		<input type="hidden" name="xe_validator_id" value="modules/layout/tpl/layout_instance_list/2" />
		<div class="x_modal-header">
			<h1>{$lang->cmd_insert}</h1>
		</div>
		<div class="x_modal-body">
			<div class="x_control-group">
				<label class="x_control-label">{$lang->layout}</label>
				<div class="x_controls" style="padding-top:3px">
					{$layout_info->title} ver {$layout_info->version} ({$layout_info->layout})
				</div>
			</div>
			<div cond="$layout_info->path" class="x_control-group">
				<label class="x_control-label">{$lang->path}</label>
				<div class="x_controls" style="padding-top:3px">
					{$layout_info->path}
				</div>
			</div>
			<div cond="$layout_info->description" class="x_control-group">
				<label class="x_control-label">{$lang->description}</label>
				<div class="x_controls" style="padding-top:3px">
					{$layout_info->description}
				</div>
			</div>
			<div class="x_control-group">
				<label class="x_control-label">{$lang->author}</label>
				<div class="x_controls" style="padding-top:3px">
					<block loop="$layout_info->author=>$author_info">
						<!--@if($author_info->homepage)-->
						<a href="{$author_info->homepage}" target="_blank">{$author_info->name}</a>
						<!--@else-->
						{$author_info->name}
						<!--@end-->
					</block>
				</div>
			</div>
			<div class="x_control-group">
				<label class="x_control-label">{$lang->title}</label>
				<div class="x_controls">
					<input type="text" name="title" value="" />
					<p class="x_help-inline">{$lang->about_title}</p>
				</div>
			</div>
		</div>
		<div class="x_modal-footer">
			<button type="button" class="x_btn x_pull-left" data-hide="#insertLayout">{$lang->cmd_close}</button>
			<span class="x_btn-group x_pull-right">
				<button type="submit" class="x_btn x_btn-primary">{$lang->cmd_insert}</button>
			</span>
		</div>
	</form>
</section>
