<!--%import("filter/update_layout_code.xml")-->
<!--%import("filter/reset_layout_code.xml")-->

<!--#include("header.html")-->

<table cellspacing="0" class="tableType3 gap1">
<thead>
    <tr>
        <th scope="col">{$selected_layout->title} ver {$selected_layout->version} ({$selected_layout->layout})</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="left blue">{nl2br($lang->about_layout_code)}</td>
    </tr>
</tbody>
</table>

<table cellspacing="0" class="widgetBox gap1">
<col width="80" />
<col />
<tr>
    <th>{$lang->widget}</th>
    <td>
        <ul class="buttonLeft nospace">
        <!--@foreach($widget_list as $widget)-->
            <li class="widget_item"><a href="#" onclick="popopen('./?module=widget&amp;act=dispWidgetGenerateCode&amp;selected_widget={$widget->widget}&amp;module_srl={$module_srl}','GenerateCodeInPage');return false;" class="buttonTypeA"><img src="../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$widget->title}<img src="../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
        <!--@end-->
        </ul>
    </td>
</tr>
</table>

<div class="gap1">
    <form id="fo_layout" action="./" method="post" onsubmit="return procFilter(this, update_layout_code);">
        <input type="hidden" name="layout_srl" value="{$layout_srl}" />
        <input type="hidden" name="module" value="layout" />
        <input type="hidden" name="act" value="" />

        <div class="layout_editor_box">
            <textarea name="code" class="layout_editor">{htmlspecialchars($layout_code)}</textarea>
        </div>

        <ul class="buttonRight">
            <li><span class="buttonTypeA"><img src="../../admin/tpl/images/blank.gif" alt="" class="leftCap" /><img src="../../admin/tpl/images/iconCreate.gif" width="8" height="4" alt="" class="icon" /><input type="submit" value="{$lang->cmd_save}" /><img src="../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></span></li>
            <li><a href="#" onclick="doPreviewLayoutCode();return false"  class="buttonTypeA"><img src="../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_preview}<img src="../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
            <li><a href="#"  onclick="doResetLayoutCode('{$layout_srl}');return false"  class="buttonTypeA"><img src="../../admin/tpl/images/blank.gif" alt="" class="leftCap" />{$lang->cmd_reset}<img src="../../admin/tpl/images/blank.gif" alt="" class="rightCap" /></a></li>
        </ul>
    </form>
</div>
