<include target="header.html" />
<load target="js/layout_modify.js" />

<h2 cond="$act == 'dispLayoutAdminModify'" class="h2">{$selected_layout->layout_title}</h2>
<h2 cond="$act == 'dispLayoutAdminInsert'" class="h2">{$selected_layout->title}</h2>

<form id="config_form" ruleset="updateLayout"|cond="$act == 'dispLayoutAdminModify'" ruleset="insertLayout"|cond="$act == 'dispLayoutAdminInsert'" action="./" class="form" enctype="multipart/form-data" method="post">
	<input type="hidden" name="module" value="layout" />
	<input type="hidden" name="act" value="procLayoutAdminUpdate"|cond="$act == 'dispLayoutAdminModify'" value="procLayoutAdminInsert"|cond="$act == 'dispLayoutAdminInsert'" />
	<input type="hidden" name="layout_srl" value="{$layout_srl}" />
	<input type="hidden" name="layout" value="{$selected_layout->layout}" />
	<input type="hidden" name="_layout_type" value="{$selected_layout->layout_type}" />
	<input type="hidden" name="success_return_url" value="{getUrl('act', 'dispLayoutAdminInstanceList')}" />
	<!--// For submit config. Do not delete this division. -->
	<div></div>
</form>

<div id="layout_config" class="form">
	<ul>
		<li>
			<p class="q">{$lang->layout}</p>
			<p class="a">{$selected_layout->title} ver {$selected_layout->version} ({$selected_layout->layout})</p>
		</li>
		<li cond="$selected_layout->path">
			<p class="q">{$lang->path}</p>
			<p class="a">{$selected_layout->path}</p>
		</li>
		<li cond="$selected_layout->description">
			<p class="q">{$lang->description}</p>
			<p class="a">{$selected_layout->description}</p>
		</li>
		<li cond="$selected_layout->author->homepage">
			<p class="q">{$lang->author}</p>
			<p class="a"><a href="{$selected_layout->author->homepage}" target="_blank">{$selected_layout->author->name}</a></p>
		</li>
		<li>
			<p class="q">{$lang->title} <em>*</em></p>
			<p class="a">
				<input type="text" name="title" value="{$selected_layout->layout_title}" />
			</p>
			<p class="desc">{$lang->about_title}</p>
		</li>
		<li>
			<p class="q">{$lang->header_script}</p>
			<p class="a">
				<textarea name="header_script" rows="8" cols="42">{$selected_layout->header_script}</textarea>
			</p>
			<p class="desc">{$lang->about_header_script}</p>
		</li>
	</ul>

	<block cond="$act == 'dispLayoutAdminModify'" loop="$selected_layout->extra_var => $name, $var">
		<block cond="!$not_first && !$var->group"><ul></block>
		<block cond="$group != $var->group">
			<block cond="$not_first"></ul></block>
			<h3 class="h3">{$var->group}</h3>
			<ul>
			{@$group = $var->group}
		</block>
		{@$not_first = true}
		<li>
			<p class="q">{$var->title}</p>
			<div class="a">
				<div cond="$var->type == 'text'" class="multiLangEdit">
					{@$use_multilang = true}
					<input type="hidden" name="{$name}" value="<!--@if(strpos($var->value, "$user_lang->") !== false)-->{htmlspecialchars($var->value)}<!--@else-->{$var->value}<!--@end-->" class="vLang" />
					<input type="text" id="{$name}" value="{$var->value}" class="vLang" />
					<span class="desc"><a href="#langEdit" class="editUserLang tgAnchor">{$lang->cmd_set_multilingual}</a></span>
				</div>

				<div cond="$var->type == 'textarea'" class="multiLangEdit">
					{@$use_multilang_textarea = true}
					<input type="hidden" name="{$name}" value="<!--@if(strpos($var->value, "$user_lang->") !== false)-->{htmlspecialchars($var->value)}<!--@else-->{$var->value}<!--@end-->" class="vLang" />
					<textarea id="{$name}" rows="8" cols="42" class="vLang">{$var->value}</textarea>
					<span class="desc"><a href="#langEditTextarea" class="editUserLang tgAnchor">{$lang->cmd_set_multilingual}</a></span>
				</div>

				<block cond="$var->type == 'image'">
					<input type="hidden" name="{$name}" id="file_{$name}" value="{$var->value}" />
					<div id="preview_{$name}" style="display:none;"|cond="!$var->value">
						<img src="../../../{$var->value}"|cond="$var->value" alt="" style="max-width: 250px"/>
						<input type="button" value="{$lang->cmd_delete}" onclick="deleteImage('{$name}')" />
					</div>
					<form action="./" enctype="multipart/form-data" method="post" target="hiddenIframe" class="imageUpload">
					<input type="hidden" name="module" value="layout" />
					<input type="hidden" name="act" value="procLayoutAdminConfigImageUpload" />
					<input type="hidden" name="layout_srl" value="{$layout_srl}" />
					<input type="hidden" name="name" value="{$name}" />
						<p>
							<input type="file" name="img" id="file_select_{$name}" value="" />
							<input type="submit" value="{$lang->cmd_submit}" />
						</p>
					</form>
				</block>

				<select cond="$var->type == 'select'" name="{$name}">
					<option loop="$var->options => $key, $val" value="{$key}" selected="selected"|cond="$key == $var->value">{$val->val}</option>
				</select>

				<block cond="$var->type == 'radio'">
					<block loop="$var->options => $key, $val">
						<block cond="$val->thumbnail">
							{@
								$_img_info = getImageSize($val->thumbnail);
								$_height = $_img_info[1] + 40;
								$_width = $img_info[0] + 20;
								$_talign = 'center';
							}
						</block>
						<block cond="!$val->thumbnail">
							{@
								$_width = 200;
								$_height = 20;
								$_talign = 'left';
							}
						</block>

						<block cond="$var->thumbnail_exist">
							<div cond= style="float:left;text-align:{$_talign};margin-bottom:1em;width:{$_width}px;height:{$_height}px;margin-right:10px;">
						</block>
						<label>
							<input type="radio" name="{$name}" value="{$key}" checked="checked"|cond="$key == $var->value"/>{$val->val}
							<block cond="$val->thumbnail">
								<br />
								<img src="../../../{$val->thumbnail}" alt="{$val->val}" style="border:1px solid #888888;padding:2px;margin:2px;"/>
							</block>
						</label>
						<block cond="$var->thumbnail_exist">
							</div>
						</block>
					</block>
				</block>
			</div>
			<p class="desc">{$var->description}</p>
		</li>
	</block>
	</ul>


	<h3 class="h3" cond="$selected_layout->menu">{$lang->menu}</h3>
	<ul cond="$selected_layout->menu">
		<li loop="$selected_layout->menu => $menu_name, $menu_info">
			<p class="q">{$menu_info->title}({$menu_name})</p>
			<p class="a">
				<select name="{$menu_name}">
					<option value="0">{$lang->cmd_select}</option>
					<option loop="$menu_list => $key, $val" value="{$val->menu_srl}" selected="selected"|cond="$val->menu_srl == $menu_info->menu_srl">{$val->title}</option>
				</select>
				<a href="{getUrl('module','admin','act','dispMenuAdminSiteMap')}">{$lang->cmd_management}</a>
			</p>
		</li>
		<li>
			<p class="q">{$lang->not_apply_menu}</p>
			<p class="a">
				<input type="checkbox" name="apply_layout" id="apply_layout" value="Y" /> <label for="apply_layout">{$lang->about_not_apply_menu}</label>
			</p>
		</li>
		<li cond="$selected_layout->layout_type == 'M'">
			<p class="q">{$lang->apply_mobile_view}</p>
			<p class="a">
				<input type="checkbox" name="apply_mobile_view" id="apply_mobile_layout" value="Y" /> <label for="apply_mobile_layout">{$lang->about_apply_mobile_view}</label>
			</p>
		</li>
	</ul>

	<div class="btnArea">
		<span class="etc">
			<span class="btn"><a href="{getUrl('', 'module', 'admin', 'act', 'dispLayoutAdminAllInstanceList')}">{$lang->instance_layout}&nbsp;{$lang->cmd_list}</a></span>
			<span class="btn"><a href="{getUrl('', 'module', 'admin', 'act', 'dispLayoutAdminInstanceList', 'layout', $layout)}">{$selected_layout->title} ver {$selected_layout->version}({$selected_layout->layout})&nbsp;{$lang->cmd_list}</a></span>
		</span>
		<span class="btn medium">
			<input type="submit" value="{$lang->cmd_insert}"|cond="$act == 'dispLayoutAdminInsert'" value="{$lang->cmd_save}"|cond="$act == 'dispLayoutAdminModify'" onclick="doSubmitConfig()"/>
		</span>
	</div>
	<include target="include.multilang.html" />
	<include target="include.multilang.textarea.html" />
</div>
<iframe name="hiddenIframe" src="about:blank" width="0" height="0" frameborder="0"></iframe>
