@charset "utf-8";


.system_message {
    margin:3em 0 0 2em;
    color:#666666;
    border:4px solid #888888;
    text-align:center;
    padding:4em;
    width:400px;
}

.system_button {
    margin-top:3em;
}

.system_message a {
    margin-top:1em;
}
