@charset "utf-8";
.xc .nav a,
.xc .btn{text-decoration:none}
.xc .table{border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.xc .table>caption{text-align:left;font-weight:bold}
.xc .table>caption>.pull-right{position:relative;top:-8px}
.xc .control-group:first-child,
.xc .control-group:first-of-type{border-top:0}