<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispTrackbackSend" type="view" standalone="true" />
        <action name="dispTrackbackAdminList" type="view" admin_index="true" standalone="true" menu_name="trackback" menu_index="true" />

        <action name="trackback" type="controller" standalone="true" />

        <action name="procTrackbackSend" type="controller" standalone="true" ruleset="sendTrackback" />
        <action name="procTrackbackGetList" type="controller" standalone="true" />
        <action name="procTrackbackAdminDeleteChecked" type="controller" standalone="true" ruleset="deleteChecked" />
        <action name="procTrackbackAdminInsertConfig" type="controller" standalone="true" />
        <action name="procTrackbackAdminInsertModuleConfig" type="controller" standalone="true" />
        <action name="procTrackbackAdminAddCart" type="controller" standalone="true" />
    </actions>
	<menus>
		<menu name="trackback">
			<title xml:lang="en">Trackback</title>
			<title xml:lang="ko">엮인글</title>
			<title xml:lang="zh-CN">Trackback</title>
			<title xml:lang="jp">Trackback</title>
			<title xml:lang="es">Trackback</title>
			<title xml:lang="ru">Trackback</title>
			<title xml:lang="fr">Trackback</title>
			<title xml:lang="zh-TW">引用</title>
			<title xml:lang="vi">Trackback</title>
			<title xml:lang="mn">Trackback</title>
			<title xml:lang="tr">Trackback</title>
		</menu>
	</menus>
</module>
