<form action="./" method="get">
<input type="hidden" name="module" value="admin" />
<input type="hidden" name="mo" value="layout" />
<input type="hidden" name="act" value="dispInsertLayout2" />
<input type="hidden" name="layout_srl" value="{$layout_srl}" />

  <div style="margin-bottom:10px;">
    <table border="1" width="100%">
    <tr>
      <th>{$lang->layout_name}</th>
      <td>
        <select name="layout">
        <!--@foreach($layout_list as $key => $val)-->
          <option value="{$val->layout}" <!--@if($layout == $val->layout)-->selected="true"<!--@end-->>{$val->title} ({$val->layout})</option>
        <!--@end-->
        </select>
      </td>
    </tr>
    <tr>  
      <th rowspan="2">{$lang->title}</th>
      <td><input type="text" name="title" value="{$info->title}" /></td>
    </tr>
    <tr>
      <td>{$lang->about_title}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="{$lang->cmd_next}" />
      </td>
    </tr>
    </table>
  </div>
</form>
