<!--%import("js/admin.js")-->

<form id="fo_layout" action="./" method="post" enctype="multipart/form-data">
<input type="hidden" name="module" value="admin" />
<input type="hidden" name="mo" value="layout" />
<input type="hidden" name="act" value="dispInsertLayout2" />
<input type="hidden" name="layout_srl" value="{$layout_srl}" />
<input type="hidden" name="layout" value="{$layout}" />

  <div style="margin-bottom:10px;">
    <table border="1">
    <tr>  
      <th>{$lang->layout_name}</th>
      <td>{$info->title} ver {$info->version} ({$layout})</td>
    </tr>
    <tr>  
      <th>{$lang->author}</th>
      <td><a href="#" onclick="window.open('{$info->author->homepage}');return false;">{$info->author->name}</a></td>
    </tr>
    <tr>  
      <th>{$lang->description}</th>
      <td>{nl2br($info->author->description)}</td>
    </tr>
    <tr>  
      <th rowspan="2">{$lang->title}</th>
      <td><input type="text" name="title" value="{$info->title}" /></td>
    </tr>
    <tr>
      <td>{$lang->about_title}</td>
    </tr>
    <tr>
      <th colspan="2">{$lang->menu_management}</th>
    </tr>
    <tr>
      <td colspan="2">{nl2br($lang->about_menu_management)}</td>
    </tr>
    <!--@foreach($info->navigations as $key => $val)-->
    <tr>
      <th>
        {$val->name}  <br />
        ({$val->maxdepth} {$lang->depth})
      </th>
      <td>
        <div>
          <select name="{$val->id}" size="15" style="width:500px;" id="default_value_listup_{$val->id}" ondblclick="doEditMenuInfo(this)" >
          </select>
        </div>
        <div>
          <input type="text" name="default_value_item_{$val->id}" id="default_value_item_{$val->id}" />
          <input type="button" value="{$lang->cmd_insert}" onclick="doEditInsertMenu('{$val->id}');return false;" />
        </div>
        <div>
          <input type="button" value="{$lang->cmd_move_up}" onclick="doEditMenu('up', '{$val->id}');return false;" />
          <input type="button" value="{$lang->cmd_move_down}" onclick="doEditMenu('down', '{$val->id}');return false;" />
          <input type="button" value="{$lang->cmd_add_indent}" onclick="doEditMenu('add_indent', '{$val->id}',{$val->maxdepth});return false;" />
          <input type="button" value="{$lang->cmd_remove_indent}" onclick="doEditMenu('remove_indent', '{$val->id}');return false;" />
          <input type="button" value="{$lang->cmd_delete}" onclick="doEditMenu('delete', '{$val->id}');return false;" />
        </div>
      </td>
    </tr>
    <!--@end-->
    <tr>
      <td colspan="2">
        <input type="button" value="{$lang->cmd_cancel}" onclick="location.href='{getUrl('act','dispContent')}'" />
        <input type="submit" value="{$lang->cmd_registration}" />
      </td>
    </tr>
    </table>
  </div>
</form>
