<!--%import("js/admin.js")-->
<!--%import("filter/insert_layout_menu.xml")-->
<!--%import("filter/delete_layout_menu.xml")-->

<form id="fo_layout" action="./" method="post" enctype="multipart/form-data">
<input type="hidden" name="layout_srl" value="{$layout_srl}" />
<input type="hidden" name="layout" value="{$layout_info->layout}" />

  <div style="margin-bottom:10px;">
    <table border="1" width="100%">
    <col width="140" />
    <col width="*" />
    <tr>  
      <th>{$lang->title}</th>
      <td>{$layout_info->layout_title}</td>
    </tr>
    <tr>  
      <th>{$lang->layout_name}</th>
      <td>{$layout_info->title} ver {$layout_info->version} ({$layout_info->layout})</td>
    </tr>
    <tr>  
      <th>{$lang->author}</th>
      <td><a href="#" onclick="window.open('{$layout_info->author->homepage}');return false;">{$layout_info->author->name}</a></td>
    </tr>
    <tr>  
      <th>{$lang->description}</th>
      <td>{nl2br($layout_info->author->description)}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="button" value="{$lang->cmd_cancel}" onclick="location.href='{getUrl('act','dispContent')}'" />
        <input type="submit" value="{$lang->cmd_registration}" />
      </td>
    </tr>
    </table>
  </div>
</form>

<div style="margin-bottom:10px;">
  <table border="1" width="100%">
  <col width="140" />
  <col width="*" />
  <tr>
    <th>{$lang->menu_management}</th>
    <td>{nl2br($lang->about_menu_management)}</td>
  </tr>
  <!--@foreach($layout_info->navigations as $key => $val)-->
  <tr>
    <th>
      {$val->name}  <br />
      ({$val->maxdepth} {$lang->depth})
    </th>
    <td>
      <form id="fo_{$val->id}" action="./" method="get" onsubmit="return procFilter(this, insert_layout_menu)">
      <input type="hidden" name="layout_srl" value="{$layout_srl}" />
      <input type="hidden" name="layout" value="{$layout_info->layout}" />
      <input type="hidden" name="menu_id" value="{$val->id}" />
        <table border="0">
        <tr valign="top">
          <td width="300">
            <div id="menu_zone_{$val->id}"></div>
            <div>
              <input type="button" value="{$lang->cmd_insert}" onclick="doInsertLayoutMenu('{$val->id}');return false;" />
              <input type="button" value="{$lang->cmd_open_all}" onclick="openAllTreeMenu('{$val->id}');return false;" />
              <input type="button" value="{$lang->cmd_close_all}" onclick="closeAllTreeMenu('{$val->id}');return false;" />
            </div>
          </td>
          <td>
            <div id="menu_zone_info_{$val->id}">
            </div>
          </td>
        </tr>
        </table>
      </form>
      <script type="text/javascript">
        xAddEventListener(window,'load', function() { loadTreeMenu("{$val->xml_file}", "{$val->id}", "menu_zone_{$val->id}", "{$val->name}", doGetMenuInfo); });
      </script>
    </td>
  </tr>
  <!--@end-->
  </table>
</div>
