<input type="hidden" name="menu_srl" value="{$menu_info->menu_srl}" />
<input type="hidden" name="parent_srl" value="{$menu_info->parent_srl}" />

<table border="1" width="100%">
<col width="100" />
<col width="*" />
<tr>
  <th rowspan="2">{$lang->menu_name}</th>
  <td><input type="text" name="menu_name" value="{$menu_info->name}" /></td>
</tr>
<tr>
  <td>{$lang->about_menu_name}</td>
</tr>
<tr>
  <th rowspan="2">{$lang->menu_url}</th>
  <td><input type="text" name="menu_url" value="{$menu_info->url}" /></td>
</tr>
<tr>
  <td>{$lang->about_menu_url}</td>
</tr>
<tr>
  <th rowspan="2">{$lang->menu_open_window}</th>
  <td><input type="checkbox" name="menu_open_window" value="Y" <!--@if($menu_info->open_window=="Y")-->checked="true"<!--@end--> /></td>
</tr>
<tr>
  <td>{$lang->about_menu_open_window}</td>
</tr>
<tr>
  <th>{$lang->menu_img_btn}</th>
  <td>{$lang->about_menu_img_btn}</td>
</tr>
<tr>
  <td>{$lang->menu_normal_btn}</td>
  <td><input type="text" name="menu_normal_btn" value="{$menu_info->normal_btn}" /></td>
</tr>
<tr>
  <td>{$lang->menu_hover_btn}</td>
  <td><input type="text" name="menu_hover_btn" value="{$menu_info->hover_btn}" /></td>
</tr>
<tr>
  <td>{$lang->menu_active_btn}</td>
  <td><input type="text" name="menu_active_btn" value="{$menu_info->active_btn}" /></td>
</tr>
<tr>
  <th rowspan="2">{$lang->menu_group_srls}</th>
  <td>
    <!--@foreach($group_list as $key=>$val)-->
      <input type="checkbox" name="group_srls" value="{$key}" id="group_{$key}" <!--@if(in_array($key, $menu_info->group_srls))-->checked="true"<!--@end-->/>
      <label for="group_{$key}">{$val->title}</label>
    <!--@end-->

  </td>
</tr>
<tr>
  <td>{$lang->about_menu_group_srls}</td>
</tr>
<tr>
  <td colspan="2">
    <input type="submit" value="{$lang->cmd_submit}" />
    <!--@if($menu_info->name)-->
    <input type="button" value="{$lang->cmd_make_child}" onclick="doInsertLayoutMenu('{$menu_info->menu_id}','{$menu_info->menu_srl}');return false" />
    <input type="button" value="{$lang->cmd_delete}" onclick="doDeleteLayoutMenu('{$menu_srl}','{$menu_info->menu_id}');return false" />
    <!--@end-->
  </td>
</tr>
</table>
