<table border="1" width="100%">
<col width="80" />
<col width="*" />
<tr>
  <th rowspan="2">{$lang->menu_name}</th>
  <td><input type="text" name="menu_name" value="{$info->name}" /></td>
</tr>
<tr>
  <td>{$lang->about_menu_name}</td>
</tr>
<tr>
  <th rowspan="2">{$lang->menu_url}</th>
  <td><input type="text" name="menu_url" value="{$info->url}" /></td>
</tr>
<tr>
  <td>{$lang->about_menu_url}</td>
</tr>
<tr>
  <th rowspan="2">{$lang->menu_open_window}</th>
  <td><input type="checkbox" name="menu_open_window" <!--@if($info->open_window=="Y")-->checked="true"<!--@end--> /></td>
</tr>
<tr>
  <td>{$lang->about_menu_open_window}</td>
</tr>
</table>
