div#tag { position:relative; border:1px solid #e0e1db; background:url(../images/cyan/bgBoxTypeB.gif) repeat-x left top; margin-bottom:.7em; }
div#tag h2 { position:relative; border-left:1px solid #ffffff; border-right:1px solid #ffffff; padding:7px 0 0 12px; height:21px; _height:20px; font-size:1em; color:#54564b; font-family:Tahoma;}
/*:first-child+html .boxTypeB h2 { height:20px;} */
div#tag .tagList { padding:1.2em; overflow:hidden;}
div#tag .tagList li { display:inline; color:#a4a4a4; margin-right:.1em; line-height:1.5em;}
div#tag .tagList li a { color:#a4a4a4;}
div#tag .tagList li.typeA a { color:#fe3614; font-weight:bold;}
div#tag .tagList li.typeB a { color:#fe3614;}
div#tag .tagList li.typeC a { font-weight:bold;}
