div#tag { padding-bottom:1em;}
div#tag .tagList { padding:1.2em; overflow:hidden;}
div#tag .tagList li { display:inline; color:#a4a4a4; margin-right:.1em; line-height:1.5em;}
div#tag .tagList li a { color:#a4a4a4;}
div#tag .tagList li.typeA a { color:#fe3614; font-weight:bold;}
div#tag .tagList li.typeB a { color:#fe3614;}
div#tag .tagList li.typeC a { font-weight:bold;}
