@charset "utf-8";

body {
    margin:0px;
    padding:0px;
}

/**
 * 레이아웃 style 
 **/

/**
 * 상단 로고 및 메인 1차 메뉴 
 **/
.layout_top {
    margin:10px 10px 0px 10px;
    width:890px;
}

/* 상단 로고 부분 */
.layout_logo A {
    font-weight:bold;
    font-size:16pt;
    color:#888888;
    text-decoration:none;
}

/* 상단 1차 메뉴 */
.layout_first_menu {
    border-bottom:2px solid #DDDDDD;
    width:100%;
    text-align:right;
    padding:3px 0px 3px 0px;
}

/**
 * 좌측 메뉴 및 메인 2차 메뉴, 로그인 플러그인 및 기타
 **/
.layout_left {
    width:220px;
    float:left;
    margin-top:10px;
    position:absolute;
    left:10px;
    z-index:10;
}

/* 좌측 2차 메뉴 */
.layout_second_menu {
}

/* 좌측 관리자 메뉴 */
.layout_admin {
    margin-top:10px;
    border:3px solid #EEEEEE;
    padding:5px;
    text-align:center;
}

.layout_admin A {
    color:#AAAAAA;
    text-decoration:none;
}

/* 컨텐츠 */
.layout_content {
    position:absolute;
    left:0px;
    padding:10px 10px 0px 240px;
    z-index:1;
    width:660px;
}

#content {
}

/**
 * 하단 메뉴 영역 
 **/
.layout_bottom {
    clear:both;
    margin-top:20px;
}

/* 하단 메뉴 */
.layout_bottom_menu {
    width:100%;
    text-align:center;
}

/**
 * 메뉴 style, main_menu:1~3차, bottom_menu로 구성 
 **/

/* 1차 메뉴 */
.first_menu {
    background-color:#999999;
    padding:3px 10px 3px 10px;
    margin-left:5px;
}

.first_menu A {
    font-weight:normal;
    color:#FFFFFF;
    text-decoration:none;
}

.first_menu_selected {
    background-color:#000000;
    padding:3px 10px 3px 10px;
    margin-left:5px;
}

.first_menu_selected A {
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
}

/* 2차 메뉴 */
.second_menu {
    padding:5px 0px 5px 5px;
    background-color:#AAAAAA;
    display:block;
    border-bottom:1px solid #999999;
}

.second_menu A {
    color:#FFFFFF;
    text-decoration:none;
    font-weight:normal;
}

.second_menu_selected {
    padding:5px 0px 5px 5px;
    background-color:#666666;
    display:block;
    border-bottom:1px solid #444444;
}

.second_menu_selected A {
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
}

/* 3차 메뉴 */
.third_menu {
    padding:5px 0px 5px 20px;
    border-bottom:1px solid #EEEEEE;
    display:block;
}

.third_menu A {
    color:#000000;
    text-decoration:none;
}

.third_menu_selected {
    padding:5px 0px 5px 20px;
    border-bottom:1px solid #EEEEEE;
    font-weight:bold;
    display:block;
    background-color:#EFEFEF;
}

.third_menu_selected A {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}

/* 하단 메뉴 */
.bottom_menu {
    margin-right:5px;
    font-weight:normal;
}

.bottom_menu A {
    color:#000000;
    text-decoration:none;
}

.bottom_menu_selected {
    margin-right:5px;
    font-weight:bold;
}

.bottom_menu_selected A {
    color:#000000;
    font-weight:bold;
    text-decoration:none;
}

