.colorpicker {
  width:138px; 
  height:85px; 
  padding:5px;
}

img.color_icon {
  width:15px;
  height:15px;
  border:1px solid #FFFFFF;
}

img.color_icon_over {
  width:15px;
  height:15px;
  border:1px solid #000000;
  cursor:pointer;
}
