<?xml version="1.0" encoding="utf-8"?>
<module>
    <actions>
        <action name="dispImporterAdminContent" type="view" standalone="true" admin_index="true" />

        <action name="procImporterAdminStep1" type="controller" standalone="true" />
        <action name="procImporterAdminStep12" type="controller" standalone="true" />
        <action name="procImporterAdminImport" type="controller" standalone="true" />
        <action name="procImporterAdminSync" type="controller" standalone="true" />
    </actions>
</module>
