@charset "utf-8"; 
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

/* Zeroboard XE */

/* Board Reset */
.board{ font-family:NanumGothic, "Malgun Gothic", AppleGothic, Gulim, Dotum, Tahoma, Sans-serif; line-height:normal; font-size:.8em;}
.board *{ font-size:1em;}
.board .inputText,
.board textarea{ border:1px solid;}
.board label{ cursor:pointer;}
.board img{ border:0;}
.board a{ text-decoration:none;}
.board a:hover,
.board a:active,
.board a:focus{ text-decoration:underline;}

/* Board Header */
.boardHeader *{ margin:0; padding:0;}
.boardHeader .boardTitle{ font-size:1.5em; letter-spacing:-.1em; margin-bottom:10px; border-bottom:3px solid; *zoom:1; background-repeat:no-repeat; background-position:left center;}
.boardHeader .boardTitle:after{ content:""; display:block; clear:both;}
.boardHeader .boardTitleText{ float:left; clear:both; margin-bottom:-3px; padding:5px 15px 5px 22px; border-bottom:3px solid; background-repeat:no-repeat; background-position:right bottom;}
.boardHeader .boardTitleText a{ text-decoration:none;}
.boardHeader .boardTitleText em{ font-style:normal; font-weight:normal;}
.boardHeader .boardDescription{ position:relative; padding:7px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; }

/* Board Information */
.boardInformation{ position:relative; width:100%; padding:10px 0; font-size:.85em; line-height:normal; *zoom:1;}
.boardInformation *{ margin:0; padding:0;}
.boardInformation:after{ content:""; display:block; float:none; clear:both;}
.boardInformation ul{ position:relative; overflow:hidden;}
.boardInformation li{ list-style:none; position:relative; left:-1px; display:block; float:left; padding:0 7px; background-repeat:no-repeat; background-position:left center;}
.boardInformation strong{ font:bold 11px Tahoma;}
.boardInformation .infoLeft{ padding-left:18px; float:left; background-repeat:no-repeat; background-position:left center;}
.boardInformation .infoRight{ float:right;}
.boardInformation .infoRight li.icon{ padding:0; margin-right:3px;}
.boardInformation .infoRight li.icon a{ display:block; float:left; width:12px; height:12px; overflow:hidden; background-repeat:no-repeat;}
.boardInformation .infoRight li.icon a span{ display:block; width:12px; height:12px; position:relative; z-index:-1; visibility:hidden;}
.boardInformation .infoRight li.rss a{ background-position:0 0;}
.boardInformation .infoRight li.tag_info a{ background-position:-12px 0;}
.boardInformation .infoRight li.listTypeClassic a{ background-position:-24px 0;}
.boardInformation .infoRight li.listTypeZine a{ background-position:-36px 0;}
.boardInformation .infoRight li.listTypeGallery a{ background-position:-48px 0;}
.boardInformation .infoRight li.contributors a{ background-position:-60px 0;}

/* Board List Form */
.boardListForm{ margin:0; line-height:normal;}
.boardListForm *{ margin:0; padding:0;}
.boardListForm fieldset{ border:0; position:relative; clear:both;}
.boardListForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.boardListForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardListForm em,
.boardListForm strong{ font-style:normal;}

/* Board List */
.boardList{ border:0; border-top:1px solid; border-bottom:1px solid; width:100%;}
.boardList .inputCheck{ width:13px; height:13px;}
.boardList .jumpTo{ float:left;}
.boardList .jumpTo *{ vertical-align:middle; *vertical-align:top;}
.boardList .jumpTo select{ font-size:12px; *margin-right:5px;}
.boardList .jumpTo button{ border:0; padding:0; margin:0; width:22px; height:20px; text-align:center; background-repeat:no-repeat; font-size:11px; letter-spacing:-1px; cursor:pointer; line-height:20px;}
.boardList th{ border:0; border-bottom:1px solid; border-top:1px solid; padding:7px; white-space:nowrap; text-align:center; background-repeat:repeat-x; background-position:left bottom; line-height:normal;}
.boardList th.title{ width:100%;}
.boardList th a .sort{ vertical-align:middle; margin:0 5px;}
.boardList td{ border:0; border-top:1px solid; padding:6px; white-space:nowrap; text-align:center; line-height:normal; vertical-align:top;}
.boardList td.num{ font:11px Tahoma;}
.boardList td.check{ font:11px Tahoma;}
.boardList td .category{ padding-right:7px; margin-right:2px; background-repeat:no-repeat; background-position:right center;}
.boardList td.title{ width:100%; white-space:normal; text-align:left;}
.boardList td.title .replyNum{ font:11px Tahoma;}
.boardList td.title .replyNum sup{ font:10px Tahoma;}
.boardList td.author{}
.boardList td.reading{ font:11px Tahoma;}
.boardList td.recommend{ font:11px Tahoma;}
.boardList td.date{ font:11px Tahoma;}

.boardList td.summary { text-align:left; border-top-style:dotted; white-space:normal;}
.boardList td.summary .thumb{ display:block; float:left; padding:2px; border:1px solid; margin-right:10px;}
.boardList td.summary .thumb img{ display:block;}

.thumbHeader{ border:0; border-top:1px solid; border-bottom:1px solid; padding:7px; font-weight:bold; white-space:nowrap; background-repeat:repeat-x; background-position:left bottom; line-height:normal; text-align:right; *zoom:1;}
.thumbHeader:after{ content:""; display:block; clear:both;}
.thumbHeader .left{ float:left;}
.thumbHeader .left input{ width:13px; height:13px; margin-right:10px;}
.thumbHeader .right{ float:right;}
.thumbHeader *{ vertical-align:middle;}
.thumbHeader a{ margin:0 10px;}
.thumbHeader .jumpTo *{ vertical-align:middle; *vertical-align:top;}
.thumbHeader .jumpTo select{ font-size:12px; *margin-right:5px;}
.thumbHeader .jumpTo button{ border:0; padding:0; margin:0; width:22px; height:20px; text-align:center; background-repeat:no-repeat; font-size:11px; letter-spacing:-1px; cursor:pointer; line-height:20px;}
.thumbHeader .sort{ vertical-align:middle; margin:0 5px;}

.thumbList{ border-bottom:1px solid; *zoom:1;}
.thumbList:after{ content:""; display:block; clear:both;}
.thumbList li{ margin:10px; list-style:none; overflow:hidden; float:left;}
.thumbList li .thumb{ position:relative; float:left; clear:both; overflow:hidden; padding:2px; margin-bottom:5px; border:1px solid;}
.thumbList li .thumb a{ position:relative; display:block;}
.thumbList li .thumb a *{ cursor:pointer;}
.thumbList li .thumb a img{ display:block;}
.thumbList li .thumb a .text{ position:absolute; left:0; top:50%; margin-top:-.8em; *margin-top:-1.5em; display:block; width:100%; text-align:center; font-size:2em; font-weight:bold; white-space:nowrap; letter-spacing:-1px;}
.thumbList li .thumb a .category{ position:absolute; left:0; bottom:0; width:100%; padding:2px 0; white-space:nowrap; text-indent:4px;}
.thumbList li .title{ clear:both; white-space:nowrap; margin-bottom:3px;}
.thumbList li .title input{ width:13px; height:13px; vertical-align:middle; white-space:nowrap;}
.thumbList li .author{}
.thumbList li .reading{ font:11px Tahoma;}
.thumbList li .recommend{ font:11px Tahoma;}
.thumbList li .date{ font:11px Tahoma;}

/* Board Navigation */
.board .boardNavigation{ position:relative; padding:10px 0; *zoom:1; text-align:center;}
.board .boardNavigation:after{ content:""; display:block; float:none; clear:both;}
.board .boardNavigation .pagination{ padding:5px 0;}
.board .boardNavigation .buttonLeft{ float:left; text-align:left;}
.board .boardNavigation .buttonRight{ float:right; text-align:right;}

/* Search Form */
.boardSearchForm{ margin:0; font-size:.75em; line-height:normal;}
.boardSearchForm *{ margin:0; padding:0;}
.boardSearchForm fieldset{ border:0; position:relative; clear:both; text-align:center;}
.boardSearchForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.boardSearchForm fieldset *{ vertical-align:middle;}
.boardSearchForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardSearchForm select{ font-size:12px; height:23px;}
.boardSearchForm .inputText{ width:140px; height:15px; padding:4px 4px 2px 4px; font-size:12px; *margin:-1px 0;}

/* Board Read */
.boardRead{}

.boardReadHeader{ padding-bottom:5px; margin-bottom:15px; *zoom:1; border-bottom:2px solid;}
.boardReadHeader:after{ content:""; display:block; float:none; clear:both;}
.boardReadHeader *{ margin:0; padding:0;}
.boardReadHeader .title{ float:left; font-size:1.5em;}
.boardReadHeader em{ position:relative; top:5px; float:right; font-style:normal; font-weight:bold; font-size:1em;}
.boardReadHeader a{ font-weight:bold; font-size:1em;}

.boardReadBody{ padding-bottom:15px; border-bottom:1px solid; line-height:1.5em;}
.boardReadBody .document_popup_menu{ margin-top:20px; text-align:right;}
.boardReadBody .document_popup_menu a{ text-decoration:underline;}
.boardReadBody .xe_content{ margin-bottom:15px; line-height:1.6em;}
.boardReadBody .memberSignature{ border:1px dotted;}
.boardReadBody .memberSignature .signature{ margin:10px;}

.boardReadFooter{ padding:10px 0; *zoom:1; line-height:1em; font:11px Tahoma;}
.boardReadFooter:after{ content:""; display:block; float:none; clear:both;}
.boardReadFooter *{ margin:0; padding:0;}
.boardReadFooter a{ text-decoration:underline; position:relative;}
.boardReadFooter .footerLeft{ float:left;}
.boardReadFooter .footerRight{ float:right;}
.boardReadFooter dl{ clear:both; position:relative;}
.boardReadFooter dt{ position:relative; z-index:2; display:inline; padding-right:5px; font-weight:bold;}
.boardReadFooter dd{ position:relative; z-index:1; left:-5px; display:inline; padding-left:7px; margin-right:5px; background-repeat:no-repeat; background-position:left center; *zoom:1;}
.boardReadFooter .footerRight dl{ float:right;}
.boardReadFooter .footerRight dl.noBr{ position:relative; left:5px; float:right; clear:both; overflow:hidden; white-space:nowrap;}
.boardReadFooter .footerRight dl.noBr dt{ position:relative; left:-1px; padding-left:10px; background-repeat:no-repeat; background-position:left center;}
.boardReadFooter .footerRight dl.noBr dd{ margin-right:5px;}

.boardRead .boardNavigation{ border-top:1px solid;}

/* Feedback List */
.feedbackList{ position:relative; overflow:hidden; padding-top:15px; margin-bottom:10px; }
.feedbackList *{ margin:0; padding:0;}
.feedbackList .feedbackHeader{ position:relative; font-weight:bold; margin-bottom:10px; font-size:1.5em;}

.feedbackList .replyList .item .header{ font-size:1.5em; margin-bottom:5px;}
.feedbackList .trackbackList .item .header{ font-size:1em; margin-bottom:5px;}
.feedbackList .trackbackList .item p{ margin-bottom:10px;}

.feedbackList .item{ position:relative; padding-top:10px; margin-bottom:10px; border-top:1px dashed;}
.feedbackList .item .indent{ position:relative;}
.feedbackList .reply .indent{ border-left:2px solid; padding-left:10px;}
.feedbackList .item .header a{ font-size:1em;}
.feedbackList .item .comment_popup_menu{ text-align:right; margin-bottom:10px;}
.feedbackList .item .comment_popup_menu a{ text-decoration:underline;}
.feedbackList .item .option{ text-align:right;}

/* Time */
.time{ position:absolute; top:10px; right:0;}
.time *{ position:relative; font-size:11px; font-family:Tahoma; display:inline;}
.time dt{ z-index:2; display:inline; padding-right:5px; font-weight:bold;}
.time dd{ z-index:1; left:-5px; display:inline; padding-left:7px; margin-right:3px; background-repeat:no-repeat; background-position:left center;}

/* Attached File */
.attachedFile{ position:relative; margin:0; padding:0; border:none;}
.item .attachedFile{ position:absolute; left:0; bottom:0;}
.reply .attachedFile{ position:absolute; left:10px; bottom:0;}
.attachedFile *{ position:relative; font-size:11px; font-family:Tahoma; display:inline;}
.attachedFile dt{ z-index:2; display:inline; padding-right:5px; font-weight:bold;}
.attachedFile dd{ z-index:1; left:-5px; display:inline; padding-left:7px; margin-right:5px; background-repeat:no-repeat; background-position:left center; *zoom:1;}
.attachedFile dd a{ position:relative; text-decoration:underline;}
.attachedFile dd a .bubble{ position:absolute; display:none; text-decoration:none; white-space:nowrap; border:1px solid; padding:2px 5px; left:0; top:-20px; cursor:pointer;}
.attachedFile dd a:hover .bubble,
.attachedFile dd a:active .bubble,
.attachedFile dd a:focus .bubble{ display:block;}

.replyForm{ padding:10px 20px 15px 20px; font-size:.75em; margin-bottom:20px; -moz-border-radius:10px; -webkit-border-radius:10px;}
.replyForm *{ margin:0; padding:0;}
.replyForm fieldset{ border:0; position:relative;}
.replyForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.replyForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.replyForm .title{ font-weight:bold; font-size:1.5em; margin-bottom:10px;}
.replyForm textarea{ position:relative; width:95%; height:150px; font-size:1em; overflow:auto; padding:10px; margin-bottom:10px;}
.replyForm .inputText{ padding:2px 4px 4px 4px; width:190px; height:15px; vertical-align:middle; *margin:-1px 0;}
.replyForm dl{ margin-bottom:10px;}
.replyForm dt{ width:80px; float:left; padding-top:6px; font-weight:bold;}
.replyForm dd{ margin-bottom:5px;}

/* Board Write */
.boardWrite *{ margin:0; padding:0;}
.boardWrite li{ list-style:none;}
.boardWrite fieldset{ border:0; position:relative;}
.boardWrite legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}

.boardWrite .boardWriteHeader{ position:relative;}
.boardWrite .boardWriteHeader dl{ margin-bottom:5px;}
.boardWrite .boardWriteHeader dl *{ vertical-align:middle;}
.boardWrite .boardWriteHeader dt{ font-weight:bold; display:inline;}
.boardWrite .boardWriteHeader dd{ display:inline;}
.boardWrite .boardWriteHeader dd select{ font-size:12px; vertical-align:top; height:23px;}
.boardWrite .boardWriteHeader dd .inputText{ padding:3px 4px; height:15px; margin-bottom:5px; font-size:12px; *margin-top:-1px;}

.boardWrite .boardWriteHeader dl.title dd{ white-space:nowrap;}
.boardWrite .boardWriteHeader dl.title dd .inputText{ width:60%;}

.boardWrite .tag{ clear:both; margin-bottom:10px; *zoom:1;}
.boardWrite .tag:after{ content:""; display:block; float:none; clear:both;}
.boardWrite .tag .inputText{ float:left; width:330px; padding:4px 4px 2px 4px; margin-right:10px; font-size:12px;}
.boardWrite .tag p{ float:left;}

.boardWrite .boardNavigation,
.boardEditor .boardNavigation{ border-top:1px solid;}

/* UserName & Password */
.board .userNameAndPw{ margin:0; padding:5px 10px 0 10px; border-top:1px solid;}
.board .userNameAndPw dl{ display:inline; white-space:nowrap;}
.board .userNameAndPw dt{ position:relative; top:-3px; font-weight:bold; display:inline;}
.board .userNameAndPw dd{ margin-right:5px; display:inline;}
.board .userNameAndPw dd .inputText{}
.board .userNameAndPw dd.userName .inputText{ width:80px;}
.board .userNameAndPw dd.userPw .inputText{ width:80px;}
.board .userNameAndPw dd.emailAddress .inputText{ width:120px;}
.board .userNameAndPw dd.homePage .inputText{ width:120px;}
.board .userNameAndPw dd .inputText{ padding:3px 4px; height:15px; margin-bottom:5px; font-size:12px; *margin-top:-1px; vertical-align:middle;}

/* Comment */
.board .editorOption{ padding:8px 10px; border-top:1px solid;}
.board .editorOption *{ vertical-align:middle;}
.board .editorOption dt{ font-weight:bold; display:inline;}
.board .editorOption dd{ margin-right:5px; display:inline;}
.board .editorOption dd select{ font-size:12px;}
.board .editorOption dd .inputCheck{ width:13px; height:13px;}
.board .boardEditor{ border:1px solid; margin-bottom:20px;}
.board .boardEditor .commentEditor{ margin:10px 15px;}
.board .commentEditor .commentHeader{position:relative; border-bottom:1px solid; font-weight:bold; padding-bottom:5px; margin-bottom:10px; font-size:1.5em;}

/* Secret Message */
.board .secretMessage{ margin:0;}
.board .secretMessage p{ text-align:center; margin:0; font-size:2em;}
.board .secretMessage dl{ text-align:center; margin:15px 0;}
.board .secretMessage dt{ font-weight:bold; display:inline;}
.board .secretMessage dd{ margin:0; display:inline;}
.board .secretMessage dd .inputText{ padding:3px 4px; height:15px; vertical-align:middle; margin-right:5px;}

/* Extra Var Table */
.extraVarsList{ width:100%; border:0; border-bottom:1px solid; margin-bottom:15px;}
.extraVarsList caption{ text-align:right;}
.extraVarsList em{ font-style:normal; font-weight:normal;}
.extraVarsList th,
.extraVarsList td{ border:0; padding:5px 10px; text-align:left; border-top:1px solid; vertical-align:top;}
.extraVarsList th{ white-space:nowrap;}
.extraVarsList td{ width:100%;}
.extraVarsList td p{ display:inline-block; *display:inline; margin:3px 0;}
.extraVarsList td *{ vertical-align:middle;}
.extraVarsList td li{ display:inline; margin-right:10px;}
.extraVarsList td .inputText{ padding:3px 4px; font-size:12px; width:96%; display:block;}
.extraVarsList td .inputNum{ padding:3px 4px; font-size:12px; width:50px; border:1px solid;}
.extraVarsList td .inputCheck{ width:13px; height:13px; margin-right:5px;}
.extraVarsList td select { font-size:12px;}
.extraVarsList td textarea{ padding:3px 4px; font-size:12px; width:96%; display:block; overflow:auto;}

/* Tag Cloud */
.tagCloud{ padding-bottom:15px; border-bottom:1px solid #ddd;}
.tagCloud *{ margin:0; padding:0;}
.tagCloud .tagHeader{border:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:7px; color:#333; background:#fff url(../images/white/bgThDefault.gif) repeat-x left bottom; line-height:normal;}
.tagCloud .tagHeader strong{ color:#ff6600;}
.tagCloud ul{ text-align:justify; margin-top:15px;}
.tagCloud li{ display:inline; list-style:none; margin:0 5px;}
.tagCloud li a{ white-space:nowrap;}
.tagCloud li.rank1 a{ font-weight:bold; font-size:2em; background:#12d763; color:#fff;}
.tagCloud li.rank2 a{ font-weight:bold; font-size:1.75em; color:#666;}
.tagCloud li.rank3 a{ font-weight:bold; font-size:1.5em; color:#00b4b5;}
.tagCloud li.rank4 a{ font-size:1.25em; color:#666;}
.tagCloud li.rank5 a{ font-size:1em; color:#666;}

/* Layer */
#popup_menu_area{ position:absolute; border:2px solid; -moz-border-radius:5px; -webkit-border-radius:5px; margin:0; padding:0; z-index:100;}
#popup_menu_area *{ margin:0; padding:0; list-style:none; font-size:12px; line-height:normal;}
#popup_menu_area ul{ border:1px solid; -moz-border-radius:3px; -webkit-border-radius:3px; padding:10px;}
#popup_menu_area li{ padding-left:20px; background-repeat:no-repeat; background-position:left center; margin-bottom:3px; *margin-bottom:-2px;}
#popup_menu_area li a{ text-decoration:none; white-space:nowrap;}
#popup_menu_area li a:hover,
#popup_menu_area li a:active,
#popup_menu_area li a:focus{ font-weight:bold; letter-spacing:-1px;}
