@charset "utf-8"; 
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

body{ background:#fff;}
.displayNone{ display:none;}

/* Board Reset */
.board{ font-family:"나눔고딕", NanumGothic, "맑은 고딕", MalgunGothic, AppleGothic, "굴림", Gulim, "돋움", Dotum, Tahoma, Sans-serif; line-height:normal; font-size:.8em;}
.board *{ font-size:1em;}
.board img{ border:0;}

/* Board Type */
.board.classic{}
.board.zine{}
.board.gallery{}

/* Board Header */
.boardHeader{}
.boardHeader *{ margin:0; padding:0;}
.boardHeader .boardTitle{ font-size:1.5em; letter-spacing:-.1em; margin-bottom:10px; border-bottom:3px solid #ddd; *zoom:1; background:url(../images/white/iconBoardHeading.gif) no-repeat left center;}
.boardHeader .boardTitle:after{ content:""; display:block; clear:both;}
.boardHeader .boardTitleText{ float:left; clear:both; margin-bottom:-3px; padding:5px 15px 5px 22px; border-bottom:3px solid #666; background:url(../images/white/lineVr11.gif) no-repeat right bottom;}
.boardHeader .boardTitleText a{ color:#000; text-decoration:none;}
.boardHeader .boardTitleText em{ font-style:normal; font-weight:normal; color:#666;}
.boardHeader .boardDescription{ position:relative; padding:7px 15px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#f8f8f8; }

/* Board Information */
.boardInformation{ position:relative; width:100%; padding:10px 0; font-size:.85em; line-height:normal; *zoom:1;}
.boardInformation *{ margin:0; padding:0;}
.boardInformation:after{ content:""; display:block; float:none; clear:both;}
.boardInformation ul{ position:relative; overflow:hidden;}
.boardInformation li{ list-style:none; position:relative; left:-1px; display:block; float:left; padding:0 7px; background:url(../images/white/lineVr11.gif) no-repeat left center;}
.boardInformation em,
.boardInformation strong{ color:#ff6600;}
.boardInformation strong{ font:bold 11px Tahoma;}
.boardInformation a{ text-decoration:none; color:#000;} 
.boardInformation a:hover,
.boardInformation a:active,
.boardInformation a:focus{ text-decoration:underline;}
.boardInformation .infoLeft{ padding-left:18px; float:left; background:url(../images/white/iconArticle.gif) no-repeat left center;}
.boardInformation .infoRight{ float:right;}
.boardInformation .infoRight li.icon{ background:none; padding:0; margin-right:3px;}
.boardInformation .infoRight li.icon a{ display:block; float:left; width:12px; height:12px; overflow:hidden;}
.boardInformation .infoRight li.icon a span{ display:block; width:12px; height:12px; position:relative; z-index:-1; visibility:hidden;}
.boardInformation .infoRight li.rss a{ background:url(../images/white/iconRss.gif) no-repeat;}
.boardInformation .infoRight li.tag_info a{ background:url(../images/white/iconTags.gif) no-repeat;}
.boardInformation .infoRight li.listTypeClassic a{ background:url(../images/white/listTypeClassic.gif) no-repeat;}
.boardInformation .infoRight li.listTypeZine a{ background:url(../images/white/listTypeZine.gif) no-repeat;}
.boardInformation .infoRight li.listTypeGallery a{ background:url(../images/white/listTypeGallery.gif) no-repeat;}
.boardInformation .infoRight li.contributors a{ background:url(../images/white/iconContributors.gif) no-repeat;}

/* Board List Form */
.boardListForm{ margin:0; line-height:normal;}
.boardListForm *{ margin:0; padding:0;}
.boardListForm fieldset{ border:0; position:relative; clear:both;}
.boardListForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.boardListForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardListForm em,
.boardListForm strong{ font-style:normal; color:#ff6600;}
.boardListForm a{ text-decoration:none; color:#000;} 
.boardListForm a:hover,
.boardListForm a:active,
.boardListForm a:focus{ text-decoration:underline;}

/* Board List */
.boardList{ border:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; width:100%;}
.boardList .inputCheck{ width:13px; height:13px;}
.boardList .jumpTo{ float:left;}
.boardList .jumpTo *{ vertical-align:middle; *vertical-align:top;}
.boardList .jumpTo select{ font-size:12px; *margin-right:5px;}
.boardList .jumpTo button{ border:0; padding:0; margin:0; width:22px; height:20px; text-align:center; background:url(../images/white/buttonBg2byte.gif) no-repeat; font-size:11px; letter-spacing:-1px; cursor:pointer; line-height:20px;}
.boardList tr.notice{ background:#f8f8f8;}
.boardList tr.bg1{ background:#fff;}
.boardList tr.bg2{ background:#fbfbfb;}
.boardList th{ border:0; border-bottom:1px solid #fff; padding:7px; white-space:nowrap; text-align:center; color:#333; background:#fff url(../images/white/bgThDefault.gif) repeat-x left bottom; line-height:normal;}
.boardList th.title{ width:100%;}
.boardList th a{ color:#1978AD;}
.boardList th a .sort{ vertical-align:middle; margin:0 5px;}
.boardList td{ border:0; border-top:1px solid #eee; padding:6px; white-space:nowrap; text-align:center; color:#666; line-height:normal; vertical-align:top;}
.boardList td.num{ font:11px Tahoma;}
.boardList td.check{ font:11px Tahoma;}
.boardList td .category{ color:#000; padding-right:7px; margin-right:2px; background:url(../images/white/lineVr11.gif) no-repeat right center;}
.boardList td.title{ width:100%; white-space:normal; text-align:left;}
.boardList td.title .replyNum{ font:11px Tahoma; color:#ccc;}
.boardList td.title .replyNum sup{ font:10px Tahoma; color:#999;}
.boardList td.author{}
.boardList td.reading{ font:11px Tahoma;}
.boardList td.recommend{ font:11px Tahoma;}
.boardList td.date{ font:11px Tahoma;}

.boardList td.summary { text-align:left; border-top-style:dotted; white-space:normal;}
.boardList td.summary .thumb{ display:block; float:left; padding:2px; border:1px solid #ddd; background:#fff; margin-right:10px;}
.boardList td.summary .thumb img{ display:block;}

.thumbHeader{ border:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:7px; white-space:nowrap; color:#333; background:#fff url(../images/white/bgThDefault.gif) repeat-x left bottom; line-height:normal; text-align:right; *zoom:1;}
.thumbHeader:after{ content:""; display:block; clear:both;}
.thumbHeader .left{ float:left;}
.thumbHeader .left input{ width:13px; height:13px; margin-right:10px;}
.thumbHeader .right{ float:right;}
.thumbHeader *{ vertical-align:middle;}
.thumbHeader a{ margin:0 10px; color:#1978AD;}
.thumbHeader .jumpTo *{ vertical-align:middle; *vertical-align:top;}
.thumbHeader .jumpTo select{ font-size:12px; *margin-right:5px;}
.thumbHeader .jumpTo button{ border:0; padding:0; margin:0; width:22px; height:20px; text-align:center; background:url(../images/white/buttonBg2byte.gif) no-repeat; font-size:11px; letter-spacing:-1px; cursor:pointer; line-height:20px;}
.thumbHeader .sort{ vertical-align:middle; margin:0 5px;}

.thumbList{ border-bottom:1px solid #ddd; *zoom:1;}
.thumbList:after{ content:""; display:block; clear:both;}
.thumbList li{ margin:10px; list-style:none; overflow:hidden; float:left;}
.thumbList li .thumb{ position:relative; float:left; clear:both; overflow:hidden; padding:2px; margin-bottom:5px; background:#fff; border:1px solid #ddd;}
.thumbList li .thumb a{ position:relative; display:block;}
.thumbList li .thumb a *{ cursor:pointer;}
.thumbList li .thumb a img{ display:block;}
.thumbList li .thumb a .text{ position:absolute; left:0; top:50%; margin-top:-.8em; *margin-top:-1.5em; display:block; width:100%; text-align:center; font-size:2em; font-weight:bold; color:#ccc; white-space:nowrap; letter-spacing:-1px;}
.thumbList li .thumb a .category{ position:absolute; left:0; bottom:0; width:100%; padding:2px 0; background:#000; white-space:nowrap; opacity:.6; filter:alpha(opacity=60); color:#fff; text-indent:4px;}
.thumbList li .title{ clear:both; white-space:nowrap; margin-bottom:3px;}
.thumbList li .title input{ width:13px; height:13px; vertical-align:middle; white-space:nowrap;}
.thumbList li .author{}
.thumbList li .reading{ font:11px Tahoma;}
.thumbList li .recommend{ font:11px Tahoma;}
.thumbList li .date{ font:11px Tahoma;}

/* Board Navigation */
.boardNavigation{ position:relative; padding:10px 0; *zoom:1; text-align:center;}
.boardNavigation:after{ content:""; display:block; float:none; clear:both;}
.boardNavigation .pagination{ padding:5px 0;}
.boardNavigation .buttonLeft{ float:left; text-align:left;}
.boardNavigation .buttonRight{ float:right; text-align:right;}

/* Search Form */
.boardSearchForm{ margin:0; font-size:.75em; line-height:normal;}
.boardSearchForm *{ margin:0; padding:0;}
.boardSearchForm fieldset{ border:0; position:relative; clear:both; text-align:center;}
.boardSearchForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.boardSearchForm fieldset *{ vertical-align:middle;}
.boardSearchForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardSearchForm select{ font-size:12px; height:23px;}
.boardSearchForm .inputText{ border:1px solid #ccc; width:140px; height:15px; padding:4px 4px 2px 4px; font-size:12px; *margin:-1px 0;}

.boardRead{}

.boardReadHeader{ margin-bottom:5px; *zoom:1;}
.boardReadHeader:after{ content:""; display:block; float:none; clear:both;}
.boardReadHeader *{ margin:0; padding:0;}
.boardReadHeader .title{ float:left;}
.boardReadHeader em{ float:right; font-style:normal; font-weight:bold; font-size:1em;}
.boardReadHeader a{ text-decoration:none; color:#000; font-weight:bold; font-size:1em;}
.boardReadHeader a:hover,
.boardReadHeader a:active,
.boardReadHeader a:focus{ text-decoration:underline;}

.boardReadBody{ padding:15px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:.75em; line-height:1.5em;}

.boardReadFooter{ padding:10px 0; *zoom:1; color:#666; line-height:1em; font:11px Tahoma;}
.boardReadFooter:after{ content:""; display:block; float:none; clear:both;}
.boardReadFooter *{ margin:0; padding:0;}
.boardReadFooter a{ color:#666;}
.boardReadFooter .footerLeft{ float:left;}
.boardReadFooter .footerRight{ float:right;}
.boardReadFooter dl{ clear:both; white-space:nowrap;}
.boardReadFooter dt{ display:inline; font-weight:bold;}
.boardReadFooter dd{ display:inline;}
.boardReadFooter .footerRight dl{ float:right;}
.boardReadFooter .footerRight dl.noBr{ position:relative; left:5px; float:right; clear:both; overflow:hidden; white-space:nowrap;}
.boardReadFooter .footerRight dl.noBr dt{ position:relative; left:-1px; padding-left:10px; background:url(../images/white/lineVr11.gif) no-repeat left center;}
.boardReadFooter .footerRight dl.noBr dd{ margin-right:5px;}

.boardRead .boardNavigation{ border-top:1px solid #ddd;}

.feedbackList{ position:relative; overflow:hidden; font-size:.75em; padding-top:15px; margin-bottom:10px; color:#666;}
.feedbackList *{ margin:0; padding:0;}
.feedbackList .title{ position:relative; font-weight:bold; font-size:1.5em; color:#000; margin-bottom:10px;}
.feedbackList .title strong{ color:#ff6600;}
.feedbackList dl{ position:relative; padding-top:10px; margin-bottom:10px; border-top:1px dashed #ddd;}
.feedbackList dt{ font-weight:bold; font-size:1.25em; margin-bottom:5px; color:#333;}
.feedbackList dd{ line-height:1.5em;}
.feedbackList dd.trackbackTitle{ font-weight:bold;}
.feedbackList dd.text{}
.feedbackList dd.time{ position:absolute; top:15px; right:0; font:11px Tahoma;}
.feedbackList dd a.delete{ font-weight:bold; color:#ff6600;}
.feedbackList a{ text-decoration:none;} 
.feedbackList a:hover,
.feedbackList a:active,
.feedbackList a:focus{ text-decoration:underline;}

.replyForm{ padding:10px 20px 15px 20px; font-size:.75em; color:#666; margin-bottom:20px; background:#f4f4f4; -moz-border-radius:10px; -webkit-border-radius:10px;}
.replyForm *{ margin:0; padding:0;}
.replyForm fieldset{ border:0; position:relative;}
.replyForm fieldset:after{ content:""; display:block; float:none; clear:both;}
.replyForm legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.replyForm .title{ font-weight:bold; font-size:1.5em; color:#000; margin-bottom:10px;}
.replyForm textarea{ position:relative; width:95%; height:150px; border:1px solid #ccc; font-size:1em; overflow:auto; padding:10px; margin-bottom:10px;}
.replyForm .inputText{ border:1px solid #ccc; padding:2px 4px 4px 4px; width:190px; height:15px; vertical-align:middle; *margin:-1px 0;}
.replyForm dl{ margin-bottom:10px;}
.replyForm dt{ width:80px; float:left; padding-top:6px; font-weight:bold;}
.replyForm dd{ margin-bottom:5px;}

.boardWrite{ font-size:.75em;}
.boardWrite *{ margin:0; padding:0;}
.boardWrite li{ list-style:none;}
.boardWrite fieldset{ border:0; position:relative;}
.boardWrite legend{ position:absolute; width:0; height:0; overflow:hidden; font:0/0 Sans-serif; visibility:hidden;}
.boardWrite dl:after{ content:""; display:block; float:none; clear:both;}
.boardWrite dt{ float:left; width:50px; margin-right:-50px; font-weight:bold; clear:left; padding-top:6px;}
.boardWrite dd{ margin-left:50px; clear:right;}
.boardWrite .boardWriteHeader .inputText{ width:96%; border:1px solid #ccc; padding:2px 4px 4px 4px; height:15px; *margin:-1px 0;}
.boardWrite .boardWriteHeader{ margin-bottom:10px;}
.boardWrite .boardWriteBody{ margin-bottom:10px;}
.boardWrite .boardWriteBody dt{ padding-top:30px;}
.boardWrite .boardWriteBody dd{ _zoom:1;}
.boardWrite .boardWriteBody .styleText,
.boardWrite .boardWriteBody .plainText,
.boardWrite .boardWriteBody .htmlText{ display:none;}
.boardWrite .boardWriteBody iframe,
.boardWrite .boardWriteBody textarea{ width:95%; height:300px; border:1px solid #ccc; padding:10px; overflow:auto; font-size:1em; margin-bottom:10px;}
.boardWrite .boardWriteBody .plainText textarea{ *margin:-1px 0;}
.boardWrite .boardWriteBody .active{ display:block;}
.boardWrite .boardWriteBody ul{ float:right; position:relative; right:4%;}
.boardWrite .boardWriteBody li{ float:left; background:#eee; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-radius-topleft:5px; -webkit-border-radius-topright:5px; margin-left:5px;}
.boardWrite .boardWriteBody li a{ display:block; float:left; text-decoration:none; color:#000; height:20px; padding:7px 15px 0 15px; letter-spacing:-1px;}
.boardWrite .boardWriteBody li.active a{ font-weight:bold;}
.boardWrite .boardWriteFooter .inputFile{ width:97%; border:1px solid #ccc; padding:2px 4px 4px 4px; height:23px;}
.boardWrite .boardNavigation{ padding:10px 0; clear:both;}

/* Layer */
#waitingforserverresponse { border:2px solid #444444; font-weight:bold; color:#444444; padding: 7px 5px 5px 25px; background:#FFFFFF url("../tpl/images/loading.gif") no-repeat 5px 5px; top:40px; left:40px; position:absolute; z-index:100; visibility:hidden; }
#popup_menu_area{ position:absolute; background:#fff; border:2px solid #eee; -moz-border-radius:5px; -webkit-border-radius:5px; margin:0; padding:0;}
#popup_menu_area *{ margin:0; padding:0; list-style:none; font-size:12px; line-height:normal;}
#popup_menu_area ul{ border:1px solid #ddd; -moz-border-radius:5px; -webkit-border-radius:5px; padding:10px;}
#popup_menu_area li{ padding-left:20px; background-repeat:no-repeat; background-position:left center; margin-bottom:3px; *margin-bottom:-2px;}
#popup_menu_area li a{ text-decoration:none; color:#000;}
#popup_menu_area li a:hover,
#popup_menu_area li a:active,
#popup_menu_area li a:focus{ font-weight:bold; letter-spacing:-1px;}
