@charset "utf-8"; 
/* NHN > UIT Center > Open UI Platform Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.tagCloud *{ margin:0; padding:0;}
.tagCloud .tagHeader{border:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:7px; white-space:nowrap; color:#333; background:#fff url(../images/white/bgThDefault.gif) repeat-x left bottom; line-height:normal;}
.tagCloud .tagHeader strong{ color:#ff6600;}
.tagCloud ul{ text-align:justify; margin:20px 0;}
.tagCloud li{ display:inline; list-style:none; margin:0 5px;}
.tagCloud li a{ white-space:nowrap;}
.tagCloud li.rank1 a{ font-weight:bold; font-size:2em; background:#12d763; color:#fff;}
.tagCloud li.rank2 a{ font-weight:bold; font-size:1.75em; color:#666;}
.tagCloud li.rank3 a{ font-weight:bold; font-size:1.5em; color:#00b4b5;}
.tagCloud li.rank4 a{ font-size:1.25em; color:#666;}
.tagCloud li.rank5 a{ font-size:1em; color:#666;}
