<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->

<form action="./" method="get" onSubmit="return false" id="fo">
  <div class="editor_window">
    <div class="editor_title">{$lang->table}</div>

    <div class="item_area">
      <div class="header">{$lang->table_cols_count} :</div>
      <div class="body"><input type="text" class="table_input" id="cols_count" value="3" /></div>

      <div class="header">{$lang->table_rows_count} :</div>
      <div class="body"><input type="text" class="table_input" id="rows_count" value="3" /></div>

      <div class="header">{$lang->table_width} :</div>
      <div class="body"><input type="text" class="table_input" id="width" value="600" />px</div>
    </div>

    <div class="item_area">
      <div class="header">{$lang->table_border} :</div>
      <div class="body"><input type="text" class="table_input" id="border" value="1" />px</div>

      <div class="header">{$lang->table_inner_border} :</div>
      <div class="body"><input type="text" class="table_input" id="inner_border" value="1" />px</div>
    </div>

    <div class="item_area">
      <div class="header">{$lang->table_cellspacing} :</div>
      <div class="body"><input type="text" class="table_input" id="cellspacing" value="0" />px</div>

      <div class="header">{$lang->table_cellpadding} :</div>
      <div class="body"><input type="text" class="table_input" id="cellpadding" value="2" />px</div>
    </div>

    <div class="item_area">
      <div class="header">{$lang->table_border_color} :</div>
      <div class="body">
        <div class="editor_color_box">
          <script type="text/javascript">
            printColor("border", "{$tpl_path}/images/blank.gif");
          </script>
        </div>
        <div class="editor_color_input">
          <table border="0" cellspacing="0">
          <tr>
            <td><img src="./images/border_solid.gif" alt="blank" class="border_preview_color" id="border_preview_color" /></td>
            <td>#</td>
            <td><input type="text" id="border_color_input" size="6" maxlength="6" class="table_input" value="88EE22" onkeyup="manual_select_color('border',this)"/></td>
          </tr>
          </table>
        </div>
    </div>
    <div class="item_area">
      <div class="header">{$lang->table_bg_color} :</div>
      <div class="body">
        <div class="editor_color_box">
          <script type="text/javascript">
            printColor("bg", "{$tpl_path}/images/blank.gif");
          </script>
        </div>
        <div class="editor_color_input">
          <table border="0" cellspacing="0">
          <tr>
            <td><img src="./images/blank.gif" alt="blank" class="bg_preview_color" id="bg_preview_color" /></td>
            <td>#</td>
            <td><input type="text" id="bg_color_input" size="6" maxlength="6" class="table_input" value="FFFFFF" onkeyup="manual_select_color('bg',this)"/></td>
          </tr>
          </table>
        </div>
    </div>


    <div class="editor_button_area">
      <input type="button" value="{$lang->cmd_insert}" class="editor_button" onclick="insertTable()" />
      <input type="button" value="{$lang->cmd_close}" class="editor_button" onclick="window.close();" />
    </div>
  </div>
</form>
