<!-- 메뉴를 출력하기 위한 javascript 소스가 담긴 파일을 import -->
<!--%import("js/layout.js")-->

<!-- 레이아웃과 연동될 css 파일 import -->
<!--%import("css/layout.css")-->

<!-- 메뉴를 미리 javscript object에 등록 (이 부분은 그냥 그대로 두면 됨) -->
<script type="text/javascript">
xe_layout_menu['main_menu'] = new Array();
xe_layout_menu['main_menu'][1] = new Array();
<!--@foreach($main_menu->list as $first_key => $first_menu)-->
xe_layout_menu['main_menu'][1][{$first_key}] = { "text":"{htmlspecialchars($first_menu['text'])}","href":"{htmlspecialchars($first_menu['href'])}","open_window":"{$first_menu['open_window']}","normal_btn":"{$first_menu['normal_btn']}","hover_btn":"{$first_menu['hover_btn']}","active_btn":"{$first_menu['active_btn']}","className":"first_menu", "selectedClassName":"first_menu_selected", "selected":{$first_menu['selected']?'true':'false'}};
<!--@if($first_menu['selected'])-->
xe_layout_menu['main_menu'][2] = new Array();
<!--@foreach($first_menu['list'] as $second_key => $second_menu)-->
xe_layout_menu['main_menu'][2][{$second_key}] = { "text":"{htmlspecialchars($second_menu['text'])}","href":"{htmlspecialchars($second_menu['href'])}","open_window":"{$second_menu['open_window']}","normal_btn":"{$second_menu['normal_btn']}","hover_btn":"{$second_menu['hover_btn']}","active_btn":"{$second_menu['active_btn']}","className":"second_menu", "selectedClassName":"second_menu_selected", "selected":{$second_menu['selected']?'true':'false'}};
<!--@if($second_menu['selected'])-->
xe_layout_menu['main_menu'][3] = new Array();
<!--@foreach($second_menu['list'] as $third_key => $third_menu)-->
xe_layout_menu['main_menu'][3][{$third_key}] = { "text":"{htmlspecialchars($third_menu['text'])}","href":"{htmlspecialchars($third_menu['href'])}","open_window":"{$third_menu['open_window']}","normal_btn":"{$third_menu['normal_btn']}","hover_btn":"{$third_menu['hover_btn']}","active_btn":"{$third_menu['active_btn']}","className":"third_menu", "selectedClassName":"third_menu_selected", "selected":{$third_menu['selected']?'true':'false'}};
<!--@end-->
<!--@end-->
<!--@end-->
<!--@end-->
<!--@end-->
xe_layout_menu['bottom_menu'] = new Array();
xe_layout_menu['bottom_menu'][1] = new Array();
<!--@foreach($bottom_menu->list as $first_menu)-->
xe_layout_menu['bottom_menu'][1][{$first_key}] = { "text":"{htmlspecialchars($first_menu['text'])}","href":"{htmlspecialchars($first_menu['href'])}","open_window":"{$first_menu['open_window']}","normal_btn":"{$first_menu['normal_btn']}","hover_btn":"{$first_menu['hover_btn']}","active_btn":"{$first_menu['active_btn']}","className":"bottom_menu", "selectedClassName":"bottom_menu_selected", "selected":{$first_menu['selected']?'true':'false'}};
<!--@end-->
</script>

<!-- 상단 로고 및 main_menu 1차 출력 -->
<div class="layout_top">
    <div class="layout_logo">
        <a href="{$layout_info->index_url}"><!--@if(!$layout_info->top_title)-->top title<!--@else-->{$layout_info->top_title}<!--@end--></a>
    </div>

    <div class="layout_first_menu">
        <!-- main_menu 1차 시작 -->
        <script type="text/javascript">
            xe_print_menu('main_menu', 1);
        </script>
        <!-- main_menu 1차 끝 -->
    </div>

</div>

<!-- 왼쪽 2차 메뉴 및 로그인과 기타 위젯 부분 -->
<div class="layout_left">
    <!-- 로그인 위젯 -->
    <img src="./common/tpl/images/blank.gif" class="zbxe_widget_output" widget="login_info" skin="default" colorset="normal" />

    <!-- main_menu 2차 시작 -->
    <div class="layout_second_menu">
        <script type="text/javascript">
            xe_print_menu('main_menu', 2, true);
        </script>
    </div>

    <!--@if($grant->is_admin)-->
    <!-- 관리자일 경우 레이아웃 관리 메뉴 -->
    <div class="layout_admin">
        <a href="#" onclick="location.href='{getUrl('act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}';return false;">{$lang->cmd_layout_management}</a> /
        <a href="#" onclick="location.href='{getUrl('act','dispLayoutAdminEdit','layout_srl',$layout_info->layout_srl)}';return false;">{$lang->cmd_edit}</a>
    </div>
    <!--@end-->
</div>

<!-- 컨텐츠 출력 부분 -->
<div class="layout_content">
    <div id="content">{$content}</div>

    <!-- bottom_menu 메뉴 시작 -->
    <div class="layout_bottom">
        <div class="layout_bottom_menu">
            <script type="text/javascript">
                xe_print_menu('bottom_menu', 1);
            </script>
        </div>
    </div>

</div>
