<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="dispDocumentAdminManageDocument" target="manager" />
        <permission action="getDocumentCategories" target="manager" />
        <permission action="procDocumentAdminAddCart" target="manager" />
        <permission action="procDocumentAdminManageCheckedDocument" target="manager" />
    </permissions>
    <actions>
        <action name="dispDocumentPrint" type="view" standalone="true" />
        <action name="dispDocumentPreview" type="view" standalone="true" />

        <action name="dispDocumentAdminList" type="view" admin_index="true" standalone="true" />
        <action name="dispDocumentAdminConfig" type="view" standalone="true" />
        <action name="dispDocumentAdminDeclared" type="view" standalone="true" />

        <action name="dispDocumentAdminManageDocument" type="view" standalone="true"/>

        <action name="procDocumentVoteUp" type="controller" standalone="true" />
        <action name="procDocumentVoteDown" type="controller" standalone="true" />
        <action name="procDocumentDeclare" type="controller" standalone="true" />

        <action name="getDocumentCategories" type="model" standalone="true"/>
        <action name="getDocumentMenu" type="model" standalone="true"/>

        <action name="procDocumentAdminAddCart" type="controller" standalone="true" />
        <action name="procDocumentAdminManageCheckedDocument" type="controller" standalone="true" />

        <action name="procDocumentAdminDeleteChecked" type="controller" standalone="true" />
        <action name="procDocumentAdminInsertConfig" type="controller" standalone="true" />
        <action name="procDocumentAdminDeleteAllThumbnail" type="controller" standalone="true" />
        <action name="procDocumentAdminCancelDeclare" type="controller" standalone="true" />
    </actions>
</module>
