<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
        <permission action="dispDocumentManageDocument" target="member" />
        <permission action="getDocumentCategories" target="member" />
        <permission action="getDocumentCategoryTplInfo" target="member" />
        <permission action="procDocumentAddCart" target="member" />

        <permission action="procDocumentInsertCategory" target="member" />
        <permission action="procDocumentManageCheckedDocument" target="member" />
        <permission action="procDocumentMoveCategory" target="member" />
        <permission action="procDocumentDeleteCategory" target="member" />
        <permission action="procDocumentMakeXmlFile" target="member" />
    </permissions>
    <actions>
        <action name="dispDocumentPrint" type="view" standalone="true" />
        <action name="dispDocumentPreview" type="view" standalone="true" />
        <action name="dispDocumentManageDocument" type="view" standalone="true" />

        <action name="getDocumentCategories" type="model" standalone="true" />
        <action name="getDocumentMenu" type="model" standalone="true" />

        <action name="procDocumentVoteUp" type="controller" standalone="true" />
        <action name="procDocumentVoteDown" type="controller" standalone="true" />
        <action name="procDocumentDeclare" type="controller" standalone="true" />
        <action name="procDocumentAddCart" type="controller" standalone="true" />
        <action name="procDocumentManageCheckedDocument" type="controller" standalone="true" />
        <action name="procDocumentInsertModuleConfig" type="controller" standalone="true" />

        <action name="dispDocumentAdminList" type="view" admin_index="true" standalone="true" />
        <action name="dispDocumentAdminConfig" type="view" standalone="true" />
        <action name="dispDocumentAdminAlias" type="view" standalone="true" />
        <action name="dispDocumentAdminDeclared" type="view" standalone="true" />
        <action name="dispDocumentAdminTrashList" type="view" standalone="true" />

        <action name="getDocumentCategoryTplInfo" type="model" standalone="true" />

        <action name="procDocumentInsertCategory" type="controller" standalone="true" />
        <action name="procDocumentDeleteCategory" type="controller" standalone="true" />
        <action name="procDocumentMoveCategory" type="controller" standalone="true" />
        <action name="procDocumentMakeXmlFile" type="controller" standalone="true" />

        <action name="procDocumentAdminInsertAlias" type="controller" standalone="true" />
        <action name="procDocumentAdminDeleteAlias" type="controller" standalone="true" />
        <action name="procDocumentAdminRestoreTrash" type="controller" standalone="true" />
        <action name="procDocumentAdminMoveExtraVar" type="controller" standalone="true" />

        <action name="procDocumentAdminInsertExtraVar" type="controller" standalone="true" />
        <action name="procDocumentAdminDeleteExtraVar" type="controller" standalone="true" />
        <action name="procDocumentAdminDeleteChecked" type="controller" standalone="true" />
        <action name="procDocumentAdminInsertConfig" type="controller" standalone="true" />
        <action name="procDocumentAdminDeleteAllThumbnail" type="controller" standalone="true" />
        <action name="procDocumentAdminCancelDeclare" type="controller" standalone="true" />
    </actions>
</module>
