<?xml version="1.0" encoding="utf-8"?>
<module>
	<actions>
		<action name="dispSocialloginSnsManage" type="view" standalone="true"/>
		<action name="dispSocialloginConnectSns" type="view" standalone="true"/>
		<action name="dispSocialloginSnsProfile" type="view" standalone="true"/>

		<action name="procSocialloginSnsClear" type="controller" standalone="true"/>
		<action name="procSocialloginSnsLinkage" type="controller" standalone="true"/>
		<action name="procSocialloginCallback" type="controller" standalone="true" method="GET|POST" check_csrf="false" />

		<action name="dispSocialloginAdminSettingApi" class="Controllers\Admin" menu_name="sociallogin"/>
		<action name="dispSocialloginAdminSetting" class="Controllers\Admin" menu_name="sociallogin"/>
		<action name="dispSocialloginAdminLogRecord" class="Controllers\Admin" menu_name="sociallogin"/>
		<action name="dispSocialloginAdminSnsList" class="Controllers\Admin" admin_index="true" menu_name="sociallogin" menu_index="true"/>
		<action name="dispSocialloginAdminMigration" class="Controllers\Admin" menu_index="sociallogin" />

		<action name="procSocialloginAdminSettingApi" class="Controllers\Admin" />
		<action name="procSocialloginAdminSetting" class="Controllers\Admin" />
		<action name="procSocialloginAdminDeleteLogRecord" class="Controllers\Admin" />
		<action name="procSocialloginAdminMigration" class="Controllers\Admin" />
	</actions>
	<menus>
		<menu name="sociallogin">
			<title xml:lang="ko">소셜로그인</title>
		</menu>
	</menus>
</module>
