.counter_widget {
    border:3px solid #DDDDDD;
    padding:6px;
    margin-bottom:10px;
    color:#999999;
    font-family:tahoma;
    font-size:8pt;
}

.counter_widget ul { margin:0; padding:0; list-style:none; }
