<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<actions>
		<action name="getWeeklyPageView" type="model" permission="root" />
		<action name="getWeeklyUniqueVisitor" type="model" permission="root" />
		
		<action name="dispCounterAdminIndex" type="view" admin_index="true" />
	</actions>
</module>
