@charset "utf-8";
/* CSS Document */#memberModule{font-family:Arial,Helvetica,sans-serif}
.fr{float:right}
#memberModule caption{padding-bottom:5px;font-size:11px;font-family:Tahoma;color:#888;text-align:left}

/* Button */
a.grayBtn{display:inline-block;height:29px;_margin-top:2px;padding-left:4px;background:url(../images/btn_gray_left.gif) no-repeat top left;text-decoration:none;_vertical-align:middle;cursor:pointer}
a.grayBtn span{display:inline-block;height:24px;padding:5px 14px 0 11px;_padding-top:7px;background:url(../images/btn_gray_right.gif) no-repeat top right;font-weight:bold;color:#FFF;white-space:nowrap}
a.whiteBtn{display:inline-block;height:28px;padding-left:4px;background:url(../images/btn_white_left.gif) no-repeat left -1px;_background-position:left top;text-decoration:none;_vertical-align:middle;cursor:pointer}
a.whiteBtn span{display:inline-block;height:21px;padding:5px 14px 0 11px;background:url(../images/btn_white_right.gif) no-repeat right -1px;_background-position:right top;font-weight:bold;line-height:12px;color:#808080;white-space:nowrap}
span.grayBtn{display:inline-block;height:27px;margin-top:0;*margin-top:-14px;_margin-top:1px !important;_padding-top:-3px;padding-left:4px;background:url(../images/btn_gray_left.gif) no-repeat top left;text-decoration:none;vertical-align:middle;_vertical-align:baseline;white-space:nowrap;cursor:pointer}

span.grayBtn input{display:inline-block;height:26px;margin:0;padding:0 12px 0 7px;border:0 none;background:url(../images/btn_gray_right.gif) no-repeat top right;font-weight:bold;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#808080;color:#FFF;text-align:line-height:12px;vertical-align:middle;white-space:nowrap;cursor:pointer}

span.whiteBtn{display:inline-block;height:27px;margin-top:0;*margin-top:-14px;_margin-top:1px !important;_padding-top:-3px;padding-left:4px;background:url(../images/btn_white_left.gif) no-repeat top left;text-decoration:none;vertical-align:middle;_vertical-align:baseline;white-space:nowrap;cursor:pointer}

span.whiteBtn input{display:inline-block;height:26px;margin:0;padding:1px 12px 0 7px;border:0 none;background:url(../images/btn_white_right.gif) no-repeat top right;font-weight:bold;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#808080;color:#808080;text-align:line-height:11px;vertical-align:middle;vertical-align:middle;white-space:nowrap;cursor:pointer}

.localNavigation{width:100%;height:31px;margin:0;padding:1px 0 0;background:url(../images/title_bg_repeat.gif) repeat-x top left}
.localNavigation li{float:left;list-style:none}
.localNavigation .mLeft{float:left;width:4px;height:31px;margin-top:-1px}
.localNavigation .mRight{float:right;width:5px;height:31px;margin-top:-1px}
.localNavigation .item{height:24px;margin:0;background:url(../images/title_item_vr.gif) no-repeat top right}
.localNavigation .item a{display:inline-block;height:19px;padding:5px 16px 0 14px;line-height:12px;font-family:Arial,Helvetica,sans-serif;color:#5a5a5a;text-decoration:none;outline:none}
.localNavigation .l_on{margin-left:-2px;margin-top:1px;background:none}
.localNavigation .l_on .l_on_left{display:block;float:left;width:3px;height:24px;background:url(../images/title_on_left.gif) no-repeat top left}
.localNavigation .l_on a{_margin-left:-3px;background:url(../images/title_on_right.gif) no-repeat top right;color:#FFF}
.localNavigation .l_last{background:none}

#memberModule h3.pTitle{height:23px;margin:0 0 5px;padding:0 0 0 10px;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#3f3f3f}
#memberModule h3.pTitle1{height:23px;margin:20px 0 12px;padding:8px 0 0 37px;border-bottom:#9b989a solid 1px;background:url(../images/icon_member_info.gif) no-repeat 13px 6px;font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#3f3f3f}
#memberModule h3.pTitle2{}
#memberModule h3.pTitle3{}
#memberModule .gap1{margin-bottom:10px}
#memberModule .rowTable{width:100%;border-bottom:#c3c1c2 solid 1px}
.rowTable th{width:10%;padding:13px 11px;border-bottom:#E5E5E5 solid 1px;text-align:left;vertical-align:top}
.rowTable th div{color:#5a5a5a;white-space:nowrap}
.rowTable td{width:100%;padding:13px 10px 13px 25px;border-bottom:#E5E5E5 solid 1px;color:#000}
.rowTable td input.txt{height:20px;border:#C1C1C1 solid 1px}

#memberModule .col_table{width:100%;border-bottom:#c9c7c8 solid 1px}
.col_table tr{height:27px}
.col_table thead tr{height:25px;background:url(../images/coltable_head_bg.gif) repeat-x top left}
.col_table thead th{height:25px;background:url(../images/coltable_head_bg.gif) repeat-x top left}
.col_table .chk{background:transparent url(../images/coltable_head_left.gif) no-repeat top left}
.col_table input{margin:0;padding:0}
.col_table td{text-align:center}
.col_table .subject{padding-left:20px;text-align:left}
.col_table .subject a{font-weight:bold;color:#333;text-decoration:none}
.col_table .subject em{font-size:10px;font-style:italic}
.col_table .subject em.red{color:#C00}
.col_table .subject em.green{color:#390}
.col_table .l_date{padding-left:20px;text-align:left}
.col_table th.th_right{background-color:transparent;background:url(../images/coltable_head_right.gif) no-repeat top right}
.col_table .savedContent{padding:10px}
.col_table .doc_title{}
.col_table .doc_title a{font-weight:bold;color:#333;text-decoration:none}
.col_table th.button_col{padding:6px 0 8px;border-top:#EEE solid 1px}

#memberModule h3.signup_head{color:#3c3d41;letter-spacing:-1px;word-spacing:2px}
#memberModule .signupTable{width:100%;border-collapse:collapse;background:url(../images/sng_ml.gif) repeat-y top left;border-spacing:0}
.signupTable caption{height:12px;margin:0;padding:0 !important;border:none;background:url(../images/sng_tc.gif) repeat-x top left transparent}
.signupTable caption span{display:block;height:12px;margin:0;_margin-bottom:-2px;padding:0;line-height:0;text-indent:-1000px}
.signupTable caption span.cap_left{float:left;width:11px;background:url(../images/sng_tl.gif) no-repeat top left}
.signupTable caption span.cap_right{float:right;width:13px;background:url(../images/sng_tr.gif) no-repeat top left}

.signupTable tbody{margin:0;padding:0}
.signupTable th{background:transparent;vertical-align:top}
.signupTable th	div{padding:10px 0 0 45px;text-align:left}
.signupTable .title{height:30px;background:url(../images/sng_mr.gif) repeat-y top right;vertical-align:middle}

.signupTable td input.iText{width:200px;height:20px;border:#C1C1C1 solid 1px}
.signupTable td input[type=text]{width:200px;height:20px;border:#C1C1C1 solid 1px}
.signupTable td select{height:20px;margin-bottom:5px;border:#C1C1C1 solid 1px}
#memberModule .signupTable em.require{margin-left:5px;color:red}
.signupTable .wide p{margin:10px 0 15px}
.signupTable td{padding:10px 0;background:url(../images/sng_mr.gif) repeat-y top right}
.signupTable tr.agreement{}
.signupTable th.agreement{padding:5px 20px;background:url(../images/sng_mr.gif) repeat-y top right}
.signupTable th.agreement p{margin:0;font-weight:normal;text-align:justify}
.signupTable th.agreement div.agreementButton{margin:10px 0}
.signupTable .btnbar_vat{height:70px !important;padding-top:20px;vertical-align:top}
.signupTable .btnbar_vat span.button{margin-top:20px}

.signupTable tfoot{}
.signupTable tr.button_tr{background:url() repeat-x bottom left}
.signupTable th.button_col{height:93px;height:93px;padding:0;background:transparent url(../images/sng_bc.gif) repeat-x 12px 100%;text-align:left}
.signupTable th.button_col div.btm_bg{height:93px;padding:0;background:url(../images/sng_bl_tfoot.gif) no-repeat top left}
.signupTable th.button_col div.br_bg{height:73px;padding:20px 0 0;background:transparent url(../images/sng_br.gif) no-repeat top right;text-align:center}

#memberModule .find_account{height:482px;padding-left:11px;background:url(../images/find_bg_left.png) no-repeat top left}
#memberModule p.tDesc{margin:0 0 10px;padding:0}
#memberModule .findTable{width:100%;height:482px;background:url(../images/find_bg_right.png) no-repeat top right}
.findTable th{padding:9px 18px 9px 40px;background:none;text-align:left;vertical-align:top}
.findTable td{padding:9px 18px 9px 40px;background:none}
.findTable .btnLine	td{height:30px;padding-bottom:20px !important}
.findTable .sLine{height:40px}
.findTable .mLine{height:50px}
.findTable .bLine{text-align:center}
.findTable .tInput{width:185px;height:17px;border:#CECECE solid 1px;font-size:12px}
.btn_bar_r{margin:16px 0;text-align:right}
.btn_bar_l{text-align:left}

.signPanel{width:318px;height:191px;margin:10px auto;background:#093 url(../images/login_panel_bg.gif) no-repeat top left}
.signPanel .left{float:left;width:192px;height:138px;_height:128px;padding:18px 0 0 23px;_padding-top:28px}
.signPanel .right{float:right;width:100px;height:111px;padding-top:45px}
.signPanel .left .tInBox{width:185px;height:18px;padding:0 0 0 4px;background:url(../images/signPanel_input_bg.gif) no-repeat top left}
.signPanel .left .tInBox img{padding-top:3px}
.signPanel .left .tInBox input{width:160px;height:18px;padding-left:5px;border:0 none;background:none}
.signPanel .left label{display:block;margin:10px 0 3px}
.signPanel .left label input{margin:0 7px 0 0;padding:0}
.signPanel .left .lb_chk{margin-top:10px;_margin:0;padding:0}
.signPanel .bottom_bar{float:left;width:245px;padding:9px 0 0 73px;border-top:#e1e1e1 solid 1px;text-align:center}
.signPanel .bottom_bar a{float:left;padding-left:10px;color:#757575;text-decoration:none;dispaly:block}
.signPanel .bottom_bar a.vr{padding-right:10px;border-right:#a8a8a8 solid 1px}

#memberModule .pagination{clear:both;margin:0;padding:15px 0;text-align:center}
#memberModule .pagination *{margin:0;padding:0}
#memberModule .pagination img{border:0}

#memberModule .pagination a,#memberModule .pagination strong{display:inline-block;position:relative;line-height:normal;font-family:Tahoma,Sans-serif;color:#333;text-decoration:none;vertical-align:middle}

#memberModule .pagination a:hover,#memberModule .pagination a:active,#memberModule .pagination a:focus{background-color:#f4f4f4 !important}
#memberModule .pagination strong{color:#f60 !important}

#memberModule .pagination a.prev,#memberModule .pagination a.prevEnd,#memberModule .pagination a.next,#memberModule .pagination a.nextEnd{margin:0 !important;border:none !important;font-weight:normal !important;white-space:nowrap}

#memberModule .pagination.a1 a,#memberModule .pagination.a1 strong{margin:0 -4px;padding:1px 10px 1px 8px;border:none;border-left:1px solid #ccc;border-right:1px solid #ddd;background:#fff;font-weight:bold;font-size:12px}
#memberModule .pagination.a1 a.prev{padding-left:10px;background:#fff url(../images/arrowPrevA1.gif) no-repeat left center}
#memberModule .pagination.a1 a.prevEnd{padding-left:15px;background:#fff url(../images/arrowPrevEndA1.gif) no-repeat left center}
#memberModule .pagination.a1 a.next{padding-right:10px;background:#fff url(../images/arrowNextA1.gif) no-repeat right center}
#memberModule .pagination.a1 a.nextEnd{padding-right:15px;background:#fff url(../images/arrowNextEndA1.gif) no-repeat right center}