@charset "utf-8";

body,input,textarea { font-size:12px; font-family:Dotum; }
body      { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }
a:link    { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover   { text-decoration: underline; }
a:active  {	text-decoration: none; }

#loading { background:url(./images/common/loading.gif) no-repeat; width:125px; height:39px; position:absolute; left:10px; top:10px; }

#layout_zx { cursor:default; }

#layout_zx .lo_top       { background:url(./images/common/top_bg.gif) repeat-x; height:100px; text-align:center; }
#layout_zx .lo_top .logo { background:url(./images/common/top_bg_center.gif) no-repeat; width:600px; height:100px; text-align:center; margin-left:auto; margin-right:auto; }
#layout_zx .lo_menu              { background:url(./images/menubar/bg.gif) repeat-x; height:45px; }
#layout_zx .lo_menu .a_left      { background:url(./images/menubar/opening.gif) right no-repeat; height:35px; }
#layout_zx .lo_menu .a_right     { background:url(./images/menubar/closing.gif) left  no-repeat; height:35px; }
#layout_zx .lo_menu .a_center       { width:878px; }
#layout_zx .lo_menu .a_center .item { width:80px; height:24px;float:left; font-family:Tahoma;font-size:11px; font-weight:bold; cursor:pointer; text-align:center; padding:11px 5px 0px 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
#layout_zx .lo_menu .a_center .i_nm { background:url(./images/menubar/item_bg.gif) no-repeat; color:#D8E5EF }
#layout_zx .lo_menu .a_center .i_ov { background:url(./images/menubar/item_bg_over.gif) no-repeat; color:#FFFFFF; }
#layout_zx .lo_menu .a_center .i_se { background:url(./images/menubar/item_bg_sel.gif) no-repeat; color:#FFFFFF; }
#layout_zx .lo_menu .a_search              { float:right; text-align:center; margin-top:5px; margin-right:10px; }
#layout_zx .lo_menu .a_search input.input  { width:91px; height:17px; background:url(./images/menubar/search_input_bg.gif) no-repeat; border:none; margin-top:0px; padding:6px 8px 0px 8px; text-align:center; color:#467CAA; }
#layout_zx .lo_menu .a_search input.submit { width:32px; height:23px; background:url(./images/menubar/search_input_submit.gif) no-repeat; border:none; margin:0px; cursor:pointer; }
#layout_zx .lo_menu .shadow { background:url(./images/menubar/shadow.gif) repeat-x; height:10px; }

#layout_zx .main_body_cell { width:900px; margin-left:auto; margin-right:auto; }
#layout_zx .tbl_home_layout           { height:400px; margin-top:-10px; }
#layout_zx .tbl_home_layout .l_left   { width:180px; background:#F6F6F6; }
#layout_zx .tbl_home_layout .l_center { }
#layout_zx .tbl_home_layout .l_line   { width:1px; background:#F1F2F3; }
#layout_zx .tbl_home_layout .l_right  { width:189px; }

#layout_zx .box_login { padding:9px; border:solid 3px #D5D8DB; background:#FFFFFE; }
#layout_zx #fo_login .form_field     { float:left; width:108px; }
#layout_zx #fo_login .form_submit    { text-align:right; }
#layout_zx #fo_login .form_keepalive { height:25px;margin-left:10px; }
#layout_zx #fo_login input.submit    { width:45px; height:45px; background:url(./images/common/login_btn_submit.gif) no-repeat; border:none; margin:0px; cursor:pointer; }
#layout_zx #fo_login .item           { clear:both; background:url(./images/common/bul_01.gif) no-repeat left; height:13px; padding:3px 0px 0px 12px; margin-left:5px; margin-top:2px; }
#layout_zx #logged div.item           { cursor:pointer; font-size:11px; letter-spacing:-1px; margin-right:10px; padding:3px 0px 0px 14px; white-space:nowrap; }
#layout_zx #logged div.new            { font-weight:bold; color:#FF7200; }
#layout_zx #logged div.logout         { display:block; font-weight:bold; float:right; margin-right:0px; margin-top:2px; }
#layout_zx #logged div.profile        { float:left; background:url(./images/common/icon_profile.gif) no-repeat left; }
#layout_zx #logged div.message        { float:left; background:url(./images/common/icon_note.gif) no-repeat left; }
#layout_zx #logged div.administrative { float:right; background:url(./images/common/icon_key.gif) no-repeat left; color:#D80D0F; margin-right:0px; }

#layout_zx .submenu { padding:10px; }
#layout_zx .submenu .title  { background:url(./images/leftmenu/smenu_title.gif) no-repeat; height:23px; font-weight:bold; font-family:Tahoma; font-size:11px; color:#FFFFFF; padding:6px 10px 0px 10px; }
#layout_zx .submenu .a_item { background:#FFFFFF; padding:9px; border:solid 1px #E0E8EE; border-top-width:0px; padding-top:2px;}
#layout_zx .submenu .item   { border-bottom:solid 1px #E0E8EE; margin-top:2px; padding-top:3px; padding-bottom:5px; }
#layout_zx .submenu .depthin       { clear:both; padding:5px 0px 2px 15px; }
#layout_zx .submenu .depthin .item { border-bottom:none; padding:2px 0px 1px 0px; margin-top:0px; }
#layout_zx .submenu .depthin .item a      { color:#9A9893; }
#layout_zx .submenu .depthin .item a.i_se { font-weight:normal; background:none; color:#467CAA; }
#layout_zx .submenu .a_item a      { color:#797771; display:block; padding-top:3px; }
#layout_zx .submenu .a_item a.i_se { background:url(./images/leftmenu/bul_01.gif) no-repeat right; font-weight:bold; color:#467CAA; }
#layout_zx .submenu .last { border-bottom:none; }

#layout_zx .cprt { height:55px; background:url(./images/common/copyright_bg.gif); text-align:center; }
#layout_zx .cprt .fixed { width:880px; margin-left:auto; margin-right:auto; text-align:left; }
#layout_zx .cprt .desc { width:500px; margin-left:190px; font-family:Tahoma; font-size:11px; color:#797771; position:absolute; text-align:center; padding-top:20px; }
#layout_zx .cprt .logo { background:url(./images/common/copyright_zx.gif) no-repeat; width:190px; height:55px; float:right; }

#layout_zx .hr_dot_01 { background:url(./images/common/hr_dot_01.gif) repeat-x; height:2px; overflow:hidden; clear:both; margin:4px 0px 4px 0px; }
#layout_zx .clear     { clear:both; }
#layout_zx .input     { border:solid 1px #E1E1E1; padding:2px; height:14px; margin:0px; cursor:text; }
#layout_zx .checkbox  { width:15px; height:15px; margin:-1px 0px 0px -1px; }
#layout_zx label      { cursor:pointer; }
#layout_zx form       { display:inline; border:none; margin:0px; padding:0px; }
#layout_zx textarea   { cursor:text; }

#layout_zx .bold  { font-weight:bold; }
#layout_zx .fc_00 { color:#000000; }
#layout_zx .fc_01 { color:#797771; }
#layout_zx .fc_02 { color:#9A9893; }
#layout_zx .fc_11 { color:#467CAA; }
#layout_zx .fc_12 { color:#9EAB1A; }
#layout_zx .fc_13 { color:#FF7200; }
#layout_zx .fc_14 { color:#D80D0F; }
#layout_zx .fc_20 { color:#E3E6E8; }
