@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.widgetBoxContainer{ position:relative;}

.widgetBox{ position:relative; *zoom:1; }
.widgetBox:after{content:""; display:block; clear:both; }
.widgetBox .widgetBoxHeader{ font-size:16px; font-family:Tahoma; margin:0; z-index:10;}
.widgetBox .widgetContainer{ position:relative; z-index:10;}
.widgetBox .widgetMore{ position:absolute; display:block; text-decoration:none; font-size:11px !important; white-space:nowrap; font-family:Tahoma; color:#000; text-align:center; z-index:20;}
.widgetBox .widgetMore img{ border:0;}
.widgetBox .rcContainer{ display:block; width:100%; font-size:0; line-height:0; z-index:1; *zoom:1; }
.widgetBox .rc{ position:absolute; display:block; font-size:0; line-height:0; overflow:hidden;}
.widgetBox .rcTop .tl{ top:0;}
.widgetBox .rcTop .tr{ top:0;}
.widgetBox .rcBottom .bl{ top:0;}
.widgetBox .rcBottom .br{ top:0;}

.widgetBoxEred{ padding:3px 0;}
.widgetBoxEred .widgetBox{ background:#ff3333; *zoom:1}
.widgetBoxEred .widgetBoxHeader{ position:relative; padding:5px 0; text-indent:15px; color:#fff;}
.widgetBoxEred .widgetContainer,
.widgetBoxEred .widgetContainer a{ color:#fff;}
.widgetBoxEred .widgetMore{ top:10px; right:15px; width:35px; background:url(../img/moreBgEred.gif) no-repeat; color:#ff3333;}
.widgetBoxEred .rcTop,
.widgetBoxEred .rcBottom{ height:3px;} 
.widgetBoxEred .rcTop{ position:absolute; top:-3px; left:0; }
.widgetBoxEred .rcBottom{ position:relative; bottom:-3px;}
.widgetBoxEred .rc { width:50%; height:3px; background-image:url(../img/roundedCornerEred.gif); background-repeat:no-repeat;}
.widgetBoxEred .rcTop .tl{ background-position:0 0;}
.widgetBoxEred .rcTop .tr{ background-position:right 0; left:50%;}
.widgetBoxEred .rcBottom .bl{ background-position:0 bottom;}
.widgetBoxEred .rcBottom .br{ background-position:right bottom; left:50%;}

.widgetBoxEgreen{ padding:3px 0;}
.widgetBoxEgreen .widgetBox{ background:#90d133; *zoom:1}
.widgetBoxEgreen .widgetBoxHeader{ position:relative; padding:5px 0; text-indent:15px; color:#fff;}
.widgetBoxEgreen .widgetContainer,
.widgetBoxEgreen .widgetContainer a{ color:#fff;}
.widgetBoxEgreen .widgetMore{ top:10px; right:15px; width:35px; background:url(../img/moreBgEgreen.gif) no-repeat; color:#90d133;}
.widgetBoxEgreen .rcTop,
.widgetBoxEgreen .rcBottom{ height:3px;} 
.widgetBoxEgreen .rcTop{ position:absolute; top:-3px; left:0; }
.widgetBoxEgreen .rcBottom{ position:relative; bottom:-3px;}
.widgetBoxEgreen .rc { width:50%; height:3px; background-image:url(../img/roundedCornerEgreen.gif); background-repeat:no-repeat;}
.widgetBoxEgreen .rcTop .tl{ background-position:0 0;}
.widgetBoxEgreen .rcTop .tr{ background-position:right 0; left:50%;}
.widgetBoxEgreen .rcBottom .bl{ background-position:0 bottom;}
.widgetBoxEgreen .rcBottom .br{ background-position:right bottom; left:50%;}

.widgetBoxEblue{ padding:3px 0;}
.widgetBoxEblue .widgetBox{ background:#55ccdd; *zoom:1}
.widgetBoxEblue .widgetBoxHeader{ position:relative; padding:5px 0; text-indent:15px; color:#fff;}
.widgetBoxEblue .widgetContainer,
.widgetBoxEblue .widgetContainer a{ color:#fff;}
.widgetBoxEblue .widgetMore{ top:10px; right:15px; width:35px; background:url(../img/moreBgEblue.gif) no-repeat; color:#55ccdd;}
.widgetBoxEblue .rcTop,
.widgetBoxEblue .rcBottom{ height:3px;} 
.widgetBoxEblue .rcTop{ position:absolute; top:-3px; left:0;}
.widgetBoxEblue .rcBottom{ position:relative; bottom:-3px;}
.widgetBoxEblue .rc { width:50%; height:3px; background-image:url(../img/roundedCornerEblue.gif); background-repeat:no-repeat;}
.widgetBoxEblue .rcTop .tl{ background-position:0 0;}
.widgetBoxEblue .rcTop .tr{ background-position:right 0; left:50%;}
.widgetBoxEblue .rcBottom .bl{ background-position:0 bottom;}
.widgetBoxEblue .rcBottom .br{ background-position:right bottom; left:50%;}
