@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.widgetBoxContainer{ position:relative;}


.widgetBox{ position:relative; *zoom:1; }
.widgetBox:after{content:""; display:block; clear:both; }
.widgetBox .widgetBoxHeader{ font-size:16px; font-family:Tahoma; margin:0; z-index:10;}
.widgetBox .widgetContainer{ position:relative; z-index:10;}
.widgetBox .widgetMore{ position:absolute; display:block; text-decoration:none; font-size:11px !important; white-space:nowrap; font-family:Tahoma; color:#000; text-align:center; z-index:20;}
.widgetBox .widgetMore img{ border:0;}
.widgetBox .rcContainer{ display:block; width:100%; font-size:0; line-height:0; z-index:1; *zoom:1; clear:both;}
.widgetBox .rc{ position:absolute; display:block; font-size:0; line-height:0; overflow:hidden;}
.widgetBox .rcTop .tl{ top:0;}
.widgetBox .rcTop .tr{ top:0;}
.widgetBox .rcBottom .bl{ top:0;}
.widgetBox .rcBottom .br{ top:0;}

.widgetBoxIyellow{ padding-top:50px;}
.widgetBoxIyellow .widgetBox{ background:#fdf59b; padding-top:10px; padding-bottom:5px;}
.widgetBoxIyellow .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxIyellow .widgetContainer{ margin-top:-50px;}
.widgetBoxIyellow .widgetMore{ top:-31px; right:50px;}
.widgetBoxIyellow .rcContainer{ position:absolute;}
.widgetBoxIyellow .rcTop{ top:-50px; height:50px;}
.widgetBoxIyellow .rcBottom{ display:none !important;} 
.widgetBoxIyellow .rc { width:50%; background-image:url(../img/widgetBoxIyellow.png); _background-image:url(../img/widgetBoxIyellow.gif); background-repeat:no-repeat;}
.widgetBoxIyellow .rcTop .rc{ height:50px;}
.widgetBoxIyellow .rcTop .tl{ background-position:0 0;}
.widgetBoxIyellow .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto; *right:0; _right:auto;}

.widgetBoxIred{ padding-top:50px;}
.widgetBoxIred .widgetBox{ background:#fd9bda; padding-top:10px; padding-bottom:5px;}
.widgetBoxIred .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxIred .widgetContainer{ margin-top:-50px;}
.widgetBoxIred .widgetMore{ top:-31px; right:50px;}
.widgetBoxIred .rcContainer{ position:absolute;}
.widgetBoxIred .rcTop{ top:-50px; height:50px;}
.widgetBoxIred .rcBottom{ display:none !important;} 
.widgetBoxIred .rc { width:50%; background-image:url(../img/widgetBoxIred.png); _background-image:url(../img/widgetBoxIred.gif); background-repeat:no-repeat;}
.widgetBoxIred .rcTop .rc{ height:50px;}
.widgetBoxIred .rcTop .tl{ background-position:0 0;}
.widgetBoxIred .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto; *right:0; _right:auto;}

.widgetBoxIgreen{ padding-top:50px;}
.widgetBoxIgreen .widgetBox{ background:#9bfda3; padding-top:10px; padding-bottom:5px;}
.widgetBoxIgreen .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxIgreen .widgetContainer{ margin-top:-50px;}
.widgetBoxIgreen .widgetMore{ top:-31px; right:50px;}
.widgetBoxIgreen .rcContainer{ position:absolute;}
.widgetBoxIgreen .rcTop{ top:-50px; height:50px;}
.widgetBoxIgreen .rcBottom{ display:none !important;} 
.widgetBoxIgreen .rc { width:50%; background-image:url(../img/widgetBoxIgreen.png); _background-image:url(../img/widgetBoxIgreen.gif); background-repeat:no-repeat;}
.widgetBoxIgreen .rcTop .rc{ height:50px;}
.widgetBoxIgreen .rcTop .tl{ background-position:0 0;}
.widgetBoxIgreen .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto; *right:0; _right:auto;}

.widgetBoxIblue{ padding-top:50px;}
.widgetBoxIblue .widgetBox{ background:#9bf4fd; padding-top:10px; padding-bottom:5px;}
.widgetBoxIblue .widgetBoxHeader{ position:relative; padding:3px 0; text-indent:15px; margin-top:-50px !important; margin-bottom:50px !important;}
.widgetBoxIblue .widgetContainer{ margin-top:-50px;}
.widgetBoxIblue .widgetMore{ top:-31px; right:50px;}
.widgetBoxIblue .rcContainer{ position:absolute;}
.widgetBoxIblue .rcTop{ top:-50px; height:50px;}
.widgetBoxIblue .rcBottom{ display:none !important;} 
.widgetBoxIblue .rc { width:50%; background-image:url(../img/widgetBoxIblue.png); _background-image:url(../img/widgetBoxIblue.gif); background-repeat:no-repeat;}
.widgetBoxIblue .rcTop .rc{ height:50px;}
.widgetBoxIblue .rcTop .tl{ background-position:0 0;}
.widgetBoxIblue .rcTop .tr{ background-position:right 0; left:50%; *left:auto; _left:50%; right:auto; *right:0; _right:auto;}
