<?xml version="1.0" encoding="utf-8"?>
<module version="0.1">
  <title xml:lang="ko">RSS</title>
  <title xml:lang="en">RSS</title>
  <author email_address="zero@zeroboard.com" link="http://www.zeroboard.com" date="2007. 2. 28">
    <name xml:lang="ko">제로</name>
    <name xml:lang="en">zero</name>
    <description xml:lang="ko">RSS 관리 모듈</description>
    <description xml:lang="en">rss management</description>
  </author>
<module>
