<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="adminIndex" type="view" standalone="true" admin_index="true" />
        <action name="setupComponent" type="view" standalone="true" />
        <action name="dispPopup" type="view" standalone="true" />
        <action name="viewComponentInfo" type="view" standalone="true" />

        <action name="procCall" type="controller" standalone="true" />
        <action name="procEnableComponent" type="controller" standalone="true" />
        <action name="procDisableComponent" type="controller" standalone="true" />
        <action name="procMoveListOrder" type="controller" standalone="true" />
        <action name="procSetupComponent" type="controller" standalone="true" />
    </actions>
</module>
