<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<actions>
		<action name="dispEditorComponentInfo" type="view" meta-noindex="true" />
		<action name="dispEditorFrame" type="view" meta-noindex="true" />
		<action name="dispEditorPopup" type="view" meta-noindex="true" />
		<action name="dispEditorPreview" type="view" meta-noindex="true" />
		<action name="dispEditorSkinColorset" type="view" permission="all-managers" meta-noindex="true" />
		<action name="dispEditorConfigPreview" type="view" permission="root" meta-noindex="true" />
		
		<action name="procEditorCall" type="controller" />
		<action name="procEditorSaveDoc" type="controller" />
		<action name="procEditorRemoveSavedDoc" type="controller" />
		<action name="procEditorLoadSavedDocument" type="controller" />
		<action name="procEditorInsertModuleConfig" type="controller" permission="manager" check_var="target_module_srl" />
		
		<action name="dispEditorAdminIndex" type="view" menu_name="editor" menu_index="true" admin_index="true" />
		<action name="dispEditorAdminSetupComponent" type="view" menu_name="editor" />
		
		<action name="procEditorAdminGeneralConfig" type="controller" ruleset="generalConfig" />
		<action name="procEditorAdminCheckUseListOrder" type="controller" ruleset="componentOrderAndUse" />
		<action name="procEditorAdminSetupComponent" type="controller" ruleset="setupComponent" />
	</actions>
	<menus>
		<menu name="editor">
			<title xml:lang="en">WYSIWYG Editor</title>
			<title xml:lang="ko">에디터</title>
			<title xml:lang="zh-CN">WYSIWYG Editor</title>
			<title xml:lang="jp">ウィジウィグエディター</title>
			<title xml:lang="es">WYSIWYG Editor</title>
			<title xml:lang="ru">WYSIWYG Editor</title>
			<title xml:lang="fr">WYSIWYG Editor</title>
			<title xml:lang="zh-TW">WYSIWYG Editor</title>
			<title xml:lang="vi">WYSIWYG Editor</title>
			<title xml:lang="mn">WYSIWYG Editor</title>
			<title xml:lang="tr">WYSIWYG Editor</title>
		</menu>
	</menus>
</module>
