<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
        <action name="dispEditorPopup" type="view" standalone="true" />
        <action name="dispEditorComponentInfo" type="view" standalone="true" />

        <action name="dispEditorAdminIndex" type="view" standalone="true" admin_index="true" />
        <action name="dispEditorAdminSetupComponent" type="view" standalone="true" />
        <action name="dispEditorAdminSkinColorset" type="view" standalone="true" />
        <action name="dispEditorPreview" type="view" />
        <action name="dispEditorSkinColorset" type="view" />


        <action name="procEditorSaveDoc" type="controller" standalone="true" />
        <action name="procEditorRemoveSavedDoc" type="controller" standalone="true" />
        <action name="procEditorCall" type="controller" standalone="true" />
        <action name="procEditorInsertModuleConfig" type="controller" standalone="true" />

        <action name="procEditorAdminEnableComponent" type="controller" standalone="true" />
        <action name="procEditorAdminDisableComponent" type="controller" standalone="true" />
        <action name="procEditorAdminMoveListOrder" type="controller" standalone="true" />
        <action name="procEditorAdminSetupComponent" type="controller" standalone="true" />
    </actions>
</module>
