.uploaded_image_list {list-style: none; margin: 0; padding: 0;}
.uploaded_image_list li {display: inline-block; margin-right: 10px;}
.uploaded_image_list img {border: 1px #ccc solid; padding: 3px; width: 96px; height: 96px;}