.imgcloudoutline { padding-bottom:5px; overflow:hidden; position:relative; }
.imgcloudoutline h2 { text-align:left; font-size:1em; display:block; height:21px; padding:9px 0 0 9px; margin-bottom:5px; color:#000000; background:url(../images/normal/lineNotice.gif) no-repeat left bottom;}

.imgcloudoutline { padding-bottom:5px; overflow:hidden; position:relative;}
.imgcloudoutline .more { position:absolute; top:12px; right:11px; color:#000000; font:.8em Tahoma;}
.imgcloudoutline a.more { text-decoration:none;} 
.imgcloudoutline a.more:hover { text-decoration:underline;} 

.imgcloudoutline table {  
    border:1px solid #ddd;
}

.imgcloudoutline table td {  
    vertical-align:middle;
    text-align:center;
}

.imgcloudoutline table tbody tr td {
    padding:1px; 
    background-color:transparent;
    vertical-align:middle;
}

.imgcloudoutline table tbody tr td:hover {
    background-color:#7899AF;
}
