.imgcloudoutline { padding-bottom:5px; overflow:hidden; position:relative; text-align:center;}
.imgcloudoutline h2 { text-align:left; font-size:1em; display:block; height:21px; padding:9px 0 0 9px; margin-bottom:5px; color:#000000; background:url(../images/normal/lineNotice.gif) no-repeat left bottom;}

.imgcloudoutline { padding-bottom:5px; overflow:hidden; position:relative;}
.imgcloudoutline .more { position:absolute; top:12px; right:11px; color:#000000; font:.8em Tahoma;}
.imgcloudoutline a.more { text-decoration:none;} 
.imgcloudoutline a.more:hover { text-decoration:underline;} 

	.imgcloudoutline table {  
		margin: 1px auto;
		border:1px solid #ddd;
	}
	
	.imgcloudoutline .imgcloud {  
		border:1px solid #ddd;
		padding: 1px;
		overflow: hidden;
	}

	.imgcloudoutline .imgcloud:hover {  
		border: 2px solid #7899AF;
		padding: 0px;
		overflow: hidden;
	}

	.imgcloudoutline .imgcloudbig {  
		border:1px solid #ddd;
		padding: 1px;
		overflow: hidden;
	}
	
	.imgcloudoutline .imgcloudbig:hover {  
		border: 2px solid #7899AF;
		padding: 0px;
		overflow: hidden;
	}
	
	.imgcloudoutline .cloudimg {  
		border: 0px;
		cursor: pointer;
	}