@charset "utf-8";
/* NHN (developers@xpressengine.com) */

html, body { height:100%; background-color:transparent; padding:0; margin:0;}
body{ margin:1em;}
.xe_content{ color:#000; font-size:12px; line-height:1.5;}
