<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
        <grant name="view" default="guest">
            <title xml:lang="ko">열람</title>
			<title xml:lang="zh-CN">查看</title>
            <title xml:lang="jp">閲覧</title>
            <title xml:lang="en">view</title>
        </grant>
    </grants>
    <actions>
        <action name="dispOpageIndex" type="view" index="true" />
        <action name="dispOpageAdminContent" type="view" admin_index="true" standalone="true" />
        <action name="dispOpageAdminModuleConfig" type="view" standalone="true" />
        <action name="dispOpageAdminInfo" type="view" standalone="true" />
        <action name="dispOpageAdminInsert" type="view" standalone="true" />
        <action name="dispOpageAdminDelete" type="view" standalone="true" />
        <action name="dispOpageAdminContentModify" type="view" standalone="true" />

        <action name="procOpageAdminRemoveWidgetCache" type="controller" standalone="true" />
        <action name="procOpageAdminInsert" type="controller" standalone="true" />
        <action name="procOpageAdminDelete" type="controller" standalone="true" />
        <action name="procOpageAdminInsertConfig" type="controller" standalone="true" />
    </actions>
</module>
