#pageManage { clear:both; }
#pageManage .buttonWrite ul { text-align:center; display:block;}
#pageManage .buttonWrite li { margin-top:.5em; float:left; margin-right:.3em;}

#pageManage .buttonTypeA { display:block; cursor:pointer; background:url(../images/buttonTypeACenter.gif) repeat-x left center; line-height:100%; overflow:visible; color:#3f4040; margin:0 1px; white-space:nowrap;border:0px;}
#pageManage .buttonTypeA:hover { text-decoration:none;}
#pageManage .buttonTypeA img { vertical-align:middle;}
#pageManage .buttonTypeA .leftCap { width:2px; height:24px; background:url(../images/buttonTypeALeft.gif) no-repeat; margin:0 .3em 0 0;  left:-1px;}
#pageManage .buttonTypeA .rightCap { width:2px; height:24px; background:url(../images/buttonTypeARight.gif) no-repeat; margin:0 -1px 0 .4em;}
#pageManage .buttonTypeA .icon { margin:0 .2em;}
