@charset "utf-8";
h3 { margin:0 10px 0 10px; }
.widget_list { margin:10px; }
.widget_list a { margin-bottom:10px; }
.editor_box { margin:0 10px 10px 10px; }
.button_box { float:right; overflow:hidden; }

.adminLayer { margin-top:30px; }
